<div ng-controller="LspDetailController" ng-model="lspDetail">
	<load-template url="common/breadcrumb"></load-template>

	<div class="panel panel-default">
		<div class="panel-heading" ng-show="pageActionHeader!=''">
			<h3 class="panel-title" ng-bind="pageActionHeader"></h3>
		</div>
		<div class="panel-body">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<form name="form" id="Form" class="form-horizontal" role="form" method="post" ng-submit="save(lspDetail);" novalidate>
					<input type="hidden" name="id" ng-model="lspDetail.id" ></input>
					<div class="form-group">
						<label for="lspName" class="col-sm-3 control-label" style="">
                        Name<span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<input spellcheck="true" type="text" name="name" class="form-control" style="" id="name"
									   placeholder="Enter Lsp Name" 
									   ng-model="lspDetail.name" maxlength="250" ng-required="required" required="required" />
						</div>
						<div class="col-sm-3 errors">
							<span ng-bind="errors.name"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="lspCode" class="col-sm-3 control-label" style="">
                        Code<span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<input spellcheck="true" type="text" name="code" class="form-control" style="" id="code"
									   placeholder="Enter Code" 
									   ng-model="lspDetail.code" maxlength="250" ng-required="required" required="required" />
						</div>
						<div class="col-sm-3 errors">
							<span ng-bind="errors.code"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="cityId" class="col-sm-3 control-label" style="">
                        City <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<select name="cityId" id="lspCityId" class="form-control"
							 placeholder="Select City Name" ng-model="lspDetail.cityId">
									<option value="">Choose</option>
                            <option ng-repeat="c in cities" value="{{c.id}}" 
											>{{c.name}}</option>
								</select>
						</div>
						<div class="col-sm-3 errors">
							<span ng-bind="errors.cityId"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="lspAddress" class="col-sm-3 control-label" style="">
                        Address<span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<input spellcheck="true" type="text" name="address" class="form-control" style="" id="address"
									   placeholder="Enter Address" 
									   ng-model="lspDetail.address" maxlength="250" ng-required="required" required="required" />
						</div>
						<div class="col-sm-3 errors">
							<span ng-bind="errors.address"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="lspContact" class="col-sm-3 control-label" style="">
                        Contact Number<span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<input spellcheck="true" type="text" name="contactNumber" class="form-control" style="" id="contactNumber"
									   placeholder="Enter Contact Number" 
									   ng-model="lspDetail.contactNumber" maxlength="250" ng-required="required" required="required" />
						</div>
						<div class="col-sm-3 errors">
							<span ng-bind="errors.contactNumber"></span>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-12 text-center">
							<button type="submit" class="btn btn-primary" name="save" id="saveBtn" check-access-perm="access_perm">
							Save</button>
							<button type="button" ng-if="lspDetail.id !== undefined && lspDetail.id !== null && lspDetail.id !== ''" class="btn btn-danger" ng-click="deleteLspdetail(lspDetail, $index);" check-access-perm="access_perm">
							 Delete</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>