body {
    font-size: 12px;
}

.logo {
    height: 40px;
    width: 250px;
}

#logo-image {
    background: url('../img/logo.png') no-repeat;
    display: block;
    position: relative;
    width: 250px;
    height: 40px;
    background-size: contain;
    margin: 5px 25px;
}

#right-menu-icons {
    margin: 0px;
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    overflow: hidden;
    margin-top: -20px;
}

#wrapper.toggled {

    overflow: hidden;
}

#sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #eee;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    position: absolute;
    padding: 15px;
    width: 100%;
    overflow-x: hidden;
}

.xyz {
    min-width: 360px;
}

#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px;
}

.fixed-brand {
    width: auto;
}

@media (min-width: 768px) {
    .fixed-brand {
        width: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled-2 #sidebar-wrapper {
        width: 50px;
    }

    #wrapper.toggled-2 #sidebar-wrapper:hover {
        width: 250px;
    }

    #page-content-wrapper {
        padding: 10px;
        padding-top: 0;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }

    #wrapper.toggled-2 #page-content-wrapper {
        position: relative;
        margin-right: 0;
        margin-left: -200px;
        width: auto;

    }
}

.required {
    color: red;
    font-weight: bold;
}

/***********************
 * Login Page 
 ************************/
/* ---------- LOGIN-FORM ---------- */
.loginbody {
    background: #eaeaea;
    color: #999;
    font: 400 16px/1.5em sans-serif;
    margin: 0;
}

.login-container {
    left: 50%;
    position: fixed;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#login-form {
    width: 300px;
}

#login-form h3 {
    background-color: #282830;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 14px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}

#login-form fieldset {
    background: #fff;
    border-radius: 0 0 5px 5px;
    padding: 20px;
    position: relative;
}

#login-form fieldset:before {
    background-color: #fff;
    content: "";
    height: 8px;
    left: 50%;
    margin: -4px 0 0 -4px;
    position: absolute;
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 8px;
}

#login-form input {
    font-size: 14px;
}

#login-form input[type="email"],
#login-form input[type="password"] {
    border: 1px solid #dcdcdc;
    padding: 12px 10px;
    width: 100%;
}

#login-form input[type="email"] {
    border-radius: 3px 3px 0 0;
}

#login-form input[type="password"] {
    border-top: none;
    border-radius: 0px 0px 3px 3px;
}

#login-form input[type="submit"] {
    background: #1dabb8;
    border-radius: 3px;
    color: #fff;
    float: right;
    font-weight: bold;
    margin-top: 20px;
    padding: 12px 20px;
}

#login-form input[type="submit"]:hover {
    background: #198d98;
}

#login-form footer {
    font-size: 12px;
    margin-top: 16px;
}

.info {
    background: #e5e5e5;
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin: 0 10px 0 0;
    text-align: center;
    width: 20px;
}

/*Media Querie*/
@media only screen and (min-width: 150px) and (max-width: 530px) {
    .login-form h3 {
        text-align: center;
        margin: 0;
    }

    .sign-up, .no-access {
        margin: 10px 0;
    }

    .login-button {
        margin-bottom: 10px;
    }
}

/******************
 * ngDialog
 * ***********/
.ngdialog.ngdialog-theme-default {
    padding-top: 80px;
    height: 80%;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
    width: 30%;
}

/**********************
 * Errors
 * ******************/
.errors {
    color: red;
    font-style: italic;
}

.onboarding-steps {
    display: none;
}

/*******************
 * AJAX Loader
 * *******************/
/*.spinner {
  margin: 250px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  left: 50%;
    /*top: 50%;*/
/* position: absolute;*/
/*}

.spinner > div {
  background-color: #eee;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}*/
#mydiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    height: auto;
    overflow: auto;
    z-index: 1000;
    background-color: #333;
    opacity: .8;
}

/** Bootstrap **
 * **/
.page-header {
    margin: 3px 0 3px;
    font-weight: bold;
    text-indent: 10px;
    padding-bottom: 0px;
}

.hand {
    cursor: pointer;
}

.vcenter {
    /*display: inline-block;*/
    vertical-align: middle;
    float: none;
}

.modal-footer {
    border-top: 0px;
}

.preserve-newline {
    white-space: pre-wrap;
    text-align: left;
}

.element {
    position: relative;
}

/*replace the content value with the
corresponding value from the list below*/

.element:before {
    content: "\f000";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    color: #000;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 10px;
    left: 0;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 5px;
}

.panel-title {
    font-size: 14px;
}

label {
    margin-bottom: 3px;
}

.form-control {
    height: 24px;
    padding: 4px 8px;
    font-size: 12px;
}

.btn {
    padding: 4px 8px;
    font-size: 12px;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 3px;
    background-color: #333;
    color: #fff;
}

.h4 {
    font-size: 14px
}

.panel-body {
    padding: 10px;
}

p {
    margin: 0 0 3px;
}

table.dataTable tbody td, table.dataTable tbody th {
    padding: 5px 10px;
}

.form-group {
    margin-bottom: 5px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(196, 196, 196);
    border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(196, 196, 196);
}

::-webkit-scrollbar-track {
    background-color: rgb(237, 237, 237);
}

.navbar {
    border-radius: 0;
}

.breadcrumb > li#right-links:before {
    content: none;
}

.breadcrumb > li a {
    color: #fff;
    cursor: pointer;
}

.h2, h2 {
    font-size: 16px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-group-addon {
    padding: 4px 12px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.search-template {
    padding: 5px;
}

.verticalLeftLine {
    border-left: 3px solid #f6f6f6;
}

.verticalRightLine {
    border-right: 3px solid #f6f6f6;
}

.dropdown-menu > li > a {
    font-size: 12px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #555;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

legend {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: bold;
}

.ngn {
    padding: 10px 80px;
    margin-top: 80px;
}

.ngn-dismiss {
    border-radius: 15px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    top: 10px;
}

/*.my-new-theme.ngn-info
    background-color: #31708f

.my-new-theme.ngn-error
    background-color: #a94442

.my-new-theme.ngn-success
    background-color: #3c763d

.my-new-theme.ngn-warn
    background-color:#8a6d3b

.my-new-theme.ngn-grimace
    background-color: #660099*/

.individual-image-container {
    height: 100px;
}

.individual-image-container > a {
    display: block;
    height: 100%;
    cursor: pointer;
}

.img-thumbnail {
    display: inline-block;
    width: 100%;
    height: 100px;
    padding: 4px;
    background-repeat: no-repeat;
    background-position: center center;
    line-height: 1.42857143;
    background-color: #fff;
    background-size: cover;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.modal2 {
    display: block;
    position: fixed;
    z-index: 4;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content2, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.modal-content2 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.ngdialog-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.ngdialog-close:hover, .ngdialog-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/**
 * Ticket View
 * **/
.ticket-view-readonly-row {
    margin: 0;
    padding: 0;
    padding-left: 15px;
    margin-left: 5px;
    line-height: 1.3;
}

.ticket-view-readonly-row p {
    line-height: 1;
}

.ticket-view-readonly-row:nth-of-type(odd) {
    /*background-color: #fdfdfd;*/
}

.ticket-view-readonly-row:nth-of-type(even) {
    /*background-color: #fafafa;*/
}

.ticket-view-readonly-label {
    padding-right: 5px;
    padding-top: 0;
}

.ticket-view-readonly-label:after {
    content: ": "
}

.ticket-view-readonly-content {
    padding-top: 7px;
    padding-left: 5px;
}

.readonly-label {
    padding-top: 7px;
    line-height: 15px;
}

.read-more {
    color: #0193fe;
}

.read-more:hover {
    color: blue;
    text-decoration: underline;
}

.ngdialog.ngdialog-theme-default.tracking-dialog .ngdialog-content {
    margin: auto;
    display: block;
    width: 80%;
}

.ngdialog.ngdialog-theme-default.tracking-dialog .ngdialog-content .ngdialog-close {
    content: '<i class="fa fa-times" aria-hidden="true"></i>'
}

select.read-only::-ms-expand {
    display: none;
    border: none;
}

.download-sample {
    margin-top: -15px;

}

/**
 *
 -- custom spinner for home--
 */

.sk-circle {
    /*margin: 100px auto;*/
    /*width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto*/

    margin: 300px auto;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 10px;
    left: 50%;
    /*top: 50%;*/
    position: absolute;
}

.message {
    margin: 350px -34px;
    /*width: 40px;*/
    height: 40px;
    text-align: center;
    font-size: 10px;
    left: 50%;
    /*top: 50%;*/
    font-size: 24px;
    color: #ffffff;
    position: absolute;
}

.sk-circle .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.sk-circle .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #ffffff;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
    animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}

.sk-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

.sk-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}

.sk-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.sk-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}

.sk-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}

.sk-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.sk-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
}

.sk-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
}

.sk-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.sk-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
}

.sk-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
}

.sk-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.sk-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.sk-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.sk-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.sk-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.sk-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.sk-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.sk-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.sk-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.sk-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.sk-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

/*For Map*/
.custom-marker {
}

.custom-marker.cmarker {
    font-size: 1.1em;

    font-family: "Arial Black";
    padding: 7px;
    background: #ffba3d;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #7F7F7F solid 1px;
}

.custom-marker.cmarker:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 7px 6px 0;
    border-color: #fff transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -6px;
    bottom: -6px;
    left: 50%;
}

.custom-marker.cmarker:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 7px 6px 0;
    border-color: #7F7F7F transparent;
    display: block;
    width: 0;
    z-index: 0;
    margin-left: -6px;
    bottom: -7px;
    left: 50%;
}

/**
 MAP canvas
 */
div#map-container {
    width: 100%;
    height: 100%;
    position: relative;
    color: rgb(86, 86, 86);
    font-family: Roboto, Arial, sans-serif;
    -webkit-user-select: none;
    font-size: 11px;
}

div#map-container div.custom-control {
    z-index: 1;
    direction: ltr;
    overflow: hidden;
    text-align: center;
    padding: 1px 6px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    -webkit-background-clip: padding-box;
    border-width: 1px 1px 1px 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(0, 0, 0, 0.14902);
    border-right-color: rgba(0, 0, 0, 0.14902);
    border-bottom-color: rgba(0, 0, 0, 0.14902);
    -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    min-width: 41px;
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
}

div#map-container.full-screen {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

div#map-container div[full-screen-toggle] {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 100px;
}

ng-map {
    display: block;
    width: 100%;
    height: 100%;
}

@-webkit-keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.scrollable-menu {
    height: auto;
    max-height: 180px;
    overflow-x: hidden;
}

.scrollable-menu::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
}

.scrollable-menu::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: lightgray;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .75);
}

/**
----------------------------------------------------------
 */

.input-group .form-control {
    /*Just to make all border corners match as the icon attachment makes the right (top & bottom) border radius zero*/
    border-radius: 4px !important;
}

.input-group-btn {
    cursor: pointer;
    color: red;
    /*just to show the icon not attached with input control*/
    border-radius: 4px;
    border: 0px;
    background-color: transparent;
}

.tablefix {
    min-height: 340px;
    display: block;
}

.rowfix {
    height: inherit;
}

.drop-shadow {
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
    border-radius: 5px;
}