<div ng-controller="CostingActivityController">
	<load-template url="common/breadcrumb"></load-template>
	<table class="row-border hover table table-striped table-hover table-condensed" ng-model="costingActivities">
		<thead>
			<th>#</th>
			<th>Name</th>
			<th>Code</th>
			<th></th>
		</thead>
		<tbody>

			<tr dir-paginate="costingActivity in costingActivities|itemsPerPage:pageSize"
				total-items="total_count"  ng-if="costingActivities.length > 0 || costingActivities != undefined">
				<td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
				<td>
					<a href="#/masters/costing-activity/get/{{costingActivity.id}}" ng-bind="costingActivity.name"></a></td>
				<td ng-if="costingActivity.code!=''" ng-bind="costingActivity.code"></td>
				<td ng-if="costingActivity.code==''">N/A</td>
				<td>
					<a ng-click="goToPageWithParams('rl.masters-costing-activity-mapping', {'costingActivityId':costingActivity.id});" class="hand">Create Mapping</a></td>
			</tr>
		</tbody>
	</table>
	<dir-pagination-controls
		max-size="8"
		direction-links="true"
		boundary-links="true"
		on-page-change="getCostingActivityList(newPageNumber,pageSize)"
		ng-if="costingActivities.length > 0">
	 </dir-pagination-controls>
</div>
