<div ng-controller="TasksController">
	<load-template url="common/breadcrumb"></load-template>
	<table class="table row-border table-hover table-striped" ng-model="tasks">
		<thead>
			<th>#</th>
			<th>Id</th>
			<th>Name</th>
			<th>Priority</th>
			<th>Created At</th>
			<th>Ticket No.</th>
			<th>Retailer</th>
			<th>Category</th>
			<th></th>
		</thead>
		<tbody>

			<!--<tr ng-repeat="task in tasks" ng-if="tasks.length > 0 || tasks != undefined">-->
			<tr dir-paginate="task in tasks|itemsPerPage:pageSize" current-page="currentPage" total-items="total_count" ng-if="tasks.length > 0 || tasks != undefined">
				<td>{{($index+1)+(pageSize)*(currentPage-1)}}</td>
				<td>{{task.taskId}}</td>
				<td>{{task.name}}</td>
				<!--<td ng-bind="task.ticketPriority"></td>-->
				<td>  
					<span class="label label-danger" ng-if="task.ticketPriority.toUpperCase()==='HIGH'">High</span>
					<span ng-if="task.ticketPriority.toUpperCase()==='LOW'">Low</span>
					<span ng-if="task.ticketPriority.toUpperCase()==='MEDIUM'">Medium</span>
					<span ng-if="task.ticketPriority.toUpperCase()!=='MEDIUM' &&
														   task.ticketPriority.toUpperCase()!=='HIGH' &&
														   task.ticketPriority.toUpperCase()!=='LOW'">Medium</span>
					
				</td>
				<td ng-bind="task.createTime|date:'medium'"></td>
				<td ng-bind="task.rlTicketNo"></td>
				<td ng-bind="task.retailer"></td>
				<td ng-bind="task.category"></td>
				<td>
					<a href="#/task/{{task.processId}}/view">View</a>
				</td>
			</tr>
			<tr ng-if="tasks.length <= 0">
				<td colspan="4"> No records found!</td>
			</tr>
		</tbody>
	</table>
	<dir-pagination-controls max-size="8" direction-links="true" boundary-links="true" on-page-change="managerUnclaimed(newPageNumber,pageSize)">
	</dir-pagination-controls>
</div>