<div ng-controller="TasksController">
    <load-template url="common/breadcrumb"></load-template>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Call Customer</h3>
        </div>
        <div class="page-header">
            <h2><span ng-bind="retailer"></span></h2>
            <h2>Ticket No - <a href="#/task/{{id}}/view">{{vars.rlTicketNo}}</a></h2>
        </div>
        <div class="panel-body">
            <div class="  col-sm-8 col-sm-offset-2">
                <span class="col-sm-3">{{vars.consumerName}}</span>
                <div>
                    <button  value="currentNumber" class="btn btn-primary" ng-click=" callCustomer(cnumber)">Call To Customer</button>
                    <button value="alt-number" class="btn btn-primary"  ng-click="callCustomer(caltnumber)">Call To Customer(Alt. No)</button>
                    <!--<button ng-if="task.variables.alternateTelephoneNumber!=null && task.variables.alternateTelephoneNumber!==undefined" ng-click="callToCustomer(task.process.processId,task.variables.alternateTelephoneNumber)">Call To Customer(Alt.No)</button>
                    <!--<p ng-bind="task.variables.telephoneNumber"></p>
                    <p ng-bind="task.variables.alternateTelephoneNumber"></p>-->
                </div>
            </div>
        </div>

    </div>
</div>
