<div ng-controller="TasksController">
	<load-template url="common/breadcrumb"></load-template>
	<table class="row-border hover table table-striped"  >
		<thead>
			<th>#</th>
			<th>Ticket No.</th>
			<th>Consumer</th>
			<th>Phone</th>
			<th>Product</th>
			<th>Service Type</th>
			<th>Priority</th>
			<th>Completed Date</th>	
			<th>Consumer Request No.</th>					
			<th>&nbsp;</th>
		</thead>
		<tbody>

			<tr dir-paginate="completedTask in completedTasks|itemsPerPage:pageSize" total-items="total_count"
					ng-if="(completedTasks.length > 0 || completedTasks != undefined)">
				<td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
				<td ng-bind="completedTask.variables.rlTicketNo"></td>
				<td ng-bind="completedTask.variables.consumerName"></td>
				<td ng-bind="completedTask.variables.telephoneNumber"></td>
				<td ng-bind="completedTask.variables.product"></td>
				<td ng-bind="completedTask.variables.natureOfComplaint"></td>
				<!--<td ng-bind="completedTask.variables.ticketPriority"></td>-->
				<td>  
					<span class="label label-danger" ng-if="completedTask.variables.ticketPriority.toUpperCase()==='HIGH'">High</span>
					<span ng-if="completedTask.variables.ticketPriority.toUpperCase()==='LOW'">Low</span>
					<span ng-if="completedTask.variables.ticketPriority.toUpperCase()==='MEDIUM'">Medium</span>
					<span ng-if="completedTask.variables.ticketPriority.toUpperCase()!=='MEDIUM' &&
														   completedTask.variables.ticketPriority.toUpperCase()!=='HIGH' &&
														   completedTask.variables.ticketPriority.toUpperCase()!=='LOW'">Medium</span>
					
				</td>
				<td ng-bind="completedTask.processEndTime|date:'medium'"></td>

				<td ng-bind="completedTask.variables.consumerComplaintNumber"></td>
				<td>
							<a href="#/task/{{completedTask.process.processId}}/view">View</a>&nbsp;&nbsp;
                </td>
			</tr>
			<tr ng-if="completedTasks.length <= 0" ><td colspan="8"> No records found!</td> </tr>
		</tbody>
	</table>
	<dir-pagination-controls
		max-size="8"
		direction-links="true"
		boundary-links="true" 
		on-page-change="searchCompleted(task,newPageNumber,pageSize)" >
	 </dir-pagination-controls>
</div>