<div ng-controller="TasksController">
<load-template url="common/breadcrumb"></load-template>

<div class="page-header">
		<h2><span ng-bind="retailer"></span></h2>
		<h2>Ticket No - <a href="#/task/{{processId}}/view">{{ticketNo}}</a></h2>
</div>

<div class="row" ng-model="misDetails" ng-if="misDetails.length > 0" ng-model="pagination">

        <div class="col-sm-12">
            <table class="table row-border table-hover table-striped">
            <thead>
				<th>AWB</th>
				<th>Consumer Name</th>
				<th>Address</th>
				<th>Product Code</th>
				<th>Description</th>
				<th>Value</th>
				<th>Date Of Receipt</th>
				<th>Status</th>
				<th>Barcode</th>
				<th>Box Number</th>
			</thead>
                
				<tbody>
        
                    <tr dir-paginate="m in misDetails|itemsPerPage:pageSize" 
                            pagination-id="ticketSearchPagination" total-items="total_count"
							ng-if="(misDetails.length > 0 || misDetails != undefined)">
						
                        <td ng-bind="m.awbAmazon"></td>
						<td ng-bind="m.consumerName"></td>
						<td ng-bind="m.address"></td>
						<td ng-bind="m.productCode"></td>
						<td ng-bind="m.description"></td>
						<td ng-bind="m.value"></td>
						<td ng-bind="m.dateOfReceipt"></td>
						<td ng-bind="m.status"></td>
						<td ng-bind="m.barcode"></td>
						<td ng-bind="m.boxNumber"></td>
                    </tr>
                </tbody>
            </table>
			<dir-pagination-controls
				pagination-id="ticketSearchPagination"
				ng-model="pagination"
				max-size="8"
				direction-links="true"
				boundary-links="true" 
				on-page-change="viewMisReport(newPageNumber,pageSize)" >
			 </dir-pagination-controls>
        </div>
    </div>
</div>