<div ng-controller="TasksController">
	<load-template url="common/breadcrumb"></load-template>

	<!--<div class="page-header">
		<h2><span ng-bind="retailer"></span></h2>
		<h2>Ticket No - <a href="#/task/{{processId}}/view">{{ticketNo}}</a></h2>
</div>-->

	<div class="row" ng-model="misDetails" ng-if="misDetails.length > 0" ng-model="pagination" ng-show="showSubTicket==true">

		<div class="col-sm-12">
			<table class="table row-border table-hover table-striped">
				<thead>
					<th>Box Id</th>
					<th>Box Barcodes</th>
					<th>Status</th>
				</thead>

				<tbody>

					<tr dir-paginate="m in misDetails|itemsPerPage:pageSize" pagination-id="ticketSearchPagination" total-items="total_count"
					 ng-if="(misDetails.length > 0 || misDetails != undefined)">
						<td ng-bind="m.id"></td>
						<td ng-bind="m.boxNumber"></td>
						<td ng-bind="m.status"></td>
						<td ng-click="misBulkQueryId(m.id)" style="cursor:pointer">view
						</td>
					</tr>
				</tbody>
			</table>
			<dir-pagination-controls pagination-id="ticketSearchPagination" ng-model="pagination" max-size="8" direction-links="true"
			 boundary-links="true" on-page-change="viewSubTicket(newPageNumber,pageSize)">
			</dir-pagination-controls>
		</div>
	</div>

	<div class="row" ng-model="misDetails"  ng-model="pagination" ng-show="showBarcodes==true">

		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Box Barcodes : {{total_count}}</h3>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<span dir-paginate="m in misDetails|itemsPerPage:pageSize"
						 ng-if="(misDetails.length > 0 || misDetails != undefined)" ng-bind="(m.barcode)+(' , ')">
                    </span>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Photographs</h3>
				</div>
				<div class="panel-body">
					<div class="form-group">
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<button ng-click="viewSubTicket(1,pageSize)">goBack</button>
		</div>
	</div>
</div>