{{h=readOnlyFieldsCount*20+100;""}}
<div class="row" style="height:{{h}}px; margin-right: 1px; overflow-x: hidden; overflow-y: scroll;">
    <div class="form-group col-sm-12 ticket-view-readonly-row" ng-repeat="prop in task.properties"  ng-if="prop.readOnly">
        <div class="row ">
            <label for="{{prop.id}}" class="col-sm-4 control-label ticket-view-readonly-label" style="">
                <span  ng-bind-html="prop.name"></span>
            </label>
            <div ng-if="prop.readOnly" class="col-sm-8 ticket-view-readonly-content">
                <!-- LABEL -->
                <div bind-html-compile="prop.value" ng-if="prop.readOnly && prop.type=='string'" class="form-label"></div>
                <div ng-bind="prop.value"  ng-if="prop.readOnly && prop.type=='date'" class="form-label"></div>
                <div ng-if="prop.readOnly && prop.type=='enum'" ng-bind="prop.allowedValues[prop.value]">
                </div>
                <div ng-if="prop.readOnly && prop.type=='dynamic-enum'" ng-bind="prop.allowedValues[prop.value]">
                </div>
                <div ng-if="prop.readOnly && prop.type=='double'" ng-bind="prop.value">
                </div>
                <div ng-if="prop.readOnly && prop.type=='long'" ng-bind="prop.value">
                </div>
                <div ng-if="prop.readOnly && prop.type=='boolean'" ng-bind="prop.value">
                </div>
                <div ng-if="prop.readOnly && prop.type=='multiline-string'"
                    class="form-label">
                   <p dd-text-collapse dd-text-collapse-max-length="230" dd-text-collapse-text="{{ prop.value }}"  class="preserve-newline"></p>
                </div>
				<div ng-if="prop.readOnly && prop.type=='multiline-barcode'"
                    class="form-label">
                   <p dd-text-collapse dd-text-collapse-max-length="230" dd-text-collapse-text="{{ prop.value }}"  class="preserve-newline"></p>
                </div>
                <div ng-if="prop.readOnly && prop.type=='barcode'" ng-bind="prop.value"></div>
                <div ng-if="prop.readOnly && prop.type=='url'">
                    <a href="{{prop.value}}" target="_blank">Click Here</a>
                </div>
                <!-- LABEL -->
            </div>
        </div>
    </div>
</div>