<!--no One is Using This TPL We Integrate it Within The View Page coz of Scope Problem-->
<div ng-controller="TasksController">
	<div class="row" ng-model="techEvalEnggRes">
		<div class="col-sm-12">
			<table class="table row-border table-hover table-striped">
				<thead>
					<th>Question</th>
					<th> Answer</th>
				</thead>
				<tbody>
{{techEvalEnggRes}}
					<tr ng-repeat="m in techEvalEnggRes" ng-if="(techEvalEnggRes.length > 0)">
						<td ng-bind="m"></td>
						<td ng-bind="m.[$index]"></td>
					</tr>

				</tbody>
			</table>

		</div>
	</div>
</div>