<div ng-model="task" ng-controller="TasksController">
	<load-template url="common/breadcrumb"></load-template>
	<div class="panel panel-default"   ng-show="task.properties.length>0">
		<div class="panel-heading">
			<h3 class="panel-title" ng-bind="task.headerName"></h3>
		</div>
		<div class="panel-body">

			<form name="taskFrom" id="Form" class="form-horizontal" role="form" method="post" ng-submit="save(task);" novalidate>
				<div class="row" >
					<div class="col-md-12 col-sm-12 collg-12">
						<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12"
							 ng-class="editableFieldsCount > readOnlyFieldsCount ? 'verticalRightLine' : ''"
							 >
							<load-template url="pages/tasks/task_form_properties"></load-template>					
						</div>
							
						<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 "
							 ng-class="editableFieldsCount > readOnlyFieldsCount ? '' : 'verticalLeftLine'">
							<div class="row ">
							    <label class="col-sm-4 control-label ticket-view-readonly-label" style="">
								  <span>Call To Customer</span>
							    </label>
							   <!--<div class="col-4">-->
							    <button value="currentNumber" class="btn btn-primary" ng-click=" callCustomer(cnumber)" ng-disabled="button.disabled">Primary Number</button>
								<button value="alt-number" class="btn btn-primary"  ng-click="callCustomer(caltnumber)" ng-disabled="button.disabled">Alternate Number</button>
								<!--<button ng-if="task.variables.alternateTelephoneNumber!=null && task.variables.alternateTelephoneNumber!==undefined" ng-click="callToCustomer(task.process.processId,task.variables.alternateTelephoneNumber)">Call To Customer(Alt.No)</button>
                                <!--<p ng-bind="task.variables.telephoneNumber"></p>
                                <p ng-bind="task.variables.alternateTelephoneNumber"></p>-->
							</div>
							<load-template url="pages/tasks/task_readonly_properties"></load-template>
						</div>
						<div class="form-group text-center" ng-if="readOnlyFieldsCount > 0 && editableFieldsCount === 0">
							
							<div class="col-sm-12" ng-if="task.status == 'assigned'">
								<button type="submit" class="btn btn-primary" name="save" id="saveBtn" ng-show="task.lastGroup">
									Save
								</button>
								<button type="submit" class="btn btn-primary" name="next" id="nextBtn" ng-show="!task.lastGroup ">
									Next
								</button>
							</div>
							<div class="col-sm-6" ng-if="task.status == 'involved'">
								<button type="button" class="btn btn-info" ng-click="claimTask(taskId,task.headerName,task.processId);">Claim</button>
							</div>
							
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>