<div ng-model="task" ng-controller="TasksController">
	<load-template url="common/breadcrumb"></load-template>
	<nav class="navbar" style="margin-bottom: -16px ">
		<div class="container-fluid">
			<div class="navbar-header" style="height:20px">
				<h2>View Ticket Details - <span ng-bind="task.variables.rlTicketNo"></span> &nbsp;<span class="label label-success" ng-bind="'Completed'"
					 ng-if="task.completed===true"></span> &nbsp;<button class="label label-info" name="unBlocking" id="unblock" ng-click="unBlockFETicket(task);"
					 ng-if="loginInfo.roleCode==='coordinator' && task.variables.isBlockToFe==='yes'">
							UnBlock From FE
							</button></h2>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a ng-click="redirectToPrev();" style="cursor:pointer;padding-bottom: 14px;padding-top: 4px;">
							Go To List Page</a></li>
				<li><a name="delete" id="deleteBtn" ng-click="deleteTaskConfirm(task);" ng-if="loginInfo.roleCode==='superadmin' || loginInfo.roleCode==='admin'"
					 style="padding-top:5px;">
							Delete this ticket</a></li>
				<!--<li><a name="unBlocking" id="unblock" ng-click="unBlockFETicket(task);" ng-if="loginInfo.roleCode==='coordinator' && task.variables.isBlockToFe==='yes'"
					 style="padding-top:5px;">
							UnBlock From FE</a></li>-->
				<!--&& task.variables.isBlockToFe==='yes'-->
				<!--<li><a name="upload" id="uploadBtn" ng-if="loginInfo.roleCode==='retailer' && task.completed===false" href="#/task/authorization-file/upload/{{task.process.processId}}" target="_blank" ng-if="loginInfo.roleCode==='retailer' && task.completed===false">
							Upload Authorization Letter</a></li>
				<li><a name="invoiceUpload" id="invoiceUploadBtn" ng-if="loginInfo.roleCode==='retailer' && task.completed===false" href="#/task/purchase-invoice/upload/{{task.process.processId}}" target="_blank" ng-if="loginInfo.roleCode==='retailer' && task.completed===false">
							Upload Purchase Invoice</a></li>-->
				<li><a name="update" id="updateCost" href="{{host_base_url}}/#/task/productCost/update/{{task.process.processId}}/{{task.variables.maxValueToBeOffered}}"
					 style="cursor:pointer;padding-bottom: 14px;padding-top: 4px;" ng-if="loginInfo.roleCode==='retailer' && (task.variables.natureOfComplaint==='Buy Back'|| task.variables.natureOfComplaint==='E-Waste') && task.variables.isCostUpdated!=='yes' && task.completed===false">
							Update Cost</a></li>
				<li><a name="damege" id="damageCost" href="{{host_base_url}}/#/task/damageCost/update/{{task.process.processId}}"
					 style="cursor:pointer;padding-bottom: 14px;padding-top: 4px;" ng-if="loginInfo.roleCode==='retailer' && task.variables.natureOfComplaint==='RepairStandBy' && task.variables.isDamageCostUpdated!=='yes' && task.completed===false">
							Damage Cost</a></li>
			</ul>
		</div>
	</nav>
	<div class="container col-sm-12" style="margin: 0px; padding: 0px;">
		<div class="col-sm-2" style="height: 100vh; padding: 0px;">
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div>
						<h4 class="panel-title">
							<a id="consumerDetails" ng-click="showVal=1;select($event)" class="list-group-item active" style="cursor:pointer">Consumer Details</a>
						</h4>
					</div>
					<div ng-show="loginInfo.roleCode!=='retailer'">
						<h4 class="panel-title">
							<a id="complaintDetails" ng-click="showVal=2;select($event)" class="list-group-item" style="cursor:pointer">Request Details</a>
						</h4>
					</div>
					<div ng-show="loginInfo.roleCode==='retailer' && task.variables.natureOfComplaint!=='Advance Exchange'">
						<h4 class="panel-title">
							<a id="serviceDetails" ng-click="showVal=3;select($event)" class="list-group-item" style="cursor:pointer">Sevice Details</a>
						</h4>
					</div>
					<div ng-show="loginInfo.roleCode!=='retailer'&& task.variables.natureOfComplaint!=='Advance Exchange'">
						<h4 class="panel-title">
							<a id="orderDetails" ng-click="showVal=4;select($event)" class="list-group-item" style="cursor:pointer">Order Details</a>
						</h4>
					</div>
					<div ng-show="loginInfo.roleCode==='retailer'">
						<h4 class="panel-title">
							<a id="productDetails" ng-click="showVal=5;select($event)" class="list-group-item" style="cursor:pointer">Product Details</a>
						</h4>
					</div>
					<div ng-show="task.variables.natureOfComplaint==='Advance Exchange'">
						<h4 class="panel-title">
							<a id="oldProdDetails" ng-click="showVal=6;select($event)" class="list-group-item" style="cursor:pointer">Old Product Details</a>
						</h4>
					</div>
					<div ng-show="task.variables.natureOfComplaint==='Advance Exchange'">
						<h4 class="panel-title">
							<a id="newProdDetails" ng-click="showVal=7;select($event)" class="list-group-item" style="cursor:pointer">New Product Details</a>
						</h4>
					</div>
					<div>
						<h4 class="panel-title">
							<a id="ticketDetails" ng-click="showVal=8;select($event)" class="list-group-item" style="cursor:pointer">Ticket Details</a>
						</h4>
					</div>
					<div>
						<h4 class="panel-title">
							<a id="paymentDetails" ng-click="showVal=9;select($event)" class="list-group-item" style="cursor:pointer">Payment Details</a>
						</h4>
					</div>
					<!--Physical And Technical Evaluatio-->
					<div ng-show="task.variables.physicalEvaluation.toUpperCase()==='YES' && task.variables.natureOfComplaint!=='RepairStandBy'">
						<h4 class="panel-title">
							<a id="evalResultcust" ng-click="showVal=10;select($event)" class="list-group-item" style="cursor:pointer">Physical Evaluation</a>
						</h4>
					</div>
					<div ng-show="((loginInfo.roleCode==='admin' || loginInfo.roleCode==='coordinator' || loginInfo.roleCode==='retailer' ) && task.variables.TechEvalRequired.toUpperCase() === 'YES' && task.variables.natureOfComplaint!=='RepairStandBy')">
						<h4 class="panel-title">
							<a id="techEvalResultCust" ng-click="showVal=19;getTechEvalResult();select($event)" class="list-group-item" style="cursor:pointer">Techincal Evaluation</a>
						</h4>
					</div>
					<!--Physical And Technical Evaluatio DONE HERE-->
					<!--Physical And Technical Evaluatio ONLY FOR REPAIR STAND-BY FLOW-->
					<div ng-show="task.variables.natureOfComplaint==='RepairStandBy'">
						<h4 class="panel-title">
							<a id="evalResultService" ng-click="showVal=24;getPhyEvalAtService();select($event)" class="list-group-item" style="cursor:pointer">Customer Device</a>
						</h4>
					</div>
					<div ng-show="((loginInfo.roleCode==='admin' || loginInfo.roleCode==='coordinator' || loginInfo.roleCode==='retailer' ) && task.variables.natureOfComplaint==='RepairStandBy')">
						<h4 class="panel-title">
							<a id="techEvalResultService" ng-click="showVal=25;getTechEvalAtService();select($event)" class="list-group-item" style="cursor:pointer">StandBy Device</a>
						</h4>
					</div>
					<!--Physical And Technical Evaluatio ONLY FOR REPAIR STAND-BY FLOW END HERE-->
					<!--<div ng-show="task.variables.natureOfComplaint==='RepairStandBy'">
						<h4 class="panel-title">
							<a id="evalResultRepair" ng-click="showVal=22;getPhyEvalOfStandby();select($event)" class="list-group-item" style="cursor:pointer">Physical Evaluation Of StandBy Device</a>
						</h4>
					</div>
					<div ng-show="((loginInfo.roleCode==='admin' || loginInfo.roleCode==='coordinator' || loginInfo.roleCode==='retailer' ) && task.variables.natureOfComplaint==='RepairStandBy')">
						<h4 class="panel-title">
							<a id="techEvalResultRepair" ng-click="showVal=23;getTechEvalOfStandby();select($event)" class="list-group-item" style="cursor:pointer">Techincal Evaluation Of StandBy Device</a>
						</h4>
					</div>-->

					<!--Physical Evaluation and Technical Evaluation End Here-->
					<div ng-show="task.variables.rlAMPMDetailsMap !== undefined && task.variables.rlAMPMDetailsMap !== null && loginInfo.roleCode!=='retailer'">
						<h4 class="panel-title">
							<a id="lspTrack" ng-click="showVal=11;select($event)" class="list-group-item" style="cursor:pointer">LSP Tracking</a>
						</h4>
					</div>
					<!--{{"ticketImages.length>0 && (!(loginInfo.roleCode==='field_engineer' && task.variables.natureOfComplaint.toUpperCase==='BITS')"}}-->
					<div ng-show="ticketImages.length>0">
						<h4 class="panel-title">
							<a id="photos" ng-click="showVal=12;getAllProcessPhotos(task.process.processId);select($event)" class="list-group-item" style="cursor:pointer">Photos</a>
						</h4>
					</div>
					<div ng-show="task.task !== null && loginInfo.roleCode!=='retailer' && loginInfo.roleCode!=='retailer'">
						<h4 class="panel-title">
							<a id="currentTaskDetails" ng-click="showVal=13;select($event)" class="list-group-item" style="cursor:pointer">Current Task Details</a>
						</h4>
					</div>
					<div ng-show="task.task !== null && (loginInfo.roleCode==='retailer' || loginInfo.roleCode==='admin' || loginInfo.roleCode==='coordinator')">
						<h4 class="panel-title">
							<a id="documents" ng-click="showVal=14;select($event)" class="list-group-item" style="cursor:pointer">Documents</a>
						</h4>
					</div>
					<div ng-show="task.completed == false && loginInfo.admin==true">
						<h4 class="panel-title">
							<a id="reassign" ng-click="showVal=15;select($event)" class="list-group-item" style="cursor:pointer">Re-Assign</a>
						</h4>
					</div>
					<div ng-show="loginInfo.roleCode==='retailer'  && task.variables.natureOfComplaint==='Buy Back'">
						<h4 class="panel-title">
							<a id="reassign" ng-click="showVal=16;select($event)" class="list-group-item" style="cursor:pointer">Product Value</a>
						</h4>
					</div>
					<div ng-show="task.variables.natureOfComplaint==='E-Waste'">
						<h4 class="panel-title">
							<a id="bagHistory" ng-click="showVal=18;select($event);bagHistory(1, pageSize)" class="list-group-item" style="cursor:pointer">Bag History</a>
						</h4>
					</div>
					<div>
						<h4 class="panel-title">
							<a id="dropLoc" ng-click="showVal=26;select($event);" class="list-group-item" style="cursor:pointer">Drop Location</a>
						</h4>
					</div>

					<!--COMMENTED PHONEPAY API-->
					<!--<div ng-show="loginInfo.roleCode==='admin'&& task.variables.amtPaidToCustomer!==undefined && task.variables.amtPaidToCustomer!=='' && task.variables.natureOfComplaint==='Buy Back'">
						<h4 class="panel-title">
							<a id="payStatus" ng-click="showVal=27;select($event);paymentStatus(task.process.processId)" class="list-group-item" style="cursor:pointer">Payment Info</a>
						</h4>
					</div>-->
					<!--This Code Is Written above just to make phy and tech togehter,but to maintain uniformality commented here-->
					<!--<div ng-show="task.variables.physicalEvaluation.toUpperCase()==='YES'">
						<h4 class="panel-title">
							<a id="techEvalResult" ng-click="showVal=19;select($event)" class="list-group-item" style="cursor:pointer">Techincal Evaluation Results</a>
						</h4>
					</div>-->
				</div>
			</div>
		</div>
		<div class="tab-content col-sm-10">
			<div id="tab1" ng-show="showVal===1">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Consumer Details</h3>
					</div>
					<div class="panel-body">
						<div class="form-group">
							<label for="consumerName" class="col-sm-4 control-label text-right" style="">
							<span>Consumer Name</span>
						</label>
							<div class="col-sm-8" style="">
								<span ng-bind="task.variables.consumerName"></span>
								<span ng-if="task.variables.emailId != ''">
								<a href="mailto:{{task.variables.emailId}}" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>
							</span>

							</div>
						</div>
						<div class="clearfix"></div>

						<div class="form-group">
							<label for="address" class="col-sm-4 control-label text-right" style="">
							<span>Address</span>
						</label>
							<div class="col-sm-8" style="">
								<p ng-bind="task.variables.addressLine1" ng-if="task.variables.addressLine1!=''"></p>
								<p ng-bind="task.variables.addressLine2" ng-if="task.variables.addressLine2!=''"></p>
								<p ng-bind="task.variables.landmark" ng-if="task.variables.landmark!=''"></p>
								<p ng-bind="task.variables.city" ng-if="task.variables.city!=''"></p>
								<p ng-bind="task.variables.pincode" ng-if="task.variables.pincode!=''"></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group">
							<label for="email" class="col-sm-4 control-label text-right" style="">
							<span>Email</span>
						</label>
							<div class="col-sm-8" style="">
								<p ng-bind="task.variables.emailId"></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group">
							<label for="email" class="col-sm-4 control-label text-right" style="">
							<span>Phone</span>
						</label>
							<div ng-if="loginInfo.roleCode!=='admin'"  class="col-sm-8" style="">
								<button ng-if="task.variables.telephoneNumber!=null && task.variables.telephoneNumber!==undefined" ng-click="callToCustomer(task.process.processId,task.variables.telephoneNumber)">Call To Customer</button>
								<button ng-if="task.variables.alternateTelephoneNumber!=null && task.variables.alternateTelephoneNumber!==undefined" ng-click="callToCustomer(task.process.processId,task.variables.alternateTelephoneNumber)">Call To Customer(Alt.No)</button>
								<!--<p ng-bind="task.variables.telephoneNumber"></p>
								<p ng-bind="task.variables.alternateTelephoneNumber"></p>-->
							</div>
							<div ng-if="loginInfo.roleCode ==='admin'" class="col-sm-8" style="">
								<!--<button ng-if="task.variables.telephoneNumber!=null && task.variables.telephoneNumber!==undefined" ng-click="callToCustomer(task.process.processId,task.variables.telephoneNumber)">Call {{task.variables.telephoneNumber}} </button>
								<button ng-if="task.variables.alternateTelephoneNumber!=null && task.variables.alternateTelephoneNumber!==undefined" ng-click="callToCustomer(task.process.processId,task.variables.alternateTelephoneNumber)">Call {{task.variables.alternateTelephoneNumber}} (Alt.No)</button>-->
								<p ng-bind="task.variables.telephoneNumber"></p>
								<p ng-bind="task.variables.alternateTelephoneNumber"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div ng-show="showVal===2 || showVal===3">
				<div class="panel panel-default">
					<div class="panel-heading" ng-show="showVal===2">
						<h3 class="panel-title">Request Details</h3>
					</div>
					<div class="panel-heading" ng-show="showVal===3">
						<h3 class="panel-title">Service Details</h3>
					</div>
					<div class="panel-body">
						<div class="form-group">
							<label for="consumerComplaintNumber" class="col-sm-4 control-label text-right" style="">
							<span>Consumer Request Number</span>
						</label>
							<div class="col-sm-8" style="">
								<p ng-bind="task.variables.consumerComplaintNumber"></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group">
							<label for="dateOfComplaint" class="col-sm-4 control-label text-right" style="">
							<span>Request Date</span>
						</label>
							<div class="col-sm-8" style="">
								<p ng-bind="task.variables.dateOfComplaint|date:'dd/MM/yyyy'"></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group">
							<label for="natureOfComplaint" class="col-sm-4 control-label text-right" style="">
							<span>Request Type</span>
						</label>
							<div class="col-sm-8" style="">
								<p ng-bind="task.variables.natureOfComplaint"></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group">
							<label for="problemDescription" class="col-sm-4 control-label text-right" style="">
							<span>Description</span>
						</label>
							<div class="col-sm-8" style="">
								<p ng-bind="task.variables.problemDescription"></p>
							</div>
						</div>
						<!--<div class="clearfix"></div>
					<div class="form-group">
						<label for="problemDescription" class="col-sm-4 control-label text-right" style="">
							<span>City</span>
						</label>
						<div class="col-sm-8" style="">
							<p  ng-bind="task.variables.city"></p>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="form-group">
						<label for="problemDescription" class="col-sm-4 control-label text-right" style="">
							<span>Pincode</span>
						</label>
						<div class="col-sm-8" style="">
							<p  ng-bind="task.variables.pincode"></p>
						</div>
					</div>-->

					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<div ng-show="showVal===4 || showVal===5">
				<div class="panel panel-default">
					<div class="panel-heading" ng-show="showVal===4">
						<h3 class="panel-title" ng-if="loginInfo.roleCode!=='retailer'">Order Details</h3>
					</div>
					<div class="panel-heading" ng-show="showVal===5">
						<h3 class="panel-title" ng-if="loginInfo.roleCode==='retailer'">Product Details</h3>
					</div>
					<div class="panel-body">
						<div class="form-group" ng-show="task.variables.natureOfComplaint!=='E-Waste'">
							<label for="product" class="col-sm-4 control-label text-right" style="">
							<span>Product</span>
						</label>
							<div class="col-sm-8" style="">
								<p ng-bind="task.variables.product + ',  '  + task.variables.productCategory"></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group" ng-show="task.variables.natureOfComplaint!=='E-Waste'">
							<label for="brand" class="col-sm-4 control-label text-right" style="">
							<span>Brand</span>
						</label>
							<div class="col-sm-8" style="">
								<p ng-bind="task.variables.brand"></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group" ng-if="loginInfo.roleCode!=='retailer'">
							<label for="retailer" class="col-sm-4 control-label text-right" style="">
							<span>Retailer</span>
						</label>
							<div class="col-sm-8" style="">
								<p ng-bind="task.variables.retailer + '(' + task.variables.rlRetailerCode + ')'"></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group" ng-show="task.variables.natureOfComplaint!=='E-Waste'">
							<label for="retailer" class="col-sm-4 control-label text-right" style="">
							<span>Date Of Purchase</span>
						</label>
							<div class="col-sm-8" style="">
								<p ng-bind="task.variables.dateOfPurchase|date:'dd/MM/yyyy'"></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group" ng-show="task.variables.natureOfComplaint!=='E-Waste'">
							<label for="retailer" class="col-sm-4 control-label text-right" style="">
							<span>Identification No</span>
						</label>
							<div class="col-sm-8" style="">
								<p ng-bind="task.variables.identificationNo"></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group" ng-show="task.variables.natureOfComplaint==='E-Waste'">
							<label for="retailer" class="col-sm-4 control-label text-right" style="">
							<span>Offered Cost</span>
						</label>
							<div class="col-sm-8" ng-show="task.variables.maxValueToBeOffered">
								<p ng-bind="task.variables.maxValueToBeOffered"></p>
							</div>
							<div class="col-sm-8" ng-if="!task.variables.maxValueToBeOffered">
								<p>0</p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group" ng-show="task.variables.natureOfComplaint==='E-Waste'">
							<label for="retailer" class="col-sm-4 control-label text-right" style="">
							<span>Updated Cost</span>
						</label>
							<div class="col-sm-8" style="">
								<p ng-bind="task.variables.rlValueOffered"></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group" ng-if="task.variables.natureOfComplaint==='E-Waste'">
							<label for="retailer" class="col-sm-4 control-label text-right" style="">
							<span>Product Evaluation</span>
						</label>
							<div class="col-sm-8" style="">
								<a href="{{host_base_url}}/#/view/ewaste-Mis/{{task.process.processId}}" target="_blank">view product details</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div ng-show="showVal===6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Old Product Details</h3>
					</div>
					<div class="panel-body">
						<div class="form-group">
							<label for="product" class="col-sm-4 control-label text-right" style="">
							<span>Product</span>
						</label>
							<div class="col-sm-8" style="">
								<p ng-bind="task.variables.product + ',  '  + task.variables.productCategory"></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group">
							<label for="brand" class="col-sm-4 control-label text-right" style="">
							<span>Brand</span>
						</label>
							<div class="col-sm-8" style="">
								<p ng-bind="task.variables.brand"></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group">
							<label for="brand" class="col-sm-4 control-label text-right" style="">
							<span>Model</span>
						</label>
							<div class="col-sm-8" style="">
								<p ng-bind="task.variables.model"></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group">
							<label for="brand" class="col-sm-4 control-label text-right" style="">
							<span>Drop Location Name</span>
						</label>
							<div class="col-sm-8" style="">
								<p ng-bind="task.variables.rlReturnLocationName"></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group">
							<label for="brand" class="col-sm-4 control-label text-right" style="">
							<span>Drop Location Address</span>
						</label>
							<div class="col-sm-8" style="">
								<p ng-bind="task.variables.rlReturnLocationAddress + ', ' + task.variables.rlReturnLocationPincode"></p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div ng-show="showVal===7">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">New Product Details</h3>
					</div>
					<div class="panel-body">
						<div class="form-group">
							<label for="product" class="col-sm-4 control-label text-right" style="">
							<span>Product</span>
						</label>
							<div class="col-sm-8" style="">
								<p ng-bind="task.variables.productName2 + ',  '  + task.variables.productCategory"></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group">
							<label for="brand" class="col-sm-4 control-label text-right" style="">
							<span>Brand</span>
						</label>
							<div class="col-sm-8" style="">
								<p ng-bind="task.variables.brand2"></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group">
							<label for="brand" class="col-sm-4 control-label text-right" style="">
							<span>Model</span>
						</label>
							<div class="col-sm-8" style="">
								<p ng-bind="task.variables.model2"></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group">
							<label for="brand" class="col-sm-4 control-label text-right" style="">
							<span>Drop Location Name</span>
						</label>
							<div class="col-sm-8" style="">
								<p ng-bind="task.variables.rlPickupLocationName"></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group">
							<label for="brand" class="col-sm-4 control-label text-right" style="">
							<span>Drop Location Address</span>
						</label>
							<div class="col-sm-8" style="">
								<p ng-bind="task.variables.rlPickupLocationAddress + ', ' + task.variables.rlPickupLocationPincode"></p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div ng-show="showVal===8">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Ticket Details</h3>
					</div>
					<div class="panel-body">
						<div class="form-group">
							<label for="retailer" class="col-sm-4 control-label text-right" style="">
							<span>Ticket No</span>
						</label>
							<div class="col-sm-8" style="">
								<p ng-bind="task.variables.rlTicketNo"></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group">
							<label for="retailer" class="col-sm-4 control-label text-right" style="">
							<span>Process-Id</span>
						</label>
							<div class="col-sm-8" style="">
								<p ng-bind="task.process.processId"></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group" ng-if="task.variables.natureOfComplaint==='RepairStandBy'">
							<label for="retailer" class="col-sm-4 control-label text-right" style="">
							<span>Courtesy Damaged Cost</span>
						</label>
							<div class="col-sm-8" style="">
								<p ng-bind="task.process.rlValueOffered"></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group" ng-if="loginInfo.roleCode==='retailer' || loginInfo.roleCode==='admin'">
							<label for="retailer" class="col-sm-4 control-label text-right" style="">
							<span>Ticket Upload Date</span>
						</label>
							<div class="col-sm-8" style="">
								<p><span ng-bind="task.variables.ticketCreationDate|date:'EEE, dd MMM yyyy hh:mm:ss'"></span><span> GMT</span></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group" ng-if="loginInfo.roleCode==='retailer' || loginInfo.roleCode==='admin'">
							<label for="retailer" class="col-sm-4 control-label text-right" style="">
							<span>Ticket Closing Date</span>
						</label>
							<div class="col-sm-8" style="">
								<p ng-bind="task.variables.rlClosingDate|date:'dd/MM/yyyy'"></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group">
							<label for="retailer" class="col-sm-4 control-label text-right" style="">
							<span>Status</span>
						</label>
							<div class="col-sm-8" style="" ng-if="loginInfo.roleCode!=='retailer'">
								<p ng-bind="task.variables.rlTicketStatus"></p>
							</div>
							<div class="col-sm-8" style="" ng-if="loginInfo.roleCode==='retailer'">
								<p ng-bind="task.variables.rlProcessStatus"></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group" ng-if="task.variables.rlCallTranscript != null && task.variables.rlCallTranscript != undefined && task.variables.rlCallTranscript != ''">
							<label for="rlCallTranscript" class="col-sm-4 control-label text-right" style="">
							<span>Call Transcript</span>
						</label>
							<div class="col-sm-8" style="">
								<pre ng-bind="task.variables.rlCallTranscript"></pre>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group" ng-if="loginInfo.roleCode!=='retailer'">
							<label for="assignee" class="col-sm-4 control-label text-right" style="" ng-if="loginInfo.roleCode!=='retailer'">
							<span>Assignee</span>
						</label>
							<div class="col-sm-8" style="" ng-if="loginInfo.roleCode!=='retailer'">
								<p ng-bind="task.task.assignee"></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group" ng-if="task.variables.rlAppointmentDate != null && task.variables.rlAppointmentDate != undefined && task.variables.rlAppointmentDate != ''">
							<label for="assignee" class="col-sm-4 control-label text-right" style="">
							<span>Appointment Date</span>
						</label>
							<div class="col-sm-8" style="">
								<p ng-bind="task.variables.rlAppointmentDate"></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group" ng-if="loginInfo.roleCode==='admin'">
							<label for="assignee" class="col-sm-4 control-label text-right" style="">
							<span>Service Charge</span>
						</label>
							<div class="col-sm-8" style="">
								<table class="table table-striped">
									<tr ng-if="loginInfo.roleCode==='admin'">
										<th>Cost Head</th>
										<th>Service</th>
										<th>Collect From</th>
										<th class="text-center">Cost</th>
									</tr>
									<tr ng-repeat="costHead in task.variables.rlTicketCostMap" ng-if="loginInfo.roleCode==='admin'">
										<td ng-bind="costHead.name"></td>
										<td ng-bind="costHead.service"></td>
										<td ng-bind="costHead.actor"></td>
										<td class="text-right">
											<span ng-bind="costHead.cost| currency:'&#8377;'"></span>
										</td>
									</tr>
									<tr>
										<td colspan="3">Total</td>
										<td ng-show="task.variables.natureOfComplaint==='RepairStandBy'" class="text-right"><span ng-bind="task.variables.rlTicketCosting| currency:'&#8377;'"></span></td>
										<td ng-show="task.variables.natureOfComplaint!=='RepairStandBy'"class="text-right"><span ng-bind="task.variables.rlTicketCost| currency:'&#8377;'"></span></td>
									</tr>
								</table>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group" ng-if="task.variables.bulkMode.toUpperCase()==='YES'  && task.variables.natureOfComplaint!=='E-Waste'">
							<label for="retailer" class="col-sm-4 control-label text-right" style="">
							<span>MIS Report</span>
						</label>
							<div class="col-sm-8" style="">
								<a href="{{host_base_url}}/#/view/mis-report/{{task.process.processId}}" target="_blank">view</a>
							</div>
						</div>

						<div class="clearfix"></div>
						<div class="form-group" ng-show="task.variables.natureOfComplaint==='BITS'">
							<!--<div class="form-group">-->
							<label for="retailer" class="col-sm-4 control-label text-right" style="">
							<span>Boxes</span>
						</label>
							<div class="col-sm-8" style="">
								<!--<a href="{{host_base_url}}/#/view/sub-ticket/{{task.process.processId}}" target="_blank">view</a>-->
								<p ng-click="showVal=17;viewSubTicket(1,pageSize)" style="cursor:pointer;color:blue">view</p>
							</div>
						</div>
						<div class="form-group" ng-show="task.variables.natureOfComplaint==='BITS' && task.completed===false && loginInfo.roleCode!=='retailer' && loginInfo.roleCode!=='finance_head'">
							<label for="retailer" class="col-sm-4 control-label text-right" style="">
							<span>Upload BITS File</span>
						</label>
							<div class="col-sm-8" style="float:right">
								<a href="{{host_base_url}}/#/tasks/bits-barcode-file/{{task.process.processId}}" target="_blank">Upload</a>
							</div>
						</div>
						<!--<div class="clearfix"></div>
					<div class="form-group">
						<label for="retailer" class="col-sm-4 control-label text-right" style="">
							<span>Name :</span>
						</label>
						<div class="col-sm-8" style="">
							<span ng-if="task.variables.name===null || task.variables.name=== undefined">N/A</span>
							<span ng-else>{{task.variables.name}}</span>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="form-group">
						<label for="retailer" class="col-sm-4 control-label text-right" style="">
							<span>Amount :</span>
						</label>
						<div class="col-sm-8" style="">
							<span ng-if="task.variables.amount===null || task.variables.amount=== undefined">N/A</span>
							<span ng-else>{{task.variables.amount}}</span>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="form-group">
						<label for="retailer" class="col-sm-4 control-label text-right" style="">
							<span>Status :</span>
						</label>
						<div class="col-sm-8" style="">
							<span ng-if="task.variables.status===null || task.variables.status=== undefined">N/A</span>
							<span ng-else>{{task.variables.status}}</span>
						</div>
					</div>


					<div class="clearfix"></div>
					<div class="form-group">
						<label for="retailer" class="col-sm-4 control-label text-right" style="">
							<span>Evaluation Results</span>
						</label>
						<div class="col-sm-8" style="">
							<a href="{{host_base_url}}/#/task/evaluation/{{task.process.processId}}" target="_blank">view</a>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="form-group">
						<label for="retailer" class="col-sm-4 control-label text-right" style="">
							<span>Evaluation History</span>
						</label>
						<div class="col-sm-8" style="">
							<a href="{{host_base_url}}/#/task/evaluation-history" target="_blank">view</a>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="form-group">
						<label for="retailer" class="col-sm-4 control-label text-right" style="">
							<span>Declaration Form</span>
						</label>
						<div class="col-sm-8" style="">
							<button ng-if="task.variables.isDeclaired===undefined || task.variables.isDeclaired !='yes'" ng-click="generateDeclaration(task.process.processId)">Generate</button>
						</div>
						<div class="col-sm-8" style="">
							<a ng-if="task.variables.isDeclaired ==='yes'" href="{{host_base_url}}/server/attachment/download/declarationForm/{{task.process.processId}}">download</a>
						</div>
					</div>-->

					</div>
				</div>
			</div>
			<div ng-show="showVal===9">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Payment Details</h3>
					</div>
					<div class="panel-body">
						<div class="clearfix"></div>
						<div class="form-group">
							<label for="retailer" class="col-sm-4 control-label text-right" style="">
							<span>Name :</span>
						</label>
							<div class="col-sm-8" style="">
								<span ng-if="task.variables.name===null || task.variables.name=== undefined">N/A</span>
								<span ng-else>{{task.variables.name}}</span>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group">
							<label for="retailer" class="col-sm-4 control-label text-right" style="">
							<span>Amount :</span>
						</label>
							<div class="col-sm-8" style="">
								<span ng-if="task.variables.amount===null || task.variables.amount=== undefined">N/A   </span>
								<span ng-else>{{task.variables.amount}}</span>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group">
							<label for="retailer" class="col-sm-4 control-label text-right" style="">
							<span>Status :</span>
						</label>
							<div class="col-sm-8" style="">
								<span ng-if="task.variables.status===null || task.variables.status=== undefined">N/A</span>
								<span ng-else>{{task.variables.status}}</span>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group">
							<label for="retailer" class="col-sm-4 control-label text-right" style="">
							<span>Transaction Id :</span>
						</label>
							<div class="col-sm-8" style="">
								<span ng-if="task.variables.txnId===null || task.variables.txnId=== undefined">N/A</span>
								<span ng-else>{{task.variables.txnId}}</span>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group">
							<label for="retailer" class="col-sm-4 control-label text-right" style="">
							<span>Phone :</span>
						</label>
							<div ng-if="loginInfo.roleCode!=='admin'" class="col-sm-8" style="">
								<span ng-if="task.variables.payePhone===undefined">N/A</span>
								<button  ng-if="task.variables.payePhone!== undefined && task.variables.payePhone!== null" ng-click="callToCustomer(task.process.processId,task.variables.payePhone)">Call To Customer</button>
								<!--<span ng-else>{{task.variables.payePhone}}</span>-->
							</div>
							<div ng-if="loginInfo.roleCode ==='admin'" class="col-sm-8" style="">
								<span ng-if="task.variables.payePhone===undefined">N/A</span>
								<!--<button  ng-if="task.variables.payePhone!== undefined && task.variables.payePhone!== null" ng-click="callToCustomer(task.process.processId,task.variables.payePhone)">Call {{task.variables.payePhone}}</button>-->
								<span ng-else>{{task.variables.payePhone}}</span>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group">
							<label for="retailer" class="col-sm-4 control-label text-right" style="">
							<span>Email :</span>
						</label>
							<div class="col-sm-8" style="">
								<span ng-if="task.variables.payeEmail===null || task.variables.payeEmail=== undefined">N/A</span>
								<span ng-else>{{task.variables.payeEmail}}</span>
							</div>
						</div>
						<div class="clearfix"></div>
						<!--COMMENTED FOR PHONEPAY API-->
						<!--<div class="form-group" ng-if="loginInfo.roleCode==='admin' && task.variables.amtPaidToCustomer!==undefined && task.variables.amtPaidToCustomer!=='' && task.variables.natureOfComplaint==='Buy Back'">
							<label for="retailer" class="col-sm-4 control-label text-right" style="">
							<span>Pay To Customer :</span>
						</label>
							<div class="col-sm-8"  style="">
							<button  ng-click="makePayment(task.process.processId)">Pay <span>{{task.variables.amtPaidToCustomer}}</span></button>
							</div>
						</div>-->
					</div>
				</div>
			</div>
			<div ng-show="showVal===10">
				<div class="panel panel-default">
					<div class="panel-heading">
						<a href="{{host_base_url}}/#/task/evaluation-history" target="_blank">
							<h3 class="panel-title">Evaluation History</h3>
						</a>
					</div>
				</div>
			</div>
			<div ng-show="showVal===10" ng-if="loginInfo.roleCode!=='retailer' && task.completed===false">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div>
							<label for="retailer" class=" control-label text-right" style="">
							<span>Declaration Form</span>
						</label>

							<button ng-if="task.variables.isDeclaired===undefined || task.variables.isDeclaired !='yes'" ng-click="generateDeclaration(task.process.processId)">Generate</button>

							<a ng-if="task.variables.isDeclaired ==='yes'" href="{{host_base_url}}/server/attachment/download/declarationForm/{{task.process.processId}}">download</a>

						</div>
					</div>
				</div>
			</div>
			<div ng-show="showVal===10">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Physical Evaluation</h3>
					</div>
					<div class="col-sm-12" style="">
						<div class="form-group">
							<!--<a href="{{host_base_url}}/#/task/evaluation/{{task.process.processId}}" target="_blank">view</a>-->
							<load-template url="pages/tasks/EvalResult"></load-template>
						</div>
					</div>
					<!--<div class="clearfix"></div>-->
					<!--<div class="form-group">
						<label for="retailer" class="col-sm-4 control-label text-right" style="">
							<span>Evaluation History</span>
						</label>
						<div class="col-sm-8" style="">
							<a href="{{host_base_url}}/#/task/evaluation-history" target="_blank">view</a>
						</div>
					</div>-->
					<!--<div class="clearfix"></div>-->
					<!--<div class="form-group" ng-if="loginInfo.roleCode!=='retailer' && task.completed===false">
						<label for="retailer" class="col-sm-4 control-label text-right" style="">
							<span>Declaration Form</span>
						</label>
						<div class="col-sm-8" style="">
							<button ng-if="task.variables.isDeclaired===undefined || task.variables.isDeclaired !='yes'" ng-click="generateDeclaration(task.process.processId)">Generate</button>
						</div>
						<div class="col-sm-8" style="">
							<a ng-if="task.variables.isDeclaired ==='yes'" href="{{host_base_url}}/server/attachment/download/declarationForm/{{task.process.processId}}">download</a>
						</div>
					</div>-->
				</div>
			</div>
			<!--<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Other Details</h3>
				</div>
				<div class="panel-body">
					<div class="clearfix"></div>
					<div class="form-group" ng-if="task.variables.categBulk==='yes'">
						<label for="retailer" class="col-sm-4 control-label text-right" style="">
							<span>MIS Report</span>
						</label>
						<div class="col-sm-8" style="">
							<a href="{{host_base_url}}/#/view/mis-report/{{task.process.processId}}" target="_blank">view</a>
						</div>
					</div>
				</div>
			</div>
		</div>-->
			<div class="clearfix"></div>
			<div ng-show="showVal===11">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">LSP Tracking</h3>
					</div>
					<div class="panel-body">
						<table class="table">
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Docket No.</th>
							</tr>
							<tr ng-repeat="detail in task.variables.rlAMPMDetailsMap">
								<td ng-bind="$index+1"></td>
								<td ng-bind="detail.name">
								</td>
								<td>
									<track-product docket-no="{{detail}}"></track-product>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div ng-show="showVal===12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">PhotographAfter</h3>
					</div>
					<div class="panel-body">
						<div ng-repeat="image in processImage track by $index" ng-show="(image.key3.indexOf('PhotographAfter')!==-1)">
							<div class="col-sm-2 ">
								<div class="individual-image-container" ng-click="openLightboxModal2(image.key2,image.key3,image.key4)">
									<div ng-if="(image.key3.indexOf('PhotographAfter')!==-1)">
										<a style="background-image:url('{{host_base_url}}/server/attachment/access/process/{{image.key2}}/{{image.key3}}/{{image.key4}}')"
										 class="img-thumbnail">
									</a>
									</div>
								</div><button ng-click="getLocation=true;select2($index)">Get Location</button>
								<p class="coords-container" ng-show="getLocation===true">Latitude:
									<text ng-bind="image.latitude"></text>
								</p>
								<p class="coords-container" ng-show="getLocation===true">Longitude:
									<text ng-bind="image.longitude"></text>
								</p>
								<p class="coords-container" ng-show="getLocation===true">Location:
									<text ng-bind="image.location"></text>
								</p>
							</div>
						</div>
						<!--<div ng-repeat="image in ticketImages track by $index" ng-show="(image.indexOf('PhotographAfter')!==-1)">
							<a class="col-sm-2 individual-image-container" ng-if="task.variables[image].length > 0" ng-repeat="img in task.variables[image] track by $index"
							 ng-click="openLightboxModal2(task.process.processId,image,img)">
								<div ng-if="(image.indexOf('PhotographAfter')!==-1)">
									<div style="background-image:url('{{host_base_url}}/server/attachment/access/process/{{task.process.processId}}/{{image}}/{{img}}')"
									 class="img-thumbnail">
									</div>
								</div>
							</a>
						</div>-->
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">PhotographBefore</h3>
					</div>
					<div class="panel-body">
						<div ng-repeat="image in processImage track by $index" ng-show="(image.key3.indexOf('PhotographBefore')!==-1)">
							<div class="col-sm-2 ">
								<div class="individual-image-container" ng-click="openLightboxModal2(image.key2,image.key3,image.key4)">
									<div ng-if="(image.key3.indexOf('PhotographBefore')!==-1)">
										<a style="background-image:url('{{host_base_url}}/server/attachment/access/process/{{image.key2}}/{{image.key3}}/{{image.key4}}')"
										 class="img-thumbnail">
									</a>
									</div>
								</div><button ng-click="getLocation=true;select2($event,$this)">Get Location</button>
								<p class="coords-container" ng-show="getLocation===true">Latitude:
									<text ng-bind="image.latitude"></text>
								</p>
								<p class="coords-container" ng-show="getLocation===true">Longitude:
									<text ng-bind="image.longitude"></text>
								</p>
								<p class="coords-container" ng-show="getLocation===true">Location:
									<text ng-bind="image.location"></text>
								</p>
							</div>
						</div>
						<!--<div ng-repeat="image in ticketImages track by $index" ng-show="(image.indexOf('PhotographBefore')!==-1)">
							<a class="col-sm-2 individual-image-container" ng-if="task.variables[image].length > 0" ng-repeat="img in task.variables[image] track by $index"
							 ng-click="openLightboxModal2(task.process.processId,image,img)">
								<div ng-if="(image.indexOf('PhotographBefore')!==-1)">
									<div style="background-image:url('{{host_base_url}}/server/attachment/access/process/{{task.process.processId}}/{{image}}/{{img}}')"
									 class="img-thumbnail">
									</div>
								</div>
							</a>
						</div>-->
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">PhotoId</h3>
					</div>
					<div class="panel-body">
						<div ng-repeat="image in processImage track by $index" ng-show="(image.key3.indexOf('PhotoId')!==-1)">
							<div class="col-sm-2 ">
								<div class="individual-image-container" ng-click="openLightboxModal2(image.key2,image.key3,image.key4)">
									<div ng-if="(image.key3.indexOf('PhotoId')!==-1)">
										<a style="background-image:url('{{host_base_url}}/server/attachment/access/process/{{image.key2}}/{{image.key3}}/{{image.key4}}')"
										 class="img-thumbnail">
									</a>
									</div>
								</div><button ng-click="getLocation=true;select2($event,$this,$index)">Get Location</button>
								<p class="coords-container" ng-show="getLocation===true">Latitude:
									<text ng-bind="image.latitude"></text>
								</p>
								<p class="coords-container" ng-show="getLocation===true">Longitude:
									<text ng-bind="image.longitude"></text>
								</p>
								<p class="coords-container" ng-show="getLocation===true">Location:
									<text ng-bind="image.location"></text>
								</p>
							</div>
						</div>
						<!--<div ng-repeat="image in ticketImages track by $index" ng-show="(image.indexOf('PhotoId')!==-1)">
							<div class="col-sm-2">
								<div class="col-sm-12">
									<a class="individual-image-container " ng-if="task.variables[image].length> 0" ng-repeat="img in task.variables[image] track by $index"
							          ng-click="openLightboxModal2(task.process.processId,image,img)">
								      <div ng-if="(image.indexOf('PhotoId')!==-1)">
									      <div style="background-image:url('{{host_base_url}}/server/attachment/access/process/{{task.process.processId}}/{{image}}/{{img}}')"
									         class="img-thumbnail">
									      </div>
								      </div>
							        </a>
								</div>
								<div class="col-sm-12">
									<button ng-click="getLocation=true">Get Location</button>
									<text ng-show="getLocation===true">Location</text>
								</div>
							</div>
						</div>-->
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Signatures</h3>
					</div>
					<div class="panel-body">
						<div ng-repeat="image in processImage track by $index" ng-show="(image.key3.indexOf('Signature')!==-1)">
							<div class="col-sm-2 ">
								<div class="individual-image-container" ng-click="openLightboxModal2(image.key2,image.key3,image.key4)">
									<div ng-if="(image.key3.indexOf('Signature')!==-1)">
										<a style="background-image:url('{{host_base_url}}/server/attachment/access/process/{{image.key2}}/{{image.key3}}/{{image.key4}}')"
										 class="img-thumbnail">
									</a>
									</div>
								</div>
								<button ng-click="getLocation=true;select2($event,$this)">Get Location</button>
								<p class="coords-container" ng-show="getLocation===true">Latitude:
									<text ng-bind="image.latitude"></text>
								</p>
								<p class="coords-container" ng-show="getLocation===true">Longtude:
									<text ng-bind="image.longitude"></text>
								</p>
								<p class="coords-container" ng-show="getLocation===true">Location:
									<text ng-bind="image.location"></text>
								</p>
							</div>
						</div>
						<!--<div ng-repeat="image in ticketImages track by $index" ng-show="(image.indexOf('Signature')!==-1)">
							<div class="col-sm-2">
								<div class="col-sm-12" ng-repeat="img in task.variables[image] track by $index">
									<a class="individual-image-container" ng-if="task.variables[image].length > 0" 
									 ng-click="openLightboxModal2(task.process.processId,image,img)">
										<div ng-if="(image.indexOf('Signature')!==-1)">
											<div style="background-image:url('{{host_base_url}}/server/attachment/access/process/{{task.process.processId}}/{{image}}/{{img}}')"
											 class="img-thumbnail">
											</div>
										</div>
									</a>
								
								<div >
									<button ng-click="getLocation=true;callLocation(task.process.processId,image,img);select2($event,$this)">Get Location</button>
									<text class = "coords-container" ng-show="getLocation===true"><h6 ng-bind="latlang.latitude">,<h6 ng-bind="latlang.longitude"></h6></h6></text>
								</div></div>
							</div>
						</div>-->
					</div>
				</div>
			</div>
			<div ng-show="showVal===13">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Current Task Details</h3>
					</div>
					<div class="panel-body">
						<div class="form-group">
							<label for="retailer" class="col-sm-4 control-label text-right" style="">
							<span>Name</span>
						</label>
							<div class="col-sm-8" style="">
								<p ng-bind="task.task.name"></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group">
							<label for="retailer" class="col-sm-4 control-label text-right" style="">
							<span>Task ID</span>
						</label>
							<div class="col-sm-8" style="">
								<p ng-bind="task.task.taskId"></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group">
							<label for="retailer" class="col-sm-4 control-label text-right" style="">
							<span>Created At</span>
						</label>
							<div class="col-sm-8" style="">
								<p ng-bind="task.task.createTime|date:'medium'"></p>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>


			<div ng-show="showVal===14">
				<div class="panel panel-default" ng-if="loginInfo.roleCode==='retailer' || loginInfo.roleCode==='admin' || loginInfo.roleCode==='coordinator'">
					<div class="panel-heading">
						<h3 class="panel-title">Documents</h3>
					</div>
					<div class="panel-body">
						<div class="form-group">
							<label for="retailer" class="col-sm-4 control-label text-right" style="">
							<span>Authorization Letter</span>
						</label>
							<div class="col-sm-8" style="" ng-if="task.variables.rlAuthorizationLetterFileName!==undefined && ticket.variables.rlAuthorizationLetterFileName">
								<a href="{{host_base_url}}/server/attachment/download/AuthLetter/{{task.process.processId}}/{{task.variables.rlAuthorizationLetterFileName}}">Download</a>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group">
							<label for="retailer" class="col-sm-4 control-label text-right" style="">
							<span>Purchase Invoice</span>
						</label>
							<div class="col-sm-8" style="" ng-if="task.variables.rlPurchaseInvoiceFileName!==undefined && ticket.variables.rlPurchaseInvoiceFileName">
								<a href="{{host_base_url}}/server/attachment/download/PurchaseInvoice/{{task.process.processId}}/{{task.variables.rlPurchaseInvoiceFileName}}">Download</a>
							</div>
						</div>
						<div class="clearfix"></div>

						<div class="clearfix"></div>
					</div>
				</div>
			</div>


			<div class="clearfix"></div>

			<div class="clearfix"></div>
			<div class="row">
				<div ng-show="showVal===15">
					<div class="panel-heading">
						<h3 class="panel-title">Re-assign Ticket - <span ng-bind="task.variables.rlTicketNo"></span></h3>
					</div>
					<div class="panel-body">
						<div class="col-lg-6 col-sm-12">
							<form name="form" id="Form" class="form-horizontal" role="form" method="post" ng-submit="reAssignTask(task);" novalidate>
								<div class="form-group">
									<label class="col-sm-3 control-label" style="">
						Role
						</label>
									<div class="col-sm-9">
										<select name="roleCode" id="roleCode" ng-model="roleCode" class="form-control" ng-change="populateUsersByRole(roleCode);"
										 required>
								<option value="">Choose</option>
								<option ng-repeat="role in roles" value="{{role.code}}"
										>{{role.name}}</option>
							</select>
									</div>
									<div class="col-sm-9 -col-sm-offset-3 errors">
										<span ng-bind="errors.role"></span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label" style="">
						Select User
						</label>
									<div class="col-sm-9">
										<select name="user_id" id="user_id" ng-model="user_id" class="form-control" required>
								<option value="">Choose</option>
								<option ng-repeat="user in users" value="{{user.email}}"
										ng-bind="user.firstName+' '+user.lastName+' ('+user.email+')'"></option>
							</select>
									</div>
									<div class="col-sm-9 -col-sm-offset-3 errors">
										<span ng-bind="errors.user"></span>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-12 text-center">
										<button type="submit" class="btn btn-primary" name="save" id="saveBtn" check-access-perm="access_perm">Re-assign
						   </button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div ng-show="showVal===16" class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Product Cost</h3>
					</div>
					<div class="panel-body">
						<div class="clearfix"></div>
						<div class="form-group">
							<label for="retailer" class="col-sm-4 control-label text-right" style="">
							<span>Offered Price :</span>
						</label>
							<div class="col-sm-8" style="">
								<span>{{prevCost}}</span>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group">
							<label for="retailer" class="col-sm-4 control-label text-right" style="">
							<span>Updated Price :</span>
						</label>
							<div class="col-sm-8" style="">
								<span>{{task.variables.rlValueOffered}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div ng-show="showVal===17">
				<div class="row" ng-model="misDetails" ng-if="misDetails.length > 0" ng-model="pagination" ng-show="showSubTicket==true">

					<div class="col-sm-12">
						<table class="table row-border table-hover table-striped">
							<thead>
								<th>Box Id</th>
								<th>Box Barcodes</th>
								<th>Status</th>
							</thead>

							<tbody>

								<tr dir-paginate="m in misDetails|itemsPerPage:pageSize" pagination-id="ticketSearchPagination" total-items="total_count"
								 ng-if="(misDetails.length > 0 || misDetails != undefined)">
									<td ng-bind="m.id"></td>
									<td ng-bind="m.boxNumber"></td>
									<td ng-bind="m.status"></td>
									<td ng-click="misBulkQueryId(m.id)" style="cursor:pointer;color:blue" ng-mouseover="style:text-decoration:dashed">view
									</td>
								</tr>
							</tbody>
						</table>
						<dir-pagination-controls pagination-id="ticketSearchPagination" ng-model="pagination" max-size="8" direction-links="true"
						 boundary-links="true" on-page-change="viewSubTicket(newPageNumber,pageSize)">
						</dir-pagination-controls>
					</div>
				</div>

				<div class="row" ng-model="misDetails" ng-model="pagination" ng-show="showBarcodes==true">

					<div class="col-sm-12">
						<div class="clearfix"><button ng-click="viewSubTicket(1,pageSize)" style="margin-bottom: 5px;">Go Back</button></div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Photographs</h3>
							</div>
							<div class="panel-body">
								<div ng-repeat="image in misImages">
									<div class="col-sm-2 ">
										<a class="individual-image-container" ng-click="openLightboxModal3(image.key1,image.key2,image.key3,image.key4)">
											<div style="background-image:url('{{host_base_url}}/server/attachment/access/{{image.key1}}/{{image.key2}}/{{image.key3}}/{{image.key4}}')"
											 class="img-thumbnail">
											</div>
										</a>
										<button ng-click="getLocation=true;select2($event,$this)">Get Location</button>
										<p class="coords-container" ng-show="getLocation===true">Latitude:
											<text ng-bind="image.latitude"></text>
										</p>
										<p class="coords-container" ng-show="getLocation===true">Longtude:
											<text ng-bind="image.longitude"></text>
										</p>
										<p class="coords-container" ng-show="getLocation===true">Location:
											<text ng-bind="image.location"></text>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Barcodes : {{total_count}}</h3>
							</div>
							<div class="panel-body">
								<div class="form-group">
									<table class="table row-border table-hover table-striped">
										<thead>
											<th>Barcodes</th>
											<th>Quality</th>
										</thead>
										<tbody>
											<tr ng-repeat="m in misDetails" ng-if="(misDetails.length > 0 || misDetails != undefined)">
												<td ng-bind="(m.barcode)"></td>
												<td ng-bind="(m.itemQuality)"></td>
											</tr>
										</tbody>
									</table>
									<!--<span dir-paginate="m in misDetails|itemsPerPage:1000" ng-if="(misDetails.length > 0 || misDetails != undefined)">
										<div class="col-sm-6">
											<p ng-bind="(m.barcode)+(' - ')+(m.itemQuality)+(' , ')"></p>
										</div>
										<div class="col-sm-6">
											<p ng-bind="(m.barcode)+(' - ')+(m.itemQuality)+(' , ')"></p>
										</div>
                    </span>-->
								</div>
							</div>
						</div>
						<!--<div class="clearfix"></div>
						<button ng-click="viewSubTicket(1,pageSize)">Go Back</button>-->
					</div>
				</div>
			</div>
			<div ng-show="showVal===18">
				<div class="row" ng-model="bagHis" ng-model="pagination">
					<table class="table row-border table-hover table-striped">
						<thead>
							<th>Date</th>
							<th>Bag Used</th>
						</thead>

						<tbody>

							<tr dir-paginate="m in bagHis|itemsPerPage:pageSize" pagination-id="ticketSearchPagination" total-items="total_count" ng-if="(bagHis.length > 0 || bagHis != undefined)">

								<td ng-bind="m.date"></td>
								<td ng-bind="m.bagsUsed"></td>
							</tr>
						</tbody>
					</table>
					<dir-pagination-controls pagination-id="ticketSearchPagination" ng-model="pagination" max-size="8" direction-links="true"
					 boundary-links="true" on-page-change="bagHistory(newPageNumber,pageSize)">
					</dir-pagination-controls>
				</div>
			</div>
			<div ng-show="showVal===19">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Techincal Evaluation</h3>
					</div>
					<div class="col-sm-12" style="">
						<div class="form-group">
							<!--<a href="{{host_base_url}}/#/task/evaluation/{{task.process.processId}}" target="_blank">view</a>-->
							<!--Loading create some Scope problem-->
							<!--<load-template url="pages/tasks/TechEvalResult"></load-template>-->
							<div class="row" ng-model="techEvalEnggRes">
								<div class="col-sm-12">
									<table class="table row-border table-hover table-striped">
										<thead>
											<th>Question</th>
											<th> Answer</th>
										</thead>
										<tbody>
											<tr ng-repeat="m in techEvalEnggRes" ng-if="(techEvalEnggRes.length > 0)">
												<td ng-bind="m.question"></td>
												<td ng-bind="m.answer"></td>
											</tr>

										</tbody>
									</table>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Displaying Pages for technical and physical evaluation result of standby unit-->

			<!--EVALUATION OF CUSTOMER DEVICE-->
			<div ng-show="showVal===24">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title" ng-click="displayVal=1;select2($event)" style="cursor:pointer">
							<h4 id="phyCust" class="panel-title">Physical Evaluation at Customer Location</h3>
						</div>
					</div>
				</div>
			</div>
			<div ng-show="showVal===24">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title" ng-click="displayVal=2;select2($event)" style="cursor:pointer">
							<h4 id="techCust" class="panel-title">Technical Evaluation at Cutomer Location</h3>
						</div>
					</div>
				</div>
			</div>
			<div ng-show="showVal===24">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title" ng-click="displayVal=3;select2($event)" style="cursor:pointer">
							<h4 id="phySer" class="panel-title">Physical Evaluation at Service Center</h3>
						</div>
					</div>
				</div>
			</div>
			<div ng-show="showVal===24">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title" ng-click="displayVal=4;select2($event)" style="cursor:pointer">
							<h4 id="techSer" class="panel-title">Technical Evaluation at Service Center</h3>
						</div>
					</div>
				</div>
			</div>


			<div ng-show="displayVal===1">
				<div class="panel panel-default">
					<div class="col-sm-12">
						<table class="table row-border table-hover table-striped">
							<thead>
								<th>Evaluation Id</th>
								<th>Ticket No</th>
								<th>Evaluation Date</th>
							</thead>

							<tbody>

								<tr ng-repeat="m in evalHistory" ng-if="(evalHistory.length > 0)">

									<td ng-bind="m.evalId"></td>
									<td ng-bind="m.ticketId"></td>
									<td ng-bind="m.evalDate"></td>
									<td><input type="checkbox" value="{{m.evalId}}" ng-checked="compareEvalIds.indexOf(m.evalId) !== -1" ng-click="toggleEvalIds(m.evalId)"
										 name="compareEvalIds[]"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div ng-show="displayVal===2">
				<div class="panel panel-default">
					<div class="col-sm-12">
						<table class="table row-border table-hover table-striped">
							<thead>
								<th>Evaluation Id</th>
								<th>Ticket No</th>
								<th>Evaluation Date</th>
							</thead>

							<tbody>

								<tr ng-repeat="m in evalHistory" ng-if="(evalHistory.length > 0)">

									<td ng-bind="m.evalId"></td>
									<td ng-bind="m.ticketId"></td>
									<td ng-bind="m.evalDate"></td>
									<td><input type="checkbox" value="{{m.evalId}}" ng-checked="compareEvalIds.indexOf(m.evalId) !== -1" ng-click="toggleEvalIds(m.evalId)"
										 name="compareEvalIds[]"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div ng-show="displayVal===3">
				<div class="panel panel-default">
					<div class="col-sm-12">
						<table class="table row-border table-hover table-striped">
							<thead>
								<th>Evaluation Id</th>
								<th>Ticket No</th>
								<th>Evaluation Date</th>
							</thead>

							<tbody>

								<tr ng-repeat="m in evalHistory" ng-if="(evalHistory.length > 0)">

									<td ng-bind="m.evalId"></td>
									<td ng-bind="m.ticketId"></td>
									<td ng-bind="m.evalDate"></td>
									<td><input type="checkbox" value="{{m.evalId}}" ng-checked="compareEvalIds.indexOf(m.evalId) !== -1" ng-click="toggleEvalIds(m.evalId)"
										 name="compareEvalIds[]"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div ng-show="displayVal===4">
				<div class="panel panel-default">
					<div class="col-sm-12">
						<table class="table row-border table-hover table-striped">
							<thead>
								<th>Evaluation Id</th>
								<th>Ticket No</th>
								<th>Evaluation Date</th>
							</thead>

							<tbody>

								<tr ng-repeat="m in evalHistory" ng-if="(evalHistory.length > 0)">

									<td ng-bind="m.evalId"></td>
									<td ng-bind="m.ticketId"></td>
									<td ng-bind="m.evalDate"></td>
									<td><input type="checkbox" value="{{m.evalId}}" ng-checked="compareEvalIds.indexOf(m.evalId) !== -1" ng-click="toggleEvalIds(m.evalId)"
										 name="compareEvalIds[]"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!--EVALUATION OF CUSTOMER DEVICE END HERE-->
			<!--EVALUATION OF STAND-BY DEVICE-->
			<div ng-show="showVal===25">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title" ng-click="displayVal=5;select2($event)" style="cursor:pointer">
							<h4 id="phyStandBy" class="panel-title">Physical Evaluation Collect-Back</h3>
						</div>
					</div>
				</div>
			</div>
			<div ng-show="showVal===25">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title" ng-click="displayVal=6;select2($event)" style="cursor:pointer">
							<h4 id="techStandBy" class="panel-title">Technical Evaluation Collect-Back</h3>
						</div>
					</div>
				</div>
			</div>

			<!--Newly Added Physical Device-->

			<div ng-show="showVal===25">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title" ng-click="displayVal=7;select2($event)" style="cursor:pointer">
							<h4 id="phyStandByHand" class="panel-title">Physical Evaluation Hand-Over</h3>
						</div>
					</div>
				</div>
			</div>
			<div ng-show="showVal===25">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title" ng-click="displayVal=8;select2($event)" style="cursor:pointer">
							<h4 id="techStandByHand" class="panel-title">Technical Evaluation Hand-Over</h3>
						</div>
					</div>
				</div>
			</div>

			<!--Newly Added Physical Device End Here-->

			<div ng-show="displayVal===5">
				<div class="panel panel-default">
					<div class="col-sm-12" style="">
						<div class="form-group">
							<div class="row" ng-model="techEvalEnggRes">
								<div class="col-sm-12">
									<table class="table row-border table-hover table-striped">
										<thead>
											<th>Evaluation Id</th>
											<th>Ticket No</th>
											<th>Evaluation Date</th>
										</thead>
										<tbody>
											<tr ng-repeat="m in techEvalEnggRes" ng-if="(techEvalEnggRes.length > 0)">
												<td ng-bind="m.question"></td>
												<td ng-bind="m.answer"></td>
											</tr>

										</tbody>
									</table>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div ng-show="displayVal===6">
				<div class="panel panel-default">
					<div class="col-sm-12" style="">
						<div class="form-group">
							<div class="row" ng-model="techEvalEnggRes">
								<div class="col-sm-12">
									<table class="table row-border table-hover table-striped">
										<thead>
											<th>Evaluation Id</th>
											<th>Ticket No</th>
											<th>Evaluation Date</th>
										</thead>
										<tbody>
											<tr ng-repeat="m in techEvalEnggRes" ng-if="(techEvalEnggRes.length > 0)">
												<td ng-bind="m.question"></td>
												<td ng-bind="m.answer"></td>
											</tr>

										</tbody>
									</table>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--EVALUATION OF STAND-BY DEVICE END HERE-->
			<!--Drop Location Displaying Here-->
			<div id="tab1" ng-show="showVal===26">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Drop Location</h3>
					</div>
					<div class="panel-body">
						<div class="form-group">
							<label for="consumerName" class="col-sm-4 control-label text-right" style="">
							<span>Contact Person</span>
						</label>
							<div class="col-sm-8" style="">
								<span ng-bind="task.variables.dropLocContactPerson"></span>
								<!--<span ng-if="task.variables.emailId != ''">
								<a href="mailto:{{task.variables.emailId}}" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>
							</span>-->

							</div>
						</div>
						<div class="clearfix"></div>

						<div class="form-group">
							<label for="address" class="col-sm-4 control-label text-right" style="">
							<span>Address</span>
						</label>
							<div class="col-sm-8" style="">
								<p ng-bind="task.variables.dropLocAddress1" ng-if="task.variables.dropLocAddress1!=''"></p>
								<p ng-bind="task.variables.dropLocAddress2" ng-if="task.variables.dropLocAddress2!=''"></p>
								<p ng-bind="task.variables.dropLocation" ng-if="task.variables.dropLocation!=''"></p>
								<p ng-bind="task.variables.dropLocCity" ng-if="task.variables.dropLocCity!=''"></p>
								<p ng-bind="task.variables.dropLocPincode" ng-if="task.variables.dropLocPincode!=''"></p>
								<p ng-bind="task.variables.dropLocState" ng-if="task.variables.dropLocState!=''"></p>
							</div>
						</div>
						<div class="clearfix"></div>
						<!--<div class="form-group">
							<label for="email" class="col-sm-4 control-label text-right" style="">
							<span>Email</span>
						</label>
							<div class="col-sm-8" style="">
								<p ng-bind="task.variables.emailId"></p>
							</div>
						</div>-->
						<div class="clearfix"></div>
						<div class="form-group">
							<label for="email" class="col-sm-4 control-label text-right" style="">
							<span>Phone</span>
						</label>
							<div ng-if="loginInfo.roleCode!=='admin'" class="col-sm-8" style="">
								<button ng-if="task.variables.dropLocContactNo!==null && task.variables.dropLocContactNo!==undefined" ng-click="callToCustomer(task.process.processId,task.variables.dropLocContactNo)">Call To Customer</button>
								<button ng-if="task.variables.dropLocAlternateNo!==null && task.variables.dropLocAlternateNo!==undefined" ng-click="callToCustomer(task.process.processId,task.variables.dropLocAlternateNo)">Call To Customer(Alt.No)</button>
								<!--<p ng-bind="task.variables.dropLocContactNo"></p>
								<p ng-bind="task.variables.dropLocAlternateNo"></p>-->
							</div>
							<div ng-if="loginInfo.roleCode==='admin'" class="col-sm-8" style="">
								<!--<button ng-if="task.variables.dropLocContactNo!==null && task.variables.dropLocContactNo!==undefined" ng-click="callToCustomer(task.process.processId,task.variables.dropLocContactNo)">Call {{task.variables.dropLocContactNo}}</button>
								<button ng-if="task.variables.dropLocAlternateNo!==null && task.variables.dropLocAlternateNo!==undefined" ng-click="callToCustomer(task.process.processId,task.variables.dropLocAlternateNo)">Call {{task.variables.dropLocAlternateNo}}(Alt.No)</button>-->
								<p ng-bind="task.variables.dropLocContactNo"></p>
								<p ng-bind="task.variables.dropLocAlternateNo"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--Drop Location Dispalying Completed Herez-->

			<!--CHECK PAYMENT STATUS-->

			<div id="tab1" ng-show="showVal===27">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Payment Status</h3>
					</div>
					<div class="panel-body">
						<div class="form-group">
							<label for="consumerName" class="col-sm-4 control-label text-right" style="">
							<span>Beneficiary Name</span>
						</label>
							<div class="col-sm-8" style="">
								<span ng-bind="payToResponse.accHolderName"></span>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group">
							<label for="consumerName" class="col-sm-4 control-label text-right" style="">
							<span>Account No</span>
						</label>
							<div class="col-sm-8" style="">
								<span ng-bind="payToResponse.accNo"></span>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group">
							<label for="consumerName" class="col-sm-4 control-label text-right" style="">
							<span>Amount To Be Credited</span>
						</label>
							<div class="col-sm-8" style="">
								<span ng-bind="payToResponse.amount"></span>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group">
							<label for="consumerName" class="col-sm-4 control-label text-right" style="">
							<span>Status</span>
						</label>
							<div class="col-sm-8" style="">
								<span ng-bind="payToResponse.status"></span>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="form-group">
							<label for="consumerName" class="col-sm-4 control-label text-right" style="">
							<span>Payment Date</span>
						</label>
							<div class="col-sm-8" style="">
								<span ng-bind="payToResponse.txnDate"></span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--CHECK PAYMENT STATUS END HERE-->
		</div>
	</div>
</div>