<div ng-controller="TicketController as showCase">
	<load-template url="common/breadcrumb"></load-template>	
	{{url_to_check3="/ticket/get/:id";""}}
	<table class="table row-border table-hover table-striped">
		<thead>
			<th>#</th>
			<th>Category</th>
            <th>&nbsp;</th>
		</thead>
		<tbody>

			<tr ng-repeat="ticket in ticketList"
					ng-if="(ticketList.length > 0 || ticketList != undefined) && ticket.dataset=='BizLog'">
				<td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
				<td ng-bind="ticket.name"></td>
                <td>
					<a check-access-perm="access_perm" url="url_to_check3" style="cursor: pointer;" ng-click="showCreateTicket(ticket);">Create Ticket</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
