<div ng-controller="TicketController" ng-model="ticket">
	<load-template url="common/breadcrumb"></load-template>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Upload Tickets</h3>
			<!--<span class="pull-right download-sample" ng-if = "loginInfo.roleCode !== 'retailer'">
				<a href="{{host_base_url}}/server/attachment/download/EXCEL_UPLOAD_FORMAT/ticket">Download Sample</a>
			</span>-->
		<!--<span class="pull-right download-sample" ng-if = "loginInfo.roleCode === 'retailer'">
				<a href="{{host_base_url}}/server/attachment/download/RETAILER_EXCEL_UPLOAD_FORMAT/{{loginInfo.retailerId}}">Download Sample</a>
			</span>-->
		</div>
		<div class="panel-body">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<form name="form" id="Form" class="form-horizontal" role="form" method="post"
				  ng-submit="upload(ticket);" novalidate>
				
				<div class="form-group" ng-if = "loginInfo.roleCode !== 'retailer'">
					<label for="product" class="col-sm-2 control-label formlabel">
					Retailer
					</label>
					<div class="col-sm-10">
						<select name="retailerId" id="retailerId" class="form-control col-sm-6"
								placeholder="Select Retailer" ng-required="required"
								ng-model="ticket.data.retailerId">
						<option value="">---------- Choose --------</option>
						<option ng-repeat="retailer in retailers|orderBy:'name':false" value="{{retailer.id}}">{{retailer.name}}</option>
					</select>
					</div>
				</div>
				
				<div class="form-group" >
					<label for="csv" class="col-sm-2 control-label formlabel">Choose Excel File:</label>
					<div class="col-sm-10">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="button" ngf-select ng-model="ticket.file" class="col-sm-3">
								<input style="float:left;" type="button" class="btn btn-primary" id="file" name="file"
									   value="Select Excel File ..." ng-model="ticket.file" />
							</div>
							<br/>
							<div ng-bind="ticket.selectedFileName" class="col-sm-12"></div>
						</div>
						
					</div>
					<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 errormessage">
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-12 col-sm-offset-5">
						<button type="submit" class="btn btn-primary" name="save" id="saveBtn" check-access-perm="access_perm">
							Upload
						</button>
					</div>
				</div>
			</div>
		
		    <div class="col-sm-12" ng-if = "loginInfo.roleCode!=='retailer'">
				<table class="table row-border table-hover table-striped">
					<thead>
							<!--<th>#</th>-->
							<th>Serivce Type</th>
							<th>Sample</th>
					</thead>
					
					<tbody>
        
						<tr ng-repeat ="service in servicesList" ng-if="(servicesList.length > 0 || servicesList != undefined)">
							<!--<td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>-->
							<td ng-bind="service.name"></td>
							<td><a href="{{host_base_url}}/server/attachment/download/ticket/sample/{{service.code}}">Download</a></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="col-sm-12" ng-if = "loginInfo.roleCode==='retailer'">
				<table class="table row-border table-hover table-striped">
					<thead>
							<!--<th>#</th>-->
							<th>Serivce Type</th>
							<th>Sample</th>
					</thead>
					
					<tbody>
						<tr ng-repeat ="service in retailerServiceList" ng-if="(retailerServiceList.length > 0 || retailerServiceList != undefined)">
							<!--<td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>-->
							<td ng-bind="service.serviceName"></td>
							<td><a href="{{host_base_url}}/server/attachment/download/ticket/sample/{{service.serviceCode}}">Download</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
