<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Search Tickets</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-12">
                    <form name="form" id="Form" class="form-horizontal" role="form" method="post"
                          ng-submit="search(task, 1, pageSize,2);"
                          novalidate>
                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label for="consumerName" class="col-sm-12" style="">
                                    Consumer Name
                                </label>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <input spellcheck="true" type="text" name="consumerName" class="form-control"
                                           style="" id="consumerName" placeholder="Enter Consumer Name"
                                           ng-model="task.consumerName" maxlength="250" ng-required="required"
                                           required="required"
                                    />
                                </div>
                                <div class="col-sm-12 errors">
                                    <span ng-bind="errors.consumerName"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label for="product" class="col-sm-12" style="">
                                    Product
                                </label>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <input spellcheck="true" type="text" name="product" class="form-control" style=""
                                           id="product" placeholder="Enter Product Name"
                                           ng-model="task.product" maxlength="250" ng-required="required"
                                           required="required"/>
                                </div>
                                <div class="col-sm-12 errors">
                                    <span ng-bind="errors.product"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label for="telephoneNumber" class="col-sm-12" style="">
                                    Telephone Number
                                </label>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <input spellcheck="true" type="text" name="telephoneNumber" class="form-control"
                                           style="" id="telephoneNumber" placeholder="Enter Telephone Number"
                                           ng-model="task.telephoneNumber" maxlength="250" ng-required="required"
                                           required="required"
                                    />
                                </div>
                                <div class="col-sm-12 errors">
                                    <span ng-bind="errors.telephoneNumber"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label for="emailId" class="col-sm-12" style="">
                                    Email
                                </label>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <input spellcheck="true" type="text" name="emailId" class="form-control" style=""
                                           id="emailId" placeholder="Enter Email Address"
                                           ng-model="task.emailId" maxlength="250" ng-required="required"
                                           required="required"/>
                                </div>
                                <div class="col-sm-12 errors">
                                    <span ng-bind="errors.emailId"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label for="rlTicketNo" class="col-sm-12" style="">
                                    Ticket Number
                                </label>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <input spellcheck="true" type="text" name="rlTicketNo" class="form-control" style=""
                                           id="rlTicketNo" placeholder="Enter Ticket Number"
                                           ng-model="task.rlTicketNo" maxlength="250"
                                           ng-required="!(datePicker.dateOfComplaint)" required="required"
                                    />
                                </div>
                                <div class="col-sm-12 errors">
                                    <span ng-bind="errors.rlTicketNo"></span>
                                </div>
                            </div>
                        </div>


                        <!--<div class="col-sm-4" ng-if="loginInfo.roleCode=='retailer'">
                            <div class="form-group row">
                                <label for="rlTicketNo" class="col-sm-12" style="">
                                    Ticket Number
                                </label>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <input spellcheck="true" type="text" name="rlTicketNo" class="form-control" style="" id="rlTicketNo" placeholder="Enter Ticket Number"
                                           ng-model="task.rlTicketNo" maxlength="250" ng-required="true"  required="required"
                                    />
                                </div>
                                <div class="col-sm-12 errors">
                                    <span ng-bind="errors.rlTicketNo"></span>
                                </div>
                            </div>

                        </div>-->


                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label for="retailer" class="col-sm-12" style="">
                                    Service Type
                                </label>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <select name="serviceType" id="serviceType" class="form-control"
                                            placeholder="Select Service Type" ng-model="task.natureOfComplaint">
                                        <option value="">Choose</option>
                                        z
                                        <option ng-repeat="r in masterServices|orderBy:'name':false" value="{{r.name}}"
                                        >{{r.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-12 errors">
                                    <span ng-bind="errors.retailer"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label for="productCategory" class="col-sm-12" style="">
                                    Category
                                </label>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <select name="productCategory" id="productCategory" class="form-control"
                                            placeholder="Select Category" ng-model="task.productCategory">
                                        <option value="">Choose</option>
                                        <option ng-repeat="c in categories|orderBy:'name':false" value="{{c.name}}"
                                        >{{c.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-12 errors">
                                    <span ng-bind="errors.productCategory"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4" ng-if="loginInfo.roleCode!=='retailer'">
                            <div class="form-group row">
                                <label for="retailer" class="col-sm-12" style="">
                                    Retailer
                                </label>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <select name="retailer" id="retailer" class="form-control"
                                            placeholder="Select Category"
                                            ng-change="populatePickDropLocation(task.rlRetailerId);"
                                            ng-model="task.rlRetailerId">
                                        <option value="">Choose</option>
                                        <option ng-repeat="r in retailers|orderBy:'name':false" value="{{r.id}}"
                                        >{{r.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-12 errors">
                                    <span ng-bind="errors.retailer"></span>
                                </div>
                            </div>
                        </div>

                        <!--rlProcessStatus Variable need to call here-->
                        <div class="col-sm-4"
                        "loginInfo.roleCode!=='retailer'">
                        <div class="form-group row">
                            <label for="rlProcessStatus" class="col-sm-12" style="">
                                Status
                            </label>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <select name="rlProcessStatus" id="rlProcessStatus" class="form-control"
                                        placeholder="Select Process Status"
                                        ng-model="task.rlProcessStatus">
                                    <option value="">Choose</option>
                                    <option ng-repeat="r in processStatus|orderBy:'processStatus':false"
                                            value="{{r.processStatus}}"
                                    >{{r.processStatus}}
                                    </option>

                                </select>
                                <!--<load-template url="pages/tasks/search/search_ticket_form"></load-template>-->
                            </div>
                            <div class="col-sm-12 errors">
                                <span ng-bind="errors.retailer"></span>
                            </div>
                        </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group row">
                        <label for="dateOfComplaint" class="col-sm-12" style="">
                            Date Of Complaint
                        </label>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <input name="datePicker.dateOfComplaint" date-range-picker class="form-control " type="text"
                                   ng-model="datePicker.dateOfComplaint" placeholder="yyyy-dd-mm - yyyy-dd-mm" id="dateOfComplaint"
                                   ng-required="!(task.rlTicketNo)"
                            />
                        </div>
                        <div class="col-sm-12 errors">
                            <span ng-bind="errors.datePicker.dateOfComplaint"></span>
                            <span ng-show="form.datePicker.dateOfComplaint.$error.required">Please Enter A Date</span>
                        </div>
                    </div>
                </div>

                <!--<div class="col-sm-4" ng-if="loginInfo.roleCode=='retailer'">
                    <div class="form-group row">
                        <label for="dateOfComplaint" class="col-sm-12" style="">
                            Date Of Complaint
                        </label>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <input name="datePicker.dateOfComplaint" date-range-picker class="form-control " type="text" ng-model="datePicker.dateOfComplaint" placeholder="yyyy-dd-mm - yyyy-dd-mm" ng-required="true"
                            />
                        </div>
                        <div class="col-sm-12 errors">
                            <span ng-bind="errors.datePicker.dateOfComplaint"></span>
                            <span ng-show="form.datePicker.dateOfComplaint.$error.required">Please Enter A Date</span>
                        </div>
                    </div>


                </div>-->

                <div class="col-sm-4" ng-if="loginInfo.roleCode !=='admin'">
                    <div class="form-group row">
                        <label for="location" class="col-sm-12" style="">
                            Location
                        </label>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <select name="serviceType" id="location" class="form-control"
                                    ng-model="task.rlReportingCity"
                            >
                                <option ng-if="loginInfo.roleCode == 'admin'" vale="">--Choose--</option>
                                <option ng-repeat="r in cities" value="{{r.name}}"
                                >{{r.name}}
                                </option>
                                <!--<option value="{{loginInfo.locationName}}" selected>{{loginInfo.locationName}}</option>-->

                            </select>
                        </div>
                        <div class="col-sm-12 errors">
                            <span ng-bind="errors.retailer"></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4" ng-if="loginInfo.roleCode =='admin'">
                    <div class="form-group row">
                        <label for="location" class="col-sm-12" style="">
                            Location
                        </label>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <select name="serviceType" id="location" class="form-control"
                                    ng-model="task.rlReportingCity"
                            >
                                <option value="">Choose</option>
                                <option ng-repeat="r in cities" value="{{r.name}}"
                                >{{r.name}}
                                </option>
                                <!--<option value="{{loginInfo.locationName}}" selected>{{loginInfo.locationName}}</option>-->

                            </select>
                        </div>
                        <div class="col-sm-12 errors">
                            <span ng-bind="errors.retailer"></span>
                        </div>
                    </div>
                </div>

                <!--<div class="col-sm-4" >
                    <div class="form-group row">
                        <label for="retailer" class="col-sm-12" style="">
                                Pick Location
                            </label>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <select name="serviceType" id="serviceType" class="form-control" placeholder="Select PickUp Location" ng-model="task.city">
                                    <option value="">Choose</option>
                                    <option ng-repeat="r in cities|orderBy:'name':false" value="{{r.city}}"
                                            >{{r.city}}</option>
                                </select>
                        </div>
                        <div class="col-sm-12 errors">
                            <span ng-bind="errors.retailer"></span>
                        </div>
                    </div>
                </div>-->

                <div class="col-sm-4">
                    <div class="form-group row">
                        <label for="retailer" class="col-sm-12" style="">
                            Drop Location
                        </label>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <select name="serviceType" id="serviceType" class="form-control"
                                    placeholder="Select Drop Location" ng-model="task.dropLocCity">
                                <option value="">Choose</option>
                                <option ng-repeat="r in pickDrop|orderBy:'name':false" value="{{r.city}}"
                                >{{r.city}}
                                </option>

                            </select>
                        </div>
                        <div class="col-sm-12 errors">
                            <span ng-bind="errors.retailer"></span>
                        </div>
                    </div>
                </div>

                <!--<div class="col-sm-4">
                        <div class="form-group row">
                            <label for="test" class="col-sm-12" style="">
                                Test Date
                            </label>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <input date-range-picker class="form-control " type="text"
                                   ng-model="datePicker.test"
                                   placeholder="yyyy-dd-mm"/>
                            </div>
                        </div>
                    </div>-->


                <!--Search Based On PinCodes-->
                <div class="col-sm-4">
                    <div class="form-group row">
                        <label for="pincode" class="col-sm-12" style="">
                            PinCode
                        </label>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <input spellcheck="true" type="text" name="pincode" class="form-control" style=""
                                   id="pincode" placeholder="Enter PinCode"
                                   ng-model="task.pincode" maxlength="6" ng-required="required" required="required"/>
                        </div>
                        <div class="col-sm-12 errors">
                            <span ng-bind="errors.retailer"></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group row">
                        <label class="col-sm-12">&nbsp;</label>
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary" name="search" id="searchBtn"
                                    ng-disabled="form.$invalid">
                                Search
                            </button>
                            <!--<p class="col-sm-12 text-right" ng-click="generateSearchExcel(task)">
                                download
                            </p>-->
                            <button type="button" class="btn btn-default" name="clear" id="clearBtn"
                                    ng-click="clearSearchFields();"> Clear
                            </button>
                            <!--<button type="button" class="btn btn-default" name="next" id="genExcel"
                                    ng-click="generateSearchExcel(task);"> gen
                                </button>-->

                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>