<div class="row" ng-model="searchedDownloadTasks" ng-if="searchedDownloadTasks.length > 0">
        <div class="col-sm-12">
            <table class="table row-border table-hover table-striped">
                <thead>
                    <!--<th>#</th>-->
                    <th>Ticket No.</th>
					<th>Task</th>
					<th>Consumer</th>
					<th>Complaint Number</th>
					<th>Phone</th>
                    <th>Product</th>
					<th>Nature Of Complaint</th>
					<th>Created Date</th>
					<th>Current Status</th>
										
                    <th>&nbsp;</th>
                </thead>
                <tbody>
        
                    <tr ng-repeat="ticket in searchedDownloadTasks" 
							ng-if="(searchedDownloadTasks.length > 0 || searchedDownloadTasks != undefined)">
						
                        <!--<td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>-->
                        <td ng-bind="ticket.rlTicketNo"></td>
						<td ng-bind="ticket.taskName"></td>
                        <td ng-bind="ticket.consumerName"></td>
						<td ng-bind="ticket.consumerComplaintNumber"></td>
						<td ng-bind="ticket.telephoneNumber"></td>
						<td ng-bind="ticket.productName + ' (' + ticket.productCategory + ')'"></td>
						<td ng-bind="ticket.natureOfComplaint"></td>
						<td ng-bind="ticket.taskCreatedDate"></td>
						<td ng-bind="ticket.rlTicketStatus"></td>
						
						<td>
							<a href="#/task/{{ticket.processId}}/view">View</a>&nbsp;&nbsp;
							<a class="hand" ng-click="deleteTaskConfirm(ticket);" ng-if="loginInfo.roleCode==='superadmin'"><span class="fa fa-trash"></span></a>
                        </td>
						
                    </tr>
                </tbody>
            </table>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="form-group text-center">
			<button type="button" class="btn btn-default" name="download" id="downloadBtn">
			
							<a href="{{host_base_url}}/server/attachment/download/RetailerList/{{$scope.task.retailer}}">
							Download
			</button>
		</div>
		</div>
		<div >
    </div>