<div ng-controller="CostingActivityMappingController">
	<load-template url="common/breadcrumb"></load-template>
	<div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
						<span ng-if="costingActivityMapping.id === undefined">Add New</span>
						<span ng-if="costingActivityMapping.id !== undefined">Update</span>
						&nbsp;Costing Activity Mapping</h3>
                </div>
                <div class="panel-body">
                    <form name="costingActivityMappingForm" id="Form" class="form-horizontal" role="form" method="post"
                              ng-submit="save(costingActivityMapping);" novalidate ng-model="costingActivityMapping">
                        
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="form-group row">
                                <label for="costingActivityId" class="col-sm-12" style="">
                                Costing Activity <span class="required">*</span>
                                </label>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                   <select name="costingActivityId" class="form-control" ng-model="costingActivityMapping.costingActivityId" required>
                                        <option value="">Select Costing Activity</option>
                                        <option ng-repeat="activity in costingActivities|orderBy:'name':false" value="{{activity.id}}">{{activity.name}}</option>
                                   </select>
                                </div>
                                <div ng-messages="costingActivityMappingForm.costingActivityId.$error" role="alert" ng-messages-multiple
									ng-show="costingActivityMappingForm.$submitted || costingActivityMappingForm.costingActivityId.$touched"
									class="col-sm-12 errors" >
								   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
								</div>
                            </div>
                        </div>
                        
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="form-group row">
                                <label for="categoryId" class="col-sm-12" style="">
                                Category <span class="required">*</span>
                                </label>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                   <select name="categoryId" class="form-control" ng-model="costingActivityMapping.categoryId" required>
                                        <option value="">Select Category</option>
                                        <option ng-repeat="category in categories|orderBy:'name':false" value="{{category.id}}">{{category.name}}</option>
                                   </select>
                                </div>
                                <div ng-messages="costingActivityMappingForm.categoryId.$error" role="alert" ng-messages-multiple
									ng-show="costingActivityMappingForm.$submitted || costingActivityMappingForm.categoryId.$touched"
									class="col-sm-12 errors" >
								   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
								</div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="form-group row">
                                <label for="serviceId" class="col-sm-12" style="">
                                    Service <span class="required">*</span>
                                </label>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <select name="serviceId" class="form-control" required
											ng-model="costingActivityMapping.serviceId">
                                        <option value="">Select Service</option>
                                        <option ng-repeat="service in masterServices|orderBy:'name':false:'code':false"
                                                value="{{service.id}}"
                                                ng-bind="service.name"></option>
                                   </select>
                                </div>
                                <div ng-messages="costingActivityMappingForm.serviceId.$error" role="alert" ng-messages-multiple
									ng-show="costingActivityMappingForm.$submitted || costingActivityMappingForm.serviceId.$touched"
									class="col-sm-12 errors" >
								   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
								</div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="form-group row">
                                <label for="status" class="col-sm-12" style="">
                                &nbsp;
                                </label>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <button type="submit" class="btn btn-primary" name="next" id="saveBtn">
                                        <span ng-if="costingActivityMapping.id === undefined">Add New</span>
										<span ng-if="costingActivityMapping.id !== undefined">Update</span>
                                    </button>
									<button type="button" class="btn btn-default" name="next" id="clearBtn"
									  ng-click="formReset();"> Clear
								  </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Costing Activity Mapping List</h3>
                </div>
                <div class="panel-body">
					<form name="form" id="Form" class="form-horizontal" role="form" method="post"
						ng-submit="filterCostingActivity(costingActivity);" novalidate ng-model="costingActivity">
					  <div class="col-sm-3">
						  <div class="form-group row">
							  <label for="categoryId" class="col-sm-12" style="">
							  Category
							  </label>
							  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								 <select name="categoryId" class="form-control" ng-model="costingActivity.categoryId">
									  <option value="">Select Category</option>
									  <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
								 </select>
							  </div>
							  <div class="col-sm-12 errors">
								  <span ng-bind="errors.categoryId"></span>
							  </div>
						  </div>
					  </div>
					  <div class="col-sm-3">
						  <div class="form-group row">
							  <label for="serviceId" class="col-sm-12" style="">
								  Service
							  </label>
							  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								  <select name="serviceId" class="form-control" ng-model="costingActivity.serviceId">
									  <option value="">Select Service</option>
									  <option ng-repeat="service in masterServices" value="{{service.id}}">{{service.name}}</option>
								 </select>
							  </div>
							  <div class="col-sm-12 errors">
								  <span ng-bind="errors.serviceId"></span>
							  </div>
						  </div>
					  </div>
					  
					  <div class="col-sm-3">
						  <div class="form-group row">
							  <label for="activity" class="col-sm-12" style="">
								  Activity
							  </label>
							  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								  <select name="activity" class="form-control" ng-model="costingActivity.activityId">
									  <option value="">Select Activity</option>
									  <option ng-repeat="activity in costingActivities" value="{{activity.id}}">{{activity.name}}</option>
								 </select>
							  </div>
							  <div class="col-sm-12 errors">
								  <span ng-bind="errors.activity"></span>
							  </div>
						  </div>
					  </div>
					  <div class="col-sm-3">
						  <div class="form-group row">
							  <label class="col-sm-12">&nbsp;</label>
							  <div class="col-sm-12">
								  <button type="submit" class="btn btn-primary" name="next" id="saveBtn">
									  Filter
								  </button>
								  <button type="button" class="btn btn-default" name="next" id="clearBtn"
									  ng-click="clearSearchFields();"> Clear
								  </button>
								  
							  </div>
						  </div>
						  
					  </div>
				  </form>
                    <table class="table table-striped table-hover table-condensed"  ng-model="costingActivityMappingList">
                    <thead>
                        <th>#</th>
                        <th>Category</th>
                        <th>Service</th>
                        <th>Activity</th>
                        <th>&nbsp;</th>
                    </thead>
                    <tbody>
                        <tr dir-paginate="mapping in costingActivityMappingList|orderBy:'mapping.categoryId':true|itemsPerPage:pageSize"
                            total-items="total_count"
                            ng-if="costingActivityMappingList.length > 0 || costingActivityMappingList != undefined">
							<td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
                            <td ng-bind="mapping.productCategoryName"></td>
                            <td ng-bind="mapping.serviceName"></td>
                            <td ng-bind="mapping.costingActivityName + ' (' + mapping.costingActivityCode + ')'"></td>
                            <td>
                                <a class="hand" ng-click="edit(mapping);">Edit</a>
                            </td>
                        </tr>
						<tr ng-if="costingActivityMappingList.length <= 0">
							<td colspan="5">No Records Found!</td>
						</tr>
                    </tbody>
					</table>
					<dir-pagination-controls
						max-size="8"
						direction-links="true"
						boundary-links="true"
						on-page-change="populateList(newPageNumber,pageSize)"
						ng-if="costingActivityMappingList.length > 0">
					 </dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>