<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="rLogisticsApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="rLogisticsApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html lang="en" ng-app="rLogisticsApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="rLogisticsApp" class="no-js">
<!--<![endif]-->

<head>
	<!--<base href="/rlogistics/biz_angular/">-->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title ng-bind="getTitle(page);">Reverse Logistics</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Latest compiled and minified CSS -->

	<link rel="stylesheet" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />

	<!-- Angular Material style sheet -->
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">

	<!-- build:css css/bootstrap.min.css -->
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
	<!-- endbuild -->

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
		  rel='stylesheet' type='text/css' />

	<!--build:css css/please-wait.css-->
	<!--<link href="https://cdnjs.cloudflare.com/ajax/libs/please-wait/0.0.5/please-wait.css" rel="stylesheet">-->
	<!-- endbuild-->

	<!-- build:css css/font-awesome.min.css -->
	<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" />
	<!-- endbuild -->
	<!-- build:css css/libs.min.css -->
	<link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog.min.css" />
	<link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog-theme-default.min.css" />

	<link href="js/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />

	<link rel="stylesheet" href="bower_components/angularjs-datetime-picker/angularjs-datetime-picker.css" />

	<link rel="stylesheet" href="bower_components/selectize/dist/css/selectize.default.css">
	<link rel="stylesheet" href="bower_components/select2/select2.css">
	<link rel="stylesheet" href="bower_components/bootstrap-daterangepicker/daterangepicker.css" />

	<link href="bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">
	<link rel="stylesheet" href="bower_components/ng-notify/dist/ng-notify.min.css" />
	<!-- endbuild -->
	<!-- build:css css/main.min.css -->
	<link rel="stylesheet" href="css/style.css" />
	<!-- endbuild -->

	<!-- Optional theme -->


</head>

<body ng-controller="ApplicationController" ng-class="layout == 'login' ? 'loginbody' : ''">

<div ui-view="top-header"></div>
<div id="wrapper">

	<!-- Page Content -->
	<div id="page-content-wrapper" ng-if="layout == 'site'">
		<div class="container-fluid xyz">
			<div class="row">
				<div class="col-lg-12">
					<div ui-view="page-main-content" class="row right-content" id="pagecontent">

					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="row right-content" id="pagecontent">
						<load-template url="common/excel_upload_errors"></load-template>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /#page-content-wrapper -->
</div>
<div ng-if="layout == 'login'" id="loginpage" ui-view="main-content">
</div>
<!-- /#wrapper -->
<div ui-view="page-footer" style="overflow: visible;overflow-y: visible"></div>
<!--cdn-switch=javascript-->
<!-- build:js js/jquery.min.js -->
<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
<!-- endbuild -->
<!-- build:js js/moment.min.js -->
<script type="text/javascript" src="bower_components/moment/moment.js"></script>
<!-- endbuild -->
<!-- build:js js/angular.min.js -->
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<!-- endbuild -->

<!-- build:js js/bootstrap.min.js -->
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

<!-- adding tooltip.js-->
<script type="text/javascript" src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>

<!-- endbuild -->
<!-- build:js js/angular-route.min.js -->
<script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
<!-- endbuild -->

<!-- build:js js/angular-resource.min.js -->
<script type="text/javascript" src="bower_components/angular-resource/angular-resource.min.js"></script>
<!-- endbuild -->

<!-- build:js js/angular-ui-router.min.js -->
<script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<!-- endbuild -->

<!-- build:js js/ngDialog.min.js -->
<script type="text/javascript" src="bower_components/ng-dialog/js/ngDialog.min.js"></script>
<!-- endbuild -->

<!-- build:js js/ng-map.js-->
<script type="text/javascript" src="bower_components/ng-map/ng-map.min.js"></script>
<!-- endbuild -->

<!-- build:js js/angular-cookies.min.js -->
<script type="text/javascript" src="bower_components/angular-cookies/angular-cookies.min.js"></script>
<!-- endbuild -->

<script src="//cdn.ckeditor.com/4.5.11/standard/ckeditor.js"></script>

<!-- build:js js/libs/bootstrap-datepicker.min.js -->
<script type="text/javascript" src="js/libs/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<!-- endbuild -->

<!-- build:js js/libs/angularjs-datetime-picker.min.js -->
<script src="bower_components/angularjs-datetime-picker/angularjs-datetime-picker.js"></script>
<!-- endbuild -->

<!-- build:js js/libs/ng-file-upload.min.js -->
<script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
<!-- endbuild -->

<!-- build:js js/libs/select2.min.js -->
<script type="text/javascript" src="bower_components/select2/select2.js"></script>
<!-- endbuild -->

<!-- build:js js/libs/angular-select2.min.js -->
<script src="bower_components/angular-select2/dist/angular-select2.min.js"></script>
<!-- endbuild -->

<!-- build:js js/libs/selectize.min.js -->
<script type="text/javascript" src="bower_components/selectize/dist/js/standalone/selectize.min.js"></script>
<!-- endbuild -->

<!-- build:js js/libs/angular-selectize.min.js -->
<script type="text/javascript" src="bower_components/angular-selectize2/dist/angular-selectize.js"></script>
<!-- endbuild -->

<!-- build:js js/libs/daterangepicker.min.js -->
<script src="bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- endbuild -->

<!-- build:js js/libs/angular-daterangepicker.min.js -->
<script src="bower_components/angular-daterangepicker/js/angular-daterangepicker.js"></script>
<!-- endbuild -->

<!-- build:js js/libs/angular-messages.min.js -->
<script src="bower_components/angular-messages/angular-messages.min.js"></script>
<!-- endbuild -->

<!-- build:js js/libs/bootstrap-switch.min.js -->
<script src="bower_components/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
<!-- endbuild -->

<!-- build:js js/libs/angular-bootstrap-switch.min.js -->
<script src="bower_components/angular-bootstrap-switch/dist/angular-bootstrap-switch.min.js"></script>

<!-- endbuild -->

<!-- build:js js/libs/angular-ckeditor.min.js -->
<script src="bower_components/angular-ckeditor/angular-ckeditor.js"></script>
<!-- endbuild -->

<!-- build:js js/libs/angular-sanitize.min.js -->
<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<!-- endbuild -->

<!-- build:js js/libs/ng-notify.min.js -->
<script src="bower_components/ng-notify/dist/ng-notify.min.js"></script>
<!-- endbuild -->

<!-- build:js js/libs/angular-bind-html-compile.min.js -->
<script src="bower_components/angular-bind-html-compile/angular-bind-html-compile.min.js"></script>
<!-- endbuild -->

<!-- build:js please-wait.min.js-->
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/please-wait/0.0.5/please-wait.min.js"></script>-->
<!--endbuild-->
<!--Google Javascript API-->
<!--To Do   <HIDE IT>-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmunTVPwqi2eoGm3mOfxqE_FvK67vQcl0 "></script>
<!-- end build-->


<!-- Angular Material Library -->

<!-- TODO - host localy-->
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-animate.min.js"></script>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-aria.min.js"></script>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-messages.min.js"></script>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>-->
<!-- End build-->

<!-- Export To Excel-->
<!--TODO- host localy-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.1/jszip.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.1/xlsx.js"></script>
<script src="https://fastcdn.org/FileSaver.js/1.1.20151003/FileSaver.js"></script>
<!-- End Build-->



<!-- build:js js/libs/pagination.min.js -->
<script src="js/libs/pagination.js"></script>

<!-- endbuild -->
<!-- build:js js/main.min.js -->
<script src="js/validate.js"></script>

<script src="js/app.js"></script>
<script src="js/app.constants.js"></script>

<script src="js/directives/directive.js"></script>
<script src="js/services/services.js"></script>
<script src="js/controllers/controller.js"></script>
<script src="js/utils.js"></script>
<!-- endbuild -->
<!-- build:js js/modules.min.js -->
<script src="js/modules/login.js"></script>
<script src="js/modules/home.js"></script>
<script src="js/modules/process.js"></script>
<script src="js/modules/tasks.js?v=1dds3324"></script>
<!-- endbuild -->
<!-- build:js js/modules.masters.min.js -->
<script src="js/modules/masters.js"></script>
<script src="js/modules/masters/brand.js"></script>
<script src="js/modules/masters/eWaste.js"></script>
<script src="js/modules/masters/packingspecification.js"></script>
<script src="js/modules/masters/lspdetail.js"></script>
<script src="js/modules/masters/city.js"></script>
<script src="js/modules/masters/servicemaster.js"></script>
<script src="js/modules/masters/product.js"></script>
<script src="js/modules/masters/productcategories.js"></script>
<script src="js/modules/masters/packagingtype.js"></script>
<script src="js/modules/masters/productsubcategory.js"></script>
<script src="js/modules/masters/location.js"></script>
<script src="js/modules/masters/faq.js"></script>
<script src="js/modules/masters/sms_email_trigger.js"></script>
<script src="js/modules/masters/sms_email_template.js"></script>
<script src="js/modules/masters/sms_email_trigger_config.js"></script>
<script src="js/modules/masters/category.js"></script>
<script src="js/modules/masters/costing_activity.js"></script>
<script src="js/modules/masters/costing_activity_mapping.js"></script>
<script src="js/modules/masters/additional_costing.js"></script>
<!-- endbuild -->
<!-- build:js js/modules.settings.min.js -->
<script src="js/modules/role_management.js"></script>
<script src="js/modules/role_management/role.js"></script>
<script src="js/modules/role_management/menu.js"></script>
<script src="js/modules/role_management/feature.js"></script>
<script src="js/modules/role_management/role_access.js"></script>
<!-- endbuild -->
<!-- build:js js/modules.retailer.min.js -->
<script src="js/modules/retailer/services.js"></script>
<script src="js/modules/retailer/model.js"></script>
<script src="js/modules/retailer/basic_info.js"></script>
<script src="js/modules/retailer/services_availed.js"></script>
<script src="js/modules/retailer/categories_serviced.js"></script>
<script src="js/modules/retailer/cost_per_service.js"></script>
<script src="js/modules/retailer/serviceable_locations.js"></script>
<script src="js/modules/retailer/packing_cost.js"></script>
<script src="js/modules/retailer/packing_cost_borne.js"></script>
<script src="js/modules/retailer/advance_replacement.js"></script>
<script src="js/modules/retailer/retailer.js"></script>
<script src="js/modules/fe_track/fe_track.js?v=3"></script>
<script src="js/modules/retailer/sms_email_trigger_config.js"></script>
<script src="js/modules/retailer/service_costing.js"></script>
<script src="js/modules/retailer/product.js"></script>
<script src="js/modules/retailer/packing_intra_city.js"></script>
<script src="js/modules/retailer/email_config.js"></script>
<script src="js/modules/retailer/door_step_services.js"></script>
<!-- endbuild -->
<!--build:js js/modules.report.min.js-->
<script src="js/modules/report/report.js"></script>
<!-- endbuild -->
<!-- build:js js/modules.serviceprovider.min.js -->
<script src="js/modules/service_provider/service_provider.js"></script>
<script src="js/modules/service_provider/serviceprovider.js"></script>
<script src="js/modules/service_provider/serviceproviderlocation.js"></script>
<script src="js/modules/service_provider/serviceproviderlocationservice.js"></script>
<!-- endbuild -->
<!-- build:js js/modules.others.min.js -->
<script src="js/modules/tickets.js"></script>
<script src="js/modules/user_management/user.js"></script>
<script src="js/modules/inventory/packaging_material.js"></script>
<script src="js/modules/doa/doa.js"></script>
<!-- endbuild -->

</body>

</html>