<div class="row" ng-model="misDetails" ng-if="misDetails.length > 0" ng-model="pagination">

        <div class="col-sm-12">
            <table class="table row-border table-hover table-striped">
            <thead>
				<th>AWB</th>
				<th>Consumer Name</th>
				<th>Retailer</th>
				<th>Ticket No</th>
				<th>Address</th>
				<th>Product Code</th>
				<th>Description</th>
				<th>Value</th>
				<!--<th>Date Of Receipt</th>-->
				<th>Status</th>
				<th>Barcode</th>
			</thead>
                
				<tbody>
        
                    <tr dir-paginate="m in misDetails|itemsPerPage:pageSize" 
                            pagination-id="ticketSearchPagination" total-items="total_count"
							ng-if="(misDetails.length > 0 || misDetails != undefined)">
						
                        <td ng-bind="m.awbAmazon"></td>
						<td ng-bind="m.consumerName"></td>
						<td ng-bind="m.retailer"></td>
						<td ng-bind="m.ticketNo"></td>
						<td ng-bind="m.address"></td>
						<td ng-bind="m.productCode"></td>
						<td ng-bind="m.description"></td>
						<td ng-bind="m.value"></td>
						<!--<td ng-bind="m.dateOfReceipt"></td>-->
						<td ng-bind="m.status"></td>
						<td ng-bind="m.barcode"></td>
                    </tr>
                </tbody>
            </table>
			<dir-pagination-controls
				pagination-id="ticketSearchPagination"
				ng-model="pagination"
				max-size="8"
				direction-links="true"
				boundary-links="true" 
				on-page-change="viewMisReportFilter(task,newPageNumber,pageSize)" >
			 </dir-pagination-controls>
        </div>
    </div>