<div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Search Tickets</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <form name="form" id="Form" class="form-horizontal" role="form" method="post"
                              ng-submit="viewMisReportFilter(task, 1, pageSize);" novalidate>
                            

							<div class="col-sm-3">
                                <div class="form-group row">
                                    <label for="retailer" class="col-sm-12" style="">
                                        Retailer
                                    </label>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <select name="retailer" id="retailer" class="form-control"
											placeholder="Select Category" 
											ng-model="task.retailerId">
											<option value="">Choose</option>
											<option ng-repeat="r in retailers|orderBy:'name':false" value="{{r.id}}" 
													>{{r.name}}</option>
										</select>
                                    </div>
                                    <div class="col-sm-12 errors">
                                        <span ng-bind="errors.retailer"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group row">
                                    <label for="retailer" class="col-sm-12" style="">
                                        Status
                                    </label>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <select name="status" id="status" class="form-control"
											placeholder="Select Status"
                                            ng-model="task.status">
											<option value="">Choose</option>
											<option value="open">Open</option>
                                            <option value="picked">Picked</option>
                                            <option value="delivered">Delivered</option>  
										</select>
                                    </div>
                                    <div class="col-sm-12 errors">
                                        <span ng-bind="errors.status"></span>
                                    </div>
                                </div>
                            </div>
							
							
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-12">&nbsp;</label>
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-primary" name="next" id="saveBtn">
                                            Search
                                        </button>
                                        <button type="button" class="btn btn-default" name="next" id="clearBtn"
											ng-click="clearSearchFields();"> Clear
                                        </button>
										
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>