<div ng-controller="TasksController" ng-model="task">
	<load-template url="common/breadcrumb"></load-template>
	<div class="row">
		<div class="col-xs-12 col-lg-12 col-md-12">
			
		</div>
	</div>
	
    <load-template url="pages/tasks/search/retailer_search_ticket"></load-template>
</div>