<div class="row" ng-model="locationViewss" ng-model="pagination">
    <load-template url="common/breadcrumb"></load-template>
        <div class="col-sm-12">
            <table class="table row-border table-hover table-striped">
                <thead>
                    <th>#</th>
                    <th>Location</th>	
					<th>Cash Payment</th>
					<th>Online Payment</th>
                    
										
                    <th>&nbsp;</th>
                </thead>
                <tbody>
        
                <tr dir-paginate="feTracker in feTrackers|itemsPerPage:pageSize" total-items="total_count" ng-if="feTrackers.length > 0 || feTrackers != undefined">
				<td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
				

			</tr>
		</tbody>
	</table>
	<dir-pagination-controls max-size="8" direction-links="true" boundary-links="true" on-page-change="trackingFe(fetrack,newPageNumber,pageSize)"
	 ng-if="locationViews.length > 0">
	</dir-pagination-controls>
        </div>
    </div>