<div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Location View</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <form name="form" id="Form" class="form-horizontal" role="form" method="post"
                              ng-submit="search(task, 1, pageSize);" novalidate>

							
							<div class="col-sm-4">
								<div class="form-group row">
										<label for="pickup location" class="col-sm-12" style="">
											Branch Location
										</label>
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<select name="branchLocation" id="branchLocation" class="form-control"
												placeholder="Select pickupLocation" 
												ng-model="task.rlHomeLocationId">
												<option value="">Choose</option>
												<option ng-repeat="l in locations|orderBy:'name':false" value="{{l.id}}" 
														>{{l.name}}</option>
											</select>
										</div>
									   
								 </div>
							</div>
							
							<div class="col-sm-4">
								<div class="form-group row">
                                    <label for="test" class="col-sm-12" style="">
                                        Choose Date
                                    </label>
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<input date-range-picker class="form-control " type="text"
										   ng-model="datePicker.test"
										   placeholder="yyyy-dd-mm - yyyy-dd-mm"/>
									</div>
								</div>
							</div>
								
							
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-12">&nbsp;</label>
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-primary" name="next" id="saveBtn">
                                            Search
                                        </button>
										<button type="button" class="btn btn-default" name="next" id="clearBtn"
											ng-click="clearSearchFields();"> Clear
                                        </button>
										
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>