<div ng-controller="RoleController">
	<load-template url="common/breadcrumb"></load-template>
	<table class="row-border hover table table-striped table-hover table-condensed" ng-model="roles">
		<thead>
			<th>#</th>
			<th>Code</th>
			<th>Name</th>
		</thead>
		<tbody>

			<tr ng-repeat="role in roles" ng-if="roles.length > 0 || roles != undefined">
				<td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
				<td>
					<a href="#/role/get/{{role.id}}" ng-bind="role.code"></a></td>
				<td ng-bind="role.name"></td>
			</tr>
		</tbody>
	</table>
</div>
