<div ng-controller="RoleController" ng-model="role">
	<div class="row">
		<ol class="breadcrumb pagebreadcrumb">
			<li><a href="#/role-management">Masters</a></li>
			<li><a href="#/role-management/roles">Roles</a></li>
			<li ng-bind="role.id>0?'Update':'Create'"></li>
		</ol>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading" ng-show="pageActionHeader!=''">
			<h3 class="panel-title" ng-bind="pageActionHeader"></h3>
		</div>
		<div class="panel-body">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<form name="form" id="Form" class="form-horizontal" role="form" method="post" ng-submit="save(role);" novalidate>
					<input type="hidden" name="id" ng-model="role.id" />
					<div class="form-group">
						<label for="name" class="col-sm-3 control-label" style="">
                        Name <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-switch="prop.type">
								<input spellcheck="true" type="text" name="name" class="form-control" style="" id="name" placeholder="Enter Role Name" value="{{role.name}}" ng-model="role.name" maxlength="250" ng-required="required" required="required" />
							</div>
						</div>
						<div class="col-sm-3 errors">
							<span ng-bind="errors.name"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="code" class="col-sm-3 control-label" style="">
                        Code <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-switch="prop.type">
								<input spellcheck="true" type="text" name="code" class="form-control" style="" id="name" placeholder="Enter Role Code" value="{{role.code}}"
									   ng-model="role.code" maxlength="250" ng-required="required" required="required" />
							</div>
						</div>
						<div class="col-sm-3 errors">
							<span ng-bind="errors.code"></span>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12 col-sm-offset-5">
							<button type="submit" class="btn btn-primary" name="save" id="saveBtn" check-access-perm="access_perm">
                            Save
							</button>
							<button type="button" class="btn btn-default" name="list" id="listBtn" ng-click="goToPage('rl.roles');">
								Go To List Page
							</button>
							<!--<button type="button" class="btn btn-danger" ng-click="deleteRole(role, $index);">
								<span class="glyphicon glyphicon-remove"></span> Delete</button>-->
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>