<div ng-controller="TasksController" ng-model="additionalFile">
	<load-template url="common/breadcrumb"></load-template>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Upload Additional File</h3>
		</div>
		<div class="panel-body">
			<div class="  col-sm-8 col-sm-offset-2">
			<form name="additionalFileElement" id="additionalFile" class="form-horizontal" role="form" method="post"
				  ng-submit="uploadAdditionalFile(additionalFile);" novalidate>
				
				<div class="form-group" >
					<label for="csv" class="col-sm-3 control-label formlabel"></label>
					<div class="col-sm-6">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="button" ngf-select ng-model="additionalFile.file" class="col-sm-3">
								<input style="float:left;" type="button" valid-file class="btn btn-primary" id="file"
                                       name="file"
									   value="Select Additional File ..." ng-model="additionalFile.file"  required=""/>
							</div>
							<br/>
							<div ng-bind="additionalFile.selectedFileName" class="col-sm-12"></div>
						</div>
						
					</div>
					<div ng-messages="additionalFileElement.file.$error" role="alert" ng-messages-multiple
                        ng-show="additionalFileElement.$submitted || additionalFileElement.file.$touched"
                        class="col-sm-3 errors" >
                       <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
                    </div>
				</div>
				<div class="form-group">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="progress">
							<div class="progress-bar progress-bar-striped active" role="progressbar"
								 aria-valuenow="uploadPercentage" aria-valuemin="0" aria-valuemax="100"
								 style="width: {{uploadPercentage}}%">
							  <span><span ng-bind="uploadPercentage"></span>% Complete</span>
							</div>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-12 text-center">
						<button type="submit" class="btn btn-primary" ng-disabled="additionalFileElement.$invalid"
                                name="save" id="saveBtn" check-access-perm="access_perm">
						Save
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
