<div ng-model="task" ng-controller="TasksController">
    <load-template url="common/breadcrumb"></load-template>
    <nav class="navbar" style="margin-bottom: -16px ">
        <div class="container-fluid">
            <div class="navbar-header" style="height:20px">
                <h2>Device Info</h2>
            </div>
        </div>
    </nav>

    <div class="container col-sm-12" style="margin: 0px; padding: 0px;">
        <div class="col-sm-2" style="height: 100vh; padding: 0px;">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div>
                        <h4 class="panel-title">
                            <a class="list-group-item active" ng-click="show=1;showInfo('version');select($event)"
                               id="version">By
                                Version</a>
                        </h4>
                    </div>
                    <div>
                        <h4 class="panel-title">
                            <a class="list-group-item" ng-click="show=2;showInfo('device');select($event)" id="device">By
                                Brand</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-content col-sm-10">
            <div ng-show="show===1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Version Info</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover table-responsive table-striped">
                            <thead>
                            <th>#</th>
                            <th>Version Number</th>
                            <th>Count</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="r in deviceData">
                                <td>{{$index+1}}</td>
                                <td ng-bind="r.version"></td>
                                <td ng-bind="r.count"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div ng-show="show===2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Device Info</h3>
                    </div>

                    <div class="panel-body">
                        <table class="table table-hover table-responsive table-striped">
                            <thead>
                            <th>#</th>
                            <th>Brand Name</th>
                            <th>Count</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="t in deviceData">
                                <td>{{$index+1}}</td>
                                <td  ng-if="t.brand != undefined && t.brand != null" ng-bind="t.brand"></td>
                                <td ng-bind="t.count"></td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>