<div ng-controller="TasksController">
<load-template url="common/breadcrumb"></load-template>

<div class="row" ng-model="evalHistory" ng-if="evalHistory.length > 0">
		
	<!--	<div class="row text-center" ng-if="evalResult.length > 0">
			<h2><span>Evaluation Result</span></h2>
		</div> -->
		
        <div class="col-sm-12">
            <table class="table row-border table-hover table-striped">
            <thead>
				<th>Evaluation Id</th>
				<th>Ticket No</th>
				<th>Evaluation Date</th>
			</thead>
                
				<tbody>
        
                    <tr ng-repeat="m in evalHistory" 
							ng-if="(evalHistory.length > 0)">
						
                        <td ng-bind="m.evalId"></td>
						<td ng-bind="m.ticketId"></td>
						<td ng-bind="m.evalDate"></td>
						<td><input type="checkbox" value="{{m.evalId}}"
						ng-checked="compareEvalIds.indexOf(m.evalId) !== -1"
						ng-click="toggleEvalIds(m.evalId)"
						name="compareEvalIds[]"></td>
                    </tr>
                </tbody>
            </table>
			
			<div class="row text-center" ng-if="compareEvalIds.length==2">
				<button type="button text-center" class="btn btn-default" name="delete" id="deleteBtn">
							<a href="#/task/evaluation-compare/{{compareEvalIds[0]}}/{{compareEvalIds[1]}}">
							Compare Results
				</button>
			</div>
        </div>
		
</div>

</div>