<div ng-controller="TasksController">
<load-template url="common/breadcrumb"></load-template>

<div class="row" ng-model="evalResult" ng-if="evalResult.length > 0">
		
	<!--	<div class="row text-center" ng-if="evalResult.length > 0">
			<h2><span>Evaluation Result</span></h2>
		</div> -->
		
        <div class="col-sm-12">
            <table class="table row-border table-hover table-striped">
            <thead>
				<th>Question</th>
				<th>Evaluation Result - {{eval1}}</th>
				<th>Evaluation Result - {{eval2}}</th>
			</thead>
                
				<tbody>
        
                    <tr ng-repeat="m in evalResult" 
							ng-if="(evalResult.length > 0)">
						
                        <td ng-bind="m.question"></td>
						<td ng-bind="m.e1_selected_answer"></td>
						<td ng-bind="m.e2_selected_answer"></td>
                    </tr>
                </tbody>
            </table>
			
        </div>
		
</div>

</div>