<div ng-controller="TasksController">
	<!--<load-template url="common/breadcrumb"></load-template>-->

	<div class="row" ng-model="evalEnggRes" ng-if="evalEnggRes.length > 0">

		<!--	<div class="row text-center" ng-if="evalResult.length > 0">
			<h2><span>Evaluation Result</span></h2>
		</div> -->

		<div class="col-sm-12">
			<table class="table row-border table-hover table-striped">
				<thead>
					<th>Question</th>
					<th>Engineer Answer</th>
				</thead>
				<tbody>

					<tr ng-repeat="m in evalEnggRes" ng-if="(evalEnggRes.length > 0)">
						<td ng-bind="m.question"></td>
						<td ng-bind="m.selected_answer"></td>
					</tr>

				</tbody>
			</table>

		</div>
	</div>
	<div ng-else>
	<div class="row" ng-model="evalCustRes" ng-if="evalCustRes.length > 0">
		<div class="col-sm-12">
			<table class="table row-border table-hover table-striped">
				<thead>
					<th>Question</th>
					<th>Customer Answer</th>
				</thead>

				<tbody>

					<tr ng-repeat="m in evalCustRes" ng-if="(evalCustRes.length > 0)">
						<td ng-bind="m.question"></td>
						<td ng-bind="m.selected_answer"></td>
					</tr>
				</tbody>

			</table>

		</div>

	</div>

</div>