<div ng-controller="TasksController">
<load-template url="common/breadcrumb"></load-template>

<div class="page-header">
		<h2><span ng-bind="retailer"></span></h2>
		<h2>Ticket No - <a href="#/task/{{processId}}/view">{{ticketNo}}</a></h2>
</div>

<div class="row" ng-model="ewasteMisDetails" ng-if="ewasteMisDetails.length > 0" ng-model="pagination">

        <div class="col-sm-12">
            <table class="table row-border table-hover table-striped">
            <thead>
				<th>Product Category</th>
				<th>Quantity</th>
				<th>Grade</th>
				<th>Status</th>
			    <th>Barcode</th>
			</thead>
                
				<tbody>
        
                    <tr dir-paginate="m in ewasteMisDetails|itemsPerPage:pageSize" 
                            pagination-id="ticketSearchPagination" total-items="total_count"
							ng-if="(ewasteMisDetails.length > 0 || ewasteMisDetails != undefined)">
						
                        <td ng-bind="m.productCategory"></td>
						<td ng-bind="m.quantity"></td>
						<td ng-bind="m.grade"></td>
						<td ng-bind="m.status"></td>
						<td ng-bind="m.barcode"></td>
                    </tr>
                </tbody>
            </table>
			<dir-pagination-controls
				pagination-id="ticketSearchPagination"
				ng-model="pagination"
				max-size="8"
				direction-links="true"
				boundary-links="true" 
				on-page-change="viewEwasteMis(newPageNumber,pageSize)" >
			 </dir-pagination-controls>
        </div>
    </div>
</div>