<div ng-controller="TasksController as t">
    <load-template url="common/breadcrumb"></load-template>
    <table class="table row-border table-hover table-striped" ng-model="tasks">
        <thead>
        <th>#</th>
        <th>
            <div class="dropdown text-center">
                <div class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button"
                     ng-class="filtervar.ticketPriority.length === 0||filtervar.ticketPriority.length ===null || filtervar.ticketPriority.length ===undefined?'btn-default':'btn-primary'">
                    Id/Priority
                    <span class="caret"></span>
                </div>
                <div class="dropdown-menu pull-left pre-scrollable" style="width:content-box" role="menu">
                    <li role="presentation" ng-click="reset(1,10);" style="cursor: pointer;text-align: center"><a
                    ><span class="label label-warning">Reset</span></a></li>
                    <li role="presentation"
                        ng-repeat="pe in priority "
                        style="cursor: pointer"
                        ng-click="selectpe(pe,1,10)">
                        <a><span class="label" ng-class="pe==='High'?'label-danger':'label-primary'">{{pe}}</span></a>
                    </li>
                </div>
            </div>
        </th>
        <th class="text-center">
            <div class="dropdown">
                <div class="row">
                    <div class="btn btn-default dropdown-toggle" id="consumername" data-toggle="dropdown"
                         aria-expanded="false"
                         type="button"
                         ng-class="filtervar.consumerName.length === 0||filtervar.consumerName.length ===null || filtervar.consumerName.length ===undefined?'btn-default':'btn-primary'">
                        Name<span class="caret"></span>
                    </div>

                    <div class="dropdown-menu pull-left" style="min-width: max-content" role="dialog">
                        <form class="navbar-form" role="search">
                            <div class="input-group">
                                <input name="consumer" class="form-control" style="height: fit-content"
                                       id="inconsumername"
                                       type="text" placeholder="Search Name" ng-model="filtervar.consumerName">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" ng-click="involved(filtervar,1,10)">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </th>
        <th class="text-center">
            <div class="dropdown">
                <div class="row">
                    <div class="btn btn-default dropdown-toggle" id="pincode" data-toggle="dropdown"
                         aria-expanded="false"
                         type="button"
                         ng-class="filtervar.pincode.length === 0||filtervar.pincode.length ===null || filtervar.pincode.length ===undefined?'btn-default':'btn-primary'">
                        Pincode
                        <span class="caret"></span>
                    </div>

                    <div class="dropdown-menu pull-right" style="min-width: max-content" role="dialog">
                        <form class="navbar-form" role="search">
                            <div class="input-group">
                                <input name="pincode" class="form-control" style="height: fit-content" id="inpincode"
                                       type="text" placeholder="Search Pincode" ng-model="filtervar.pincode">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" ng-click="involved(filtervar,1,10)">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </th>
        <!-- Date Filter-->
        <th class="text-center">
            <div class="dropdown">
                <div class="row">
                    <div class="btn btn-default dropdown-toggle" id="date" data-toggle="dropdown"
                         aria-expanded="false"
                         type="button"
                         ng-class="datefiltervar===null?'btn-default':'btn-primary'">
                        Created at
                        <span class="caret"></span>
                    </div>

                    <div class="dropdown-menu pull-right" style="min-width: max-content" role="dialog">
                        <form class="navbar-form" role="search">
                            <div class="input-group">
                                <md-datepicker ng-model="datefiltervar" md-placeholder="Enter date"></md-datepicker>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" ng-click="involved(filtervar,1,10)">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </th>
        <th class="text-center">
            <div class="dropdown">
                <div class="row">
                    <div class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
                         type="button"
                         ng-class="filtervar.rlTicketNo.length === 0||filtervar.rlTicketNo.length ===null || filtervar.rlTicketNo.length ===undefined?'btn-default':'btn-primary'">
                        Ticket No.
                        <span class="caret"></span>
                    </div>
                    <div class="dropdown-menu pull-right" style="min-width: max-content" role="dialog">
                        <form class="navbar-form" role="search">
                            <div class="input-group">
                                <input name="FirstName" class="form-control" style="height: fit-content" id="FirstName"
                                       type="text" placeholder="Search Ticket" ng-model="filtervar.rlTicketNo">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" ng-click="involved(filtervar,1,10)">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </th>
        <th>
            <div class="dropdown text-center">
                <div class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button"
                     ng-class="filtervar.rlRetailerId.length === 0||filtervar.rlRetailerId.length ===null || filtervar.rlRetailerId.length ===undefined?'btn-default':'btn-primary'">
                    Retailer
                    <span class="caret"></span>
                </div>
                <div class="dropdown-menu pull-right pre-scrollable" style="width:content-box" role="menu">
                    <li role="presentation" ng-click="reset(1,10)" style="cursor: pointer;text-align: center"><a
                    ><span class="label label-warning">Reset</span></a></li>
                    <li role="presentation"
                        ng-repeat="re in retailers"
                        style="cursor: pointer"
                        ng-click="selectre(re.id,1,10)">
                        <a>{{re.name}}</a>
                    </li>
                </div>
            </div>
        </th>
        <th>Category</th>
        <th>&nbsp;</th>
        </thead>
        <tbody>
        <tr dir-paginate="task in tasks|itemsPerPage:pageSize"
            ng-class="total_count <=5 && total_count > 0 ?'rowfix':''"
            total-items="total_count" ng-if="tasks.length > 0 || tasks != undefined">
            <td><span class="label label-default text-center">{{($index+1)+(pageSize)*(currentPage-1)}}</span></td>
            <td class="text-center" data-toggle="tooltip" data-placement="center"
                title="Ticket Priority : {{task.ticketPriority}}"
                style="cursor: pointer">
                <span ng-if="task.ticketPriority.toUpperCase()==='HIGH'"
                      class="label label-danger">{{task.taskId}}</span>
                <span ng-if="task.ticketPriority.toUpperCase()!=='HIGH'"
                      class="label label-primary">{{task.taskId}}</span>
            </td>
            <td>{{task.name}}</td>
            <!--<td  ng-bind="task.ticketPriority"></td>-->
            <td ng-bind="task.pincode" class="text-center"></td>
            <td ng-bind="task.createTime|date:'medium'" class="text-center"></td>
            <td ng-bind="task.rlTicketNo" class="text-center"></td>
            <td ng-bind="task.retailer" class="text-center"></td>
            <td ng-bind="task.category" class="text-center"></td>
            <td>
                <a ng-click="claimTask(task.taskId, task.name,task.processId);"
                   ng-class="task.ticketPriority.toUpperCase()==='HIGH'?'text-danger':'' " style="cursor: pointer;">Claim</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="#/task/{{task.processId}}/view">View</a>
            </td>
        </tr>
        <tr ng-if="total_count <=5 && total_count > 0" style="visibility: hidden;height: 300px">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
        <tbody ng-if="total_count === 0 || total_count === undefined" class="tablefix">
        <tr>
            <td>
                <span class="label label-danger">
                    Not Found
                </span>
            </td>

        </tr>
        </tbody>
    </table>
    <dir-pagination-controls
            ng-model="pagination"
            max-size="8"
            direction-links="true"
            boundary-links="true"
            on-page-change="involved(filtervar,newPageNumber,pageSize)"
            ng-if="total_count != 0"
    >
    </dir-pagination-controls>
</div>
