<div class="row">
    <div class="form-group ticket-view-readonly-row col-sm-12" ng-repeat="prop in task.properties" ng-if="!prop.readOnly">
        <div class="row ">
            <label for="{{prop.id}}" class="col-sm-12 form-label" style="">
                <span  ng-bind-html="prop.name"></span>
                <span class="required" ng-if="prop.mandatory">*</span>
            </label>
    
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-switch="prop.type" ng-if="!prop.readOnly">
                
                <!-- TEXTBOX -->
                <input spellcheck="true" type="text" name="{{prop.id}}" class="form-control" style="" id="{{prop.id}}"
                       placeholder="Enter {{prop.name|decodeHtmlEntity}}" ng-model="task.properties[$index].value"
                       maxlength="250" ng-if="!prop.readOnly && !prop.mandatory" ng-switch-when="string" />
                
                <!-- mandatory=true -->
                <input spellcheck="true" type="text" name="{{prop.id}}" class="form-control" style="" id="{{prop.id}}"
                       placeholder="Enter {{prop.name|decodeHtmlEntity}}"  ng-model="task.properties[$index].value"
                       maxlength="250" ng-if="!prop.readOnly && prop.mandatory" required="required" ng-switch-when="string" />
                <!-- TEXTBOX -->
                
                <!-- TEXTBOX - URL -->
                <input spellcheck="true" type="text" name="{{prop.id}}" class="form-control" style="" id="{{prop.id}}"
                       placeholder="Enter {{prop.name|decodeHtmlEntity}}" ng-model="task.properties[$index].value"
                       maxlength="250" ng-if="!prop.readOnly && !prop.mandatory" ng-switch-when="url" />
                
                <!-- mandatory=true -->
                <input spellcheck="true" type="text" name="{{prop.id}}" class="form-control" style="" id="{{prop.id}}"
                       placeholder="Enter {{prop.name|decodeHtmlEntity}}"  ng-model="task.properties[$index].value"
                       maxlength="250" ng-if="!prop.readOnly && prop.mandatory" required="required" ng-switch-when="url" />
                <!-- TEXTBOX -->
    
                <!-- TEXTBOX - NUMBER -->
                <input spellcheck="true" type="number" validate-long name="{{prop.id}}" class="form-control" style="" id="{{prop.id}}"
                       placeholder="Enter {{prop.name|decodeHtmlEntity}}"  ng-model="task.properties[$index].value"  min="0"
                       maxlength="10" ng-switch-when="long"  ng-if="!prop.readOnly && !prop.mandatory" />
                
                <!-- mandatory=true -->
                <input spellcheck="true" type="number" validate-long name="{{prop.id}}" class="form-control" style="" id="{{prop.id}}"
                       placeholder="Enter {{prop.name|decodeHtmlEntity}}"  ng-model="task.properties[$index].value"  min="0"
                       maxlength="10" ng-switch-when="long"  ng-if="!prop.readOnly && prop.mandatory" required="required" />
                
                <!-- TEXTBOX - DOUBLE -->
                <input spellcheck="true" type="number" validate-double name="{{prop.id}}" class="form-control" style="" id="{{prop.id}}"
                       placeholder="Enter {{prop.name|decodeHtmlEntity}}" ng-model="task.properties[$index].value"  min="0"
                       maxlength="10" ng-switch-when="double"  ng-if="!prop.readOnly && !prop.mandatory"
                       step="0.01"/>
                
                <!-- mandatory=true -->
                <input spellcheck="true" type="number" validate-double name="{{prop.id}}" class="form-control" style="" id="{{prop.id}}"
                       placeholder="Enter {{prop.name|decodeHtmlEntity}}"  ng-model="task.properties[$index].value" min="0"
                       maxlength="10" ng-switch-when="double"  ng-if="!prop.readOnly && prop.mandatory" required="required"
                       step="0.01"/>
                <!-- TEXTBOX - DOUBLE -->
                
                <!-- TEXTBOX - BARCODE -->
                <input spellcheck="true" type="text" name="{{prop.id}}" prevent-enter-submit class="form-control alpha-numeric-only" style="" id="{{prop.id}}"
                       placeholder="Enter {{prop.name|decodeHtmlEntity}}" ng-model="task.properties[$index].value"
                       maxlength="250" ng-if="!prop.readOnly && !prop.mandatory" ng-switch-when="barcode" />
                
                <!-- mandatory=true -->
                <input spellcheck="true" type="text" name="{{prop.id}}" prevent-enter-submit class="form-control alpha-numeric-only" style="" id="{{prop.id}}"
                       placeholder="Enter {{prop.name|decodeHtmlEntity}}"  ng-model="task.properties[$index].value"
                       maxlength="250" ng-if="!prop.readOnly && prop.mandatory" required="required" ng-switch-when="barcode" />
                <!-- TEXTBOX - BARCODE  -->
    
                <!-- BOOLEAN -->
                <div ng-if="!prop.readOnly" ng-switch-when="boolean">
                    <div class="radio" style="float: left;">
                        <label>
                            <input type="radio" name="{{prop.id}}" id="{{prop.id}}" ng-value="{{task.properties[$index].value==false}}"
                                   value="true" ng-model="task.properties[$index].value" ng-if="!prop.readOnly && !prop.mandatory"/>
                            <!-- mandatory=true -->
                            <input type="radio" name="{{prop.id}}" id="{{prop.id}}" ng-value="{{task.properties[$index].value==false}}"
                                   value="true" ng-model="task.properties[$index].value" ng-if="!prop.readOnly && prop.mandatory" required="required"/>
                            Yes
                        </label>
                    </div>
                    <div class="radio" id="radio_featured_inactive" style="float: left;margin-left: 20px;">
                        <label>
                            <input type="radio" name="{{prop.id}}" id="{{prop.id}}" ng-value="{{task.properties[$index].value==true}}"
                                   value="false" ng-model="task.properties[$index].value" ng-if="!prop.readOnly && !prop.mandatory"/>
                            <!-- mandatory=true -->
                            <input type="radio" name="{{prop.id}}" id="{{prop.id}}" ng-value="{{task.properties[$index].value==true}}"
                                   value="false" ng-model="task.properties[$index].value" ng-if="!prop.readOnly && prop.mandatory" required="required"/>
                            No
                        </label>
                    </div>
                </div>
                <!-- BOOLEAN -->
    
                <!-- DROPDOWN -->
                <select name="{{prop.id}}" id="{{prop.id}}" class="form-control" placeholder="Select {{prop.name}}"
                        ng-model="task.properties[$index].value" ng-if="!prop.readOnly && !prop.mandatory"
                        ng-switch-when="enum">
                    <option ng-repeat="(key, value) in prop.allowedValues" value="{{key}}" ng-bind="value"
                            ng-if="prop.value==key" selected="selected"></option>
                    <option ng-repeat="(key, value) in prop.allowedValues" value="{{key}}" ng-bind="value"
                            ng-if="prop.value!=key"></option>
                </select>
                
                <!-- mandatory=true -->
                <select name="{{prop.id}}" id="{{prop.id}}" class="form-control" placeholder="Select {{prop.name}}" required="required"
                        ng-model="task.properties[$index].value" ng-if="!prop.readOnly && prop.mandatory"
                        ng-switch-when="enum">
                    <option value="">---------- Choose --------</option>
                    <option ng-repeat="(key, value) in prop.allowedValues" value="{{key}}" ng-bind="value"
                            ng-if="prop.value==key" selected="selected"></option>
                    <option ng-repeat="(key, value) in prop.allowedValues" value="{{key}}" ng-bind="value"
                            ng-if="prop.value!=key"></option>
                </select>
                
                <select name="{{prop.id}}" id="{{prop.id}}" class="form-control" placeholder="Select {{prop.name}}"
                        ng-model="task.properties[$index].value" ng-if="!prop.readOnly && !prop.mandatory"
                        ng-switch-when="dynamic-enum">                                
                    <option ng-repeat="(key, value) in prop.allowedValues" value="{{key}}" ng-bind="value"
                            ng-if="prop.value==key" selected="selected"></option>
                    <option ng-repeat="(key, value) in prop.allowedValues" value="{{key}}" ng-bind="value"
                            ng-if="prop.value!=key"></option>
                </select>
                
                <!-- mandatory=true -->
                <select name="{{prop.id}}" id="{{prop.id}}" class="form-control" placeholder="Select {{prop.name}}" required="required"
                        ng-model="task.properties[$index].value" ng-if="!prop.readOnly && prop.mandatory"
                        ng-switch-when="dynamic-enum">
                    <option value="">---------- Choose --------</option>
                    <option ng-repeat="(key, value) in prop.allowedValues" value="{{key}}" ng-bind="value"
                            ng-if="prop.value==key" selected="selected"></option>
                    <option ng-repeat="(key, value) in prop.allowedValues" value="{{key}}" ng-bind="value"
                            ng-if="prop.value!=key"></option>
                </select>
                
                <!-- DROPDOWN -->
    
                <!-- DATE PICKER -->
                <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-switch-when="date" ng-if="!prop.readOnly && prop.format == 'dd-MM-yyyy'">
                    <input type="hidden" ng-model="prop.longDate" />
                    
                    <span class="input-group date" datepicker data-task="task" ng-model="prop.value">
                        <input class="form-control col-xs-12" type="text" id="{{prop.id}}" name="{{prop.id}}"
                               ng-model="prop.value" ng-if="!prop.readOnly && !prop.mandatory"
                                placeholder="Enter {{prop.name|decodeHtmlEntity}}"
                               data-date-format="dd-mm-yyyy"/>
                        
                        <!-- mandatory=true -->
                        <input class="form-control col-xs-12" type="text" id="{{prop.id}}" name="{{prop.id}}"
                               ng-model="prop.value" ng-if="!prop.readOnly && prop.mandatory"
                                placeholder="Enter {{prop.name|decodeHtmlEntity}}"
                               data-date-format="dd-mm-yyyy"/>
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        
                    </span>
                    <span class="hint-text">Format : DD-MM-YYYY</span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-switch-when="date"
                     ng-if="!prop.readOnly && prop.format=='dd-MM-yyyy hh:mm'">
                    <span class="input-group date">
                    <input datetime-picker class="form-control input-sm"
                           placeholder="Enter {{prop.name|decodeHtmlEntity}}"
                            id="{{prop.id}}" name="{{prop.id}}"
                            ng-model="prop.value"
                            date-format="dd-MM-yyyy HH:mm"
                            hour="00" minute='00'/></span>
                    <span class="hint-text">Format : DD-MM-YYYY hh:mm</span>
                </div>
                </div>
                <!-- DATE PICKER -->
                
                <!-- TEXTAREA "multiline-string"-->
                <textarea ng-switch-when="multiline-string" name="{{prop.id}}" id="{{prop.id}}" class="form-control"
                          placeholder="Enter {{prop.name|decodeHtmlEntity}}" ng-model="task.properties[$index].value"
                          ng-if="!prop.readOnly && !prop.mandatory"></textarea>
                
                <!-- mandatory=true -->
                <textarea ng-switch-when="multiline-string" name="{{prop.id}}" id="{{prop.id}}" class="form-control"
                          placeholder="Enter {{prop.name|decodeHtmlEntity}}" ng-model="task.properties[$index].value"
                          ng-if="!prop.readOnly && prop.mandatory"></textarea>
                <!-- TEXTAREA -->
				
				<!-- TEXTAREA "multiline-barcode"-->
                <textarea ng-switch-when="multiline-barcode" name="{{prop.id}}" id="{{prop.id}}" class="form-control"
                          placeholder="Enter {{prop.name|decodeHtmlEntity}}" ng-model="task.properties[$index].value"
                          ng-if="!prop.readOnly && !prop.mandatory"></textarea>
                
                <!-- mandatory=true -->
                <textarea ng-switch-when="multiline-barcode" name="{{prop.id}}" id="{{prop.id}}" class="form-control"
                          placeholder="Enter {{prop.name|decodeHtmlEntity}}" ng-model="task.properties[$index].value"
                          ng-if="!prop.readOnly && prop.mandatory"></textarea>
                <!-- TEXTAREA -->
            </div>
            <span class="col-sm-12 control-span errors" style="" ng-bind="errors.{{prop.id}}">
                    
            </span>
            {{formPropertyName=prop.id;""}}
            <div ng-messages="taskFrom[formPropertyName].$error" role="alert" ng-messages-multiple
                    ng-show="taskFrom.$submitted || taskFrom[formPropertyName].$touched"
                    class="col-sm-12 errors">
                <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6" ng-if="task.status == 'assigned'">
            <button type="submit" class="btn btn-primary" name="save" id="saveBtn" ng-show="task.lastGroup && editableFieldsCount > 0">
                Save
            </button>
            <button type="submit" class="btn btn-primary" name="next" id="nextBtn" ng-show="!task.lastGroup && editableFieldsCount > 0">
                Next
            </button>
        </div>
        <div class="col-sm-6" ng-if="task.status == 'involved'">
            <button type="button" class="btn btn-info" ng-click="claimTask(taskId,task.headerName,task.processId);">Claim</button>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12 ">
            <p class="errors" ng-repeat="m in errorMessages">
                <span ng-bind="m"></span>
            </p>
        </div>
    </div>
</div>
