<div ng-controller="TasksController" ng-model="task">
    <load-template url="common/breadcrumb"></load-template>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Update Retailer Cost</h3>
        </div>
        <div class="panel-body">
            <div class="  col-sm-8 col-sm-offset-2">
                <form name="updateRetailerCost" id="updateCostForm" class="form-horizontal" role="form" method="post" ng-submit="updateNewCost(updateCost);"
                    novalidate>
                    <div class="col-sm-4">
                        <div class="form-group row">
                            <label for="updatedCost" class="col-sm-12">
                                    Previous Cost
                                    </label>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input spellcheck="true" type="text" name="previousCost"  class="form-control" style="" id="prevCost"
                                    ng-model="oldCost" maxlength="10" value = {{oldCost}} ng-disabled="oldCost" />
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group row">
                            <label for="updatedCost" class="col-sm-12">
                                    Update Cost
                                    </label>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input spellcheck="true" type="number" name="updatedCost" class="form-control" style="" id="updatedCost" placeholder="Enter New Cost"
                                    ng-model="updateCost" maxlength="10" ng-required="required" required="required" />
                            </div>
                            <div class="col-sm-12 errors">
                                <span ng-bind="errors.updateCost"></span>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-primary" ng-disabled="updateRetailerCost.$invalid" name="save" id="saveBtn" check-access-perm="access_perm">
						Save
					</button>
                            <button type="button" class="btn btn-default" name="list" id="listBtn" ng-click="goToPage('rl.retailer-tasks');">
							Go To List Page
                        </button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>