<div ng-controller="TasksController" ng-model="task">
    <load-template url="common/breadcrumb"></load-template>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Damage Cost</h3>
        </div>
        <div class="panel-body">
            <div class="  col-sm-8 col-sm-offset-2">
                <form name="RetailerDamageCost" id="damageCostForm" class="form-horizontal" role="form" method="post" ng-submit="updateDamageCost(damageCost);"
                    novalidate>
                    <div class="col-sm-4">
                        <div class="form-group row">
                            <label for="damageCost" class="col-sm-12">
                                    Enter Damage Cost
                                    </label>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input spellcheck="true" type="number" name="damageCost" class="form-control" style="" id="damageCost" placeholder="Enter Damage Cost"
                                    ng-model="damageCost" maxlength="10" ng-required="required" required="required" />
                            </div>
                            <div class="col-sm-12 errors">
                                <span ng-bind="errors.damageCost"></span>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-primary" ng-disabled="updateDamageCost.$invalid" name="save" id="saveBtn" check-access-perm="access_perm">
						Save
					</button>
                            <button type="button" class="btn btn-default" name="list" id="listBtn" ng-click="goToPage('rl.retailer-tasks');">
							Go To List Page
                        </button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>