<div  ng-controller="homeCntrl">
<h2>Dashboard</h2>
<!--<div>Welcome {{username}}</div>-->
<!--<io-barcode code="13124235325345" type="CODE128B" options="options"></io-barcode>-->
<!---->
</div>
</div>