<div class="row" ng-controller="TasksController">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Release Summary</h3>
            </div>
            <div class="panel-body">
                <table class="col-md-12">
                    <tr>
                        <th class="col-sm-4">
                            <h4>Version</h4>
                        </th>
                        <th class="col-sm-4">
                            <h4>Release</h4>
                        </th>
                        <th class="col-sm-4">
                            <h4>Features</h4>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <h5>1.9</h5>
                        </td>
                        <td>
                            <h5>08/03/2018</h5>
                        </td>
                        <td>
                            <h5>StandBy inventory display for Retailer, Retailer filter for Admin, Download StandBy Inventory
                                details.Repair StandBy-LSP flow and Costing- with One Assist requirement and Observations.
                                APK- Ignore and Continue feature for Open ticket.5 min blocker when Signature is not taken
                                - once Take Signature is clicked.</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>1.8</h5>
                        </td>
                        <td>
                            <h5>19/02/2018</h5>
                        </td>
                        <td>
                            <h5>FE Tracking System And Repair StandBy Items.Costing With Packaging Charges-IT PRODUCTS FE Track-AFTER
                                APPOINTMENT FIXING Repair Stand By Enhancement -Barcode Scan and Damage Status Quote.</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>1.7</h5>
                        </td>
                        <td>
                            <h5>21/01/2018</h5>
                        </td>
                        <td>
                            <h5>Automatically Assignment Of Respective Tickets.Additon Of Pincodes And Some More Changes.</h5>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <h5>1.6</h5>
                        </td>
                        <td>
                            <h5>30/11/2017</h5>
                        </td>
                        <td>
                            <h5>User Management Search Filters are Added</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>1.5</h5>
                        </td>
                        <td>
                            <h5>16/11/2017</h5>
                        </td>
                        <td>
                            <h5>Location and Technical Evaluation Added</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>1.5</h5>
                        </td>
                        <td>
                            <h5>13/10/2017</h5>
                        </td>
                        <td>
                            <h5>Changes and Bug-Fixing in E-Waste Flow</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>1.4</h5>
                        </td>
                        <td>
                            <h5>10/10/2017</h5>
                        </td>
                        <td>
                            <h5>Added E-Waste Flow</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>1.3</h5>
                        </td>
                        <td>
                            <h5>03/10/2017</h5>
                        </td>
                        <td>
                            <h5>Added Bulk Inventory Transaction Service Flow</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>1.2</h5>
                        </td>
                        <td>
                            <h5>21/09/2017</h5>
                        </td>
                        <td>
                            <h5>IT BUY BACK CHANGES -Updated Cost, Notifications -atstage -photoid Validation - Changes in apk
                                version-1.0.9</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>1.1</h5>
                        </td>
                        <td>
                            <h5>13/09/2017</h5>
                        </td>
                        <td>
                            <h5>Buy Back and Sab Rent Karo Implementation and Changes in Ticket View Layout</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>1.0</h5>
                        </td>
                        <td>
                            <h5>12/09/2017</h5>
                        </td>
                        <td>
                            <h5>Repair Flow(Apprales) Changes</h5>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>