<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">FE Tracking</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-12">
                    <form name="form" id="Form" class="form-horizontal" role="form" method="post"
                          ng-submit="trackingFe(fetrack, 1, pageSize);" novalidate>

                        <div class="row justify-content-between" ng-show="loginInfo.roleCode==='admin'">
                            <div class="col-4">
                                <div class="form-group row">
                                    <label for="role" class="col-sm-2" style="">
                                        Choose Location
                                    </label>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                        <select name="location" id="location" class="form-control"
                                                ng-change="getFEList('field_engineer',fetrack.feCity);"
                                                placeholder="Select Status"
                                                ng-model="fetrack.feCity">
                                            <option value="">Choose</option>
                                            <option ng-repeat="location in locations|orderBy:'name':false" value="{{location.id}}">{{location.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-12 errors">
                                        <span ng-bind="errors.code"></span>
                                    </div>
                                </div>



                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <label for="role" class="col-sm-2" style="">
                                            Choose Field Engineer
                                        </label>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <select name="fe" id="fe" class="form-control"
                                                    placeholder="Select Status"
                                                    ng-model="fetrack.feName">
                                                <option value="">Choose</option>
                                                <option ng-repeat="r in feList|orderBy:'firstName':false" value="{{r.email}}">
                                                    {{displayName(r.firstName,r.lastName)}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-12 errors">
                                            <span ng-bind="errors.code"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <label class="col-sm-12">&nbsp;</label>
                                        <div class="col-sm-12">
                                            <button type="submit" class="btn btn-primary" name="next" id="saveBtn" check-access-perm="access_perm">
                                                Searchdbd
                                            </button>
                                            <button type="button" class="btn btn-default" name="next" sid="clearBtn"
                                                    ng-click="clearSearchFields();"> Clear
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <button type="button" class="btn btn-default" ng-click="map()">View Map</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>