<div class=" collapse in">
    <fieldset class="col-xs-12 col-lg-12 col-md-12">
		<legend>Add New Location Pincode</legend>
        <form name="form" id="Form" class="form-horizontal" role="form" method="post"
              ng-submit="savePincodes(pincodeList);" novalidate>
            <div class="form-group">
                <div class="col-sm-12">
                            <selectize  ng-model="pincodeList" config="pincodeConfig" options="pincodeOptions"
                                 placeholder='Add comma separated pincodes...'></selectize>
                        </div>
                <div class="col-sm-12 errors">
                    <span ng-bind="errors.pincode"></span>
                </div>
                <div class="col-sm-12">
                        <button type="submit" class="btn btn-success" aria-label="Left Align" check-access-perm="access_perm">
                            Save
                        </button>
                        <button type="button" class="btn btn-default" name="list" id="listBtn" ng-click="goToPage('rl.masters-location');">
						 Go To List Page
					</button>
                    </div>
                </div>
            </div>
        </form>
    </fieldset>
</div>