<div ng-controller="FeatureController">
	<load-template url="common/breadcrumb"></load-template>
	
	<table class="row-border hover table table-striped table-hover table-condensed" ng-model="features">
		<thead>
			<th>#</th>
			<th>Menu</th>
			<th>Name</th>
			<th>Code</th>
			<th>Order</th>
			<th>Level</th>
			<th>Parent</th>
			<th>Has Sub Menu?</th>
			<th>Feature Link</th>
		</thead>
		<tbody>

			<tr dir-paginate="feature in features|orderBy:'menuName':false:'name':false:'order':false|itemsPerPage:pageSize"
				total-items="total_count" ng-if="features.length > 0 || features != undefined">
				<td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
				<td ng-bind="feature.menuName+' ('+feature.menuLink+')'"></td>
				<td>
					<a href="#/role-management/feature/get/{{feature.id}}" ng-bind="feature.name"></a></td>
				<td ng-bind="feature.code"></td>
				<td ng-bind="feature.featureOrder"></td>
				<td ng-bind="feature.level"></td>
				<td ng-bind="feature.parent"></td>
				<td>
					<span  ng-if="feature.hasSubMenu===1">Yes</span>
					<span ng-if="feature.hasSubMenu!==1">No</span>
				</td>
				<td ng-bind="feature.link"></td>
			</tr>
		</tbody>
	</table>
	<dir-pagination-controls
		max-size="8"
		direction-links="true"
		boundary-links="true"
		on-page-change="featureList(newPageNumber,pageSize)"
		ng-if="features.length > 0">
	 </dir-pagination-controls>
</div>
