<div ng-controller="FeatureController" ng-model="feature">
	<load-template url="common/breadcrumb"></load-template>
	<div class="panel panel-default">
		<div class="panel-heading" ng-show="pageActionHeader!=''">
			<h3 class="panel-title" ng-bind="pageActionHeader"></h3>
		</div>
		<div class="panel-body">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<form name="form" id="Form" class="form-horizontal" role="form" method="post" ng-submit="save(feature);" novalidate>
					<input type="hidden" name="id" ng-model="feature.id" />
					<div class="form-group">
						<label for="name" class="col-sm-3 control-label" style="">
                        Name <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
								<input spellcheck="true" type="text" name="name" class="form-control" style="" id="name"
									   placeholder="Enter Feature Name" value="{{feature.name}}" ng-model="feature.name" maxlength="250" ng-required="required" required="required" />
							</div>
						</div>
						<div class="col-sm-3 errors">
							<span ng-bind="errors.name"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="code" class="col-sm-3 control-label" style="">
                        Code <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<input spellcheck="true" type="text" name="code" class="form-control" style="" id="code"
									   placeholder="Enter Feature Code" value="{{feature.code}}" ng-model="feature.code" maxlength="250" ng-required="required" required="required" />
							</div>
						</div>
						<div class="col-sm-3 errors">
							<span ng-bind="errors.code"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="order" class="col-sm-3 control-label" style="">
                        Order <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<input spellcheck="true" type="number" min="1" name="order" class="form-control" style="" id="order"
									   placeholder="Enter Feature Order" value="{{feature.order}}" ng-model="feature.order" maxlength="250" ng-required="required" required="required" />
							</div>
						</div>
						<div class="col-sm-3 errors">
							<span ng-bind="errors.order"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="link" class="col-sm-3 control-label" style="">
                        Link <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<input spellcheck="true" type="text" min="1" name="link" class="form-control" style="" id="link"
									   placeholder="Enter Menu Link" value="{{feature.link}}" ng-model="feature.link" maxlength="250" ng-required="required" required="required" />
							</div>
						</div>
						<div class="col-sm-3 errors">
							<span ng-bind="errors.link"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="menuId" class="col-sm-3 control-label" style="">
                        Menu <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<select name="menuId" id="menuId" class="form-control"
									placeholder="Select Menu" 
									ng-model="feature.menuId">
									<option value="">Choose</option>
									<option ng-repeat="m in menus|orderBy:'name':false" value="{{m.id}}" 
											>{{m.name}}</option>
								</select>
							</div>
						</div>
						<div class="col-sm-3 errors">
							<span ng-bind="errors.menuId"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="level" class="col-sm-3 control-label" style="">
                        Level <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<input spellcheck="true" type="number" min="1" name="level" class="form-control" style="" id="level"
									   placeholder="Enter Feature Order" value="{{feature.level}}" ng-model="feature.level" maxlength="250" ng-required="required" required="required" />
							</div>
						</div>
						<div class="col-sm-3 errors">
							<span ng-bind="errors.level"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="parent" class="col-sm-3 control-label" style="">
                        Parent Feature <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<select name="parent" id="parent" class="form-control"
									placeholder="Select Parent Feature" 
									ng-model="feature.parent">
									<option value="">Choose</option>
									<option ng-repeat="m in features|orderBy:'name':false" value="{{m.id}}" 
											>{{m.name}}</option>
								</select>
							</div>
						</div>
						<div class="col-sm-3 errors">
							<span ng-bind="errors.parent"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="categoriesServiced" class="col-sm-6 control-label" style="">
						Has Sub Menu? <span class="required">*</span>
						</label>
						<div class="col-sm-6">
							<input
								bs-switch                
								ng-model="feature.hasSubMenu"
								type="checkbox"
								switch-label=""
								switch-on-text="Yes"
								switch-off-text="No"
								ng-true-value="1"
								ng-false-value="0" />
						</div>
						<div class="col-sm-12 errors">
							<span ng-bind="errors.hasSubMenu"></span>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12 col-sm-offset-5">
							<button type="submit" class="btn btn-primary" check-access-perm="access_perm" name="save" id="saveBtn">
                             Save
						</button>
							<button type="button" class="btn btn-default" name="list" id="listBtn" ng-click="goToPage('rl.role-management-features');">
							 Go To List Page
                        </button>
							<button ng-if="feature.id!=undefined" type="button" check-access-perm="access_perm" class="btn btn-danger"
									ng-click="deleteFeature(feature, $index);">
								 Delete</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>