<div ng-controller="CityController">
	<load-template url="common/breadcrumb"></load-template>
	
	<table class="row-border hover table table-striped table-hover table-condensed" ng-model="outstationPackings">
		<thead>
			<th>#</th>
			<th>Category</th>
			<th>Box</th>
			<th>Cover</th>
			<th>Other</th>
		</thead>
		<tbody>

			<tr dir-paginate="outstationPacking in outstationPackings|itemsPerPage:pageSize"
				total-items="total_count"  ng-if="outstationPackings.length > 0 || outstationPackings != undefined">
				<td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
				<td>
					<a href="#/masters/outstation-packing/get/{{outstationPacking.id}}" ng-bind="outstationPacking.categoryName"></a></td>
				<td ng-bind = "outstationPacking.box"></td>
				<td ng-bind = "outstationPacking.cover"></td>
				<td ng-bind = "outstationPacking.other"></td>
			</tr>
		</tbody>
	</table>
	<dir-pagination-controls
		max-size="8"
		direction-links="true"
		boundary-links="true"
		on-page-change="getOutstationPackingList(newPageNumber,pageSize)"
		ng-if="cities.length > 0">
	 </dir-pagination-controls>
</div>
