
	<form name="retailerProductFilterForm" id="retailerProductFilterForm" class="form-horizontal" role="form" method="post"
				ng-submit="filterRetailerProducts(productFilter);" novalidate ng-model="productFilter">
		<div class="col-sm-3">
			<div class="form-group row">
				  <label for="name" class="col-sm-12" style="">
				  Name
				  </label>
				  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					  <input type="text" maxlength="50" name="name" class="form-control " ng-model="productFilter.name" id="name" />
				  </div>
				  <div class="col-sm-12 errors">
					  <span ng-bind="errors.name"></span>
				  </div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="form-group row">
				  <label for="code" class="col-sm-12" style="">
				  Code
				  </label>
				  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					  <input type="text" maxlength="50" name="code" class="form-control " ng-model="productFilter.code" id="code" />
				  </div>
				  <div class="col-sm-12 errors">
					  <span ng-bind="errors.code"></span>
				  </div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="form-group row">
				<label for="categoryId" class="col-sm-12" style="">
				Category
				</label>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				   <select name="categoryId" class="form-control" ng-model="productFilter.categoryId"
				   ng-change="populateSubCategory(productFilter.categoryId);">
						<option value="">Select Category</option>
						<option ng-repeat="category in categories|orderBy:'name':false" value="{{category.id}}">{{category.name}}</option>
				   </select>
				</div>
				<div class="col-sm-12 errors">
					<span ng-bind="errors.categoryId"></span>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="form-group row">
				<label for="subCategoryId" class="col-sm-12" style="">
					Sub Category
				</label>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<select name="subCategory" class="form-control" ng-model="productFilter.subCategoryId">
						<option value="">Select Sub Category</option>
						<option ng-repeat="subCategory in subCategories|orderBy:'name':false" value="{{subCategory.id}}">{{subCategory.name}}</option>
				   </select>
				</div>
				<div class="col-sm-12 errors">
					<span ng-bind="errors.subCategoryId"></span>
				</div>
			</div>
		</div>
		
		<div class="col-sm-3">
			<div class="form-group row">
				<label for="brandId" class="col-sm-12" style="">
					Brand
				</label>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<select name="brandId" class="form-control" ng-model="productFilter.brandId">
						<option value="">Select Brand</option>
						<option ng-repeat="brand in brands|orderBy:'name':false" value="{{brand.id}}">{{brand.name}}</option>
				   </select>
				</div>
				<div class="col-sm-12 errors">
					<span ng-bind="errors.brandId"></span>
				</div>
			</div>
		</div>
		
		<div class="col-sm-3">
			<div class="form-group row">
				<label for="packagingTypeId" class="col-sm-12" style="">
					Packaging Type
				</label>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<select name="brandId" class="form-control" ng-model="productFilter.packagingTypeId">
						<option value="">Select Packaging Type</option>
						<option ng-repeat="packagingType in packagingMaterialTypes|orderBy:'name':false" value="{{packagingType.id}}">{{packagingType.name}}</option>
				   </select>
				</div>
				<div class="col-sm-12 errors">
					<span ng-bind="errors.packagingTypeId"></span>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="form-group row">
				<label class="col-sm-12">&nbsp;</label>
				<div class="col-sm-12">
					<button type="submit" class="btn btn-primary" name="next" id="saveBtn">
						Filter
					</button>
					<button type="button" class="btn btn-default" name="next" id="clearBtn"
						ng-click="clearSearchFields();"> Clear
					</button>
					
				</div>
			</div>
			
		</div>
	</form>
	<table class="row-border hover table table-striped table-hover table-condensed" ng-model="products">
		<thead>
			<th>#</th>
			<th>Name</th>
			<th>Code</th>
			<th>Category</th>
			<th>Sub Category</th>
			<th>Brand</th>
			<th>Packaging Type</th>
		</thead>
		<tbody>

			<tr dir-paginate="product in products|itemsPerPage:pageSize" pagination-id="retailerProductPagination"
				total-items="total_count" ng-if="products.length > 0 || products != undefined">
				<td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
				<td ng-bind="product.name"></td>
				<td ng-if="product.code!=''" ng-bind="product.code"></td>
				<td ng-if="product.code==''">N/A</td>
				
				<td ng-bind="product.categoryName"></td>
				<td ng-bind="product.subCategoryName"></td>
				<td ng-bind="product.brandName"></td>
				<td >
					<span ng-bind="product.packagingTypeBox + '(Box)'" ng-if="product.packagingTypeBox!==null"></span><br/>
					<span ng-bind="product.packagingTypeCover + '(Cover)'" ng-if="product.packagingTypeCover!==null"></span>
				</td>
				<td ng-click="getRetailerProduct(product)" class="hand"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
			</tr>
			<tr ng-if="products.length == 0">
				<td colspan="7">No Records Found!</td>
			</tr>
		</tbody>
	</table>
	<dir-pagination-controls
		pagination-id="retailerProductPagination"
		max-size="8"
		direction-links="true"
		boundary-links="true"
		on-page-change="getProductList(newPageNumber,pageSize)"
		ng-if="products.length > 0">
	 </dir-pagination-controls>