<div ng-controller="RetailerProductController">
<load-template url="pages/retailer/product/list" ng-if="showProductList===true"></load-template>
<load-template url="pages/retailer/product/save" ng-if="showProductSave===true"></load-template>
<load-template url="pages/retailer/product/bulk_upload" ng-if="showProductUpload===true"></load-template>
</div>