
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<form name="form" id="Form" class="form-horizontal"  ng-model="product" role="form" method="post" ng-submit="saveProductDetails(product);" novalidate>
		<input type="hidden" name="id" ng-model="product.id" />
		<div class="form-group">
			<label for="name" class="col-sm-3 control-label" style="">
			Name <span class="required">*</span>
			</label>
			<div class="col-sm-6">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<input spellcheck="true" type="text" name="name" class="form-control" style="" id="name"
						   placeholder="Enter Product Name" ng-model="product.name"
						   maxlength="250" required="" />
				</div>
			</div>
			<div ng-messages="form.name.$error" role="alert" ng-messages-multiple
				 ng-show="form.$submitted || form.name.$touched"
				 class="col-sm-3 errors">
				<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
			</div>
		</div>
		<div class="form-group">
			<label for="code" class="col-sm-3 control-label" style="">
			Code <span class="required">*</span>
			</label>
			<div class="col-sm-6">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<input spellcheck="true" type="text" name="code" class="form-control" style="" id="name"
						   placeholder="Enter Product Code" ng-model="product.code"
						   maxlength="250" required="" />
				</div>
			</div>
			<div ng-messages="form.code.$error" role="alert" ng-messages-multiple
				 ng-show="form.$submitted || form.code.$touched"
				 class="col-sm-3 errors">
				<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
			</div>
		</div>
		<div class="form-group">
			<label for="code" class="col-sm-3 control-label" style="">
			Description
			</label>
			<div class="col-sm-6">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<textarea name="description" id="description" class="form-control"
							  placeholder="Enter Description" ng-model="product.description"></textarea>
				</div>
			</div>
			<div ng-messages="form.description.$error" role="alert" ng-messages-multiple
				 ng-show="form.$submitted || form.description.$touched"
				 class="col-sm-3 errors">
				<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
			</div>
		</div>
		
		<div class="form-group">
			<label for="model" class="col-sm-3 control-label" style="">
			Model <span class="required">*</span>
			</label>
			<div class="col-sm-6">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<input spellcheck="true" type="text" name="model" class="form-control" style="" id="model"
						   placeholder="Enter Product Model" ng-model="product.model"
						   maxlength="250" required="" />
				</div>
			</div>
			<div ng-messages="form.model.$error" role="alert" ng-messages-multiple
				 ng-show="form.$submitted || form.model.$touched"
				 class="col-sm-3 errors">
				<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
			</div>
		</div>
		
		<div class="form-group">
			<label for="packagingTypeBoxId" class="col-sm-3 control-label" style="">
			Packaging Type (Box)<span class="required">*</span>
			</label>
			<div class="col-sm-6">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<select name="packagingTypeBoxId" id="packagingTypeBoxId" class="form-control"
						placeholder="Select Packaging Type" required
						ng-model="product.packagingTypeBoxId">
						<option value="">Choose</option>
						<option ng-repeat="packingMaterial in packagingMaterialTypes" ng-if="packingMaterial.type==0" value="{{packingMaterial.id}}" 
								>{{packingMaterial.name}}</option>
					</select>
				</div>
			</div>
			<div ng-messages="form.packagingTypeBoxId.$error" role="alert" ng-messages-multiple
				 ng-show="form.$submitted || form.packagingTypeBoxId.$touched"
				 class="col-sm-3 errors">
				<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
			</div>
		</div>
		
		<div class="form-group">
			<label for="packagingTypeCoverId" class="col-sm-3 control-label" style="">
			Packaging Type (Cover)
			</label>
			<div class="col-sm-6">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<select name="packagingTypeCoverId" id="packagingTypeCoverId" class="form-control"
						placeholder="Select Packaging Type" 
						ng-model="product.packagingTypeCoverId">
						<option value="">Choose</option>
						<option ng-repeat="packingMaterial in packagingMaterialTypes" ng-if="packingMaterial.type==1" value="{{packingMaterial.id}}" 
								>{{packingMaterial.name}}</option>
					</select>
				</div>
			</div>
			<div ng-messages="form.packagingTypeCoverId.$error" role="alert" ng-messages-multiple
				 ng-show="form.$submitted || form.packagingTypeCoverId.$touched"
				 class="col-sm-3 errors">
				<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
			</div>
		</div>
		
		<div class="form-group">
			<label for="packagingTypeCoverId" class="col-sm-3 control-label" style="">
			Packaging Type (Other)
			</label>
			<div class="col-sm-6">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<select name="packagingTypeOtherId" id="packagingTypeOtherId" class="form-control"
						placeholder="Select Packaging Type" 
						ng-model="product.packagingTypeOtherId">
						<option value="">Choose</option>
						<option ng-repeat="packingMaterial in packagingMaterialTypes" ng-if="packingMaterial.type==2" value="{{packingMaterial.id}}" 
								>{{packingMaterial.name}}</option>
					</select>
				</div>
			</div>
			
		</div>
		
		<div class="form-group">
			<label for="category" class="col-sm-3 control-label" style="">
			Category <span class="required">*</span>
			</label>
			<div class="col-sm-6">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<select name="category" id="category" class="form-control"
						placeholder="Select Sub Category"
						ng-change="populateSubCategory(product.categoryId);"
						ng-model="product.categoryId" required>
						<option value="">Choose</option>
						<option ng-repeat="cat in categories" value="{{cat.id}}" 
								>{{cat.name}}</option>
					</select>
				</div>
			</div>
			<div ng-messages="form.category.$error" role="alert" ng-messages-multiple
				 ng-show="form.$submitted || form.category.$touched"
				 class="col-sm-3 errors">
				<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
			</div>
		</div>
		
		<div class="form-group">
			<label for="subCategory" class="col-sm-3 control-label" style="">
			Sub Category <span class="required">*</span>
			</label>
			<div class="col-sm-6">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<select name="subCategory" id="subCategory" class="form-control"
						placeholder="Select Sub Category" required
						ng-model="product.subCategoryId">
						<option value="">Choose</option>
						<option ng-repeat="subCat in subCategories" value="{{subCat.id}}" 
								>{{subCat.name}}</option>
					</select>
				</div>
			</div>
			<div ng-messages="form.subCategory.$error" role="alert" ng-messages-multiple
				 ng-show="form.$submitted || form.subCategory.$touched"
				 class="col-sm-3 errors">
				<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
			</div>
		</div>
		
		<div class="form-group">
			<label for="brand" class="col-sm-3 control-label" style="">
			Brand <span class="required">*</span>
			</label>
			<div class="col-sm-6">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<select name="brand" id="brand" class="form-control"
						placeholder="Select Brand" required
						ng-model="product.brandId">
						<option value="">Choose</option>
						<option ng-repeat="b in brands" value="{{b.id}}" 
								>{{b.name}}</option>
					</select>
				</div>
			</div>
			<div ng-messages="form.brand.$error" role="alert" ng-messages-multiple
				 ng-show="form.$submitted || form.brand.$touched"
				 class="col-sm-3 errors">
				<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
			</div>
		</div>
		
		<div class="form-group">
			<label for="volumetricWeight" class="col-sm-3 control-label" style="">
			Volumetric Weight <span class="required">*</span>
			</label>
			<div class="col-sm-6">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="input-group">
					<input spellcheck="true" type="number" min="0" step="0.01" name="volumetricWeight"
						   class="form-control" style="" id="name" placeholder="Enter Product Volumetric Weight"
						   ng-model="product.volumetricWeight"
						   maxlength="10" required="" />
						<span class="input-group-addon" id="basic-addon1">g</span>
					</div>
				</div>
			</div>
			<div ng-messages="form.volumetricWeight.$error" role="alert" ng-messages-multiple
				 ng-show="form.$submitted || form.volumetricWeight.$touched"
				 class="col-sm-3 errors">
				<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
			</div>
		</div>
		
		<div class="form-group">
						<label for="cost" class="col-sm-3 control-label" style="">
                        Length
                        </label>
						<div class="col-sm-6">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								
									
										<div class="input-group">									
											<input type="number" maxlength="10" min="0" ng-max="product.length" step="0.01"
										   id="lengthMin" name="lengthMin" min="0" placeholder="Enter length"
										   ng-model="product.length" class="form-control"
										   />
											<span class="input-group-addon" id="basic-addon1">cm</span>
										</div>
									
									
								
							</div>
							<div class="clearfix"></div>
						</div>
		</div>
		
		<div class="form-group">
						<label for="cost" class="col-sm-3 control-label" style="">
                        Breadth
                        </label>
						<div class="col-sm-6">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								
									
										<div class="input-group">									
											<input type="number" maxlength="10" min="0" ng-max="product.breadth" step="0.01"
										   id="breadth" name="breadth" min="0" placeholder="Enter breadth"
										   ng-model="product.breadth" class="form-control"
										   />
											<span class="input-group-addon" id="basic-addon1">cm</span>
										</div>
									
									
								
							</div>
							<div class="clearfix"></div>
						</div>
		</div>
		
		<div class="form-group">
						<label for="cost" class="col-sm-3 control-label" style="">
                        Height
                        </label>
						<div class="col-sm-6">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								
									
										<div class="input-group">									
											<input type="number" maxlength="10" min="0" ng-max="product.height" step="0.01"
										   id="height" name="height" min="0" placeholder="Enter height"
										   ng-model="product.height" class="form-control"
										   />
											<span class="input-group-addon" id="basic-addon1">cm</span>
										</div>
									
									
								
							</div>
							<div class="clearfix"></div>
						</div>
		</div>
		
		<div class="form-group">
			<label for="actualWeight" class="col-sm-3 control-label" style="">
			Actual Weight<span class="required">*</span>
			</label>
			<div class="col-sm-6">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="input-group">
					<input spellcheck="true" type="number" min="0" step="0.01" name="actualWeight"
						   class="form-control" style="" id="name" placeholder="Enter Product Actual Weight"
						   ng-model="product.actualWeight"
						   maxlength="10" required="" />
						<span class="input-group-addon" id="basic-addon1">g</span>
					</div>
				</div>
			</div>
			<div ng-messages="form.actualWeight.$error" role="alert" ng-messages-multiple
				 ng-show="form.$submitted || form.actualWeight.$touched"
				 class="col-sm-3 errors">
				<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
			</div>
		</div>
		
		<div class="form-group">
			<label for="approxValue" class="col-sm-3 control-label" style="">
			Approximate value of the Product(Rs) <span class="required">*</span>
			</label>
			<div class="col-sm-6">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1">&#8377;</span>
						<input spellcheck="true" type="number" min="0" step="0.01" name="approxValue"
							   class="form-control" style="" id="name" placeholder="Enter  Approximate value of the Product"
							   ng-model="product.approxValue"
							   maxlength="10" required="" />
					</div>
				</div>
			</div>
			<div ng-messages="form.approxValue.$error" role="alert" ng-messages-multiple
				 ng-show="form.$submitted || form.approxValue.$touched"
				 class="col-sm-3 errors">
				<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-12 col-sm-offset-4">
				<button type="submit" class="btn btn-primary" name="save" id="saveBtn"
						ng-disabled="form.$invalid"
						check-access-perm="access_perm">
				Save
			</button>
				<button type="button" class="btn btn-default" name="list" id="listBtn" ng-click="getProductList(1,pageSize);">
				Go To List Page
			</button>
			</div>
		</div>
	</form>
</div>