<div ng-controller="NewSubmenuController" ng-model="packing">
	<load-template url="common/breadcrumb"></load-template>

	<div class="panel panel-default">
		<div class="panel-heading" ng-show="pageActionHeader!=''">
			<h3 class="panel-title" ng-bind="pageActionHeader"></h3>
		</div>
		<div class="panel-body">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<form name="form" id="Form" class="form-horizontal" role="form" method="post" ng-submit="save(packing);" novalidate>
					<input type="hidden" name="id" ng-model="packing.id" />
					<div class="form-group">
						<label for="parentSubMenuId" class="col-sm-3 control-label" style="">
                        Service Type<span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<select name="parentSubMenuId" id="parentSubMenuId" class="form-control"
							 placeholder="Select Parent SubMenu" ng-model="packing.serviceId"
							 ng-required="required" required="required">
									<option value="">Choose</option>
									<option ng-repeat="s in masterServices" value="{{s.id}}" 
											>{{s.name}}</option>
								</select>
						</div>
						<div class="col-sm-3 errors">
							<span ng-bind="errors.serviceId"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="parentSubMenuId" class="col-sm-3 control-label" style="">
                        Category<span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<select name="parentSubMenuId" id="parentSubMenuId" class="form-control"
							 placeholder="Select Parent packing" ng-model="packing.categoryId">
									<option value="">Choose</option>
									<option ng-repeat="c in categories" value="{{c.id}}" 
											>{{c.name}}</option>
								</select>
						</div>
						<div class="col-sm-3 errors">
							<span ng-bind="errors.categoryId"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="parentSubMenuId" class="col-sm-3 control-label" style="">
                        New Production PickUp(L)<span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<select name="parentSubMenuId" id="parentSubMenuId" class="form-control"
							 placeholder="Select Parent packing" ng-model="packing.newPickupLocal">
									<option value="">Choose</option>
                            <option value="local">Local</option>
							<option value="outstation">Out Station</option>
							<option value="none">None</option>
								</select>
						</div>
						<div class="col-sm-3 errors">
							<span ng-bind="errors.newPickupLocal"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="parentSubMenuId" class="col-sm-3 control-label" style="">
                        New Production PickUp(O)<span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<select name="parentSubMenuId" id="parentSubMenuId" class="form-control"
							 placeholder="Select Parent packing" ng-model="packing.newPickupOutstation">
									<option value="">Choose</option>
                            <option value="local">Local</option>
							<option value="outstation">Out Station</option>
							<option value="none">None</option>
								</select>
						</div>
						<div class="col-sm-3 errors">
							<span ng-bind="errors.newPickupOutstation"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="parentSubMenuId" class="col-sm-3 control-label" style="">
                        Old Production PickUp(L)<span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<select name="parentSubMenuId" id="parentSubMenuId" class="form-control"
							 placeholder="Select Parent packing" ng-model="packing.oldPickupLocal">
									<option value="">Choose</option>
                            <option value="local">Local</option>
							<option value="outstation">Out Station</option>
								</select>
						</div>
						<div class="col-sm-3 errors">
							<span ng-bind="errors.oldPickupLocal"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="parentSubMenuId" class="col-sm-3 control-label" style="">
                        Old Production PickUp(O)<span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<select name="parentSubMenuId" id="parentSubMenuId" class="form-control" 
							placeholder="Select Parent packing" ng-model="packing.oldPickupOutstation">
									<option value="">Choose</option>
                            <option value="local">Local</option>
							<option value="outstation">Out Station</option>
								</select>
						</div>
						<div class="col-sm-3 errors">
							<span ng-bind="errors.oldPickupOutstation"></span>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-12 text-center">
							<button type="submit" class="btn btn-primary" name="save" id="saveBtn" check-access-perm="access_perm">
							Save</button>
							<button type="button" ng-if="packing.id !== undefined && packing.id !== null && packing.id !== ''" class="btn btn-danger" ng-click="deletepackingSpecs(packing, $index);" check-access-perm="access_perm">
							 Delete</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>