<div ng-controller="SMSEmialTemplateController">
	<load-template url="common/breadcrumb"></load-template>
	<table class="row-border hover table table-striped table-hover table-condensed"  ng-model="smsEmailTemplateList">
		<thead>
			<th>#</th>
			<th>Code</th>
			<th>Email Template</th>
			<th>SMS Template</th>
			<th>Parameters</th>
		</thead>
		<tbody>

			<tr dir-paginate="template in smsEmailTemplateList|itemsPerPage:pageSize"
				total-items="total_count" ng-if="smsEmailTemplateList.length > 0 || smsEmailTemplateList != undefined">
				<td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
				<td >
					<a href="#/masters/sms-email-template/get/{{template.id}}" tooltip title="Edit this record" ng-bind="template.smsEmailTriggerCode"></a>
				</td>
				<td ng-bind-html="template.emailTemplate"></td>
				<td ng-bind-html="template.smsTemplate"></td>
				<td ng-bind-html="template.params"></td>
			</tr>
		</tbody>
	</table>
	<dir-pagination-controls
		max-size="8"
		direction-links="true"
		boundary-links="true"
		on-page-change="getSmsEmailTemplateList(newPageNumber,pageSize)"
		ng-if="smsEmailTemplateList.length > 0">
	 </dir-pagination-controls>
</div>
