<div ng-controller="CityController">
	<load-template url="common/breadcrumb"></load-template>
	
	<table class="row-border hover table table-striped table-hover table-condensed" ng-model="localPackings">
		<thead>
			<th>#</th>
			<th>Category</th>
			<th>Box</th>
			<th>Cover</th>
			<th>Other</th>
		</thead>
		<tbody>

			<tr dir-paginate="localPacking in localPackings|itemsPerPage:pageSize"
				total-items="total_count"  ng-if="localPackings.length > 0 || localPackings != undefined">
				<td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
				<td>
					<a href="#/masters/local-packing/get/{{localPacking.id}}" ng-bind="localPacking.categoryName"></a></td>
				<td ng-bind = "localPacking.box"></td>
				<td ng-bind = "localPacking.cover"></td>
				<td ng-bind = "localPacking.other"></td>
			</tr>
		</tbody>
	</table>
	<dir-pagination-controls
		max-size="8"
		direction-links="true"
		boundary-links="true"
		on-page-change="getLocalPackingList(newPageNumber,pageSize)"
		ng-if="cities.length > 0">
	 </dir-pagination-controls>
</div>
