<div ng-controller="SMSEmialTriggerConfigController" ng-model="smsEmailTriggerConfig">
	<load-template url="common/breadcrumb"></load-template>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">SMS/Email Notification Settings</h3>
		</div>
		<div class="panel-body">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <form name="smsEmailTriggerConfigForm" id="smsEmailTriggerConfigForm" class="form-horizontal" role="form" method="post"
                    ng-submit="save(smsEmailTriggerConfigList);" novalidate 
                    ng-model="smsEmailTriggerConfigList">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <table class="table table-bordered" table="ng">
                                <tr class="text-center">
                                    <th class="text-center vcenter">Service</th>
                                    <th class="text-center vcenter">Trigger Code</th>
                                    <th class="text-center vcenter">
										<label>
											<span class="col-sm-12">Email Required?</span>
											<input type="checkbox" name="selectAll" ng-model="selectAllEmailRequired" value="1"
												   ng-true-value="1" ng-false-value="0"
												   ng-change="checkAll('selectAllEmailRequired')"
											   ng-checked="selectAllEmailRequired=='1'" class="col-sm-12" />
										</label>										
									</th>
                                    <th class="text-center vcenter">
										<label>
											<span class="col-sm-12">SMS Required?</span>
											<input type="checkbox" name="selectAll" ng-model="selectAllSMSRequired" value="1"
												   ng-true-value="1" ng-false-value="0"
												   ng-change="checkAll('selectAllSMSRequired')"
											   ng-checked="selectAllSMSRequired=='1'" class="col-sm-12" /> 
										</label>
									</th>
                                </tr>
                                <tr ng-repeat="config in smsEmailTriggerConfigList">
                                    <td ng-bind="config.serviceName"></td>
                                    <td ng-bind="config.smsEmailTriggerCode"></td>
                                    <td class="text-center">
                                        <input type="checkbox" name="isEmailRequired[]"
                                               ng-model="smsEmailTriggerConfigList[$index].isEmailRequired"
                                               ng-true-value="1" ng-false-value="0"
											   ng-checked="selectAllEmailRequired==1||smsEmailTriggerConfigList[$index].isEmailRequired==1"
                                               id="isEmailRequired~{{config.serviceId}}~{{config.smsEmailTriggerCode}}"
                                               />
                                    </td>
                                    <td class="text-center" >
                                        <input type="checkbox" name="isSmsRequired[]"
                                               ng-model="smsEmailTriggerConfigList[$index].isSmsRequired"
                                               ng-true-value="1" ng-false-value="0"
											   ng-checked="selectAllSMSRequired==1||smsEmailTriggerConfigList[$index].isSmsRequired==1"
                                               id="isSmsRequired~{{config.serviceId}}~{{config.smsEmailTriggerCode}}"
                                               />
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-sm-12 errors">
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-primary" name="next" id="saveBtn" check-access-perm="access_perm">
                                Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>