<div ng-controller="LocationController">
	<load-template url="common/breadcrumb"></load-template>
	
	<table class="row-border hover table table-striped table-hover table-condensed" >
		<thead>
			<th>#</th>
			<th>Name</th>
			<th>Code</th>
			<th>City</th>
			<th>Pincode</th>
			<th>Email</th>
			<th>Phone</th>
		</thead>
		<tbody>

			<tr dir-paginate="location in locations|itemsPerPage:pageSize"
				total-items="total_count" ng-if="locations.length > 0 || locations != undefined">
				<td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
				<td>
					<a href="#/masters-location/get/{{location.id}}" ng-bind="location.name"></a></td>
				<td ng-bind="location.code"></td>
				<td ng-bind="location.city"></td>
				<td ng-bind="location.pincode"></td>
				<td ng-bind="location.email"></td>
				<td ng-bind="location.phoneNumber"></td>
			</tr>
		</tbody>
	</table>
	<dir-pagination-controls
		max-size="8"
		direction-links="true"
		boundary-links="true"
		on-page-change="getLocationList(newPageNumber,pageSize)"
		ng-if="locations.length > 0">
	 </dir-pagination-controls>
</div>
