<div ng-controller="AdditionalCostingController">
	<load-template url="common/breadcrumb"></load-template>
	
	<table class="row-border hover table table-striped table-hover table-condensed" ng-model="cities">
		<thead>
			<th>#</th>
			<th>Name</th>
			<th>Costing Type</th>
			<th>Amount</th>
			<th>Status</th>
		</thead>
		<tbody>

			<tr dir-paginate="additionalCosting in additionalCostingList|itemsPerPage:pageSize"
				total-items="total_count"  ng-if="additionalCostingList.length > 0 || additionalCostingList != undefined">
				<td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
				<td>
					<a href="#/masters/additional-costing/get/{{additionalCosting.id}}" ng-bind="additionalCosting.id"></a></td>
				<td >
					<a href="#/masters/additional-costing/get/{{additionalCosting.id}}" ng-bind="additionalCosting.costingType" ></a></td>
				<td ng-bind="additionalCosting.amount"></td>
				<td>
					<span ng-if="additionalCosting.status === 1">Active</span>
					<span ng-if="additionalCosting.status === 0">Inactive</span>
				</td>
			</tr>
		</tbody>
	</table>
	<dir-pagination-controls
		max-size="8"
		direction-links="true"
		boundary-links="true"
		on-page-change="getAdditionalCostingList(newPageNumber,pageSize)"
		ng-if="additionalCostingList.length > 0">
	 </dir-pagination-controls>
</div>
