<div ng-controller="BrandController">
	<load-template url="common/breadcrumb"></load-template>
	<table class="row-border hover table table-striped table-hover table-condensed"  ng-model="brands">
		<thead>
			<th>#</th>
			<th>Name</th>
			<th>Code</th>
		</thead>
		<tbody>

			<tr dir-paginate="brand in brands|itemsPerPage:pageSize"
				total-items="total_count" ng-if="brands.length > 0 || brands != undefined">
				<td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
				<td>
					<a href="#/masters-brand/get/{{brand.id}}" ng-bind="brand.name"></a></td>
				<td ng-if="brand.code!=''" ng-bind="brand.code"></td>
				<td ng-if="brand.code==''">N/A</td>
			</tr>
		</tbody>
	</table>
	<dir-pagination-controls
		max-size="8"
		direction-links="true"
		boundary-links="true"
		on-page-change="getBrandList(newPageNumber,pageSize)"
		ng-if="brands.length > 0">
	 </dir-pagination-controls>
</div>
