<div ng-controller="BrandController" ng-model="brand">
	<load-template url="common/breadcrumb"></load-template>
	<div class="panel panel-default">
		<div class="panel-heading" ng-show="pageActionHeader!=''">
			<h3 class="panel-title" ng-bind="pageActionHeader"></h3>
		</div>
		<div class="panel-body">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<form name="form" id="Form" class="form-horizontal" role="form" method="post" ng-submit="save(brand);" novalidate>
					<input type="hidden" name="id" ng-model="brand.id" />
					<div class="form-group">
						<label for="name" class="col-sm-3 control-label" style="">
                        Name <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
								<input spellcheck="true" type="text" name="name" class="form-control" style="" id="name"
									   placeholder="Enter Brand Name" 
									   ng-model="brand.name" maxlength="250" ng-required="required" required="required" />
							
						</div>
						<div class="col-sm-3 errors">
							<span ng-bind="errors.name"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="code" class="col-sm-3 control-label" style="">
                        Code <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
								<input spellcheck="true" type="text" name="code" class="form-control" style="" id="name"
									   placeholder="Enter Brand Code" ng-model="brand.code" maxlength="250" ng-required="required" required="required" />
							
						</div>
						<div class="col-sm-3 errors">
							<span ng-bind="errors.code"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="code" class="col-sm-3 control-label" style="">
                        Description
                        </label>
						<div class="col-sm-6">
								<textarea name="description" id="description" class="form-control"
										  placeholder="Enter Description" ng-model="brand.description"
										  ></textarea>
						</div>
						<div class="col-sm-3 errors">
							<span ng-bind="errors.description"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="parentBrandId" class="col-sm-3 control-label" style="">
                        Parent Brand
                        </label>
						<div class="col-sm-6">
								<select name="parentBrandId" id="parentBrandId" class="form-control"
									placeholder="Select Parent Brand" 
									ng-model="brand.parentBrandId">
									<option value="">Choose</option>
									<option ng-repeat="b in brands" value="{{b.id}}" 
											>{{b.name}}</option>
								</select>
						</div>
						<div class="col-sm-3 errors">
							<span ng-bind="errors.parentBrandId"></span>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-12 text-center">
							<button type="submit" class="btn btn-primary" name="save" id="saveBtn" check-access-perm="access_perm">
							Save
						</button>
							<button type="button" class="btn btn-default" name="list" id="listBtn" ng-click="goToPage('rl.masters-brand');">
							Go To List Page
						</button>
							<button type="button" ng-if="brand.id !== undefined && brand.id !== null && brand.id !== ''" class="btn btn-danger" ng-click="deleteBrand(brand, $index);" check-access-perm="access_perm">
							 Delete</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>