<div class="row" ng-model="breadcrumbs">
    <ol class="breadcrumb pagebreadcrumb">
        <li ng-repeat="breadcrumb in breadcrumbs">
            <a href="#{{breadcrumb.link}}" ng-bind="breadcrumb.title"
               ng-if="breadcrumb.link !== undefined && breadcrumb.link !== null && breadcrumb.link !== ''"></a>
            <span ng-bind="breadcrumb.title"
                  ng-if="breadcrumb.link === undefined || breadcrumb.link === null || breadcrumb.link === ''"></span>
        </li>
        <li class="pull-right" id="right-links">
            <span ng-if="showRefresh==true">
                <a ng-click="refreshData(1,pageSize);">Refresh</a>
            </span>
            <span ng-if="access_perm ==='rw' && showUpload==true" check-access-perm="access_perm" url="uploadUrl">                
                <span ng-if="showRefresh==true" >&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                <a ng-click="addNew(uploadState);">Upload</a>
            </span>
            <span ng-if="access_perm ==='rw' && showAddNew==true" check-access-perm="access_perm" url="addNewUrl">                
                <span ng-if="showRefresh==true || showUpload == true" >&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                <a ng-click="addNew(addNewState);">Add New</a>
            </span>
        </li>
    </ol>
</div>