<script type="text/ng-template" id="templateId">
    <div class="dialog-contents">
        Do you want to delete this {{itemName}}<br/><br/>
        <button ng-click="closeThisDialog()" class="btn btn-default">Cancel</button>&nbsp;&nbsp;
        <button ng-click="confirm()" class="btn btn-primary">Confirm</button>
    </div>
</script>