<nav class="navbar navbar-default no-margin">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header fixed-brand">
		
		<load-template url="common/login-header"></load-template>		
	</div>
	<!-- navbar-header-->

	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		
		<load-template url="common/top_menu"></load-template>
	</div>
	<!-- bs-example-navbar-collapse-1 -->
</nav>