
<ul class="dropdown-menu" ng-repeat="menu in menubar"  ng-if="menu.menuCode == currentMenuCode">
	<li  ng-repeat="feature in menu.features" ng-if="feature.featureName.indexOf('List') !== -1">
		<a href="#{{feature.featureLink}}" ng-bind="feature.featureName">
		</a>
	</li>
</ul>