<div ng-controller="CostingActivityController" ng-model="costingActivity">
	<load-template url="common/breadcrumb"></load-template>
	<div class="panel panel-default">
		<div class="panel-heading" ng-show="pageActionHeader!=''">
			<h3 class="panel-title" ng-bind="pageActionHeader"></h3>
		</div>
		<div class="panel-body">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<form name="form" id="Form" class="form-horizontal" role="form" method="post" ng-submit="save(costingActivity);" novalidate>
					<input type="hidden" name="id" ng-model="costingActivity.id" />
					<div class="form-group">
						<label for="name" class="col-sm-3 control-label" style="">
                        Name <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
								<input spellcheck="true" type="text" name="name" class="form-control" style="" id="name"
									   placeholder="Enter Costing Activity Name" value="{{costingActivity.name}}"
									   ng-model="costingActivity.name" maxlength="250" ng-required="required"
									   required="required" />
							
						</div>
						<div class="col-sm-3 errors">
							<span ng-bind="errors.name"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="code" class="col-sm-3 control-label" style="">
                        Code <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
								<input spellcheck="true" type="text" name="code" class="form-control" style="" id="name"
									   placeholder="Enter Costing Activity Code" value="{{costingActivity.code}}"
									   ng-model="costingActivity.code" maxlength="250" ng-required="required"
									   required="required" />
							
						</div>
						<div class="col-sm-3 errors">
							<span ng-bind="errors.code"></span>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12 text-center">
							<button type="submit" class="btn btn-primary" name="save" id="saveBtn" check-access-perm="access_perm">
							Save
						</button>
							<button  type="button" class="btn btn-default" name="list" id="listBtn" ng-click="goToPage('rl.masters-costing-activity');">
							Go To List Page
						</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>