<div ng-controller="SMSEmialTriggerController" ng-model="smsEmailTrigger">
	<load-template url="common/breadcrumb"></load-template>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title" ng-bind="pageActionHeader"></h3>
		</div>
		<div class="panel-body">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<form name="smsEmailTriggerForm" id="Form" class="form-horizontal" role="form" method="post"
					  ng-submit="save(smsEmailTrigger);" novalidate>
					<input type="hidden" name="id" ng-model="smsEmailTrigger.id" />
					<div class="form-group">
						<label for="code" class="col-sm-3 control-label" style="">
                        Code <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<input spellcheck="true" type="text" name="code" class="form-control" style=""
								   id="name" placeholder="Enter SMS/Email Trigger Code" ng-model="smsEmailTrigger.code"
								   maxlength="250"  required="required" />
						
						</div>
						<div ng-messages="smsEmailTriggerForm.code.$error" role="alert" ng-messages-multiple
							 ng-show="smsEmailTriggerForm.$submitted || smsEmailTriggerForm.code.$touched"
							 class="col-sm-3 errors" >
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>
					<div class="form-group">
						<label for="description" class="col-sm-3 control-label" style="">
                        Description <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<textarea spellcheck="true"  name="description" class="form-control" style=""
								   id="description" placeholder="Enter Description" rows="4" cols="80"
									  ng-model="smsEmailTrigger.description" required
								   maxlength="500" />
						
						</div>
						<div ng-messages="smsEmailTriggerForm.description.$error" role="alert" ng-messages-multiple
							 ng-show="smsEmailTriggerForm.$submitted || smsEmailTriggerForm.description.$touched"
							 class="col-sm-3 errors" >
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12 text-center">
							<button type="submit" class="btn btn-primary" name="save" id="saveBtn"
									ng-disabled="smsEmailTriggerForm.$invalid"
									check-access-perm="access_perm">
                            Save
						</button>
							<button type="button" class="btn btn-default" name="list" id="listBtn" ng-click="goToPage('rl.masters-sms-email-trigger');">
							Go To List Page
                        </button>
							<!--<button type="button" class="btn btn-danger" ng-click="deleteSMSEmialTrigger(smsEmailTrigger, $index);" check-access-perm="access_perm">
								<span class="glyphicon glyphicon-remove"></span> Delete</button>-->
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>