<div ng-controller="SubCategoryController">
	<load-template url="common/breadcrumb"></load-template>
	<table class="row-border hover table table-striped table-hover table-condensed" ng-model="subcategories">
		<thead>
			<th>#</th>
			<th>Name</th>
			<th>Code</th>
			<th>Category</th>
		</thead>
		<tbody>

			<tr dir-paginate="subCategory in subCategories|itemsPerPage:pageSize"
				total-items="total_count" ng-if="subCategories.length > 0 || subCategories != undefined">
				<td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
				<td>
					<a href="#/masters/sub-category/get/{{subCategory.id}}" ng-bind="subCategory.name"></a></td>
				<td ng-if="subCategory.code!=''" ng-bind="subCategory.code"></td>
				<td ng-if="subCategory.code==''">N/A</td>
				
				<td ng-bind="subCategory.categoryName"></td>
			</tr>
		</tbody>
	</table>
	<dir-pagination-controls
		max-size="8"
		direction-links="true"
		boundary-links="true"
		on-page-change="getProductSubCategoryList(newPageNumber,pageSize)"
		ng-if="subCategories.length > 0">
	 </dir-pagination-controls>
</div>
