
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
	<div class="row">
		<load-template url="pages/service_provider/pages/location/location.save"></load-template>        
    </div>
    <div class="row">
		<load-template url="pages/service_provider/pages/location/location.list"></load-template>        
    </div>
</div>