
		<div class=" collapse in"  id="listServiceProviderLocations">
			<table class="row-border hover table table-striped table-hover table-condensed"  ng-model="serviceProvider.locations">
				<thead>
					<th>#</th>
					<th>Area</th>
					<th>City</th>
					<th>Pincode</th>
					<th>&nbsp;</th>
				</thead>
				<tbody>
		
					<tr dir-paginate="location in serviceProvider.locations|orderBy:'area':false|itemsPerPage:pageSize"
							total-items="total_count" pagination-id="serviceProviderLocationPagination"
						ng-if="serviceProvider.locations.length > 0 || serviceProvider.locations != undefined">
						<td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
						
						<td ng-bind="location.area"></td>
						<td>
							<span ng-if="location.city == null">-</span>
							<span ng-if="location.city != null" ng-bind="location.city">-</span>
						</td>
						<td>
							<span ng-if="location.pincode == null">-</span>
							<span ng-if="location.pincode != null" ng-bind="location.pincode">-</span>
						</td>
						<td ng-click="getServiceProviderLocation(location)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
						
					</tr>
				</tbody>
			</table>
			<dir-pagination-controls
				pagination-id="serviceProviderLocationPagination"
				max-size="8"
				direction-links="true"
				boundary-links="true"
				on-page-change="populateServiceProviderLocationList(newPageNumber,pageSize)"
				ng-if="serviceProvider.locations.length > 0">
			</dir-pagination-controls>