<div ng-controller="UserController" ng-model="user">
	<load-template url="common/breadcrumb"></load-template>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">User <span ng-bind="user.id!=undefined?'Update':'Create'"></span></h3>
		</div>
		<div class="panel-body">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<form name="userform" id="Form" class="form-horizontal" role="form" method="post" ng-submit="save(user);" novalidate>
					<input type="hidden" name="id" ng-model="user.id" />
					<div class="form-group">
						<label for="firstName" class="col-sm-3 control-label" style="">
                        First Name <span class="required">*</span>
                        </label>
						<div class="col-sm-6">

							<input spellcheck="true" type="text" name="firstName" class="form-control alpha-numeric-only" style=""
								   id="firstName" placeholder="Enter First Name"
								   ng-model="user.firstName" maxlength="50" minlength="2"
								   required="" />

						</div>
						<div ng-messages="userform.firstName.$error" role="alert" ng-messages-multiple
							 ng-show="userform.$submitted || userform.firstName.$touched"
							 class="col-sm-3 errors">
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>
					<div class="form-group">
						<label for="lastName" class="col-sm-3 control-label" style="">
                        Last Name
                        </label>
						<div class="col-sm-6">

							<input spellcheck="true" type="text" name="lastName" class="form-control alpha-numeric-only" style="" id="lastName"
								   placeholder="Enter Last Name"  ng-model="user.lastName" maxlength="50"
								   />

						</div>
						<div ng-messages="userform.lastName.$error" role="alert" ng-messages-multiple
							 ng-show="userform.$submitted || userform.lastName.$touched"
							 class="col-sm-3 errors">
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>
					<div class="form-group">
						<label for="email" class="col-sm-3 control-label" style="">
                        Email <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<input spellcheck="true" type="email" name="email" class="form-control" style="" id="email"
								   placeholder="Enter Email" ng-model="user.email" ng-max="disableEmail ? false : 250"
								   ng-min="disableEmail ? false : 6"
								   ng-required="!disableEmail" ng-disabled="disableEmail" />

						</div>
						<div ng-messages="userform.email.$error" role="alert" ng-messages-multiple
							 ng-show="userform.$submitted || userform.email.$touched"
							 class="col-sm-3 errors">
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>
					<div class="form-group" ng-if="user.id==undefined || user.id==null || user.id ==''">
						<label for="password" class="col-sm-3 control-label" style="">
                        Password <span class="required">*</span>
                        </label>
						<div class="col-sm-6">

							<input spellcheck="true" type="password" name="password" class="form-control" style=""
								   id="password" placeholder="Enter Password" validate-password
								   ng-model="user.password" maxlength="20" minlength="6" required="required" />

						</div>
						<div ng-messages="userform.password.$error" role="alert" ng-messages-multiple
							 ng-show="userform.$submitted || userform.password.$touched"
							 class="col-sm-3 errors">
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>
					<div class="form-group" ng-if="user.id==undefined || user.id==null || user.id ==''">
						<label for="confirmPassword" class="col-sm-3 control-label" style="">
                        Confirm Password <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<input spellcheck="true" type="password" name="confirmPassword" class="form-control" style=""
								   id="confirmPassword" placeholder="Re-type Password"
								   ng-model="user.confirmPassword" maxlength="20" minlength="6"
								   password-match-check="password" required=""
								   />
						</div>
						<div ng-messages="userform.confirmPassword.$error" role="alert" ng-messages-multiple
							 ng-show="userform.$submitted || userform.confirmPassword.$touched"
							 class="col-sm-3 errors" >
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>
					<div class="form-group">
						<label for="phone" class="col-sm-3 control-label" style="">
                        Phone <span class="required">*</span>
                        </label>
						<div class="col-sm-6">

							<input spellcheck="true" type="text" name="phone" class="form-control number-only" style=""
								   id="phone" placeholder="Enter Phone"  ng-model="user.phone"
								   maxlength="10" minlength="10" required="required" />

						</div>
						<div ng-messages="userform.phone.$error" role="alert" ng-messages-multiple
							 ng-show="userform.$submitted || userform.phone.$touched"
							 class="col-sm-3 errors" >
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>
					<div class="form-group">
						<label for="roleCode" class="col-sm-3 control-label" style="">
                        Role <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<select name="roleCode" id="roleCode" ng-model="user.roleCode" class="form-control" ng-max="disableEmail ? false : 50"
								   ng-min="disableEmail ? false : 2"
								   ng-required="!disableEmail" ng-disabled="disableEmail" >
								<option value="">Choose</option>
								<option ng-repeat="role in roles|orderBy:'name':false" value="{{role.code}}">{{role.name}}</option>
							</select>
						</div>
						<div ng-messages="userform.roleCode.$error" role="alert" ng-messages-multiple
							 ng-show="userform.$submitted || userform.roleCode.$touched"
							 class="col-sm-3 errors" >
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>
					<div class="form-group">
						<label for="retailerId" class="col-sm-3 control-label" style="">
                        Retailer
                        </label>
						<div class="col-sm-6">
							<select name="retailerId" id="retailerId" ng-model="user.retailerId" class="form-control">
								<option value="">Choose</option>
								<option ng-repeat="retailer in retailers|orderBy:'name':false" value="{{retailer.id}}" ng-bind="retailer.name + ' (' + retailer.code + ')'">{{retailer.name}}</option>
							</select>
						</div>
						<div ng-messages="userform.roleCode.$error" role="alert" ng-messages-multiple
							 ng-show="userform.$submitted || userform.roleCode.$touched"
							 class="col-sm-3 errors" >
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>
					<div class="form-group">
						<label for="locationId" class="col-sm-3 control-label" style="">
                        Location/Branch <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<select name="locationId" id="locationId" ng-model="user.locationId" class="form-control" required>
								<option value="">Choose</option>
								<option ng-repeat="location in locations|orderBy:'name':false" value="{{location.id}}">{{location.name}}</option>
							</select>
						</div>
						<div ng-messages="userform.locationId.$error" role="alert" ng-messages-multiple
							 ng-show="userform.$submitted || userform.locationId.$touched"
							 class="col-sm-3 errors" >
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>
					<!--Adding Pincodes to this Coordinator-->
					<div class="form-group" ng-if="user.roleCode==='coordinator'">
						<label for="locationId" class="col-sm-3 control-label" style="">
                        Pincode <span class="required">*</span>
                        </label>
						<div class="col-sm-8" style="float:left">
								<a href="{{host_base_url}}/#/pincode/update/{{user.email}}/{{user.locationId}}" target="_blank">Service Pincodes</a>
						</div>
					</div>
					<!--Adding Pincodes End Here-->
					<div class="form-group">
						<label for="status" class="col-sm-3 control-label" style="">
                        Status <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<div class="row">
								<div class="col-sm-12">
									<div class="radio-inline" style="">
										<label>
											<input type="radio" name="status" id="status1" value="1" ng-checked="user.status==1" ng-model="user.status" required />
											Active
										</label>
									</div>
									<div class="radio-inline" style="">
										<label>
											<input type="radio" name="status" id="status0" value="0" ng-checked="user.status!=1"  ng-model="user.status" />
											Inactive
										</label>
									</div>
								</div>
							</div>
							
						</div>
						<div ng-messages="userform.status.$error" role="alert" ng-messages-multiple
							 ng-show="userform.$submitted || userform.status.$touched"
							 class="col-sm-3 errors" >
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12 text-center">
							<button type="submit" class="btn btn-primary" name="save" id="saveBtn"
									 ng-disabled="userform.$invalid" ng-if="showSave === true"
									check-access-perm="access_perm">
                            Save
						</button>
							<button type="button" class="btn btn-default" name="list" id="listBtn" ng-click="goToPage('rl.users');">
							Go To List Page
                        </button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>