<div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Users</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <form name="form" id="Form" class="form-horizontal" role="form" method="post"
                              ng-submit="searchUsers(user, 1, pageSize);" novalidate>
                            
                           <div class="col-sm-3">
                                <div class="form-group row">
                                    <label for="name" class="col-sm-12" style="">
                                    Name
                                    </label>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                       <input type="text" name="name" ng-model="user.firstName" class="form-control"
											  placeholder="Enter First Name"/>											  
                                    </div>
                                    <div class="col-sm-12 errors">
                                        <span ng-bind="errors.name"></span>
                                    </div>
                                </div>
                            </div>
							
							<div class="col-sm-3">
                                <div class="form-group row">
                                    <label for="role" class="col-sm-12" style="">
                                    Role
                                    </label>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                       <select name="role" id="role" class="form-control"
												placeholder="Select Status" 
												ng-model="user.roleCode">
												<option value="">Choose</option>
												<option ng-repeat="r in roles" value="{{r.code}}" 
													>{{r.code}}</option>
											</select>											  
                                    </div>
                                    <div class="col-sm-12 errors">
                                        <span ng-bind="errors.code"></span>
                                    </div>
                                </div>
                            </div>
							
							<div class="col-sm-3">
                                <div class="form-group row">
                                    <label for="barcode" class="col-sm-12" style="">
                                    Email
                                    </label>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                       <input type="text" name="email" ng-model="user.email" class="form-control"
											  placeholder="Enter Email"/>											  
                                    </div>
                                    <div class="col-sm-12 errors">
                                        <span ng-bind="errors.email"></span>
                                    </div>
                                </div>
                            </div>
							
							<div class="col-sm-3">
								<div class="form-group row">
										<label for="pickup location" class="col-sm-12" style="">
											Status
										</label>
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<select name="status" id="status" class="form-control"
												placeholder="Select Status" 
												ng-model="user.status">
												<option value="">Choose</option>
												<option value="1">Active</option>
                                                <option value="0">In-Active</option>
											</select>
										</div>
									   
								 </div>
							</div>
								
							
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-12">&nbsp;</label>
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-primary" name="next" id="saveBtn" check-access-perm="access_perm">
                                            Search
                                        </button>
										<button type="button" class="btn btn-default" name="next" id="clearBtn"
											ng-click="clearSearchFields();"> Clear
                                        </button>
										
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>