<div>
	
	<table class="row-border hover table table-striped table-hover table-condensed" ng-model="coordinators" ng-model="pagination">
		<thead>
			<th>#</th>
			<th>Pincode</th>
			<th>Coordinator Email</th>
            <th>Location</th>
            <th>&nbsp;</th>
		</thead>
		<tbody>

			<tr dir-paginate="coordinator in coordinators|itemsPerPage:pageSize"
				total-items="total_count"  ng-if="coordinators.length > 0 || coordinators != undefined">
				<td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
				<td ng-bind="coordinator.pincode"></td>
				<td ng-bind="coordinator.coordinatorEmailId"></td>
                <td ng-repeat="location in locations" ng-if="location.id===coordinator.locationId">{{location.name}}</td>
                <td>
                    <a class="hand" ng-click="deleteSearchPincode($index,coordinator);" check-access-perm="access_perm"><span class="fa fa-trash"></span></a>
                </td>
			</tr>
		</tbody>
	</table>
	<dir-pagination-controls
		max-size="8"
		direction-links="true"
		boundary-links="true"
		on-page-change="searchCOPincode(coordinator,newPageNumber,pageSize)"
		ng-if="coordinators.length > 0">
	 </dir-pagination-controls>
</div>
