<div ng-controller="UserController" ng-model="user">
	<load-template url="common/breadcrumb"></load-template>
	<div class="row">
		<div class="col-xs-12 col-lg-12 col-md-12">
			
		</div>
	</div>
    <load-template url="pages/user_management/search_coordinator_pincodeForm"></load-template>
    <load-template url="pages/user_management/search_pincode_Result"></load-template>
</div>