<div ng-controller="FEController" ng-model="fetrack" class="col-sm-12" id="map-container">
    <ng-map center="{{testdata}}" zoom="14" default-style="false" map-type-id="TERRAIN" style="height: 100vh;">
        <span ng-repeat=" l in locationData">
        <custom-marker id="{{$index}}" position="[{{l.latitude}},{{l.longitude}}]" center="true"
                       animation="Animation.BOUNCE">
            <div class="cmarker"><p>{{l.feName}}</p></div>
        </custom-marker>
        </span>

    </ng-map>
</div>