<div ng-controller="FEController" ng-model="fetrack1">
	<load-template url="common/breadcrumb"></load-template>
	<div class="row">
		<div class="col-xs-12 col-lg-12 col-md-12">
			
		</div>
	</div>
    <load-template url="pages/fe_track/search_form"></load-template>
    <load-template url="pages/fe_track/search_result"></load-template>
</div>
