<div>
	<table class="row-border hover table table-striped table-hover table-condensed" ng-model="feTrackers" ng-model="pagination">
		<thead>
			<th>#</th>
			<th>Ticket No.</th>
			<th>FE Name</th>
			<th>Appointment Time</th>
			<th>Current Location</th>
			<th>Time-To-Reach Location</th>
			<th>Destination</th>
			<th>Distance</th>
			<th>Priority</th>
			<!--<th>Action</th>-->
		</thead>
		<tbody>

			<tr dir-paginate="feTracker in feTrackers|itemsPerPage:pageSize" total-items="total_count" ng-if="feTrackers.length > 0 || feTrackers != undefined">
				<td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
				<td ng-bind="feTracker.ticketNo"></td>
				<td ng-bind="feTracker.feName"></td>
				<td>{{changeAppoint(feTracker.appointmentDate)}}</td>
				<td><span ng-bind="(feTracker.currentLatitude)+( ',' )+(feTracker.currentLongitude)" ng-if="feTracker.currentLatitude!==null"></span></td>
				<td><span ng-if="feTracker.delayStatus===0" ng-bind="feTracker.timeToLocation" ng-if="feTracker.timeToLocation!==null"></span>
					<span ng-if="feTracker.delayStatus===1" style="background-color: red" ng-bind="feTracker.timeToLocation" ng-if="feTracker.timeToLocation!==null"></span>
					<span ng-if="feTracker.delayStatus!==1 && feTracker.delayStatus!==0" ng-bind="feTracker.timeToLocation" ng-if="feTracker.timeToLocation!==null"></span></td>
				<td ng-bind="feTracker.destination"></td>
				<td ng-bind="feTracker.distance"></td>
				<td ng-bind="feTracker.priority"></td>

			</tr>
		</tbody>
	</table>
	<dir-pagination-controls max-size="8" direction-links="true" boundary-links="true" on-page-change="trackingFe(fetrack,newPageNumber,pageSize)"
	 ng-if="feTrackers.length > 0">
	</dir-pagination-controls>
</div>