<div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">FE Tracking Test1</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-8">
                        <form name="form" id="Form" class="form-horizontal" role="form" method="post"
                              ng-submit="trackingFe(fetrack, 1, pageSize);" novalidate>

                            <div class="col-sm-12" ng-show="loginInfo.roleCode==='admin'">
                                <div class="form-group row">
                                    <label for="role" class="col-sm-4" style="">
                                    Choose Location
                                    </label>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                       <select name="location" id="location" class="form-control"
                                                ng-change="getFEList('field_engineer',fetrack.feCity);"
												placeholder="Select Status" 
												ng-model="fetrack.feCity">
												<option value="">Choose</option>
												<option ng-repeat="location in locations|orderBy:'name':false" value="{{location.id}}">{{location.name}}</option>
                                       </select>
                                    </div>
                                    <div class="col-sm-12 errors">
                                        <span ng-bind="errors.code"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label for="role" class="col-sm-4" style="">
                                    Choose Field Engineer
                                    </label>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                       <select name="fe" id="fe" class="form-control"
												placeholder="Select Status" 
												ng-model="fetrack.feName">
												<option value="">Choose</option>
												<option ng-repeat="r in feList|orderBy:'firstName':false" value="{{r.email}}"> 
                                                    {{displayName(r.firstName,r.lastName)}}
                                                </option>
											</select>											  
                                    </div>
                                    <div class="col-sm-12 errors">
                                        <span ng-bind="errors.code"></span>
                                    </div>
                                </div>
                            </div>
							
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-12">&nbsp;</label>
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-primary" name="next" id="saveBtn" check-access-perm="access_perm">
                                            Search
                                        </button>
										<button type="button" class="btn btn-default" name="next" id="clearBtn"
											ng-click="clearSearchFields();"> Clear
                                        </button>
										
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <div class="col-sm-12">
                            <div class="col-sm-4 offset-md-4">
                                <button class="btn btn-primary" ng-click="feTrackControl(fetrack,start)" ng-disabled = "">Start FE Tracking</button>
                            </div>
                            <div class="col-sm-4 offset-md-4">
                                <button class="btn btn-danger" ng-click="feTrackControl(fetrack,stop)" ng-disabled="button.start">Stop FE Tarcking</button>
                            </div>
                            <div class="col-sm-4 offset-md-4">
                                <button class="btn btn-info" ng-click="map(fetrack);" ng-disabled = "button.start">View Map</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>