<div ng-controller="FEController" ng-model="fetrack">
    <load-template url="common/breadcrumb"></load-template>
    <div class="row">
        <div class="col-xs-12 col-lg-12 col-md-12">

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">FE Tracking</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12" >
                        <table class="table row-border table-hover table-striped" ng-model ="fetrack">
                            <thead>
                            <th class="col-lg-2">#</th>
                            <th class="col-lg-3">Field Engg.</th>
                            <th class="col-lg-2">Tickets Assigned</th>
                            <th class="col-lg-3">Call</th>
                            <th class="col-lg-2">Map</th>
                            </thead>

                            <tbody>
                            <tr dir-paginate="fe in fetrack|itemsPerPage : pageSize"
                            current-page = "currentPage"
                            total-items = "total_count" ng-if="fetrack.length > 0 && fetrack != undefined"
                            >
                                <td>{{($index+1)+(pageSize)*(currentPage-1)}}</td>
                                <td ng-bind="fe.feName"></td>
                                <td ng-bind="fe.totalTicket"></td>
                                <td>
                                    <a ng-click="callFe(fe.number)" class="btn btn-primary btn-lg">
                                        <span class="glyphicon glyphicon-earphone"></span> Call
                                    </a>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary dropdown-toggle" ng-click="viewmap(fe)">View Map
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <dir-pagination-controls
                                max-size="10"
                                direction-links="true"
                                boundary-links="true"
                                on-page-change="fepage(newPageNumber,pageSize)">
                        </dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>