<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">FE Tracking</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-8">
                    <form name="form" id="Form" class="form-horizontal" role="form" method="post"
                          ng-submit="fetrackdetails(fedetails, 1, pageSize);" novalidate>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="col-sm-12" ng-show="loginInfo.roleCode==='admin'">
                                    <div class="form-group row">
                                        <label for="role" class="col-sm-6" style="">
                                            Choose Location
                                        </label>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <select name="location" id="location" class="form-control"
                                                    placeholder="Select Location"
                                                    ng-model="fedetails.feCity">
                                                <option value="">Choose</option>
                                                <option ng-repeat="location in locations|orderBy:'name':false"
                                                        value="{{location.name}}">{{location.name}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-12 errors">
                                            <span ng-bind="errors.code"></span>
                                        </div>
                                    </div>
                                </div>


                                <!--<div class="col-sm-12">
                                    <div class="form-group row">
                                        <label for="role" class="col-sm-6" style="">
                                            Choose Field Engineer
                                        </label>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <select name="fe" id="fe" class="form-control"
                                                    placeholder="Select Status"
                                                    ng-model="fedetails.feName">
                                                <option value="">Choose</option>
                                                <option ng-repeat="r in feList|orderBy:'firstName':false"
                                                        value="{{r.email}}">
                                                    {{displayName(r.firstName,r.lastName)}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-12 errors">
                                            <span ng-bind="errors.code"></span>
                                        </div>
                                    </div>
                                </div>-->
                            </div>


                            <div class="col-sm-6">
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <label for="date" class="col-sm-2" style="">
                                            Date
                                        </label>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <input id = "date" name="datePicker.date" date-range-picker class="form-control" type="text" ng-model="datePicker.date" placeholder="yyyy-dd-mm - yyyy-dd-mm"
                                            />
                                        </div>
                                        <div class="col-sm-12 errors">
                                            <span ng-bind="errors.datePicker.dateOfComplaint"></span>
                                            <span ng-show="form.datePicker.dateOfComplaint.$error.required">Please Enter A Date</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-12">&nbsp;</label>
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-primary" name="next" id="saveBtn"
                                                check-access-perm="access_perm">
                                            Search
                                        </button>
                                        <button type="button" class="btn btn-default" name="next" id="clearBtn"
                                                ng-click="clearSearchFields();"> Clear
                                        </button>

                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
