<div class="row" ng-model="fetrackresult" ng-if="fetrackresult!= null &&fetrackresult.length > 0">

   <!-- <div excel-export export-data="exportData" file-name="{{fileName}}"></div>-->
    <div class="col-sm-12">
        <table class="table row-border table-hover table-striped">
            <thead>
            <th>#</th>
            <th>Name</th>
            <th>Total Distance</th>
            </thead>
            <tbody>
            <tr ng-repeat="r in fetrackresult">
                <td>{{$index+1}}</td>
                <td ng-if="r.lastName != null" ng-bind="(r.firstName)+' '+(r.lastName)"></td>
                <td ng-if="r.lastName === null" ng-bind="r.firstName"></td>
                <td ng-bind="(r.distance)+' '+('km')"></td>
            </tr>
            </tbody>
        </table>
    </div>


</div>
<div ng-if="fetrackresult!= null && fetrackresult.length <= 0">
    <p>No Records Yet!!</p>
</div>