<div ng-controller="FEController">
    <!--<load-template url="common/breadcumb"></load-template>-->
    <div class="row">
        <div class="col-xs-12 col-lg-12 col-md-12"></div>
    </div>
    <load-template url="pages/fe_track/total_distance_search"></load-template>
    <load-template url="pages/fe_track/total_distance_result"></load-template>
</div>