<div ng-controller="SubCategoryController" ng-model="subCategory">
	<load-template url="common/breadcrumb"></load-template>
	<div class="panel panel-default">
		<div class="panel-heading" ng-show="pageActionHeader!=''">
			<h3 class="panel-title" ng-bind="pageActionHeader"></h3>
		</div>
		<div class="panel-body">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<form name="subCategoryForm" id="Form" class="form-horizontal" role="form" method="post" ng-submit="save(subCategory);" novalidate>
					<input type="hidden" name="id" ng-model="subCategory.id" />
					<div class="form-group">
						<label for="name" class="col-sm-3 control-label" style="">
                        Name <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<input spellcheck="true" type="text" name="name" class="form-control" style="" id="name"
									   placeholder="Enter Name" ng-model="subCategory.name"
									   maxlength="250" required="" />
							</div>
						</div>
						<div ng-messages="form.name.$error" role="alert" ng-messages-multiple
							 ng-show="form.$submitted || form.name.$touched"
							 class="col-sm-3 errors">
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>
					<div class="form-group">
						<label for="code" class="col-sm-3 control-label" style="">
                        Code <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<input spellcheck="true" type="text" name="code" class="form-control" style="" id="name"
									   placeholder="Enter Code" ng-model="subCategory.code"
									   maxlength="250" required="" />
							</div>
						</div>
						<div ng-messages="form.code.$error" role="alert" ng-messages-multiple
							 ng-show="form.$submitted || form.code.$touched"
							 class="col-sm-3 errors">
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>
					<div class="form-group">
						<label for="code" class="col-sm-3 control-label" style="">
                        Description
                        </label>
						<div class="col-sm-6">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<textarea name="description" id="description" class="form-control"
										  placeholder="Enter Description" ng-model="subCategory.description"
										  ></textarea>
							</div>
						</div>
						<div ng-messages="form.description.$error" role="alert" ng-messages-multiple
							 ng-show="form.$submitted || form.description.$touched"
							 class="col-sm-3 errors">
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>
					
					<div class="form-group">
						<label for="category" class="col-sm-3 control-label" style="">
                        Category <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<select name="category" id="category" class="form-control"
									placeholder="Select Category"
									selected-text="{{get_selected_name(categories,subCategory.productCategoryId, 'id', 'name'	)}}"
									ng-model="subCategory.productCategoryId" required>
									<option value="">Choose</option>
									<option ng-repeat="cat in categories" value="{{cat.id}}" 
											>{{cat.name}}</option>
								</select>
							</div>
						</div>
						<div ng-messages="form.category.$error" role="alert" ng-messages-multiple
							 ng-show="form.$submitted || form.category.$touched"
							 class="col-sm-3 errors">
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>
					
					<div class="clearfix"></div>
					
					<div class="form-group">
						<label for="cost" class="col-sm-3 control-label" style="">
                        Length
                        </label>
						<div class="col-sm-6 row">
							<div class="col-sm-12 row">
								<div class="col-sm-6">
									<div class="col-sm-12">
										<div class="input-group">									
											<input type="number" maxlength="10" min="0" ng-max="subCategory.length" step="0.01"
										   id="lengthMin" name="lengthMin" ng-change="calculateVolumetricSize();" min="0"
										   ng-model="subCategory.length" class="form-control"
										   />
											<span class="input-group-addon" id="basic-addon1">cm</span>
										</div>
									</div>
									
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					
					<div class="clearfix"></div>
					
					<div class="form-group">
						<label for="cost" class="col-sm-3 control-label" style="">
                        Breadth
                        </label>
						<div class="col-sm-6 row">
							<div class="col-sm-12 row">
								<div class="col-sm-6">
									<div class="col-sm-12">
										<div class="input-group">									
											<input type="number" maxlength="10" min="0" ng-max="subCategory.breadth" step="0.01"
										   id="breadth" name="breadth" ng-change="calculateVolumetricSize();" min="0"
										   ng-model="subCategory.breadth" class="form-control"
										   />
											<span class="input-group-addon" id="basic-addon1">cm</span>
										</div>
									</div>
									
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					
					<div class="clearfix"></div>
					
					<div class="form-group">
						<label for="cost" class="col-sm-3 control-label" style="">
                        Height
                        </label>
						<div class="col-sm-6 row">
							<div class="col-sm-12 row">
								<div class="col-sm-6">
									<div class="col-sm-12">
										<div class="input-group">									
											<input type="number" maxlength="10" min="0" ng-max="subCategory.height" step="0.01"
										   id="height" name="height" ng-change="calculateVolumetricSize();" min="0"
										   ng-model="subCategory.height" class="form-control"
										   />
											<span class="input-group-addon" id="basic-addon1">cm</span>
										</div>
									</div>
									
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					
					<div class="clearfix"></div>
					
					<div class="form-group">
						<label for="cost" class="col-sm-3 control-label" style="">
                        <span tooltip title="This is a calculated field, length * breadth * height / 5000">Volumetric Weight</span>
						
                        </label>
						<div class="col-sm-6 row">
							<div class="col-sm-12 row">
								<div class="col-sm-6">
									<div class="col-sm-12">
										<div class="input-group">
											<input type="number" maxlength="10" min=">0" max="sliderVolumetricWeight.maxValue" step="0.01"
										   id="volumetricWeight" name="volumetricWeight"
										   ng-model="subCategory.volumetricWeight" class="form-control" min="0" ng-disabled = "true"
										   />
											<span class="input-group-addon" id="basic-addon1">cm</span>
										</div>
									</div>
									<div ng-messages="subCategory.volumetricWeight.$error"
										role="alert" ng-messages-multiple
										ng-show="subCategoryForm.$submitted || subCategoryForm.volumetricWeight.$touched"
										class=" errors col-sm-12" >
									   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
									   <div ng-message="volumetricSizeMinMax">Volumetric Weight cannot be zero</div>
								   </div>
								</div>
							</div>
						</div>
						
						
					</div>
					
					
					<div class="form-group">
						<label for="cost" class="col-sm-3 control-label" style="">
                        <span tooltip title="This is a calculated field, length * breadth * height / 5000">Actual Weight</span>
						
                        </label>
						<div class="col-sm-6 row">
							<div class="col-sm-12 row">
								<div class="col-sm-6">
									<div class="col-sm-12">
										<div class="input-group">
											<input type="number" maxlength="10" min=">0" max="sliderActualWeight.maxValue" step="0.01"
										   id="actualWeight" name="actualWeight"
										   ng-model="subCategory.actualWeight" class="form-control" min="0" 
										   />
											<span class="input-group-addon" id="basic-addon1">cm</span>
										</div>
									</div>
									<div ng-messages="subCategory.actualWeight.$error"
										role="alert" ng-messages-multiple
										ng-show="subCategoryForm.$submitted || subCategoryForm.actualWeight.$touched"
										class=" errors col-sm-12" >
									   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
									   <div ng-message="actualWeight">Actual Weight cannot be zero</div>
								   </div>
								</div>
							</div>
						</div>
						
						
					</div>
					
					<div class="form-group">
						<div class="col-sm-12 col-sm-offset-4">
							<button type="submit" class="btn btn-primary" name="save" id="saveBtn"
									ng-disabled="form.$invalid"
									check-access-perm="access_perm">
                             Save
						</button>
							<button type="button" class="btn btn-default" name="list" id="listBtn"
									ng-click="goToPage('rl.masters-sub-category');">
							 Go To List Page
                        </button>
							<button type="button" class="btn btn-danger" ng-if="subCategory.id!=undefined"
									ng-disabled="form.$invalid"
									ng-click="deleteSubCategory(subCategory, $index);" check-access-perm="access_perm">
								 Delete</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>