<div ng-controller="EwasteProductCategoryController" ng-model="productCategory">
	<load-template url="common/breadcrumb"></load-template>
	<div class="panel panel-default">
		<div class="panel-heading" ng-show="pageActionHeader!=''">
			<h3 class="panel-title" ng-bind="pageActionHeader"></h3>
		</div>
		<div class="panel-body">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<form name="productCategoryForm" id="Form" class="form-horizontal" role="form" method="post"
					  ng-submit="save(productCategory);" novalidate>
					<input type="hidden" name="id" ng-model="productCategory.id" />
					<div class="form-group">
						<label for="name" class="col-sm-3 control-label" style="">
                        Name <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<input spellcheck="true" type="text" name="name" class="form-control" style="" id="name"
									   placeholder="Enter Name" ng-model="productCategory.name"
									   maxlength="250" required="" />
							</div>
						</div>
						<div ng-messages="productCategoryForm.name.$error" role="alert" ng-messages-multiple
							 ng-show="productCategoryForm.$submitted || productCategoryForm.name.$touched"
							 class="col-sm-3 errors">
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>
					<div class="form-group">
						<label for="code" class="col-sm-3 control-label" style="">
                        Code <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<input spellcheck="true" type="text" name="code" class="form-control" style="" id="name"
									   placeholder="Enter Code" ng-model="productCategory.code"
									   maxlength="250" required="" />
							</div>
						</div>
						<div ng-messages="productCategoryForm.code.$error" role="alert" ng-messages-multiple
							 ng-show="productCategoryForm.$submitted || productCategoryForm.code.$touched"
							 class="col-sm-3 errors">
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>
					<div class="form-group">
						<label for="code" class="col-sm-3 control-label" style="">
                        Description
                        </label>
						<div class="col-sm-6">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<textarea name="description" id="description" class="form-control"
										  placeholder="Enter Description" ng-model="productCategory.description"
										  ></textarea>
							</div>
						</div>
						<div ng-messages="productCategoryForm.description.$error" role="alert" ng-messages-multiple
							 ng-show="productCategoryForm.$submitted || productCategoryForm.description.$touched"
							 class="col-sm-3 errors">
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-12 col-sm-offset-4">
							<button type="submit" class="btn btn-primary" name="save" id="saveBtn"
									ng-disabled="productCategoryForm.$invalid"
									check-access-perm="access_perm">
								 Save
							</button>
							<button type="button" class="btn btn-default" name="list" id="listBtn" ng-click="goToPage('rl.masters-product-category');">
								 Go To List Page
							</button>
							<button type="button" ng-if="productCategory.id !== undefined && productCategory.id !== null && productCategory.id !== ''" class="btn btn-danger" ng-click="deleteProductCategory(productCategory, $index);" check-access-perm="access_perm">
							 Delete</button>
						</div>
					</div>
					
				</form>
			</div>
		</div>
	</div>
</div>