<div ng-controller="ProductController">
	<load-template url="common/breadcrumb"></load-template>
	<table class="row-border hover table table-striped table-hover table-condensed" ng-model="products">
		<thead>
			<th>#</th>
			<th>Name</th>
			<th>Code</th>
			<th>Category</th>
			<th>Sub Category</th>
			<th>Brand</th>
			<th>Packaging Type</th>
		</thead>
		<tbody>

			<tr dir-paginate="product in products|itemsPerPage:pageSize"
				total-items="total_count" ng-if="products.length > 0 || products != undefined">
				<td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
				<td>
					<a href="#/masters-product/get/{{product.id}}" ng-bind="product.name"></a></td>
				<td ng-if="product.code!=''" ng-bind="product.code"></td>
				<td ng-if="product.code==''">N/A</td>
				
				<td ng-bind="product.categoryName"></td>
				<td ng-bind="product.subCategoryName"></td>
				<td ng-bind="product.brandName"></td>
				<td ng-bind="product.packagingType"></td>
			</tr>
		</tbody>
	</table>
	<dir-pagination-controls
		max-size="8"
		direction-links="true"
		boundary-links="true"
		on-page-change="getProductList(newPageNumber,pageSize)"
		ng-if="products.length > 0">
	 </dir-pagination-controls>
</div>
