<div ng-controller="ProductController" ng-model="product">
	<load-template url="common/breadcrumb"></load-template>
	<div class="panel panel-default">
		<div class="panel-heading" ng-show="pageActionHeader!=''">
			<h3 class="panel-title" ng-bind="pageActionHeader"></h3>
		</div>
		<div class="panel-body">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<form name="form" id="Form" class="form-horizontal" role="form" method="post" ng-submit="save(product);" novalidate>
					<input type="hidden" name="id" ng-model="product.id" />
					<div class="form-group">
						<label for="name" class="col-sm-3 control-label" style="">
                        Name <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<input spellcheck="true" type="text" name="name" class="form-control" style="" id="name"
									   placeholder="Enter Product Name" ng-model="product.name"
									   maxlength="250" required="" />
							</div>
						</div>
						<div ng-messages="form.name.$error" role="alert" ng-messages-multiple
							 ng-show="form.$submitted || form.name.$touched"
							 class="col-sm-3 errors">
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>
					<div class="form-group">
						<label for="code" class="col-sm-3 control-label" style="">
                        Code <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<input spellcheck="true" type="text" name="code" class="form-control" style="" id="name"
									   placeholder="Enter Product Code" ng-model="product.code"
									   maxlength="250" required="" />
							</div>
						</div>
						<div ng-messages="form.code.$error" role="alert" ng-messages-multiple
							 ng-show="form.$submitted || form.code.$touched"
							 class="col-sm-3 errors">
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>
					<div class="form-group">
						<label for="code" class="col-sm-3 control-label" style="">
                        Description
                        </label>
						<div class="col-sm-6">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<textarea name="description" id="description" class="form-control"
										  placeholder="Enter Description" ng-model="product.description"></textarea>
							</div>
						</div>
						<div ng-messages="form.description.$error" role="alert" ng-messages-multiple
							 ng-show="form.$submitted || form.description.$touched"
							 class="col-sm-3 errors">
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>
					
					<div class="form-group">
						<label for="model" class="col-sm-3 control-label" style="">
                        Model <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<input spellcheck="true" type="text" name="model" class="form-control" style="" id="model"
									   placeholder="Enter Product Model" ng-model="product.model"
									   maxlength="250" required="" />
							</div>
						</div>
						<div ng-messages="form.model.$error" role="alert" ng-messages-multiple
							 ng-show="form.$submitted || form.model.$touched"
							 class="col-sm-3 errors">
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>
					
					<div class="form-group">
						<label for="packingType" class="col-sm-3 control-label" style="">
                        Packaging Type <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<select name="packagingType" id="packagingType" class="form-control"
									placeholder="Select Packaging Type" required
									ng-model="product.packagingTypeId">
									<option value="">Choose</option>
									<option ng-repeat="packingMaterial in packagingMaterialTypes" value="{{packingMaterial.id}}" 
											>{{packingMaterial.name}}</option>
								</select>
							</div>
						</div>
						<div ng-messages="form.packagingType.$error" role="alert" ng-messages-multiple
							 ng-show="form.$submitted || form.packagingType.$touched"
							 class="col-sm-3 errors">
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>
					
					<div class="form-group">
						<label for="category" class="col-sm-3 control-label" style="">
                        Category <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<select name="category" id="category" class="form-control"
									placeholder="Select Sub Category"
									ng-change="populateSubCategory(product.categoryId);"
									ng-model="product.categoryId" required>
									<option value="">Choose</option>
									<option ng-repeat="cat in categories" value="{{cat.id}}" 
											>{{cat.name}}</option>
								</select>
							</div>
						</div>
						<div ng-messages="form.category.$error" role="alert" ng-messages-multiple
							 ng-show="form.$submitted || form.category.$touched"
							 class="col-sm-3 errors">
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>
					
					<div class="form-group">
						<label for="subCategory" class="col-sm-3 control-label" style="">
                        Sub Category <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<select name="subCategory" id="subCategory" class="form-control"
									placeholder="Select Sub Category" required
									ng-model="product.subCategoryId">
									<option value="">Choose</option>
									<option ng-repeat="subCat in subCategories" value="{{subCat.id}}" 
											>{{subCat.name}}</option>
								</select>
							</div>
						</div>
						<div ng-messages="form.subCategory.$error" role="alert" ng-messages-multiple
							 ng-show="form.$submitted || form.subCategory.$touched"
							 class="col-sm-3 errors">
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>
					
					<div class="form-group">
						<label for="brand" class="col-sm-3 control-label" style="">
                        Brand <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<select name="brand" id="brand" class="form-control"
									placeholder="Select Brand" required
									ng-model="product.brandId">
									<option value="">Choose</option>
									<option ng-repeat="b in brands" value="{{b.id}}" 
											>{{b.name}}</option>
								</select>
							</div>
						</div>
						<div ng-messages="form.brand.$error" role="alert" ng-messages-multiple
							 ng-show="form.$submitted || form.brand.$touched"
							 class="col-sm-3 errors">
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>
					
					<div class="form-group">
						<label for="volumetricWeight" class="col-sm-3 control-label" style="">
                        Volumetric Weight <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="input-group">
								<input spellcheck="true" type="number" min="0" step="0.01" name="volumetricWeight"
									   class="form-control" style="" id="name" placeholder="Enter Product Volumetric Weight"
									   ng-model="product.volumetricWeight"
									   maxlength="10" required="" />
									<span class="input-group-addon" id="basic-addon1">g</span>
								</div>
							</div>
						</div>
						<div ng-messages="form.volumetricWeight.$error" role="alert" ng-messages-multiple
							 ng-show="form.$submitted || form.volumetricWeight.$touched"
							 class="col-sm-3 errors">
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>
					
					<div class="form-group">
						<label for="actualWeight" class="col-sm-3 control-label" style="">
                        Actual Weight<span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="input-group">
								<input spellcheck="true" type="number" min="0" step="0.01" name="actualWeight"
									   class="form-control" style="" id="name" placeholder="Enter Product Actual Weight"
									   ng-model="product.actualWeight"
									   maxlength="10" required="" />
									<span class="input-group-addon" id="basic-addon1">g</span>
								</div>
							</div>
						</div>
						<div ng-messages="form.actualWeight.$error" role="alert" ng-messages-multiple
							 ng-show="form.$submitted || form.actualWeight.$touched"
							 class="col-sm-3 errors">
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>
					
					<div class="form-group">
						<label for="approxValue" class="col-sm-3 control-label" style="">
                        Approximate value of the Product(Rs) <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon1">&#8377;</span>
									<input spellcheck="true" type="number" min="0" step="0.01" name="approxValue"
										   class="form-control" style="" id="name" placeholder="Enter  Approximate value of the Product"
										   ng-model="product.approxValue"
										   maxlength="10" required="" />
								</div>
							</div>
						</div>
						<div ng-messages="form.approxValue.$error" role="alert" ng-messages-multiple
							 ng-show="form.$submitted || form.approxValue.$touched"
							 class="col-sm-3 errors">
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-12 col-sm-offset-4">
							<button type="submit" class="btn btn-primary" name="save" id="saveBtn"
									ng-disabled="form.$invalid"
									check-access-perm="access_perm">
                            Save
						</button>
							<button type="button" class="btn btn-default" name="list" id="listBtn" ng-click="goToPage('rl.masters-products');">
							Go To List Page
                        </button>
							<button type="button" class="btn btn-danger" ng-if="product.id!=undefined"
									ng-disabled="form.$invalid"
									ng-click="deleteProduct(product, $index);" check-access-perm="access_perm">
								 Delete</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>