<div ng-controller="MenuController" ng-model="menu">
	<load-template url="common/breadcrumb"></load-template>
	<div class="panel panel-default">
		<div class="panel-heading" ng-show="pageActionHeader!=''">
			<h3 class="panel-title" ng-bind="pageActionHeader"></h3>
		</div>
		<div class="panel-body">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<form name="form" id="Form" class="form-horizontal" role="form" method="post" ng-submit="save(menu);" novalidate>
					<input type="hidden" name="id" ng-model="menu.id" />
					<div class="form-group">
						<label for="name" class="col-sm-3 control-label" style="">
                        Name <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
								<input spellcheck="true" type="text" name="name" class="form-control" style="" id="name"
									   placeholder="Enter Menu Name" value="{{menu.name}}" ng-model="menu.name" maxlength="250" ng-required="required" required="required" />
							</div>
						</div>
						<div class="col-sm-3 errors">
							<span ng-bind="errors.name"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="code" class="col-sm-3 control-label" style="">
                        Code <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<input spellcheck="true" type="text" name="code" class="form-control" style="" id="code"
									   placeholder="Enter Menu Code" value="{{menu.code}}" ng-model="menu.code" maxlength="250" ng-required="required" required="required" />
							</div>
						</div>
						<div class="col-sm-3 errors">
							<span ng-bind="errors.code"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="order" class="col-sm-3 control-label" style="">
                        Order <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<input spellcheck="true" type="number" min="1" name="order" class="form-control" style="" id="order"
									   placeholder="Enter Menu Order" value="{{menu.order}}" ng-model="menu.order" maxlength="250" ng-required="required" required="required" />
							</div>
						</div>
						<div class="col-sm-3 errors">
							<span ng-bind="errors.order"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="link" class="col-sm-3 control-label" style="">
                        Link <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<input spellcheck="true" type="text" min="1" name="link" class="form-control" style="" id="link"
									   placeholder="Enter Menu Link" value="{{menu.link}}" ng-model="menu.link" maxlength="250" ng-required="required" required="required" />
							</div>
						</div>
						<div class="col-sm-3 errors">
							<span ng-bind="errors.link"></span>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12 col-sm-offset-5">
							<button type="submit" class="btn btn-primary" name="save" id="saveBtn" check-access-perm="access_perm">
                            Save
						</button>
							<button type="button" class="btn btn-default" name="list" id="listBtn" ng-click="goToPage('rl.role-management-menu');">
							 Go To List Page
                        </button>
							<button type="button" class="btn btn-danger" check-access-perm="access_perm" ng-click="deleteMenu(menu, $index);">
								 Delete</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>