<div ng-controller="CityController" ng-model="city">
	<load-template url="common/breadcrumb"></load-template>
	<div class="panel panel-default">
		<div class="panel-heading" ng-show="pageActionHeader!=''">
			<h3 class="panel-title" ng-bind="pageActionHeader"></h3>
		</div>
		<div class="panel-body">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<form name="form" id="Form" class="form-horizontal" role="form" method="post" ng-submit="save(city);" novalidate>
					<input type="hidden" name="id" ng-model="city.id" />
					<div class="form-group" ng-model="city.id">
						<label for="name" class="col-sm-3 control-label" style="">
                        Name <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-switch="prop.type">
								<input spellcheck="true" type="text" name="name" class="form-control" style="" id="name" placeholder="Enter City Name" value="{{city.name}}" ng-model="city.name" maxlength="250" ng-required="required" required="required" />
							</div>
						</div>
						<div class="col-sm-3 errors">
							<span ng-bind="errors.name"></span>
						</div>
					</div>
					<div class="form-group" ng-model="city.id">
						<label for="name" class="col-sm-3 control-label" style="">
							State <span class="required">*</span>
						</label>
						<div class="col-sm-6">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-switch="prop.type">
								<input spellcheck="true" type="text" name="name" class="form-control" style="" id="name" placeholder="Enter State Name" value="{{city.state}}" ng-model="city.state" maxlength="250" ng-required="required" required="required" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12 col-sm-offset-5">
							<button type="submit" class="btn btn-primary" name="save" id="saveBtn" check-access-perm="access_perm">
                             Save
						</button>
							<button type="button" class="btn btn-default" name="list" id="listBtn" ng-click="goToPage('rl.masters-city');">
							 Go To List Page
                        </button>
							<button ng-if="city.id !== undefined && city.id !== null && city.id !== ''" type="button" class="btn btn-danger" ng-click="deleteCity(city, $index);" check-access-perm="access_perm">
								Delete</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>