
		<div class=" collapse in"  id="listServiceProviderServices">
			<table class="row-border hover table table-striped table-hover table-condensed" ng-model="serviceProvider.services">
				<thead>
					<th>#</th>
					<th>Area</th>
					<th>Category</th>
					<th>Sub-Category</th>
					<th>Brand</th>
					<th>Bizlog Authorized?</th>
					<th>ASP?</th>
					<th>&nbsp;</th>
				</thead>
				<tbody>
		
					<tr ng-repeat="service in serviceProvider.services"
						ng-if="serviceProvider.services.length > 0 || serviceProvider.services != undefined">
						<td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
						<td width="80px">
							<p ng-bind="service.serviceProviderLocationArea">						
							</p>
							<p ng-bind="service.city">						
							</p>
							<p ng-bind="service.pincode">						
							</p>
						</td>
						<td ng-bind="service.categoryName"></td>
						<td ng-bind="service.subCategoryName"></td>
						<td ng-bind="service.brandName"></td>
						<td class="text-center">
							<span ng-if="service.isBizlogAuthorized=='yes'"><i class="fa fa-check" aria-hidden="true"></i></span>
							<span ng-if="service.isBizlogAuthorized=='no'"><i class="fa fa-times" aria-hidden="true"></i></span>
						</td>
						<td class="text-center">
							<span ng-if="service.isAuthorizedServiceProvider=='yes'"><i class="fa fa-check" aria-hidden="true"></i></span>
							<span ng-if="service.isAuthorizedServiceProvider=='no'"><i class="fa fa-times" aria-hidden="true"></i></span>
						</td>
						<td class="text-center hand" ng-click="getServiceProviderLocationService(service)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
						
					</tr>
				</tbody>
			</table>