
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " ng-model="serviceProvider.location">
	
	<fieldset id="addNewServiceProviderLocation" class="collapse col-xs-12 col-lg-12 col-md-12">
		<legend>Add new location</legend>		
		<form name="locationForm" id="Form" class="form-horizontal" role="form" method="post" ng-submit="saveLocation(serviceProvider.location);" novalidate>
			<input type="hidden" name="id" ng-model="serviceProvider.basicInfo.id" />
			<div class="col-sm-6">
				<div class="form-group">
					<label for="area" class="col-sm-12" style="">
					Area <span class="required">*</span>
					</label>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<input spellcheck="true" type="text" name="area" class="form-control" style="" id="area"
							   placeholder="Enter Area" value="{{serviceProvider.location.area}}"
							   ng-model="serviceProvider.location.area" maxlength="250"
							   required="required" />
					</div>
					<div ng-messages="locationForm.area.$error" role="alert" ng-messages-multiple
						ng-show="locationForm.$submitted || locationForm.area.$touched"
						class="col-sm-12 errors" >
					   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
					</div>
				</div>
				<div class="form-group">
					<label for="address1" class="col-sm-12" style="">
					Address 1 <span class="required">*</span>
					</label>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<textarea spellcheck="true"  name="address1" class="form-control" style="" id="address1"
								   placeholder="Enter Address"
								   ng-model="serviceProvider.location.address1" rows="2" cols="80" maxlength="1023"
								   required="required"></textarea>
						</div>
					<div ng-messages="locationForm.address1.$error" role="alert" ng-messages-multiple
						ng-show="locationForm.$submitted || locationForm.address1.$touched"
						class="col-sm-12 errors" >
					   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
					</div>
				</div>
				<div class="form-group">
					<label for="address2" class="col-sm-12" style="">
					Address 2
					</label>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<textarea spellcheck="true"  name="address2" class="form-control" style="" id="address2"
								   placeholder="Enter Address" 
								   ng-model="serviceProvider.location.address2" rows="2" cols="80" maxlength="1023"></textarea>
						</div>
					<div ng-messages="locationForm.address2.$error" role="alert" ng-messages-multiple
						ng-show="locationForm.$submitted || locationForm.address2.$touched"
						class="col-sm-12 errors" >
					   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
					</div>
				</div>
				<div class="form-group">
					<label for="city" class="col-sm-12" style="">
										City <span class="required">*</span>
										</label>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<select name="city" class="form-control" style="" id="city"
								   placeholder="Enter City" ng-model="serviceProvider.location.cityId"
								    required="required">
								<option value="">Choose</option>
								<option ng-repeat="c in cities" value="{{c.id}}" >{{c.name}}</option>
							</select>
						</div>
					<div ng-messages="locationForm.city.$error" role="alert" ng-messages-multiple
						ng-show="locationForm.$submitted || locationForm.city.$touched"
						class="col-sm-12 errors" >
					   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
					</div>
				</div>
		
				<div class="form-group">
					<label for="pincode" class="col-sm-12" style="">
										Pincode <span class="required">*</span>
										</label>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<input spellcheck="true" type="number" maxlength="6" name="pincode" class="form-control"
								   style="" id="pincode" placeholder="Enter Pincode" min="0"
								   ng-model="serviceProvider.location.pincode" minlength="6" size="6"
								   required="required" />
						</div>
					<div ng-messages="locationForm.pincode.$error" role="alert" ng-messages-multiple
						ng-show="locationForm.$submitted || locationForm.pincode.$touched"
						class="col-sm-12 errors" >
					   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label for="email" class="col-sm-12" style="">
										Email <span class="required">*</span>
										</label>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<input spellcheck="true" type="email" name="email" class="form-control" style="" id="email"
								   placeholder="Enter Email" ng-model="serviceProvider.location.email"
								   maxlength="250"  required="required" />
						</div>
					<div ng-messages="locationForm.email.$error" role="alert" ng-messages-multiple
						ng-show="locationForm.$submitted || locationForm.email.$touched"
						class="col-sm-12 errors" >
					   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
					</div>
				</div>
		
				<div class="form-group">
					<label for="phone1" class="col-sm-12" style="">
										Telephone Number <span class="required">*</span>
										</label>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<input spellcheck="true" type="number" name="phone1" class="form-control" style=""
								   id="phone1" placeholder="Enter Telephone Number"  min="0"
								   ng-model="serviceProvider.location.phone1"
								   maxlength="10" minlength="10" required="required" />
						</div>
					<div ng-messages="locationForm.phone1.$error" role="alert" ng-messages-multiple
						ng-show="locationForm.$submitted || locationForm.phone1.$touched"
						class="col-sm-12 errors" >
					   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
					</div>
				</div>
		
				<div class="form-group">
					<label for="phone2" class="col-sm-12" style="">
										Alternate Telephone Number
										</label>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<input spellcheck="true" type="number" name="phone2" class="form-control" style=""
								   id="phone2" placeholder="Enter Telephone Number"  min="0"
								   ng-model="serviceProvider.location.phone2" maxlength="10" minlength="10" 
								   />
						</div>
					<div ng-messages="locationForm.phone2.$error" role="alert" ng-messages-multiple
						ng-show="locationForm.$submitted || locationForm.phone2.$touched"
						class="col-sm-12 errors" >
					   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
					</div>
				</div>
				
				<div class="form-group">
					<label for="contactPerson" class="col-sm-12" style="">
					Contact Person <span class="required">*</span>
					</label>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<input spellcheck="true" type="text" name="contactPerson" class="form-control" style="" id="contactPerson"
								   placeholder="Enter Contact Person" value="{{serviceProvider.location.contactPerson}}"
								   ng-model="serviceProvider.location.contactPerson" maxlength="250"
								   required="required" />
						</div>
					<div ng-messages="locationForm.contactPerson.$error" role="alert" ng-messages-multiple
						ng-show="locationForm.$submitted || locationForm.contactPerson.$touched"
						class="col-sm-12 errors" >
					   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="form-group">
					<div class="col-sm-3">
					</div>
					<div class="col-sm-6">
						<button type="submit" class="btn btn-primary" name="next" id="saveBtn" ng-disabled="locationForm.$invalid" check-access-perm="access_perm">
							Save
						</button>
						<button type="button" class="btn btn-primary" data-toggle="collapse in"
			data-target="#listServiceProviderLocations" ng-click="showAddNewLocation();"> Go To List </button>
					</div>
				</div>
			</div>
		</form>
	</fieldset>
</div>