<div ng-controller="TicketController" ng-model="ticket">
	<load-template url="common/breadcrumb"></load-template>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Services Availed</h3>
			<span class="pull-right download-sample" ng-if = "loginInfo.roleCode !== 'retailer'">
				<a href="{{host_base_url}}/server/attachment/download/EXCEL_UPLOAD_FORMAT/ticket">Download Sample</a>
			</span>
		<!--<span class="pull-right download-sample" ng-if = "loginInfo.roleCode === 'retailer'">
				<a href="{{host_base_url}}/server/attachment/download/RETAILER_EXCEL_UPLOAD_FORMAT/{{loginInfo.retailerId}}">Download Sample</a>
			</span>-->
		</div>
		<div class="panel-body">
		
			<div class="col-sm-12" ng-if = "loginInfo.roleCode==='retailer'">
				<table class="table row-border table-hover table-striped">
					<thead>
							<!--<th>#</th>-->
							<th>Serivce Type</th>
							<th>Sample</th>
					</thead>
					
					<tbody>
        
						<tr ng-repeat ="service in retailerServiceList" ng-if="(retailerServiceList.length > 0 || retailerServiceList != undefined)">
							<!--<td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>-->
							<td ng-bind="service.serviceName"></td>
							<td><a href="{{host_base_url}}/server/attachment/download/ticket/sample/{{service.serviceCode}}">Download</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
