<div ng-controller="TicketController">
	<load-template url="common/breadcrumb"></load-template>
	<div class="panel panel-default" ng-model="ticket"   ng-show="ticket.properties.length>0">

		<div class="panel-heading">
			<h3 class="panel-title" ng-bind="'Create new ticket for - ' + ticket.processName + '(' + ticket.processDataset + ')'"></h3>
		</div>
		<div class="panel-body">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

				<form name="form" id="Form" class="form-horizontal" role="form" method="post" ng-submit="save(ticket);" novalidate>
				<div class="form-group" ng-repeat="prop in ticket.properties">
					<label for="{{prop.id}}" class="col-sm-3 control-label" style="">
                        <span  ng-bind-html="prop.name"></span>
                        <span class="required" ng-if="prop.mandatory">*</span>
                    </label>

					<div class="col-sm-6">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-switch="prop.type">

							<!-- LABEL -->
							<div ng-bind="prop.value" ng-if="prop.readOnly && prop.type=='string'" class="form-label"></div>
                            <div ng-bind="prop.value"  ng-if="prop.readOnly && prop.type=='date'" class="form-label"></div>
							<div ng-if="prop.readOnly && prop.type=='enum'" ng-bind="prop.allowedValues[prop.value]">
							</div>
                            <div ng-if="prop.readOnly && prop.type=='dynamic-enum'" ng-bind="prop.allowedValues[prop.value]">
							</div>
							<div ng-if="prop.readOnly && prop.type=='double'" ng-bind="prop.value">
							</div>
                            <div ng-if="prop.readOnly && prop.type=='multiline-string'"
                                 class="form-label pre">
								<p  ng-bind="prop.value"></p>
							</div>
							<div ng-if="prop.readOnly && prop.type=='barcode'" ng-bind="prop.value"></div>
							<!-- LABEL -->

							<!-- TEXTBOX -->
							<input spellcheck="true" type="text" name="{{prop.name}}" class="form-control" style="" id="{{prop.id}}"
                                   placeholder="Enter {{prop.name|decodeHtmlEntity}}" ng-model="ticket.properties[$index].value"
                                   maxlength="250" ng-if="!prop.readOnly && !prop.mandatory" ng-switch-when="string" />

                            <!-- mandatory=true -->
                            <input spellcheck="true" type="text" name="{{prop.name}}" class="form-control" style="" id="{{prop.id}}"
                                   placeholder="Enter {{prop.name|decodeHtmlEntity}}"  ng-model="ticket.properties[$index].value"
                                   maxlength="250" ng-if="!prop.readOnly && prop.mandatory" required="required" ng-switch-when="string" />
							<!-- TEXTBOX -->

							<!-- TEXTBOX - NUMBER -->
							<input spellcheck="true" type="number" validate-long name="{{prop.name}}" class="form-control" style="" id="{{prop.id}}"
                                   placeholder="Enter {{prop.name|decodeHtmlEntity}}"  ng-model="ticket.properties[$index].value"  min="0"
                                   maxlength="10" ng-switch-when="long"  ng-if="!prop.readOnly && !prop.mandatory" />

                            <!-- mandatory=true -->
                            <input spellcheck="true" type="number" validate-long name="{{prop.name}}" class="form-control" style="" id="{{prop.id}}"
                                   placeholder="Enter {{prop.name|decodeHtmlEntity}}"  ng-model="ticket.properties[$index].value"  min="0"
                                   maxlength="10" ng-switch-when="long"  ng-if="!prop.readOnly && prop.mandatory" required="required" />

							<!-- TEXTBOX - DOUBLE -->
							<input spellcheck="true" type="number" validate-double name="{{prop.name}}" class="form-control" style="" id="{{prop.id}}"
                                   placeholder="Enter {{prop.name|decodeHtmlEntity}}" ng-model="ticket.properties[$index].value"  min="0"
                                   maxlength="10" ng-switch-when="double"  ng-if="!prop.readOnly && !prop.mandatory"
								   step="0.01"/>

                            <!-- mandatory=true -->
                            <input spellcheck="true" type="number" validate-double name="{{prop.name}}" class="form-control" style="" id="{{prop.id}}"
                                   placeholder="Enter {{prop.name|decodeHtmlEntity}}"  ng-model="ticket.properties[$index].value" min="0"
                                   maxlength="10" ng-switch-when="double"  ng-if="!prop.readOnly && prop.mandatory" required="required"
								   step="0.01"/>
							<!-- TEXTBOX - DOUBLE -->

							<!-- TEXTBOX - BARCODE -->
							<input spellcheck="true" type="text" name="{{prop.name}}" class="form-control" style="" id="{{prop.id}}"
                                   placeholder="Enter {{prop.name|decodeHtmlEntity}}" ng-model="ticket.properties[$index].value"
                                   maxlength="250" ng-if="!prop.readOnly && !prop.mandatory" ng-switch-when="barcode" />

                            <!-- mandatory=true -->
                            <input spellcheck="true" type="text" name="{{prop.name}}" class="form-control" style="" id="{{prop.id}}"
                                   placeholder="Enter {{prop.name|decodeHtmlEntity}}"  ng-model="ticket.properties[$index].value"
                                   maxlength="250" ng-if="!prop.readOnly && prop.mandatory" required="required" ng-switch-when="barcode" />
							<!-- TEXTBOX - BARCODE  -->

							<!-- BOOLEAN -->
                            <div ng-if="!prop.readOnly" ng-switch-when="boolean">
                                <div class="radio" style="float: left;">
                                    <label>
                                        <input type="radio" name="{{prop.name|decodeHtmlEntity}}" id="{{prop.id}}" ng-value="{{ticket.properties[$index].value==false}}"
                                               value="true" ng-model="ticket.properties[$index].value" ng-if="!prop.readOnly && !prop.mandatory"/>
                                        <!-- mandatory=true -->
                                        <input type="radio" name="{{prop.name|decodeHtmlEntity}}" id="{{prop.id}}" ng-value="{{ticket.properties[$index].value==false}}"
                                               value="true" ng-model="ticket.properties[$index].value" ng-if="!prop.readOnly && prop.mandatory" required="required"/>
                                        Yes
                                    </label>
                                </div>
                                <div class="radio" id="radio_featured_inactive" style="float: left;margin-left: 20px;">
                                    <label>
                                        <input type="radio" name="{{prop.name|decodeHtmlEntity}}" id="{{prop.id}}" ng-value="{{ticket.properties[$index].value==true}}"
                                               value="false" ng-model="ticket.properties[$index].value" ng-if="!prop.readOnly && !prop.mandatory"/>
                                        <!-- mandatory=true -->
                                        <input type="radio" name="{{prop.name|decodeHtmlEntity}}" id="{{prop.id}}" ng-value="{{ticket.properties[$index].value==true}}"
                                               value="false" ng-model="ticket.properties[$index].value" ng-if="!prop.readOnly && prop.mandatory" required="required"/>
                                        No
                                    </label>
                                </div>
                            </div>
							<!-- BOOLEAN -->

							<!-- DROPDOWN -->
							<select name="{{prop.name|decodeHtmlEntity}}" id="{{prop.id}}" class="form-control" placeholder="Select {{prop.name}}"
                                    ng-model="ticket.properties[$index].value" ng-if="!prop.readOnly && !prop.mandatory"
									ng-switch-when="enum">
                                <option ng-repeat="(key, value) in prop.allowedValues" value="{{key}}" ng-bind="value|decodeHtmlEntity"
                                        ng-if="prop.value==key" selected="selected"></option>
                                <option ng-repeat="(key, value) in prop.allowedValues" value="{{key}}" ng-bind="value|decodeHtmlEntity"
                                        ng-if="prop.value!=key"></option>
                            </select>

                            <!-- mandatory=true -->
                            <select name="{{prop.name|decodeHtmlEntity}}" id="{{prop.id}}" class="form-control" placeholder="Select {{prop.name}}" required="required"
                                    ng-model="ticket.properties[$index].value" ng-if="!prop.readOnly && prop.mandatory"
									ng-switch-when="enum">
                                <option value="">---------- Choose --------</option>
                                <option ng-repeat="(key, value) in prop.allowedValues" value="{{key}}" ng-bind="value|decodeHtmlEntity"
                                        ng-if="prop.value==key" selected="selected"></option>
                                <option ng-repeat="(key, value) in prop.allowedValues" value="{{key}}" ng-bind="value|decodeHtmlEntity"
                                        ng-if="prop.value!=key"></option>
                            </select>

							<select name="{{prop.name}}" id="{{prop.id}}" class="form-control" placeholder="Select {{prop.name}}"
                                    ng-model="ticket.properties[$index].value" ng-if="!prop.readOnly && !prop.mandatory"
									ng-switch-when="dynamic-enum">
                                <option ng-repeat="(key, value) in prop.allowedValues" value="{{key}}" ng-bind="value"
                                        ng-if="prop.value==key" selected="selected"></option>
                                <option ng-repeat="(key, value) in prop.allowedValues" value="{{key}}" ng-bind="value"
                                        ng-if="prop.value!=key"></option>
                            </select>

                            <!-- mandatory=true -->
                            <select name="{{prop.name}}" id="{{prop.id}}" class="form-control" placeholder="Select {{prop.name}}" required="required"
                                    ng-model="ticket.properties[$index].value" ng-if="!prop.readOnly && prop.mandatory"
									ng-switch-when="dynamic-enum">
                                <option value="">---------- Choose --------</option>
                                <option ng-repeat="(key, value) in prop.allowedValues" value="{{key}}" ng-bind="value"
                                        ng-if="prop.value==key" selected="selected"></option>
                                <option ng-repeat="(key, value) in prop.allowedValues" value="{{key}}" ng-bind="value"
                                        ng-if="prop.value!=key"></option>
                            </select>
							<!-- DROPDOWN -->

							<!-- DATE PICKER -->
							<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-switch-when="date" ng-if="!prop.readOnly && prop.format == 'dd-MM-yyyy'">
								<input type="hidden" ng-model="prop.longDate" />

								<span class="input-group date" datepicker data-ticket="ticket" ng-model="prop.value">
                                    <input class="form-control col-xs-12" type="text" id="{{prop.id}}" name="{{prop.name}}"
                                           ng-model="prop.value" ng-if="!prop.readOnly && !prop.mandatory"
                                            placeholder="Enter {{prop.name|decodeHtmlEntity}}"
                                           data-date-format="dd-mm-yyyy"/>

                                    <!-- mandatory=true -->
                                    <input class="form-control col-xs-12" type="text" id="{{prop.id}}" name="{{prop.name}}"
                                           ng-model="prop.value" ng-if="!prop.readOnly && prop.mandatory"
                                            placeholder="Enter {{prop.name|decodeHtmlEntity}}"
                                           data-date-format="dd-mm-yyyy"/>
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>

								</span>
								<span class="hint-text">Format : DD-MM-YYYY</span>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-switch-when="date"
								 ng-if="!prop.readOnly && prop.format=='dd-MM-yyyy hh:mm'">
								<span class="input-group date">
								<input datetime-picker class="form-control input-sm"
									   placeholder="Enter {{prop.name|decodeHtmlEntity}}"
										id="{{prop.id}}" name="{{prop.name}}"
										ng-model="prop.value"
										date-format="dd-MM-yyyy HH:mm"
										hour="00" minute='00'/></span>
								<span class="hint-text">Format : DD-MM-YYYY hh:mm</span>
							</div>
							</div>
							<!-- DATE PICKER -->

                            <!-- TEXTAREA "multiline-string"-->
                            <textarea ng-switch-when="multiline-string" name="{{prop.name}}" id="{{prop.id}}" class="form-control"
                                      placeholder="Enter {{prop.name|decodeHtmlEntity}}" ng-model="ticket.properties[$index].value"
                                      ng-if="!prop.readOnly && !prop.mandatory" ng-bind="ticket.properties[$index].value"></textarea>

                            <!-- mandatory=true -->
                            <textarea ng-switch-when="multiline-string" name="{{prop.name}}" id="{{prop.id}}" class="form-control"
                                      placeholder="Enter {{prop.name|decodeHtmlEntity}}" ng-model="ticket.properties[$index].value"
                                      ng-if="!prop.readOnly && prop.mandatory" ng-bind="ticket.properties[$index].value"></textarea>
                            <!-- TEXTAREA -->
						</div>

					</div>
					<span class="col-sm-3 control-span errors" style="" ng-bind-html="errors[prop.id]">

					</span>
					{{formPropertyName=prop.name;""}}
					<div ng-messages="form.formPropertyName.$error" role="alert" ng-messages-multiple
							ng-show="form.$submitted || form.formPropertyName.$touched"
							class="col-sm-12 errors">
						<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
					</div>
				</div>
                <div class="form-group">
                    <div class="col-sm-12 col-sm-offset-4">
                        <button type="submit" class="btn btn-primary" name="save" id="saveBtn" ng-show="ticket.lastGroup" check-access-perm="access_perm">
                             Create new ticket
						</button>
						<button type="button" class="btn btn-default" name="list" id="listBtn" ng-click="goToPage('rl.tickets');">
							 Go To List Page
                        </button>
						<button type="submit" class="btn btn-primary" name="next" id="nextBtn" ng-show="!ticket.lastGroup " check-access-perm="access_perm">
							 Next
                        </button>
                    </div>
                </div>
                <div class="col-sm-12 control-span errors" style="" ng-bind="startProcessError">

                </div>
			</form>
			</div>
		</div>
	</div>
</div>