<div ng-controller="DOAController">
	<load-template url="common/breadcrumb"></load-template>
	<table class="row-border hover table table-striped table-hover table-condensed" ng-model="attachments">
		<thead>
			<th>#</th>
			<th>Type</th>
			<th>Key1</th>
			<th>Key2</th>
			<th>&nbsp;</th>
		</thead>
		<tbody>

			<tr dir-paginate="attachment in attachments|orderBy:'categoryName':false|itemsPerPage:pageSize"
				total-items="total_count" ng-if="attachments.length > 0 || attachments != undefined">
				<td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
				<td ng-bind="attachment.categoryName"></td>
				<td ng-bind="attachment.brandName"></td>
				<td>
					<button type="button" class="btn btn-default" aria-label="Left Align">
						<a href="{{URL}}/server/attachment/download/DOA/{{attachment.categoryId}}/{{attachment.brandId}}" tooltip title="Download DOA Form">
							<i class="fa fa-download" aria-hidden="true"></i>						
						</a>
					</button>
					<button type="button" class="btn btn-default" aria-label="Left Align">
						<a href="#/attachment-form/upload/{{attachment.id}}" tooltip title="Edit DOA Form"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>
					</button>
					<button type="button" class="btn btn-default" aria-label="Left Align" tooltip title="Delete DOA Form" ng-click="deleteDOAForm(attachment, $index);">
						<i class="fa fa-trash" aria-hidden="true"></i>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
	<dir-pagination-controls
		max-size="8"
		direction-links="true"
		boundary-links="true"
		on-page-change="getDOAList(newPageNumber,pageSize)"
		ng-if="attachments.length > 0">
	 </dir-pagination-controls>
</div>
