<div ng-controller="PackagingMaterialController" ng-model="inventoryItem">
	<div class="row">
		<ol class="breadcrumb pagebreadcrumb">
			<li><a href="#/inventory/packaging-material">Packaging Material</a></li>
			<li>View Inventory Item</li>
		</ol>
	</div>
    <div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">View Inventory Item</h3>
		</div>
        <div class="panel-body">
			{{inventoryItem}}
        </div>
    </div>
</div>