<div ng-controller="PackagingMaterialController">
    <load-template url="common/breadcrumb"></load-template>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Search Device Inventory </h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <form name="form" id="Form" class="form-horizontal" role="form" method="post" ng-submit="searchImei(imeiInventory,1,pageSize);"
                            novalidate>
                            <div class="col-sm-4">
                                <div class="form-group row">
                                    <label for="location" class="col-sm-12" style="">
                                    Warehouse Location
                                    </label>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <select name="location" class="form-control" ng-model="imeiInventory.location">
                                            <option value="">Select Warehouse Location</option>
                                            <option ng-repeat="imd in location|orderBy:'name':false" value="{{imd}}">{{imd}}</option>
                                       </select>
                                    </div>
                                    <div class="col-sm-12 errors">
                                        <span ng-bind="errors.location"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4" ng-if="loginInfo.roleCode!=='retailer'">
                                <div class="form-group row">
                                    <label for="location" class="col-sm-12" style="">
                                    Retailer
                                    </label>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <select name="location" class="form-control" ng-model="imeiInventory.retailerId">
                                            <option value="">Select Retailer</option>
                                            <option ng-repeat="imd in retailers|orderBy:'name':false" value="{{imd.id}}">{{imd.name}}</option>
                                       </select>
                                    </div>
                                    <div class="col-sm-12 errors">
                                        <span ng-bind="errors.location"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group row">
                                    <label for="category" class="col-sm-12" style="">
                                        Category
                                    </label>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <input spellcheck="true" type="text" name="category" class="form-control" style="" id="category" placeholder="Enter category" ng-model="imeiInventory.productCategory"
                                            maxlength="250" />
                                    </div>
                                    <div class="col-sm-12 errors">
                                        <span ng-bind="errors.category"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group row">
                                    <label for="brand" class="col-sm-12" style="">
                                        Brand
                                    </label>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <input spellcheck="true" type="text" name="brand" class="form-control" style="" id="brand" placeholder="Enter Brand" ng-model="imeiInventory.brand"
                                            maxlength="250" />
                                        <!--<select name="brand" class="form-control" ng-model="imeiInventory.brand">
                                            <option value="">Select Brand</option>
                                            <option ng-repeat="imd in imeiData" value="{{imd.brand}}">{{imd.brand}}</option>
                                       </select>-->
                                    </div>
                                    <div class="col-sm-12 errors">
                                        <span ng-bind="errors.brand"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group row">
                                    <label for="model" class="col-sm-12" style="">
                                        Model
                                    </label>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <input spellcheck="true" type="text" name="model" class="form-control" style="" id="model" placeholder="Enter Model" ng-model="imeiInventory.model"
                                            maxlength="250" />
                                        <!--<select name="locationId" class="form-control" ng-model="imeiInventory.model">
                                            <option value="">Select Model</option>
                                            <option ng-repeat="imd in imeiData" value="{{imd.model}}">{{imd.model}}</option>
                                       </select>-->
                                    </div>
                                    <div class="col-sm-12 errors">
                                        <span ng-bind="errors.model"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group row">
                                    <label for="type" class="col-sm-12" style="">
                                        Year
                                    </label>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <input spellcheck="true" type="text" name="year" class="form-control" style="" id="year" placeholder="Enter Year" ng-model="imeiInventory.year"
                                            maxlength="250" />
                                        <!--<select name="year" class="form-control" ng-model="imeiInventory.year">
                                            <option value="">Select Year</option>
                                            <option ng-repeat="imd in imeiData" value="{{imd.year}}">{{imd.year}}</option>
                                       </select>-->
                                    </div>
                                    <div class="col-sm-12 errors">
                                        <span ng-bind="errors.year"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group row">
                                    <label for="status" class="col-sm-12" style="">
                                    Status
                                    </label>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <select name="type" class="form-control" ng-model="imeiInventory.status">
                                            <option value="">Select Status</option>
                                            <option value="0">Available</option>
                                            <option value="1">Issued</option>
											<option value="2">Damaged</option>
                                       </select>
                                    </div>
                                    <div class="col-sm-12 errors">
                                        <span ng-bind="errors.status"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group row">
                                    <label for="imeiNo" class="col-sm-12" style="">
                                    IMEI No.
                                    </label>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <input spellcheck="true" type="text" name="imeiNo" class="form-control" style="" id="imeiNo" placeholder="Enter IMEI No."
                                            ng-model="imeiInventory.imeiNo" maxlength="250" />
                                        <!--<select name="imeiNo" class="form-control" ng-model="imeiInventory.imeiNo">
                                            <option value="">Select IMEI No.</option>
                                            <option ng-repeat="imd in imeiData" value="{{imd.imeiNo}}">{{imd.imeiNo}}</option>
                                       </select>-->
                                    </div>
                                    <div class="col-sm-12 errors">
                                        <span ng-bind="errors.imeiNo"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group row">
                                    <label for="barcode" class="col-sm-12" style="">
                                    Barcode
                                    </label>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <input spellcheck="true" type="text" name="barcode" class="form-control" style="" id="barcode" placeholder="Enter Barcode."
                                            ng-model="imeiInventory.barcode" maxlength="250" />
                                        <!--<select name="imeiNo" class="form-control" ng-model="imeiInventory.imeiNo">
                                            <option value="">Select IMEI No.</option>
                                            <option ng-repeat="imd in imeiData" value="{{imd.imeiNo}}">{{imd.imeiNo}}</option>
                                       </select>-->
                                    </div>
                                    <div class="col-sm-12 errors">
                                        <span ng-bind="errors.imeiNo"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group row">
                                    <label for="productValue" class="col-sm-12" style="">
                                    Product Value
                                    </label>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <select name="type" class="form-control" ng-model="imeiInventory.productValue">
                                            <option value="">Select Cost Range</option>
                                            <option value="0"><10,000</option>
                                            <option value="1">10,000-20,000</option>
											<option value="2">20,000-30,000</option>
                                            <option value="3">>30,000</option>
                                       </select>
                                    </div>
                                    <div class="col-sm-12 errors">
                                        <span ng-bind="errors.status"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-12">&nbsp;</label>
                                    <div class="col-sm-4">
                                        <button type="submit" class="btn btn-primary" name="next" id="saveBtn">
                                            Search
                                        </button>
                                        <button type="button" class="btn btn-default" name="next" id="clearBtn" ng-click="clearSearchFields();"> Clear
                                        </button>

                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="showImeiResult == 1" class="col-sm-12 text-right"><a href="{{host_base_url}}/server/attachment/download/search/imei/result"> Download</a></div>
    <table class="row-border hover table table-striped table-hover table-condensed" ng-model="imeiData" ng-model="pagination">
        <thead>
            <th>#</th>
            <th>Warehouse Location</th>
            <th>Retailer</th>
            <th>Product Category</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Year</th>
            <th>Product Value</th>
            <th>Status</th>
            <th>IMEI No.</th>
            <th>Barcode</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>

            <tr dir-paginate="imd in imeiData|orderBy:'status':false|itemsPerPage:pageSize" total-items="total_count" ng-if="imeiData.length > 0 || imeiData != undefined">
                <td ng-bind="($index+1)+(pageSize)*(currentPage-1)" class="col-sm-1"></td>
                <td class="col-sm-1">
                    <span ng-bind="imd.location"></span></td>

                <td class="col-sm-1">
                    <span ng-repeat="retailer in retailers" ng-if="imd.retailerId===retailer.id">{{retailer.name}}</span>
                    <span ng-if="imd.retailerId===null || imd.retailerId ===''"></span>
                </td>

                <!--<br/>
					<io-barcode code="{{inventory.barcode}}" type="CODE128B" options="options"></io-barcode>-->

                <!--<a href="#/inventory/packaging-material/item-view/{{inventory.id}}" ></a></td>-->
                <td class="col-sm-1">
                    <p ng-bind="imd.productCategory"></p>
                    <!--<p  ng-bind="inventory.city"></p>-->
                </td>
                <td class="col-sm-1">
                    <p ng-bind="imd.brand"></p>
                    <!--<p  ng-bind="inventory.city"></p>-->
                </td>
                
                <td ng-bind="imd.model" class="col-sm-1"></td>
                <td ng-bind="imd.year" class="col-sm-1"></td>
                <td ng-bind="imd.productCost" class="col-sm-1"></td>

                <td ng-if="imd.status == 0" class="col-sm-2"><span class="label label-success">Available</span></td>
                <td ng-if="imd.status == 1" class="col-sm-2"><span class="label label-info">Issued</span></td>
                <td ng-if="imd.status == 2" class="col-sm-2"><span class="label label-warning">Damaged</span></td>
                <td ng-bind="imd.imeiNo" class="col-sm-2"></td>
                <td ng-bind="imd.barcode" class="col-sm-2"></td>
                <td class="col-sm-1" ng-if="loginInfo.roleCode!=='retailer' && loginInfo.roleCode!=='hub_manager'">
                    <label ng-click="deleteImeiNo(imd.id,$index)" style="cursor:pointer" class="glyphicon glyphicon-trash"></label>
                </td>
                <td ng-if="loginInfo.roleCode!=='retailer'" ng-if="imd.status == '0' || imd.status == '1'" class="col-sm-1">
                    <label ng-click="makeDamage(imd.imeiNo)" style="cursor:pointer" class="fa fa-chain-broken"></label>
                </td>
                <td ng-if="imd.status == 2" class="col-sm-1">
                    <label ng-click="makeAvailable(imd.imeiNo)" style="cursor:pointer" class="fa fa-buysellads"></label>
                </td>

                <!--<a href="" ng-click="print('http://localhost/rlogistics/biz_angular/img/barcode.png');">Print</a>--></td>
            </tr>
            <tr ng-if="imeiData.length <= 0">
                <td colspan="8" class="text-center"> No records found!</td>
            </tr>
        </tbody>
    </table>
    <dir-pagination-controls max-size="8" direction-links="true" boundary-links="true" on-page-change="searchImei(imeiInventory,newPageNumber,pageSize)"
        ng-if="imeiData.length > 0">
    </dir-pagination-controls>
</div>