<div id="returnItemDialog">
    <div class="dialog-contents">
        <div class="row">
            <div class="col-xs-12 col-lg-12 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Search Barcode</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <form name="returnItemForm">
                                    <div class="form-group">
                                        <div class="input-group"> 
                                            <input spellcheck="true" type="text" min="1" name="barcode" class="form-control" style="" id="barcode"
                                                placeholder="Enter Barcode" 
                                                ng-model="returnBarcode" maxlength="250" 
                                                required="required" />
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" ng-disabled="isDisabled" ng-click="searchBarcode(returnBarcode);">Search</button>
                                            </span>
                                        </div> 
                                    </div>
                                </form>
                            </div>
                        </div>
                        
                        <div class="row" ng-model="barcodeInfo" ng-if="barcodeInfo != null" style="height: 350px; overflow: scroll;">
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <label class="form-label">Barcode</label>
                                </div>
                                <div class="col-sm-8">
                                    <p>{{returnBarcode}}</p>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <label class="form-label">Location</label>
                                </div>
                                <div class="col-sm-8">
                                    <p  ng-bind="barcodeInfo.locationName"></p>
                                    <p  ng-bind="barcodeInfo.city"></p>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <label class="form-label">Packaging Type</label>
                                </div>
                                <div class="col-sm-8">
                                    <p  ng-bind="barcodeInfo.packagingTypeCode"></p>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <label class="form-label">Status</label>
                                </div>
                                <div class="col-sm-8">
                                    <span class="label label-success" ng-if="barcodeInfo.status==0">Available</span>
                                    <span class="label label-info" ng-if="barcodeInfo.status==1">Issued</span>
                                    <span class="label label-primary" ng-if="barcodeInfo.status==2">Used</span>
                                    <span class="label label-default" ng-if="barcodeInfo.status==3">Received</span>
                                    <span class="label label-warning" ng-if="barcodeInfo.status==4">Damaged</span>
                                    <span class="label label-danger" ng-if="barcodeInfo.status==5">Scraped</span>
                                </div>
                            </div>
                            <div class="col-sm-12" ng-if="barcodeInfo.ticketNumber != null">
                                <div class="col-sm-4">
                                    <label class="form-label">Ticket Number</label>
                                </div>
                                <div class="col-sm-8">
                                    <p  ng-bind="barcodeInfo.ticketNumber"></p>
                                </div>
                            </div>
                            <div class="col-sm-12" ng-if="barcodeInfo.userId != null && barcodeInfo.userId != ''">
                                <div class="col-sm-4">
                                    <label class="form-label">Assignee</label>
                                </div>
                                <div class="col-sm-8">
                                    <p  ng-bind="barcodeInfo.userId"></p>
                                </div>
                            </div>
                            <div class="col-sm-12" ng-if="barcodeInfo.additionalDetails != null">
                                <div class="col-sm-4">
                                    <label class="form-label">Additional Details</label>
                                </div>
                                <div class="col-sm-8">
                                    <p  ng-bind="barcodeInfo.additionalDetails"></p>
                                </div>
                            </div>
                            <div class="col-sm-12 text-center" ng-if="barcodeInfo.status==1">
                                <button type="button" class="btn btn-primary"
                                        ng-click="inventoryItemStatusUpdate(returnBarcode, 0);">Return this Item</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>