<div ng-controller="PackagingMaterialController" ng-model="bulkPackagingMaterial">
	<div class="row">
		<ol class="breadcrumb pagebreadcrumb">
			<li><a href="#/inventory/packaging-material">Packaging Material</a></li>
			<li>Upload</li>
		</ol>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Upload Packaging Material</h3>
		</div>
		<div class="panel-body">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<form name="bulkUploadPackagingMaterialForm" id="bulkUploadPackagingMaterialForm" class="form-horizontal" role="form" method="post"
				  ng-submit="upload(bulkPackagingMaterial);" novalidate>
				
				<div class="form-group">
					<label for="locationId" class="col-sm-2 control-label formlabel">
					Location
					</label>
					<div class="col-sm-10">
						<select name="locationId" id="locationId" class="form-control col-sm-6"
								placeholder="Select Retailer" ng-required="required"
								ng-model="bulkPackagingMaterial.locationId">
						<option value="">---------- Choose --------</option>
						<option ng-repeat="location in locations" value="{{location.id}}">{{location.name}}</option>
					</select>
					</div>
				</div>
				
				<div class="form-group" >
					<label for="csv" class="col-sm-2 control-label formlabel">Upload CSV File:</label>
					<div class="col-sm-10">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="button" ngf-select ng-model="bulkPackagingMaterial.file" class="col-sm-3">
								<input style="float:left;" type="button" valid-file class="btn btn-primary" id="file"
                                       name="file"
									   value="Select CSV File ..." ng-model="bulkPackagingMaterial.file" accept=".csv"  required=""/>
							</div>
							<br/>
							<div ng-bind="bulkPackagingMaterial.selectedFileName" class="col-sm-12"></div>
						</div>
						
					</div>
					<div ng-messages="bulkUploadPackagingMaterialForm.file.$error" role="alert" ng-messages-multiple
                        ng-show="bulkUploadPackagingMaterialForm.$submitted || bulkUploadPackagingMaterialForm.file.$touched"
                        class="col-sm-3 errors" >
                       <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
                    </div>
				</div>
				<div class="form-group">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="progress">
							<div class="progress-bar progress-bar-striped active" role="progressbar"
								 aria-valuenow="uploadPercentage" aria-valuemin="0" aria-valuemax="100"
								 style="width: {{uploadPercentage}}%">
							  <span><span ng-bind="uploadPercentage"></span>% Complete</span>
							</div>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-12 col-sm-offset-5">
						<button type="submit" class="btn btn-primary" ng-disabled="bulkUploadPackagingMaterialForm.$invalid"
                                name="save" id="saveBtn" check-access-perm="access_perm">
						 Save
					</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
