<div ng-controller="PackagingMaterialController" ng-model="imeiData">
	<load-template url="common/breadcrumb"></load-template>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Upload Device Data</h3>
		</div>
		<div class="panel-body">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<form name="form" id="Form" class="form-horizontal" role="form" method="post" ng-submit="uploadIMEI(imeiData);" novalidate>
					<div>
						<div class="form-group">
							<label for="csv" class="col-sm-2 control-label formlabel">Choose Excel File:</label>
							<div class="col-sm-10">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="button" ngf-select ng-model="imeiData.file" class="col-sm-3">
										<input style="float:left;" type="button" class="btn btn-primary" id="file" name="file" value="Select Excel File ..." ng-model="imeiData.file"
										/>
									</div>
									<br/>
									<div ng-bind="imeiData.selectedFileName" class="col-sm-12"></div>
								</div>

							</div>
							<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 errormessage">
							</div>
						</div>

						<div class="form-group" ng-if="loginInfo.roleCode !== 'retailer'">
							<label for="retailer" class="col-sm-2 control-label formlabel">Select Retailer:</label>
							<div class="col-sm-10">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<select name="retailerId" id="retailerId" class="form-control col-sm-6" placeholder="Select Retailer" ng-required="required"
									 ng-model="imeiData.data.retailerId">
						              <option value="">---------- Choose --------</option>
						              <option ng-repeat="retailer in retailers|orderBy:'name':false" value="{{retailer.id}}">{{retailer.name}}</option>
					                </select>
								</div>

							</div>
						</div>
						
						<div class="form-group">
							<div class="col-sm-12 col-sm-offset-5">
								<button type="submit" class="btn btn-primary" name="save" id="saveBtn" check-access-perm="access_perm">
							Upload Data
						</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>