<div ng-model="costingActivityMappingUpload">
	
	<form name="form" id="Form" class="form-horizontal" role="form" method="post"
		  ng-submit="upload(costingActivityMappingUpload);" novalidate>
		
		
		<div class="form-group" >
			<label for="xlsx" class="col-sm-2 control-label formlabel">Upload Excel File:</label>
			<div class="col-sm-10">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="button" ngf-select ng-model="costingActivityMappingUpload.file" class="col-sm-3">
						<input style="float:left;" type="button" valid-file class="btn btn-primary" id="file" name="file"
							   value="Select Excel File ..." ng-model="costingActivityMappingUpload.file" accept=".xlsx"  required=""/>
					</div>
					<br/>
					<div ng-bind="costingActivityMappingUpload.selectedFileName" class="col-sm-12"></div>
				</div>
				
			</div>
			<div ng-messages="form.file.$error" role="alert" ng-messages-multiple
				ng-show="form.$submitted || form.file.$touched"
				class="col-sm-3 errors" >
			   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" role="progressbar"
						 aria-valuenow="uploadPercentage" aria-valuemin="0" aria-valuemax="100"
						 style="width: {{uploadPercentage}}%">
					  <span><span ng-bind="uploadPercentage"></span>% Complete</span>
					</div>
				</div>
			</div>
		</div>
		
		<div class="form-group">
			<div class="col-sm-12 col-sm-offset-5">
				<button type="submit" class="btn btn-primary" ng-disabled="form.$invalid"
						name="save" id="saveBtn" check-access-perm="access_perm">
				Save
			</button>
				<button type="button" class="btn btn-primary"  ng-click="fnShowServiceCostingList();">
				Back
				</button>
			</div>
		</div>
	</form>
</div>
