<div ng-controller="RetailerCostingActivityController">
	<load-template url="pages/retailer/service_costing/service_costing" ng-if="showServiceCostingList===true"></load-template>
	<load-template url="pages/retailer/service_costing/bulk_upload" ng-if="showServiceCostingUpload===true"></load-template>
</div>