
		<form name="form" id="Form" class="form-horizontal" role="form" method="post"
				ng-submit="filterRetailerCostingActivity(costingActivity);" novalidate ng-model="costingActivity">
			  <div class="col-sm-3">
				  <div class="form-group row">
					  <label for="categoryId" class="col-sm-12" style="">
					  Category
					  </label>
					  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						 <select name="categoryId" class="form-control" ng-model="costingActivity.categoryId">
							  <option value="">Select Category</option>
							  <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
						 </select>
					  </div>
					  <div class="col-sm-12 errors">
						  <span ng-bind="errors.categoryId"></span>
					  </div>
				  </div>
			  </div>
			  <div class="col-sm-3">
				  <div class="form-group row">
					  <label for="serviceId" class="col-sm-12" style="">
						  Service
					  </label>
					  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						  <select name="serviceId" class="form-control" ng-model="costingActivity.serviceId">
							  <option value="">Select Service</option>
							  <option ng-repeat="service in masterServices" value="{{service.id}}">{{service.name}}</option>
						 </select>
					  </div>
					  <div class="col-sm-12 errors">
						  <span ng-bind="errors.serviceId"></span>
					  </div>
				  </div>
			  </div>
			  
			  <div class="col-sm-3">
				  <div class="form-group row">
					  <label for="activity" class="col-sm-12" style="">
						  Activity
					  </label>
					  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						  <select name="activity" class="form-control" ng-model="costingActivity.activityId">
							  <option value="">Select Activity</option>
							  <option ng-repeat="activity in costingActivities" value="{{activity.id}}">{{activity.name}}</option>
						 </select>
					  </div>
					  <div class="col-sm-12 errors">
						  <span ng-bind="errors.activity"></span>
					  </div>
				  </div>
			  </div>
			  <div class="col-sm-3">
				  <div class="form-group row">
					  <label class="col-sm-12">&nbsp;</label>
					  <div class="col-sm-12">
						  <button type="submit" class="btn btn-primary" name="next" id="saveBtn">
							  Filter
						  </button>
						  <button type="button" class="btn btn-default" name="next" id="clearBtn"
							  ng-click="clearSearchFields();"> Clear
						  </button>
						  
					  </div>
				  </div>
				  
			  </div>
		  </form>
		<table class="table row-border table-hover table-striped">
				<thead>
					<th class="hidden-sm hidden-xs col-md-1 col-lg-1 form-label text-center">
						#
					</th>
					<th class="col-sm-12 col-md-1 col-lg-1 form-label text-left">
						Category
					</th>
					<th class="col-sm-12 col-md-2 col-lg-2 form-label text-left">
						Service
					</th>
					<th class="col-sm-12 col-md-4 col-lg-4 form-label text-left">
						Activity
					</th>
					<th class="col-sm-12 col-md-2 col-lg-2 form-label text-left">
						Amount (<i class="fa fa-inr"></i>)
					</th>
					<th class="col-sm-12 col-md-1 col-lg-1 form-label text-left">
						Enabled?
					</th>
					<th class="col-sm-12 col-md-1 col-lg-1 form-label text-left">
						
					</th>
				</thead>
		
				<tr dir-paginate="serviceCost in serviceCosts|itemsPerPage:pageSize" total-items="total_count" pagination-id="retailerServiceCostingPagination">
					
					<td class="col-md-1 col-lg-1 text-center" ng-bind="($index+1)+(pageSize)*(currentPage-1)">            
					</td>
					<td class="col-sm-12 col-md-1 col-lg-1  text-left capitalize" ng-bind="serviceCosts[$index].productCategoryName">
					</td>
					<td class="col-sm-12 col-md-2 col-lg-2  text-left capitalize" ng-bind="serviceCosts[$index].serviceName">
					</td>
					<td class="col-sm-12 col-md-4 col-lg-4  text-left capitalize" ng-bind="serviceCosts[$index].costingActivityName">
					</td>
					<td class="col-sm-12 col-md-2 col-lg-2  text-left capitalize" >
						<span ng-if="serviceCosts[$index].cost === null">-</span>
						<span ng-if="serviceCosts[$index].cost !== null">
								<i class="fa fa-inr"></i> <span ng-bind="serviceCosts[$index].cost"></span>
						</span>
					</td>
					<td class="col-sm-12 col-md-2 col-lg-2  text-left capitalize"
						ng-bind="serviceCosts[$index].status=='1'?'Yes':'No'">
					</td>
					<td class="col-sm-12 col-md-2 col-lg-2  text-left capitalize" >
						<a ng-click="showEditDialog(serviceCost, $index)" class="hand">Edit</a>
					</td>
				</tr>
				<tr ng-if="serviceCosts.length == 0">
						<td colspan="7">No Records Found!</td>
				</tr>
		</table>
		<dir-pagination-controls
		ng-if="serviceCosts.length > 0"
		max-size="8"
		direction-links="true"
		boundary-links="true"
		pagination-id="retailerServiceCostingPagination"
		on-page-change="getRetailerCostingActivityList(newPageNumber,pageSize)"
		>
	 </dir-pagination-controls>	