<div class=" collapse in"  id="listPincodes">
    <table class="row-border hover table table-striped table-hover table-condensed"  ng-model="pincodes">
        <thead>
            <th>#</th>
            <th>Pincode</th>
            <th>&nbsp;</th>
        </thead>
        <tbody>

           <tr dir-paginate="pincode in pincodes|itemsPerPage:pageSize"
				total-items="total_count" pagination-id="locationPincodesPagination"
                ng-if="pincodes.length > 0 || pincodes != undefined">
                <td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
                <td ng-bind="pincode.pincode"></td>
                <td>
                    <a class="hand" ng-click="deleteLocationPincode($index,pincode.id);" check-access-perm="access_perm"><span class="fa fa-trash"></span></a>
                </td>
                <!--<td ng-click="getPincode(pincode)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
                -->
            </tr>
        </tbody>
    </table>
    <dir-pagination-controls
		max-size="8"
        pagination-id="locationPincodesPagination"
		direction-links="true"
		boundary-links="true"
		on-page-change="populatePincodeList(newPageNumber,pageSize)"
		ng-if="pincodes.length > 0">
	 </dir-pagination-controls>
</div>