
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
	<div class="row">
		<load-template url="pages/masters/location/pincodes/save"></load-template>        
    </div>
    <div class="row">
		<load-template url="pages/masters/location/pincodes/list"></load-template>        
    </div>
</div>