<div ng-controller="FAQController">
	<load-template url="common/breadcrumb"></load-template>
	
	<table class="row-border hover table table-striped table-hover table-condensed" ng-model="faqs">
		<thead>
			<th>#</th>
			<th>Category</th>
			<th>Sub-Category</th>
			<th>Brand</th>
			<th>Product</th>
			<th></th>
		</thead>
		<tbody>

			<tr dir-paginate="faq in faqs|itemsPerPage:pageSize"
				total-items="total_count" ng-if="faqs.length > 0 || faqs != undefined">
				<td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
				<td ng-bind="faq.categoryName" ng-if="faq.categoryName != null && faq.categoryName != ''"></td>
				<td ng-if="faq.categoryName == null">-</td>
				
				<td ng-bind="faq.subCategoryName" ng-if="faq.subCategoryName != null && faq.subCategoryName != ''"></td>
				<td ng-if="faq.subCategoryName == null">-</td>
				
				
				<td ng-bind="faq.brandName" ng-if="faq.brandName != null && faq.brandName != ''"></td>
				<td ng-if="faq.brandName == null">-</td>
				
				<td ng-bind="faq.productName" ng-if="faq.productName != null && faq.productName != ''"></td>
				<td ng-if="faq.productName == null">-</td>
				<td>
					<a href="#/masters-faq/get/{{faq.id}}" >View</a></td>
			</tr>
		</tbody>
	</table>
	<dir-pagination-controls
		max-size="8"
		direction-links="true"
		boundary-links="true"
		on-page-change="getFAQList(newPageNumber,pageSize)"
		ng-if="faqs.length > 0">
	 </dir-pagination-controls>
</div>
