<div ng-controller="FAQController" ng-model="faq">
	<load-template url="common/breadcrumb"></load-template>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				<span ng-bind="faq.id!=undefined?'Update':'Create'"></span> FAQ
			</h3>
		</div>
		<div class="panel-body">
			
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<form name="form" id="Form" class="form-horizontal" role="form" method="post" ng-submit="save(faq);" novalidate>
					<input type="hidden" name="id" ng-model="faq.id" />
					<div class="form-group">
						<label for="categoryId" class="col-sm-3 control-label" style="">
                        FAQ Type
                        </label>
						<div class="col-sm-9">
							<label for="selectionType1" class="col-sm-9" style="">
								<input type="radio" name="selectionType" id="selectionType1" value="category"
									   ng-model="selectionType" /> Category Only
							</label>
<!--							<label for="selectionType3" class="col-sm-9" style="">
								<input type="radio" name="selectionType" id="selectionType3" value="product"
									   ng-model="selectionType" /> Product Only
							</label>
-->							<label for="selectionType2" class="col-sm-9" style="">
								<input type="radio" name="selectionType" id="selectionType2" value="subCategoryBrand"
									   ng-model="selectionType" /> Sub-Category &amp; Brand
							</label>
							<label for="selectionType4" class="col-sm-9" style="">
								<input type="radio" name="selectionType" id="selectionType4" value="categoryBrand"
									   ng-model="selectionType" /> Category &amp; Brand
							</label>
						</div>
					</div>
					<div class="form-group" ng-show="selectionType == 'category' || selectionType == 'categoryBrand'">
						<label for="categoryId" class="col-sm-3 control-label" style="">
                        Category 
                        </label>
						<div class="col-sm-6">
							<select name="categoryId" id="categoryId" ng-model="faq.categoryId" class="form-control"
							ng-required="selectionType == 'category' || selectionType == 'categoryBrand'">
								<option value="">Choose</option>
								<option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
							</select>
						</div>
						<div ng-messages="form.categoryId.$error" role="alert" ng-messages-multiple
							 ng-show="form.$submitted || form.categoryId.$touched"
							 class="col-sm-3 errors" >
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>
					<div class="form-group" ng-show="selectionType == 'subCategoryBrand'">
						<label for="subCategoryId" class="col-sm-3 control-label" style="">
                        Sub Category 
                        </label>
						<div class="col-sm-6">
							<select name="subCategoryId" id="subCategoryId" ng-model="faq.subCategoryId" class="form-control"
							ng-required="selectionType == 'subCategoryBrand'">
								<option value="">Choose</option>
								<option ng-repeat="subCategory in subCategories" value="{{subCategory.id}}">{{subCategory.name}}</option>
							</select>
						</div>
						<div ng-messages="form.subCategoryId.$error" role="alert" ng-messages-multiple
							 ng-show="form.$submitted || form.subCategoryId.$touched"
							 class="col-sm-3 errors" >
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>
					<div class="form-group" ng-show="selectionType == 'subCategoryBrand' || selectionType == 'categoryBrand'">
						<label for="brandId" class="col-sm-3 control-label" style="">
                        Brand 
                        </label>
						<div class="col-sm-6">
							<select name="brandId" id="brandId" ng-model="faq.brandId" class="form-control"
							ng-required="selectionType == 'subCategoryBrand' || selectionType == 'categoryBrand'">
								<option value="">Choose</option>
								<option ng-repeat="brand in brands" value="{{brand.id}}">{{brand.name}}</option>
							</select>
						</div>
						<div ng-messages="form.brandId.$error" role="alert" ng-messages-multiple
							 ng-show="form.$submitted || form.brandId.$touched"
							 class="col-sm-3 errors" >
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>
					<!--<div class="form-group" ng-show="selectionType == 'product'">
						<label for="product" class="col-sm-3 control-label" style="">
						Product
						</label>
						<div class="col-sm-6 text-left row">
							<select2 ng-model="faq.productId" name="productId"
									 s2-options="val.id as val.name for val in products"
									  ng-required="selectionType == 'product'"
									 placeholder="Select Product" class="col-sm-12"></select2>
						</div>
						<div ng-messages="form.productId.$error" role="alert" ng-messages-multiple
							 ng-show="form.$submitted || form.productId.$touched"
							 class="col-sm-3 errors" >
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>-->
					<div class="form-group">
						<label for="name" class="col-sm-3 control-label" style="">
                        FAQ <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
								<div ckeditor="options" ng-model="faq.faq" name="faq" placeholder="Enter FAQ" class="form-control"
									 ready="onReady()" required="required"></div>
						</div>
						<div ng-messages="form.faq.$error" role="alert" ng-messages-multiple
							 ng-show="form.$submitted || form.faq.$invalid"
							 class="col-sm-3 errors" >
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
						
					</div>
					<div class="form-group">
						<div class="col-sm-12 errors col-sm-offset-3">
							<ng-messages for="errors" role="alert" class="col-sm-12">
								<ng-message when="required">
									Please choose any one category/subcategory/brand/product and enter FAQ.
								</ng-message>
								<ng-message when="faq">
									FAQ is required!
								</ng-message>
							</ng-messages>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12 text-center">
							<button type="submit" class="btn btn-primary" name="save" id="saveBtn"
									ng-disabled="form.$invalid"
									check-access-perm="access_perm">
                            Save
						</button>
							<button type="button" class="btn btn-default" name="list" id="listBtn" ng-click="goToPage('rl.masters-faqs');">
							 Go To List Page
                        </button>
							<button type="button" ng-if="faq.id !== undefined && faq.id !== null && faq.id !== ''" class="btn btn-danger" ng-click="deleteFAQ(faq, $index);" check-access-perm="access_perm">
								 Delete</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>