<div ng-controller="RetailerController">
	<load-template url="common/breadcrumb"></load-template>
	<table class="table row-border table-hover table-striped" ng-model="retailers">
		<thead>
			<th>#</th>
			<th>Name</th>
			<th>Code</th>
			<th>City</th>
			<th>Pincode</th>
		</thead>
		<tbody>

			<tr  dir-paginate="retailer in retailers|orderBy:'name':false|itemsPerPage:pageSize"
				 total-items="total_count" ng-if="retailers.length > 0 || retailers != undefined">
				<td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
				
				<td>
					<a href="#/retailer/get/{{retailer.id}}" ng-bind="retailer.name"></a></td>
				<td ng-if="retailer.code!=''" ng-bind="retailer.code"></td>
				<td ng-if="retailer.code==''">N/A</td>
				
				<td ng-if="retailer.city!=''" ng-bind="retailer.city"></td>
				<td ng-if="retailer.city==''">N/A</td>
				
				<td ng-if="retailer.pincode!=''" ng-bind="retailer.pincode"></td>
				<td ng-if="retailer.pincode==''">N/A</td>
			</tr>
		</tbody>
	</table>
	<dir-pagination-controls
		ng-model="pagination"
		max-size="8"
		direction-links="true"
		boundary-links="true" 
		on-page-change="getAllRetailersList(newPageNumber,pageSize)" >
	 </dir-pagination-controls>
</div>
