<form name="form" id="Form" class="form-horizontal" role="form" method="post" ng-controller="RetailerCategoriesServicedController"
    ng-submit="saveRetailerCategoriesServiced(retailer);" novalidate>
    <div class="form-group">
        <div class="col-sm-12">
            <div ng-repeat="master in masterCategory">
                <div class="col-sm-12"><label>{{master.name}}</label></div>
                <div class="col-sm-6">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-10">
                        <div class="checkbox" ng-repeat="category in retailer.list.productCategory.list|orderBy:'categoryName':false" ng-if='master.id===category.masterCategoryId'>
                            <div class="col-sm-5"><input type="checkbox" value="{{category.categoryId}}" ng-checked="retailer.list.productCategory.selectedIds.indexOf(category.categoryId) !== -1"
                                    ng-click="toggleCategoriesServiced(category.categoryId)" name="retailer.list.productCategory.selectedIds[]">{{category.categoryName}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 errors">
            <span ng-bind="retailer.list.productCategory.errors.categoriesServiced"></span>
        </div>
    </div>

    <div class="form-group" ng-if="loginInfo.roleCode!=='hub_manager'">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary" name="next" id="saveBtn" check-access-perm="access_perm">
                 Save
            </button>
        </div>
    </div>
    <div class="form-group" ng-if="loginInfo.roleCode==='hub_manager'">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
            <button type="submit" ng-disabled="true" class="btn btn-primary" name="next" id="saveBtn" check-access-perm="access_perm">
                 Save
            </button>
        </div>
    </div>
</form>