<div class="row" ng-model="retailer.chequeCollectionCenter">
    <div class="col-sm-12">
        <form name="chequeCollectionform" id="Form" class="form-horizontal" role="form" method="post" ng-submit="saveChequeCollectionCenter(retailer);" novalidate>
            
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="name" class="col-sm-12" style="">
                        Collection Center Name <span class="required">*</span>
                    </label>
                    <div class="col-sm-12">
                        <input spellcheck="true" type="text" name="name" class="form-control" style="" id="name"
                               placeholder="Enter Collection Center Name"
                               ng-model="retailer.chequeCollectionCenter.name" maxlength="250" size="10"
                               required="" />
                    </div>
                    <div ng-messages="chequeCollectionform.name.$error" role="alert" ng-messages-multiple
                        ng-show="form.$submitted || chequeCollectionform.name.$touched"
                        class="col-sm-12 errors" >
                       <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="code" class="col-sm-12" style="">
                       Collection Center Code <span class="required">*</span>
                    </label>
                    <div class="col-sm-12">
                        <input spellcheck="true" type="text" name="code" class="form-control" style="" id="code"
                               placeholder="Enter Collection Center Code"
                               ng-model="retailer.chequeCollectionCenter.code" maxlength="10" size="10"
                               required="" />
                    </div>
                    <div ng-messages="chequeCollectionform.code.$error" role="alert" ng-messages-multiple
                        ng-show="form.$submitted || chequeCollectionform.code.$touched"
                        class="col-sm-12 errors" >
                       <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="area" class="col-sm-12" style="">
                        Area <span class="required">*</span>
                    </label>
                    <div class="col-sm-12">
                        <input spellcheck="true" type="text" name="area" class="form-control" style="" id="area"
                               placeholder="Enter Area"
                               ng-model="retailer.chequeCollectionCenter.area" maxlength="250" size="10"
                               required="" />
                    </div>
                    <div ng-messages="chequeCollectionform.area.$error" role="alert" ng-messages-multiple
                        ng-show="chequeCollectionform.$submitted || chequeCollectionform.area.$touched"
                        class="col-sm-12 errors" >
                       <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="pincode" class="col-sm-12" style="">
                        Pincode <span class="required">*</span>
                    </label>
                    <div class="col-sm-12">
                        <input spellcheck="true" type="text" name="pincode" class="form-control number-only" style="" id="pincode"
                               placeholder="Enter Pincode" min="0" minlength="6"
                               ng-model="retailer.chequeCollectionCenter.pincode" maxlength="6" size="10"
                               ng-bind="parseInt(retailer.chequeCollectionCenter.pincode)"
                               required="" />
                    </div>
                    <div ng-messages="chequeCollectionform.pincode.$error" role="alert" ng-messages-multiple
                        ng-show="chequeCollectionform.$submitted || chequeCollectionform.pincode.$touched"
                        class="col-sm-12 errors" >
                       <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="address" class="col-sm-12" style="">
                        Address <span class="required">*</span>
                    </label>
                    <div class="col-sm-12">
                        <textarea name="address" id="address" class="form-control" required=""
                                  placeholder="Enter Address" ng-model="retailer.chequeCollectionCenter.address"></textarea>
                    </div>
                    <div ng-messages="chequeCollectionform.address.$error" role="alert" ng-messages-multiple
                        ng-show="chequeCollectionform.$submitted || chequeCollectionform.address.$touched"
                        class="col-sm-12 errors" >
                       <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="phoneNumber" class="col-sm-12" style="">
                        Phone Number <span class="required">*</span>
                    </label>
                    <div class="col-sm-12">
                        <input spellcheck="true" type="text" name="phoneNumber" class="form-control number-only"
                               style="" id="phoneNumber"
                               placeholder="Enter Phone Number"  minlength=10
                                ng-bind="retailer.chequeCollectionCenter.phoneNumber" min="0"
                               ng-model="retailer.chequeCollectionCenter.phoneNumber" maxlength="10"
                              required step="1"/>
                    </div>
                    <div ng-messages="chequeCollectionform.phoneNumber.$error" role="alert" ng-messages-multiple
                        ng-show="chequeCollectionform.$submitted || chequeCollectionform.phoneNumber.$touched"
                        class="col-sm-12 errors" >
                       <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="altPhoneNumber" class="col-sm-12" style="">
                        Phone Number 2
                    </label>
                    <div class="col-sm-12">
                        <input spellcheck="true" type="text" name="alternatePhoneNumber" class="form-control number-only"
                               style="" id="alternatePhoneNumber" minlength=10 
                               placeholder="Enter Phone Number" step="1" min="0"
                               ng-model="retailer.chequeCollectionCenter.alternatePhoneNumber" maxlength="10" size="10"
                               />
                    </div>
                    <div ng-messages="chequeCollectionform.alternatePhoneNumber.$error" role="alert" ng-messages-multiple
                        ng-show="chequeCollectionform.$submitted || chequeCollectionform.alternatePhoneNumber.$touched"
                        class="col-sm-12 errors" >
                       <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
                       <div ng-message="parse">Invalid phone number. Phone number should be 10 digits!</div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="email" class="col-sm-12" style="">
                        Email <span class="required">*</span>
                    </label>
                    <div class="col-sm-12">
                        <input spellcheck="true" type="email" name="email" class="form-control" style="" id="email"
                               placeholder="Enter Email"
                               ng-model="retailer.chequeCollectionCenter.email" maxlength="100" size="10"
                               required="" />
                    </div>
                    <div ng-messages="chequeCollectionform.email.$error" role="alert" ng-messages-multiple
                        ng-show="chequeCollectionform.$submitted || chequeCollectionform.email.$touched"
                        class="col-sm-12 errors" >
                       <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="contactPerson" class="col-sm-12" style="">
                        Contact Person <span class="required">*</span>
                    </label>
                    <div class="col-sm-12">
                        <input spellcheck="true" type="text" name="contactPerson" class="form-control" style="" id="contactPerson"
                               placeholder="Enter Contact Person Name"
                               ng-model="retailer.chequeCollectionCenter.contactPerson" maxlength="250" size="10"
                               required="" />
                    </div>
                    <div ng-messages="chequeCollectionform.contactPerson.$error" role="alert" ng-messages-multiple
                        ng-show="form.$submitted || chequeCollectionform.contactPerson.$touched"
                        class="col-sm-12 errors" >
                       <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
                    </div>
                </div>
                
                
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="cityId" class="col-sm-12" style="">
                        Cheque Collection Center Cities<span class="required">*</span>
                    </label>
                    <div class="col-sm-12">
                        <select2 ng-model="retailer.chequeCollectionCenter.cityId" name="cityId"
                                 s2-options="val.cityId as val.cityName for val in retailer.chequeCollectionCenterCityList" multiple="multiple"
                                 required="" placeholder="Select Cheque Collection Center Cities" style="width: 500px;"></select2>
                    </div>
                    <div ng-messages="chequeCollectionform.cityId.$error" role="alert" ng-messages-multiple
                        ng-show="chequeCollectionform.$submitted || chequeCollectionform.cityId.$touched"
                        class="col-sm-12 errors" >
                       <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12 text-center" ng-if="loginInfo.roleCode!=='hub_manager'">
                    <button type="submit" class="btn btn-primary" name="next" id="saveBtn"
                            ng-disabled="chequeCollectionform.$invalid"
                            check-access-perm="access_perm">
                        Save
                    </button>
                    <button type="button" class="btn btn-default" name="clear" id="clearBtn"
                            ng-click="resetCollectionCenterForm();">
                         Clear
                    </button>
                </div>

                <div class="col-sm-12 text-center" ng-if="loginInfo.roleCode==='hub_manager'">
                    <button ng-disabled="true" type="submit" class="btn btn-primary" name="next" id="saveBtn"
                            ng-disabled="chequeCollectionform.$invalid"
                            check-access-perm="access_perm">
                        Save
                    </button>
                </div>

            </div>
        </form>
    </div>
</div>

<div class="row">
     <div class="col-sm-12" ng-show="retailer.chequeCollectionCenterList.length > 0 || retailer.chequeCollectionCenterList != undefined">
        <table class="table row-border table-hover table-striped">
            <thead>
                <!--<th>#</th>-->
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Contact Person</th>
                <th>Cities</th>
                <th>&nbsp;</th>
            </thead>
            <tbody>
    
                <tr pagination-id="retailerChequeCollectionCenterPagination"  dir-paginate="collectionCenter in retailer.chequeCollectionCenterList|itemsPerPage:pageSize"
					
                    total-items="total_count"
                    ng-if="retailer.chequeCollectionCenterList.length > 0 || retailer.chequeCollectionCenterList != undefined">
                    <!--<td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>-->
                    <td>
                        <div ng-bind="collectionCenter.name + '(' + collectionCenter.code + ')'"></div>
                        <div ng-bind="collectionCenter.area"></div>
                        <div ng-bind="collectionCenter.pincode"></div>
                    </td>
                    <td ng-bind="collectionCenter.phoneNumber"></td>
                    <td ng-bind="collectionCenter.email"></td>
                    <td ng-bind="collectionCenter.contactPerson"></td>
                    <td>
                        <div ng-repeat="city in  collectionCenter.cities" ng-bind="city.cityName"></div>
                    </td>
                    <td ng-if="loginInfo.roleCode!=='hub_manager'">
                        <span ng-click="getRetailerChequeCollectionCenter(collectionCenter)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>&nbsp;&nbsp;
                        <!--<span ng-click="deleteRetailerChequeCollectionCenter(collectionCenter)"><i class="fa fa-trash-o" aria-hidden="true"></i></span>-->
                    </td>
                </tr>
            </tbody>
        </table>
        <dir-pagination-controls
            pagination-id="retailerChequeCollectionCenterPagination"
            ng-model="pagination"
            max-size="8"
            direction-links="true"
            boundary-links="true" 
            on-page-change="getChequeCollectionCenterList(newPageNumber,pageSize)" >
         </dir-pagination-controls>
    </div>
</div>