<form name="retailerEmailConfigForm" id="retailerEmailConfigForm" class="form-horizontal" role="form" method="post" ng-model="retailerEmailConfig"
	  ng-submit="saveRetailerEmailConfig(retailerEmailConfig);" ng-controller="RetailerEmailConfigurationController" novalidate>
	<div class="col-sm-12">
    <div class="form-group">
        <label for="host" class="col-sm-3 control-label" style="">
            Host <span class="required">*</span>
        </label>
        <div class="col-sm-6">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <input spellcheck="true" type="text" name="host" class="form-control" style="" id="host"
                       placeholder="Enter Host" ng-model="retailerEmailConfig.host"
                       minlength="1" required="required" />
            </div>
        </div>
        <div ng-messages="retailerEmailConfigForm.host.$error" role="alert" ng-messages-multiple
            ng-show="retailerEmailConfigForm.$submitted || retailerEmailConfigForm.host.$touched"
            class="col-sm-3 errors" >
            <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
        </div>
    </div>
    
    <div class="form-group">
        <label for="username" class="col-sm-3 control-label" style="">
            Username <span class="required">*</span>
        </label>
        <div class="col-sm-6">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <input spellcheck="true" type="text" name="username" class="form-control" style="" id="username"
                       placeholder="Enter Username" ng-model="retailerEmailConfig.username"
                       minlength="1" required="required" />
            </div>
        </div>
        <div ng-messages="retailerEmailConfigForm.username.$error" role="alert" ng-messages-multiple
            ng-show="retailerEmailConfigForm.$submitted || retailerEmailConfigForm.username.$touched"
            class="col-sm-3 errors" >
            <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
        </div>
    </div>
    
    <div class="form-group">
        <label for="password" class="col-sm-3 control-label" style="">
            Password <span class="required">*</span>
        </label>
        <div class="col-sm-6">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <input spellcheck="true" type="text" name="password" class="form-control" style="" id="password"
                       placeholder="Enter Password" ng-model="retailerEmailConfig.password"
                       minlength="1" required="required" />
            </div>
        </div>
        <div ng-messages="retailerEmailConfigForm.password.$error" role="alert" ng-messages-multiple
            ng-show="retailerEmailConfigForm.$submitted || retailerEmailConfigForm.password.$touched"
            class="col-sm-3 errors" >
            <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
        </div>
    </div>
    
    
    <div class="form-group">
        <label for="port" class="col-sm-3 control-label" style="">
            Port Number <span class="required">*</span>
        </label>
        <div class="col-sm-6">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <input spellcheck="true" type="text" name="port" class="form-control" style="" id="port"
                       placeholder="Enter Port Number" ng-model="retailerEmailConfig.port"
                       minlength="1" required="required" />
            </div>
        </div>
        <div ng-messages="retailerEmailConfigForm.port.$error" role="alert" ng-messages-multiple
            ng-show="retailerEmailConfigForm.$submitted || retailerEmailConfigForm.port.$touched"
            class="col-sm-3 errors" >
            <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
        </div>
    </div>
	
	<div class="form-group">
					<label for="socket" class="col-sm-3 control-label" style="">
                        Socket <span class="required">*</span>
                    </label>
                    <div class="col-sm-6">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <select name="socket" id="socket" class="form-control"
                                    placeholder="Select socket" required="required"
                                    ng-model="retailerEmailConfig.socket">
                            <option value="">Choose</option>
                            <option value="TTLS">TTLS</option>
							<option value="SSL">SSL</option>
                        </select>
						</div>
					</div>
     </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12 text-center">
            <button type="submit" class="btn btn-primary" name="next" id="saveBtn" check-access-perm="access_perm">
                Save
            </button>
        </div>
    </div>
</form>