<form name="form" id="Form" class="form-horizontal" role="form" method="post"
      ng-submit="saveRetailerFAQ(retailer);" novalidate ng-model="retailer.faq">
    <div class="form-group">
        <label for="faq" class="col-sm-1 control-label" style="">
        FAQ <span class="required">*</span>
        </label>
        <div class="col-sm-11">
                <div ckeditor="options" ng-model="retailer.faq.faq" name="faq" placeholder="Enter FAQ" class="form-control"
                     ready="onReady()" required="required"></div>
        </div>
        <div ng-messages="form.faq.$error" role="alert" ng-messages-multiple
             ng-show="form.$submitted || form.faq.$invalid"
             class="col-sm-11 errors col-sm-offset-1" >
            <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary" name="next" id="saveBtn" check-access-perm="access_perm">
                Save
            </button>
        </div>
    </div>
</form>