<div ng-model="retailer" ng-controller="RetailerController">
<div class="row">
    <div class="col-sm-12">
        <form name="productPackingForm" id="Form" class="form-horizontal" role="form" method="post"
              ng-submit="saveProductPacking(retailer);" novalidate>
                
                <div class="form-group">
                    <label for="city" class="col-sm-4 control-label" style="">
                        Product <span class="required">*</span>
                    </label>
                    <div class="col-sm-4">
                        <select name="product" id="product" class="form-control"
                                    placeholder="Select Product" required="required"
                                    ng-model="retailer.productPacking.productId">
                            <option value="">Choose</option>
                            <option ng-repeat="p in products" value="{{p.id}}" 
                                    >{{p.name}}</option>
                        </select>
                    </div>
                    <div ng-messages="productPackingForm.product.$error" role="alert" ng-messages-multiple
						ng-show="productPackingForm.$submitted || productPackingForm.product.$touched"
						class="col-sm-12 errors col-sm-offset-4" >
					   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
					</div>
                </div>
                
                <div class="form-group">
						<label for="type" class="col-sm-4 control-label" style="">
						Packaging type <span class="required">*</span>
						</label>
						<div class="col-sm-6">
							<div class="input-group col-sm-12 row">
								<label class="col-sm-2">
									<input type="radio" name="type" required ng-model="retailer.productPacking.type" value="0" ng-checked="retailer.productPacking.type==0" /> Box
								</label>
								<label class="col-sm-3">
									<input type="radio" name="type" required ng-model="retailer.productPacking.type" ng-checked="retailer.productPacking.type==1" value="1" /> Cover
								</label>
								<label class="col-sm-2">
									<input type="radio" name="type" required ng-model="retailer.productPacking.type" ng-checked="retailer.productPacking.type==2" value="2" /> Other
								</label>
							</div>
						</div>
						<div ng-messages="productPackingForm.type.$error" role="alert" ng-messages-multiple
							 ng-show="productPackingForm.$submitted || productPackingForm.type.$touched"
							 class="col-sm-4 errors" >
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
				</div>
                
                <div class="form-group">
                    <label for="city" class="col-sm-4 control-label" style="">
                        Packing Material <span class="required">*</span>
                    </label>
                    <div class="col-sm-4">
                        <select name="packagingType" id="packagingType" class="form-control"
                                    placeholder="Select Packing Material" required="required"
                                    ng-model="retailer.productPacking.packagingTypeId">
                            <option value="">Choose</option>
                            <option ng-repeat="p in packagingMaterialTypes" ng-if="p.type==retailer.productPacking.type" value="{{p.id}}" 
                                    >{{p.name}}</option>
                        </select>
                    </div>
                    <div ng-messages="productPackingForm.packagingType.$error" role="alert" ng-messages-multiple
						ng-show="productPackingForm.$submitted || productPackingForm.packagingType.$touched"
						class="col-sm-12 errors col-sm-offset-4" >
					   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
					</div>
                </div>
                
                
                <div class="form-group">
                    <label for="city" class="col-sm-4 control-label" style="">
                        Packing Specifcation <span class="required">*</span>
                    </label>
                    <div class="col-sm-4">
                        <select name="packingSpec" id="packingSpec" class="form-control"
                                    placeholder="Select Packing Specification" required="required"
                                    ng-model="retailer.productPacking.packingSpec">
                            <option value="">Choose</option>
                            <option value="local">Local</option>
							<option value="outstation">Out Station</option>
                        </select>
                    </div>
                    <div ng-messages="productPackingForm.packingSpec.$error" role="alert" ng-messages-multiple
						ng-show="productPackingForm.$submitted || productPackingForm.packingSpec.$touched"
						class="col-sm-12 errors col-sm-offset-4" >
					   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
					</div>
                </div>
				
				
                <div class="form-group">
                    <div class="col-sm-5">
                    </div>
                    <div class="col-sm-7">
                        <button type="submit" class="btn btn-primary" name="next" id="saveBtn"
                                ng-disabled="productPackingForm.$invalid" check-access-perm="access_perm">
                            Save
                        </button>
                    </div>
                </div>
        </form>
    </div>
    <div class="col-sm-12" ng-show="retailer.retailerServiceProviderList.length > 0 || retailer.retailerServiceProviderList != undefined">
        <table class="table row-border table-hover table-striped">
            <thead>
                <th>#</th>
                <th>Service Provider</th>
                <th>Location</th>
                <th>Category</th>
                <th>Sub Category</th>
                <th>Brand</th>
                <th>&nbsp;</th>
				<th>&nbsp;</th>
            </thead>
            <tbody>
    
                <tr dir-paginate="serviceProvider in retailer.retailerServiceProviderList|itemsPerPage:pageSize"
					pagination-id="retailerServiceProviders" 
                    total-items="total_count"
                    ng-if="retailer.retailerServiceProviderList.length > 0 || retailer.retailerServiceProviderList != undefined">
                    <td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
                    <td ng-bind="serviceProvider.serviceProviderCode"></td>
                    <td ng-bind="serviceProvider.area + ', ' + serviceProvider.city"></td>
                    <td ng-bind="serviceProvider.categoryName"></td>
                    <td ng-bind="serviceProvider.subCategoryName"></td>
                    <td ng-bind="serviceProvider.brandName"></td>
                    <td ng-click="getRetailerServiceProvider(serviceProvider)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
					<td> <a ng-click="openAttachPincodes(serviceProvider)" class="hand">Attach Pincodes</a></td>	
                </tr>
            </tbody>
        </table>
		<dir-pagination-controls
            pagination-id="retailerServiceProviders"
            ng-model="pagination"
            max-size="8"
            direction-links="true"
            boundary-links="true" 
            on-page-change="populateRetailerServiceProviderList(newPageNumber,pageSize)" >
         </dir-pagination-controls>
    </div>
</div>
</div>
