<form name="form" id="Form" class="form-horizontal" role="form" method="post" ng-submit="saveRetailerOther(retailer);" novalidate
    ng-model="retailer.other">
    <div class="form-group">
        <label for="categoriesServiced" class="col-sm-6 control-label" style="">
        Only ASPs to be considered? <span class="required">*</span>
        </label>
        <div class="col-sm-6">
            <input bs-switch ng-model="retailer.other.isAllowOnlyASP" type="checkbox" switch-label="" switch-on-text="Yes" switch-off-text="No"
                ng-true-value="1" ng-false-value="0" />
        </div>
        <div class="col-sm-12 errors">
            <span></span>
        </div>
    </div>

    <div class="form-group">
        <label for="categoriesServiced" class="col-sm-6 control-label" style="">
        Only retailer authenticated service centers For pickup and drop? <span class="required">*</span>
        </label>
        <div class="col-sm-6">
            <input bs-switch ng-model="retailer.other.onlyRetailerAuthForPickNDrop" type="checkbox" switch-label="" switch-on-text="Yes"
                switch-off-text="No" ng-true-value="1" ng-false-value="0" />
        </div>
        <div class="col-sm-12 errors">
            <span></span>
        </div>
    </div>

    <div class="form-group">
        <label for="categoriesServiced" class="col-sm-6 control-label" style="">
        Is advance payment to be made to service center? <span class="required">*</span>
        </label>
        <div class="col-sm-6">
            <input bs-switch ng-model="retailer.other.advPymtToServiceCenter" type="checkbox" switch-label="" switch-on-text="Yes" switch-off-text="No"
                ng-true-value="1" ng-false-value="0" />
        </div>
        <div class="col-sm-12 errors">
            <span></span>
        </div>
    </div>

    <div class="form-group">
        <label for="categoriesServiced" class="col-sm-6 control-label" style="">
        Get approval before buy back? <span class="required">*</span>
        </label>
        <div class="col-sm-6">
            <input bs-switch ng-model="retailer.other.getApprovalBeforeBuyBack" type="checkbox" switch-label="" switch-on-text="Yes"
                switch-off-text="No" ng-true-value="1" ng-false-value="0" />
        </div>
        <div class="col-sm-12 errors">
            <span></span>
        </div>
    </div>

    <div class="form-group">
        <label for="categoriesServiced" class="col-sm-6 control-label" style="">
        Tech Evaluation required for buy back? <span class="required">*</span>
        </label>
        <div class="col-sm-6">
            <input bs-switch ng-model="retailer.other.techEvaluationForBuyBack" type="checkbox" switch-label="" switch-on-text="Yes"
                switch-off-text="No" ng-true-value="1" ng-false-value="0" />
        </div>
        <div class="col-sm-12 errors">
            <span></span>
        </div>
    </div>

    <div class="form-group">
        <label for="categoriesServiced" class="col-sm-6 control-label" style="">
        Tech Evaluation required for Advance Exchange? <span class="required">*</span>
        </label>
        <div class="col-sm-6">
            <input bs-switch ng-model="retailer.other.techEvaluationForAdvanceExchange" type="checkbox" switch-label="" switch-on-text="Yes"
                switch-off-text="No" ng-true-value="1" ng-false-value="0" />
        </div>
        <div class="col-sm-12 errors">
            <span></span>
        </div>
    </div>

    <!-- Retailer Config to add product directly via API-->
    <div class="form-group">
        <label for="categoriesServiced" class="col-sm-6 control-label" style="">
            Product addition allowed by API <span class="required">*</span>
        </label>
        <div class="col-sm-6">
            <input bs-switch ng-model="retailer.other.techEvaluationForAdvanceExchange" type="checkbox" switch-label="" switch-on-text="Yes"
                   switch-off-text="No" ng-true-value="1" ng-false-value="0" />
        </div>
        <div class="col-sm-12 errors">
            <span></span>
        </div>
    </div>
    <!-- END of Config-->


    <div class="form-group">
        <label for="deliveryProofRequired" class="col-sm-6 control-label" style="">
        Delivery Proof Required? <span class="required">*</span>
        </label>
        <div class="col-sm-6">
            <input bs-switch ng-model="retailer.other.deliveryProofRequired" type="checkbox" switch-label="" switch-on-text="Yes" switch-off-text="No"
                ng-true-value="1" ng-false-value="0" />
        </div>
        <div class="col-sm-12 errors">
            <span></span>
        </div>
    </div>

    <div class="form-group">
        <label for="enableTicketUpload" class="col-sm-6 control-label" style="">
        Enable Ticket Upload? <span class="required">*</span>
        </label>
        <div class="col-sm-6">
            <input bs-switch ng-model="retailer.other.enableTicketUpload" type="checkbox" switch-label="" switch-on-text="Yes" switch-off-text="No"
                ng-true-value="1" ng-false-value="0" />
        </div>
        <div class="col-sm-12 errors">
            <span></span>
        </div>
    </div>

    <div class="form-group">


        <label for="cashHandlingPerc" class="col-sm-6 control-label" style="">
                                    Cash Handling % <span class="required">*</span>
                                    </label>
        <div class="col-sm-2">
            <input spellcheck="true" type="text" name="cashHandlingPerc" class="form-control" style="" id="cashHandlingPerc" placeholder="Enter Cash Handling %"
                ng-model="retailer.other.cashHandlingPerc" maxlength="250" ng-required="required" required="required" />
        </div>


    </div>

    <div class="form-group">


        <label for="otherFinancialPerc" class="col-sm-6 control-label" style="">
                                    Other Financial % <span class="required">*</span>
                                    </label>
        <div class="col-sm-2">
            <input spellcheck="true" type="text" name="otherFinancialPerc" class="form-control" style="" id="otherFinancialPerc" placeholder="Enter Other Financial %"
                ng-model="retailer.other.otherFinancialPerc" maxlength="250" ng-required="required" required="required" />
        </div>


    </div>

    <div class="form-group">


        <label for="volumetricWeight" class="col-sm-6 control-label" style="">
                                    Volumetric Weight denomination <span class="required">*</span>
                                    </label>
        <div class="col-sm-2">
            <input spellcheck="true" type="number" name="volumetricWeight" class="form-control" style="" id="volumetricWeight" placeholder="Enter denomination"
                ng-model="retailer.other.volumetricWeightDenomination" maxlength="100" ng-required="required" required="required"
            />
        </div>


    </div>

    <div class="form-group">


        <label for="volumetricWeight" class="col-sm-6 control-label" style="">
                                    White Labelling charges <span class="required">*</span>
                                    </label>
        <div class="col-sm-2">
            <input spellcheck="true" type="number" name="whiteLabelingCharge" class="form-control" style="" id="whiteLabelingCharge"
                placeholder="Enter labeling charge" ng-model="retailer.other.whiteLabelingCharge" maxlength="100" ng-required="required"
                required="required" />
        </div>


    </div>

    <div class="form-group">
        <label for="turnAroundTime" class="col-sm-6 control-label" style="">
             Turn Around Time <span class="required">*</span>
                                    </label>
        <div class="col-sm-2">
            <input spellcheck="true" type="text" name="turnAroundTime" class="form-control" style="" id="turnAroundTime" placeholder="Turn Around Time"
                ng-model="retailer.other.turnAroundTime" maxlength="250" ng-required="required" required="required" />
        </div>


    </div>

    <div class="form-group">


        <label for="modeOfTransport" class="col-sm-6 control-label" style="">
                                    Mode Of Transport <span class="required">*</span>
                                    </label>
        <div class="col-sm-2">
            <input spellcheck="true" type="text" name="modeOfTransport" class="form-control" style="" id="modeOfTransport" placeholder="Mode Of Transport"
                ng-model="retailer.other.transportMode" maxlength="250" ng-required="required" required="required" />
        </div>


    </div>

    <div class="form-group">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary" name="next" id="saveBtn" check-access-perm="access_perm">
                Save
            </button>
        </div>
    </div>
</form>