<div ng-controller="RetailerPackingCostBorneController">
    <form name="form" id="Form" class="form-horizontal" role="form" method="post"      
          ng-submit="saveRetailerPackingCostBorne(retailer);" novalidate>
        <div class="form-group" total-items="total_count"  ng-repeat="pCostBorne in retailer.list.packingCostBorne.selectedObj">
            <div class="col-sm-12">
                
                <div class="col-sm-4">
                    <label for="pcbAvailedService" class="col-sm-12" style="">
                    Serviced Category
                    </label>
                    <div class="col-sm-12">
                        <select name="pcbCategoriesServiced[]" id="pcbAvailedService" class="form-control"
                                placeholder="Select Categories Serviced" ng-required="required"
                                ng-model="retailer.list.packingCostBorne.selectedObj[$index].categoryId">
                        <option value="">Choose</option>
                        <option ng-repeat="category in retailer.list.costPerService.categoriesServiced|orderBy:'categoryName':false"
                                value="{{category.categoryId}}">{{category.categoryName}}</option>
                    </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label for="brand" class="col-sm-12" style="">
                    Brand
                    </label>
                    <div class="col-sm-12">
                        <select name="brand[]" id="brand" class="form-control" placeholder="Select Brand"
                                ng-required="required" ng-model="retailer.list.packingCostBorne.selectedObj[$index].brandId">
                        <option value="">Choose</option>
                        <option ng-repeat="brand in brands|orderBy:'name':false" value="{{brand.id}}">{{brand.name}}</option>
                    </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <label for="product" class="col-sm-12" style="">
                        &nbsp;
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-default" aria-label="Left Align"  ng-if="$last" check-access-perm="access_perm"
                                ng-click="addMorePackingCostBorne(retailer.list.packingCostBorne.selectedObj[$index], $index)">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default" aria-label="Left Align"
                                    ng-if="$index > 0" check-access-perm="access_perm"
                                ng-click="deletePackingCostBorne($index)">
                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12 errors">
                    <span ng-bind="retailer.list.packingCostBorne.errors[$index].categoryId"></span>
                </div>
                <div class="col-sm-12 errors">
                    <span ng-bind="retailer.list.packingCostBorne.errors[$index].brandId"></span>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
                <button type="submit" class="btn btn-primary" name="next" id="saveBtn" check-access-perm="access_perm">
                    Save
                </button>
            </div>
        </div>
    </form>
</div>