<form name="form" id="Form" class="form-horizontal" role="form" method="post"
      ng-controller="RetailerPackingIntraCityController" ng-model="retailerPackingIntraCity"
      ng-submit="saveRetailerPackingIntraCity(retailerPackingIntraCity);" novalidate>
<div class="form-group">
    <div class="col-sm-12">
        <div class="form-group">
            <label>Choose the products for which packing is not required for intra city.</label>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <select2 ng-model="retailerPackingIntraCity.productId"
									 s2-options="val.id as val.name for val in products"
									 ng-required="required" placeholder="Select Product"
									 class="col-md-12 col-lg-12 col-md-12 "></select2>
                        
                    </div>
                    <button type="submit" class="btn btn-primary" aria-label="Left Align" check-access-perm="access_perm" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 errors">
        <span ng-bind="errors.productId"></span>
    </div>
    <div class="col-sm-12" ng-show="retailerPackingIntraCityList.length > 0">
        <div class="row">
            <div class="col-sm-12 pull-lefts">
                
            </div>
        </div>
        <div class="row">
            <label for="serviceableLocations" class="col-sm-6 form-label" style="">
            Packing is not applicable for below products for intra city
            </label>
            <table class="table row-border table-hover table-striped" ng-model="retailerPackingIntraCityList">
                <thead>
                    <th>#</th>
                    <th>Product</th>
                    <th>&nbsp;</th>
                </thead>
                <tbody>
                <tr  dir-paginate="packingIntraCity in retailerPackingIntraCityList|itemsPerPage:pageSize"
                 total-items="total_count">
                    <td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
                    <td  ng-bind="packingIntraCity.productName"></td>
                    <td>
                        <a class="hand" ng-click="deleteRetailerPackingIntraCityProduct($index, packingIntraCity);" check-access-perm="access_perm"><span class="fa fa-trash"></span></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <dir-pagination-controls
                ng-model="pagination"
                max-size="8"
                direction-links="true"
                boundary-links="true" 
                on-page-change="populateRetailerPackingIntraCityList(newPageNumber,pageSize)" >
             </dir-pagination-controls>
        </div>
    </div>
    
</div>

</form>