<div ng-model="retailer" ng-controller = "RetailerController">
<div class="col-sm-12">
<form name="productPackingForm" id="productPackingForm" class="form-horizontal" role="form" method="post"
	  ng-submit="saveProductPacking(retailer);" novalidate>
				<div class="form-group">
                    <label for="city" class="col-sm-4 control-label" style="">
                        Product <span class="required">*</span>
                    </label>
                    <div class="col-sm-4">
                        <select name="product" id="product" class="form-control"
                                    placeholder="Select Product" required="required"
                                    ng-model="retailer.productPacking.productId">
                            <option value="">Choose</option>
                            <option ng-repeat="p in products|orderBy:'name'" value="{{p.id}}" 
                                    >{{p.name}}</option>
                        </select>
                    </div>
                    <div ng-messages="productPackingForm.product.$error" role="alert" ng-messages-multiple
						ng-show="productPackingForm.$submitted && productPackingForm.product.$touched"
						class="col-sm-12 errors col-sm-offset-4" >
					   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
					</div>
                </div>
                
                <div class="form-group">
						<label for="type" class="col-sm-4 control-label" style="">
						Packaging type <span class="required">*</span>
						</label>
						<div class="col-sm-6">
							<div class="input-group col-sm-12 row">
								<label class="col-sm-2">
									<input type="radio" name="type" required ng-model="retailer.productPacking.type" value="0" ng-checked="retailer.productPacking.type==0" /> Box
								</label>
								<label class="col-sm-3">
									<input type="radio" name="type" required ng-model="retailer.productPacking.type" ng-checked="retailer.productPacking.type==1" value="1" /> Cover
								</label>
								<label class="col-sm-2">
									<input type="radio" name="type" required ng-model="retailer.productPacking.type" ng-checked="retailer.productPacking.type==2" value="2" /> Other
								</label>
							</div>
						</div>
						<div ng-messages="productPackingForm.type.$error" role="alert" ng-messages-multiple
							 ng-show="productPackingForm.$submitted && productPackingForm.type.$touched"
							 class="col-sm-4 errors" >
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
				</div>
                
                <div class="form-group">
                    <label for="city" class="col-sm-4 control-label" style="">
                        Packing Material <span class="required">*</span>
                    </label>
                    <div class="col-sm-4">
                        <select name="packagingType" id="packagingType" class="form-control"
                                    placeholder="Select Packing Material" required="required"
                                    ng-model="retailer.productPacking.packagingTypeId">
                            <option value="">Choose</option>
                            <option ng-repeat="p in packagingMaterialTypes" ng-if="p.type==retailer.productPacking.type" value="{{p.id}}" 
                                    >{{p.name}}</option>
                        </select>
                    </div>
                    <div ng-messages="productPackingForm.packagingType.$error" role="alert" ng-messages-multiple
						ng-show="productPackingForm.$submitted && productPackingForm.packagingType.$touched"
						class="col-sm-12 errors col-sm-offset-4" >
					   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
					</div>
                </div>
                
                
                <div class="form-group">
                    <label for="city" class="col-sm-4 control-label" style="">
                        Packing Specifcation <span class="required">*</span>
                    </label>
                    <div class="col-sm-4">
                        <select name="packingSpec" id="packingSpec" class="form-control"
                                    placeholder="Select Packing Specification" required="required"
                                    ng-model="retailer.productPacking.packingSpec">
                            <option value="">Choose</option>
                            <option value="local">Local</option>
							<option value="outstation">Out Station</option>
                        </select>
                    </div>
                    <div ng-messages="productPackingForm.packingSpec.$error" role="alert" ng-messages-multiple
						ng-show="productPackingForm.$submitted && productPackingForm.packingSpec.$touched"
						class="col-sm-12 errors col-sm-offset-4" >
					   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
					</div>
                </div>
				
				
                <div class="form-group">
                    <div class="col-sm-5">
                    </div>
                    <div class="col-sm-7">
                        <button type="submit" class="btn btn-primary" name="next" id="saveBtn"
                                ng-disabled="productPackingForm.$invalid" check-access-perm="access_perm">
                            Save {{retailer.name}}
                        </button>
                    </div>
                </div>

</form>

        
</div>

<div class="col-sm-12" ng-show="packingList.length > 0 || packingList != undefined">
		<table class="table row-border table-hover table-striped">
            <thead ng-model="packingList" ng-model="pagination">
                <th>#</th>
                <th>Product</th>
                <th>Packing Material</th>
                <th>Packing Spec</th>
                <th>&nbsp;</th>
            </thead>
            <tbody>
    
                <tr dir-paginate="productPacking in packingList|itemsPerPage:pageSize"
					pagination-id="retailerServiceProvidersPincodes" 
                    total-items="total_count">
                    <td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
                    <td ng-bind="productPacking.productName"></td>
                    <td ng-bind="productPacking.packagingTypeName"></td>
                    <td ng-bind="productPacking.packingSpec"></td>
                    <td ng-click="getRetailerProductPacking(productPacking)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
                </tr>
            </tbody>
        </table>
		<dir-pagination-controls
            pagination-id="retailerServiceProvidersPincodes"
            ng-model="pagination"
            max-size="8"
            direction-links="true"
            boundary-links="true" 
            on-page-change="populateProductPackingList(newPageNumber,pageSize)" >
         </dir-pagination-controls>
</div>


</div>