<form name="form" id="Form" class="form-horizontal" role="form" method="post" ng-model="retailer"
	  ng-submit="saveRetailer(retailer);" ng-controller="RetailerBasicInfoController" novalidate>
	<input type="hidden" name="id" ng-model="retailer.retailer.id" />

	<div id="Registration" ng-if="currentStep == 1">
		<div class="form-group">
			<label for="code" class="col-sm-3 control-label" style="">
								Retailer Code <span class="required">*</span>
								</label>
			<div class="col-sm-6">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<input spellcheck="true" type="text" name="code" class="form-control" style="" id="code"
						   placeholder="Enter Code" value="{{retailer.retailer.code}}" ng-model="retailer.retailer.code"
						   maxlength="3" size="3" ng-required="required" required="required" capitalize />
				</div>
			</div>
			<div class="col-sm-3 errors">
				<span ng-bind="errors.code"></span>
			</div>
		</div>

		<div class="form-group">
			<label for="name" class="col-sm-3 control-label" style="">
								Retailer Name <span class="required">*</span>
								</label>
			<div class="col-sm-6">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<input spellcheck="true" type="text" name="name" class="form-control" style="" id="name"
						   placeholder="Enter Name" value="{{retailer.retailer.name}}" ng-model="retailer.retailer.name"
						   maxlength="250" ng-required="required" required="required" />
				</div>
			</div>
			<div class="col-sm-3 errors">
				<span ng-bind="errors.name"></span>
			</div>
		</div>

		<div class="form-group">
			<label for="address1" class="col-sm-3 control-label" style="">
								Address 1 <span class="required">*</span>
								</label>
			<div class="col-sm-6">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<textarea name="address1" id="address1" class="form-control" ng-required="required" required="required"
							  placeholder="Enter Address" ng-model="retailer.retailer.address1"
							  ></textarea>
				</div>
			</div>
			<div class="col-sm-3 errors">
				<span ng-bind="errors.address1"></span>
			</div>
		</div>

		<div class="form-group">
			<label for="address2" class="col-sm-3 control-label" style="">
								Address 2
								</label>
			<div class="col-sm-6">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<textarea name="address2" id="address2" class="form-control" placeholder="Enter Address"
							  ng-model="retailer.retailer.address2"></textarea>
				</div>
			</div>
			<div class="col-sm-3 errors">
				<span ng-bind="errors.address2"></span>
			</div>
		</div>

		<div class="form-group">
			<label for="city" class="col-sm-3 control-label" style="">
								City <span class="required">*</span>
								</label>
			<div class="col-sm-6">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<input spellcheck="true" type="text" name="city" class="form-control" style="" id="city"
						   placeholder="Enter City" value="{{retailer.retailer.city}}" ng-model="retailer.retailer.city"
						   maxlength="250" ng-required="required" required="required" />
				</div>
			</div>
			<div class="col-sm-3 errors">
				<span ng-bind="errors.city"></span>
			</div>
		</div>

		<div class="form-group">
			<label for="pincode" class="col-sm-3 control-label" style="">
								Pincode <span class="required">*</span>
								</label>
			<div class="col-sm-6">
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
					<input spellcheck="true" type="text" maxlength="6" name="pincode" class="form-control number-only" style="" id="pincode" placeholder="Enter Pincode" value="{{retailer.retailer.pincode}}" ng-model="retailer.retailer.pincode" maxlength="6" size="6" ng-required="required" required="required" />
				</div>
			</div>
			<div class="col-sm-3 errors">
				<span ng-bind="errors.pincode"></span>
			</div>
		</div>

		<div class="form-group">
			<label for="email" class="col-sm-3 control-label" style="">
								Email <span class="required">*</span>
								</label>
			<div class="col-sm-6">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<input spellcheck="true" type="email" name="email" class="form-control" style="" id="email"
						   placeholder="Enter Email"
						   ng-model="retailer.retailer.email" maxlength="250"  required="required" />
				</div>
			</div>
			<div class="col-sm-3 errors">
				<span ng-bind="errors.email"></span>
			</div>
		</div>

		<div class="form-group">
			<label for="telephoneNumber" class="col-sm-3 control-label" style="">
								Telephone Number <span class="required">*</span>
								</label>
			<div class="col-sm-6">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<input spellcheck="true" type="text" name="telephoneNumber" class="form-control number-only" style="" id="telephoneNumber" placeholder="Enter Telephone Number" value="{{retailer.retailer.telephoneNumber}}" ng-model="retailer.retailer.telephoneNumber"
						   maxlength="12"  ng-required="required" required="required" />
				</div>
			</div>
			<div class="col-sm-3 errors">
				<span ng-bind="errors.telephoneNumber"></span>
			</div>
		</div>

		<div class="form-group">
			<label for="altTelephoneNumber" class="col-sm-3 control-label" style="">
								Alternate Telephone Number
								</label>
			<div class="col-sm-6">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<input spellcheck="true" type="text" name="altTelephoneNumber" class="form-control number-only" style="" id="altTelephoneNumber" placeholder="Enter Telephone Number" value="{{retailer.retailer.altTelephoneNumber}}" ng-model="retailer.retailer.altTelephoneNumber" maxlength="12" ng-required="required" required="required" />
				</div>
			</div>
			<div class="col-sm-3 errors">
				<span ng-bind="errors.altTelephoneNumber"></span>
			</div>
		</div>

		<div class="form-group" ng-if="loginInfo.roleCode!=='hub_manager'">
			<div class="col-sm-6"><h6>OutHUb</h6>
			</div>
			<div class="col-sm-6" >
				<button type="submit" class="btn btn-primary" name="next" id="saveBtn" check-access-perm="access_perm">
										Save
									</button>
			</div>
		</div>
		<div class="form-group" ng-if="loginInfo.roleCode==='hub_manager'">
			<div class="col-sm-6"><h6>inHUb</h6>
			</div>
			<div class="col-sm-6" >
				<button type="submit" ng-disabled="true" class="btn btn-primary" name="next" id="saveBtn" check-access-perm="access_perm">
										Save
									</button>
			</div>
		</div>
	</div>

</form>