<div class="row" ng-model="retailer.list.returnOrPickupLocations.template" ng-hide = "returnPickupLocations!==true">
    <div class="col-sm-12">
        <form name="form" id="Form" class="form-horizontal" role="form" method="post" ng-submit="saveReturnPickupLocation(retailer);" novalidate>
            <div class="form-group">
                    
                    <div class="col-sm-12 text-right" ng-if="loginInfo.roleCode!=='hub_manager'">
                        <td><a ng-click="openAuthUpload(location)">upload Auth Letter</a></td>
                    <td ng-click="getRetailerReturnOrPickupLocation(location)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
                    </div>
                    <div class="col-sm-12 errors">
                        <span ng-bind="retailer.list.returnOrPickupLocations.errors.sellerName"></span>
                    </div>
                </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="sellerName" class="col-sm-12" style="">
                        Seller Name <span class="required">*</span>
                    </label>
                    <div class="col-sm-12">
                        <input spellcheck="true" type="text" name="sellerName" class="form-control" style="" id="sellerName"
                               placeholder="Enter Name"
                               ng-model="retailer.list.returnOrPickupLocations.template.sellerName" maxlength="250" size="10"
                               ng-required="required" required="required" />
                    </div>
                    <div class="col-sm-12 errors">
                        <span ng-bind="retailer.list.returnOrPickupLocations.errors.sellerName"></span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="sellerCode" class="col-sm-12" style="">
                        Seller Code <span class="required">*</span>
                    </label>
                    <div class="col-sm-12">
                        <input spellcheck="true" type="text" name="sellerCode" class="form-control" style="" id="sellerCode"
                               placeholder="Enter Code" 
                               ng-model="retailer.list.returnOrPickupLocations.template.sellerCode" maxlength="10" size="10"
                               ng-required="required" required="required" />
                    </div>
                    <div class="col-sm-12 errors">
                        <span ng-bind="retailer.list.returnOrPickupLocations.errors.sellerCode"></span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="phoneNumber" class="col-sm-12" style="">
                        Phone Number <span class="required">*</span>
                    </label>
                    <div class="col-sm-12">
                        <input spellcheck="true" type="text" name="phoneNumber" class="form-control" style="" id="phoneNumber"
                               placeholder="Enter Phone Number"
                               ng-model="retailer.list.returnOrPickupLocations.template.sellerPhoneNumber" maxlength="12" size="12"
                               ng-required="required" required="required" step="1"/>
                    </div>
                    <div class="col-sm-12 errors">
                        <span ng-bind="retailer.list.returnOrPickupLocations.errors.sellerPhoneNumber"></span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="altPhoneNumber" class="col-sm-12" style="">
                        Phone Number 2
                    </label>
                    <div class="col-sm-12">
                        <input spellcheck="true" type="text" name="altPhoneNumber" class="form-control " style="" id="altPhoneNumber"
                               placeholder="Enter Phone Number" step="1" minlength="12" maxlength="12"
                               ng-model="retailer.list.returnOrPickupLocations.template.sellerAlternatePhoneNumber" maxlength="10" size="10"
                               />
                    </div>
                    <div class="col-sm-12 errors">
                        <span ng-bind="retailer.list.returnOrPickupLocations.errors.sellerAlternatePhoneNumber"></span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="email" class="col-sm-12" style="">
                        Email<span class="required">*</span>
                    </label>
                    <div class="col-sm-12">
                        <input spellcheck="true" type="email" name="email" class="form-control" style="" id="email"
                               placeholder="Enter Email"
                               ng-model="retailer.list.returnOrPickupLocations.template.sellerEmail" maxlength="100" size="10"
                               ng-required="required" required="required" />
                    </div>
                    <div class="col-sm-12 errors">
                        <span ng-bind="retailer.list.returnOrPickupLocations.errors.sellerEmail"></span>
                    </div>
                </div>
                
                           
                
            </div>
			
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="city" class="col-sm-12" style="">
                        City <span class="required">*</span>
                    </label>
                    <div class="col-sm-12">
                        <select name="city" id="city" class="form-control"
                                    placeholder="Select City" required="required"                                    
                                    ng-model="retailer.list.returnOrPickupLocations.template.cityId">
                            <option value="">Choose</option>
                            <option ng-repeat="city in cities" value="{{city.id}}" 
                                    >{{city.name}}</option>
                        </select>
                    </div>
                    <div class="col-sm-12 errors">
                        <span ng-bind="retailer.list.returnOrPickupLocations.errors.cityId"></span>
                    </div>
                </div>
				
				<div class="form-group">
                    <label for="contactPerson" class="col-sm-12" style="">
                        ContactPerson<span class="required">*</span>
                    </label>
                    <div class="col-sm-12">
                        <input spellcheck="true" type="contactPerson" name="contactPerson" class="form-control" style="" id="contactPerson"
                               placeholder="Enter ContactPerson"
                               ng-model="retailer.list.returnOrPickupLocations.template.sellerContactPerson" maxlength="100" size="10"
                               ng-required="required" required="required" />
                    </div>
                    <div class="col-sm-12 errors">
                        <span ng-bind="retailer.list.returnOrPickupLocations.errors.sellerContactPerson"></span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="location" class="col-sm-12" style="">
                        Area <span class="required">*</span>
                    </label>
                    <div class="col-sm-12">
                        <input spellcheck="true" type="text" name="location" class="form-control" style="" id="location"
                               placeholder="Enter Location"
                               ng-model="retailer.list.returnOrPickupLocations.template.sellerLocation" maxlength="250" size="10"
                               ng-required="required" required="required" />
                    </div>
                    <div class="col-sm-12 errors">
                        <span ng-bind="retailer.list.returnOrPickupLocations.errors.sellerLocation"></span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="address" class="col-sm-12" style="">
                        Address <span class="required">*</span>
                    </label>
                    <div class="col-sm-12">
                        <textarea name="address1" id="address1" class="form-control" ng-required="required" required="required" rows="4"
                                  placeholder="Enter Address" ng-model="retailer.list.returnOrPickupLocations.template.sellerAddress"></textarea>
                    </div>
                    <div class="col-sm-12 errors">
                        <span ng-bind="retailer.list.returnOrPickupLocations.errors.sellerAddress"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="pincode" class="col-sm-12" style="">
                        Pincode<span class="required">*</span>
                    </label>
                    <div class="col-sm-12">
                        <input spellcheck="true" type="text" name="pincode" class="form-control number-only" style="" id="pincode"
                               placeholder="Enter Pincode"
                               ng-model="retailer.list.returnOrPickupLocations.template.sellerPincode" maxlength="6" size="10"
                               ng-required="required" required="required" />
                    </div>
                    <div class="col-sm-12 errors">
                        <span ng-bind="retailer.list.returnOrPickupLocations.errors.sellerPincode"></span>
                    </div>
                </div>  
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="categoriesOffered" class="col-sm-12" style="">
                    Categories Offered
                    </label>
                    <div class="col-sm-12">
                        <div class="checkbox col-sm-4" ng-repeat="category in retailer.list.productCategory.list"
                             ng-if="category.retailerCategoryId != null">
                            <label><input type="checkbox" value="{{category.categoryId}}"
                                ng-click="toggleReturnPickupCategoriesOffered(category.categoryId)"
                                ng-checked="retailer.list.returnOrPickupLocations.sellerCategories.selectedIds.indexOf(category.categoryId) > -1"
                                 name="retailer.list.returnOrPickupLocations.sellerCategories.selectedIds[]">{{category.categoryName}}</label>
                        </div>
                    </div>
                    <div class="col-sm-12 errors">
                        <span ng-bind="retailer.list.returnOrPickupLocations.errors.categoriesOffered"></span>
                    </div>
                </div>
				
				
                <div class="form-group">
                    <div class="col-sm-5">
                    </div>
                    <div class="col-sm-7" ng-if="loginInfo.roleCode!=='hub_manager'">
                        <button type="submit" class="btn btn-primary" name="next" id="saveBtn" check-access-perm="access_perm">
                            Save
                        </button>
                    </div>

                    <div class="col-sm-7" ng-if="loginInfo.roleCode==='hub_manager'">
                        <button  ng-disabled="true" type="submit" class="btn btn-primary" name="next" id="saveBtn" check-access-perm="access_perm">
                            Save
                        </button>
                    </div>

                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-12" ng-show="retailer.list.returnOrPickupLocations.list.length > 0 || retailers != undefined">
       <table class="table row-border table-hover table-striped"
               ng-model="retailer.list.returnOrPickupLocations.list">
            <thead>
                <th>#</th>
                <th>Name</th>
                <th>Location</th>
                <th>&nbsp;</th>
            </thead>
            <tbody>
    
                <tr pagination-id="returnOrPickupLocations" dir-paginate="location in retailer.list.returnOrPickupLocations.list|orderBy:'sellerLocation':false|itemsPerPage:pageSize"
                    total-items="total_count"  ng-if="retailer.list.returnOrPickupLocations.list.length > 0 || retailer != undefined">
                    <td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
                    <td ng-bind="location.sellerName + ' (' + location.sellerCode + ')'"></td>
                    <td>
                        <div ng-bind="location.sellerLocation"></div>
                        <div ng-bind="location.city"></div>
                        <div ng-bind="location.sellerPincode"></div>
                        <div ng-if="location.sellerPhoneNumber">
                            <i class="fa fa-phone-square" aria-hidden="true"></i>
                            <span ng-bind="location.sellerPhoneNumber"></span>
                        </div>
                        <div ng-if="location.sellerEmail">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span ng-bind="location.sellerEmail"></span>
                        </div>
                    </td>
					<!--<td><a ng-click="openAuthUpload(location)">upload Auth Letter</a></td>
                    <td ng-click="getRetailerReturnOrPickupLocation(location)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></td>-->
                </tr>
            </tbody>
        </table>
       <dir-pagination-controls
            pagination-id="returnOrPickupLocations"
            ng-model="pagination"
            max-size="8"
            direction-links="true"
            boundary-links="true" 
            on-page-change="getAllRetailerReturnOrPickupLocation(newPageNumber,pageSize)" >
         </dir-pagination-controls>
    </div>
</div>



<div class="row" ng-model="retailer.list.returnOrPickupLocations.template" ng-hide = "authUpload!==true">
	
		<div class="panel-body">
			<div class="  col-sm-8 col-sm-offset-2">
			<form name="authFileElement" id="authFile" class="form-horizontal" role="form" method="post"
				  ng-submit="uploadAuth(authFile);" novalidate>
				
				<div class="form-group" >
					<label for="csv" class="col-sm-3 control-label formlabel"></label>
					<div class="col-sm-6">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="button" ngf-select ng-model="authFile.file" class="col-sm-3">
								<input style="float:left;" type="button" valid-file class="btn btn-primary" id="file"
                                       name="file"
									   value="Select Auth Letter ..." ng-model="authFile.file"  required=""/>
							</div>
							<br/>
							<div ng-bind="authFile.selectedFileName" class="col-sm-12"></div>
						</div>
						
					</div>
					<div ng-messages="authFileElement.file.$error" role="alert" ng-messages-multiple
                        ng-show="authFileElement.$submitted || authFileElement.file.$touched"
                        class="col-sm-3 errors" >
                       <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
                    </div>
				</div>
				<div class="form-group">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="progress">
							<div class="progress-bar progress-bar-striped active" role="progressbar"
								 aria-valuenow="uploadPercentage" aria-valuemin="0" aria-valuemax="100"
								 style="width: {{uploadPercentage}}%">
							  <span><span ng-bind="uploadPercentage"></span>% Complete</span>
							</div>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-12 text-center">
						<button type="submit" class="btn btn-primary" ng-disabled="authFileElement.$invalid"
                                name="save" id="saveBtn" check-access-perm="access_perm">
						Save
					</button>
						<button type="button" class="btn btn-default" name="list" id="listBtn" ng-click="goToPage('rl.retailer-tasks');">
							Go To List Page
                        </button>
					</div>
				</div>
			</div>
		</div>
	
</div>
