<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="rLogisticsApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="rLogisticsApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html lang="en" ng-app="rLogisticsApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="rLogisticsApp" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title ng-bind="getTitle(page);">Reverse Logistics</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
    </head>
    <body ng-controller="ApplicationController" ng-class="layout == &apos;login&apos; ? &apos;loginbody&apos; : &apos;&apos;">
		
        <div ui-view="top-header"></div>
		<div id="wrapper">
			
			<!-- Page Content -->
			<div id="page-content-wrapper" ng-if="layout == &apos;site&apos;">
				<div class="container-fluid xyz">
					<div class="row">
						<div class="col-lg-12">
							<div ui-view="page-main-content" class="row right-content" id="pagecontent">
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /#page-content-wrapper -->
		</div>
		<div ng-if="layout == &apos;login&apos;" id="loginpage" ui-view="main-content">
		</div>
		<!-- /#wrapper -->
		<div ui-view="page-footer"></div>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
		
    </body>
</html>
