
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		
	<form name="form" id="Form" class="form-horizontal" role="form" method="post" ng-submit="save(location);" novalidate>
		<input type="hidden" name="id" ng-model="location.id" />
			<div class="form-group">
				<label for="name" class="col-sm-4 control-label" style="">
				Name <span class="required">*</span>
				</label>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
					<input spellcheck="true" type="text" name="name" class="form-control" style="" id="name"
						   placeholder="Enter Name" value="{{location.name}}"
						   ng-model="location.name" maxlength="250" ng-required="required"
						   required="required" />
				</div>
				<div class="col-sm-8 col-sm-offset-4 errors">
					<span ng-bind="errors.name"></span>
				</div>
			</div>
			<div class="form-group">
				<label for="code" class="col-lg-4 control-label" style="">
				Code <span class="required">*</span>
				</label>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
					<input spellcheck="true" type="number" name="code" class="form-control" style="" id="code"
						   placeholder="Enter Code"
						   ng-model="location.code" maxlength="3" ng-required="required"
						   required="required" />
				</div>
				<div class="col-sm-8 col-sm-offset-4 errors">
					<span ng-bind="errors.code"></span>
				</div>
			</div>
			<div class="form-group">
				<label for="parentLocationId" class="col-lg-4 control-label" style="">
				Parent Location
				</label>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
						<select name="parentLocationId" class="form-control" style="" id="parentLocationId"
							   placeholder="Select Parent Location" ng-model="location.parentLocationId"
							   ng-required="required" required="required">
							<option value="">Choose</option>
							<option ng-repeat="l in locations" value="{{l.id}}" >{{l.name}}</option>
						</select>
					</div>
				<div class="col-sm-8 col-sm-offset-4 errors">
					<span ng-bind="errors.cityId"></span>
				</div>
			</div>
			<div class="form-group">
				<label for="address1" class="col-lg-4 control-label" style="">
				Address 1 <span class="required">*</span>
				</label>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
						<textarea spellcheck="true"  name="address1" class="form-control" style="" id="address1"
							   placeholder="Enter Address"
							   ng-model="location.address1" rows="2" cols="80" ng-required="required"
							   required="required"></textarea>
					</div>
				<div class="col-sm-8 col-sm-offset-4 errors">
					<span ng-bind="errors.address1"></span>
				</div>
			</div>
			<div class="form-group">
				<label for="address2" class="col-lg-4 control-label" style="">
				Address 2
				</label>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
						<textarea spellcheck="true"  name="address2" class="form-control" style="" id="address2"
							   placeholder="Enter Address"
							   ng-model="location.address2" rows="2" cols="80" ng-required="required"
							   required="required"></textarea>
					</div>
				<div class="col-sm-8 col-sm-offset-4 errors">
					<span ng-bind="errors.address2"></span>
				</div>
			</div>
			<div class="form-group">
				<label for="city" class="col-lg-4 control-label" style="">
									City <span class="required">*</span>
									</label>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
						<select name="city" class="form-control" style="" id="city"
							   placeholder="Enter City" ng-model="location.cityId"
							   ng-required="required" required="required">
							<option value="">Choose</option>
							<option ng-repeat="c in cities" value="{{c.id}}" >{{c.name}}</option>
						</select>
					</div>
				<div class="col-sm-8 col-sm-offset-4 errors">
					<span ng-bind="errors.cityId"></span>
				</div>
			</div>
	
			<div class="form-group">
				<label for="pincode" class="col-lg-4 control-label" style="">
									Pincode <span class="required">*</span>
									</label>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
						<input spellcheck="true" type="text" maxlength="6" name="pincode" class="form-control number-only"
							   style="" id="pincode" placeholder="Enter Pincode" value="{{location.pincode}}"
							   ng-model="location.pincode" maxlength="6" size="6" ng-required="required"
							   required="required" />
					</div>
				<div class="col-sm-8 col-sm-offset-4 errors">
					<span ng-bind="errors.pincode"></span>
				</div>
			</div>
			<div class="form-group">
				<label for="email" class="col-sm-4 control-label" style="">
				Email <span class="required">*</span>
				</label>
				<div class="col-sm-8">
						<input spellcheck="true" type="email" name="email" class="form-control" style="" id="email"
							   placeholder="Enter Email"
							   ng-model="location.email" maxlength="250"  required="required" />
					
				</div>
				<div class="col-sm-8 col-sm-offset-4 errors">
					<span ng-bind="errors.email"></span>
				</div>
			</div>
			<div class="form-group">
				<label for="contactPerson" class="col-sm-4 control-label" style="">
				Contact Person <span class="required">*</span>
				</label>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
						<input spellcheck="true" type="text" name="contactPerson" class="form-control"
							   style="" id="contactPerson"
							   placeholder="Enter Contact Person"
							   ng-model="location.contactPerson" maxlength="250"
							   required="required" />
					</div>
				<div class="col-sm-8 col-sm-offset-4 errors">
					<span ng-bind="errors.contactPerson"></span>
				</div>
			</div>
			<div class="form-group">
				<label for="phoneNumber" class="col-sm-4 control-label" style="">
									Telephone Number <span class="required">*</span>
									</label>
					<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
						<input spellcheck="true" type="text" name="phoneNumber" class="form-control number-only"
							   style="" id="phoneNumber" placeholder="Enter Telephone Number"  ng-model="location.phoneNumber"
							   maxlength="12"  ng-required="required" required="required" />
					</div>
				<div class="col-sm-8 col-sm-offset-4 errors">
					<span ng-bind="errors.phoneNumber"></span>
				</div>
			</div>
	
			<div class="form-group">
				<label for="alternatePhoneNumber" class="col-sm-4 control-label" style="">
									Alternate Telephone Number
									</label>
					<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
						<input spellcheck="true" type="text" name="alternatePhoneNumber" class="form-control number-only" style="" id="alternatePhoneNumber" placeholder="Enter Telephone Number" ng-model="location.alternatePhoneNumber"
							   maxlength="12" ng-required="required" required="required" />
					</div>
				<div class="col-sm-8 col-sm-offset-4 errors">
					<span ng-bind="errors.alternatePhoneNumber"></span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-4">
				</div>
				<div class="col-sm-6">
					<button type="submit" class="btn btn-primary" name="next" id="saveBtn" check-access-perm="access_perm">
						Save
					</button>
					<button type="button" class="btn btn-default" name="list" id="listBtn" ng-click="goToPage('rl.masters-location');">
						Go To List Page
					</button>
				</div>
			</div>
	</form>
</div>