<div ng-controller="LocationController" ng-model="location">
	<load-template url="common/breadcrumb"></load-template>
	<div class="page-header" ng-if="location.code!==undefined">
		<h2><span ng-bind="location.name + ' (' + location.code + ') '"></span></h2>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
		<div class="list-group">
			<button type="button" class="list-group-item active" ng-if="$index==0" ng-repeat="step in steps"
					ng-click="showPage($index+1);">{{step}}</button>
			<button type="button" class="list-group-item" ng-if="$index!=0 && location.id!=undefined"
					ng-repeat="step in steps" ng-click="showPage($index+1);">{{step}}</button>
			<button type="button" class="list-group-item disabled" ng-if="$index!=0 && location.id==undefined"
					ng-repeat="step in steps">{{step}}</button>
		</div>
	</div>
	<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Location <span ng-bind="currentStepName"></span></h3>
			</div>
			<div class="panel-body">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 onboarding-steps" id="divDetails">	
					<load-template url="pages/masters/location/save"></load-template>
				</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 onboarding-steps" id="divPincodes">	
					<load-template url="pages/masters/location/pincodes/pincodes"></load-template>
				</div>
            </div>
        </div>
    </div>
</div>