    <div ng-controller="NewSubmenuController">
        <load-template url="common/breadcrumb"></load-template>
            <table class="row-border hover table table-striped table-hover table-condensed" ng-model="packingSpecs">
                <thead>
                    <th>Service Type</th>
                    <th>Category</th>
                    <th>New Production Type(L)</th>
                    <th>New Production Type(O)</th>
                    <th>Old Production Type(L)</th>
                    <th>Old Production Type(O)</th>
                </thead>
                <tbody>

                    <tr dir-paginate="packing in packingSpecs|itemsPerPage:pageSize" total-items="total_count" ng-if="packingSpecs.length > 0 || packingSpecs != undefined">
                        <td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
                        <!--<td>
                            <a href="#/masters-brand/get/{{brand.id}}" ng-bind="packing.serviceId"></a></td>-->
                        <td ng-if="packing.serviceId!=''" ng-bind="packing.serviceName"></td>
                        <td ng-if="packing.serviceId==''">N/A</td>
                        <td ng-if="packing.categoryId!=''" ng-bind="packing.categoryName"></td>
                        <td ng-if="packing.categoryId==''">N/A</td>
                        <td ng-if="packing.newPickupLocal!=''" ng-bind="packing.newPickupLocal"></td>
                        <td ng-if="packing.newPickupLocal==''">N/A</td>
                        <td ng-if="packing.newPickupOutstation!=''" ng-bind="packing.newPickupOutstation"></td>
                        <td ng-if="packing.newPickupOutstation==''">N/A</td>
                        <td ng-if="packing.oldPickupLocal!=''" ng-bind="packing.oldPickupLocal"></td>
                        <td ng-if="packing.oldPickupLocal==''">N/A</td>
                        <td ng-if="packing.oldPickupOutstation!=''" ng-bind="packing.oldPickupOutstation"></td>
                        <td ng-if="packing.oldPickupOutstation==''">N/A</td>
                        <td><button><a href="#/masters-packingspecification/get/{{packing.id}}">Update</a></button></td>
                    </tr>

                </tbody>

            </table>
            <dir-pagination-controls max-size="8" direction-links="true" boundary-links="true" on-page-change="getPackingList(newPageNumber,pageSize)"
                ng-if="packingSpecs.length > 0">
            </dir-pagination-controls>
        </div>

