<div ng-controller="RetailerController" ng-model="retailer">
	<load-template url="common/breadcrumb"></load-template>
	<div class="page-header" ng-if="retailer.retailer.code!=undefined && retailer.retailer.code != null && retailer.retailer.code!=''">
		<h2><span ng-bind="retailer.retailer.name + ' (' + retailer.retailer.code + ') '"></span></h2>
	</div>
	<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
		<div class="list-group" ng-show="loginInfo.roleCode==='hub_manager'">
			<button type="button" class="list-group-item active" ng-if="$index==0" ng-repeat="step in steps"
					ng-if="currentStepName!==Service Costing" ng-click="showPage($index+1, step.name);">{{step.name}}</button>
			<button type="button" class="list-group-item" ng-if="$index!=0 && retailer.retailer.id!=undefined"
					ng-repeat="step in steps" ng-show="step.name==='Basic Info' || step.name==='Services Availed' || step.name==='Categories Serviced' || step.name==='Serviceable Locations' || step.name==='ODA Locations' || step.name==='Return/Pickup Locations' || step.name==='Service Provider' || step.name==='Cheque Collection Centers'" ng-click="showPage($index+1, step.name);">{{step.name}}</button>
			<button type="button" class="list-group-item disabled" ng-if="$index!=0 && retailer.retailer.id==undefined"
					ng-repeat="step in steps" ng-if="currentStepName!==Service Costing" >{{step.name}}</button>
		</div>

		<div class="list-group" ng-show="loginInfo.roleCode!=='hub_manager'">
			<button type="button" class="list-group-item active" ng-if="$index==0" ng-repeat="step in steps"
					ng-if="currentStepName!==Service Costing" ng-click="showPage($index+1, step.name);">{{step.name}}</button>
			<button type="button" class="list-group-item" ng-if="$index!=0 && retailer.retailer.id!=undefined"
					ng-repeat="step in steps" ng-click="showPage($index+1, step.name);">{{step.name}}</button>
			<button type="button" class="list-group-item disabled" ng-if="$index!=0 && retailer.retailer.id==undefined"
					ng-repeat="step in steps" ng-if="currentStepName!==Service Costing" >{{step.name}}</button>
		</div>


	</div>
	<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">Retailer On Boarding : <span ng-bind="currentStepName"></span>
					<span ng-bind="actionName"></span>
					<span class="pull-right" ng-if="currentStepName=='Products'" >						
						<a ng-click="fnShowProductList('showProductList');" ng-if="currentStepName=='Products'" class="hand">List</a>
						&nbsp;&nbsp;|&nbsp;
						<a ng-click="fnShowProductSave('showProductSave');" ng-if="currentStepName=='Products'" class="hand">Add New</a>
						&nbsp;&nbsp;|&nbsp;
						<a ng-click="fnShowProductUpload('showProductUpload');" ng-if="currentStepName=='Products'" class="hand">Upload</a>
					</span>
					<span class="pull-right" ng-if="currentStepName=='Service Costing'" >
						<a ng-click="fnShowServiceCostingList('showServiceCostingList');" ng-if="currentStepName=='Service Costing'" class="hand">List</a>
						&nbsp;&nbsp;|&nbsp;
						<a ng-click="fnShowServiceCostingUpload('showServiceCostingUpload');" ng-if="currentStepName=='Service Costing'" class="hand">Upload</a>
					</span>
				</div>
			</div>
			<div class="panel-body">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 onboarding-steps"  id="divRegistration">	
					<load-template url="pages/retailer/onboarding/registration"></load-template>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 onboarding-steps" id="divProducts">	
					<load-template url="pages/retailer/product/product_template"></load-template>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 onboarding-steps" id="divServicesAvailed">	
					<load-template url="pages/retailer/onboarding/services_availed"></load-template>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 onboarding-steps" id="divCategoriesServiced">	
					<load-template url="pages/retailer/onboarding/categories_serviced"></load-template>
				</div>
				<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 onboarding-steps" id="divCostPerService">	
					<load-template url="pages/retailer/onboarding/cost_per_service"></load-template>
				</div>-->
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 onboarding-steps" id="divCostPerService">	
					<load-template url="pages/retailer/service_costing/list"></load-template>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 onboarding-steps" id="divServiceableLocations">	
					<load-template url="pages/retailer/onboarding/serviceable_locations"></load-template>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 onboarding-steps" id="divOdaLocations">	
					<load-template url="pages/retailer/onboarding/oda_locations"></load-template>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 onboarding-steps" id="divPackingCost">	
					<load-template url="pages/retailer/onboarding/packing_cost"></load-template>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 onboarding-steps" id="divPackingCostBorne">	
					<load-template url="pages/retailer/onboarding/packing_cost_borne"></load-template>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 onboarding-steps" id="divAdvanceReplacement">	
					<load-template url="pages/retailer/onboarding/advance_replacement"></load-template>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 onboarding-steps" id="divExchangePolicy">	
					<load-template url="pages/retailer/onboarding/exchange_policy"></load-template>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 onboarding-steps" id="divReturnPickupLocation">	
					<load-template url="pages/retailer/onboarding/return_pickup_location"></load-template>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 onboarding-steps" id="divServiceProvider">	
					<load-template url="pages/retailer/onboarding/service_provider"></load-template>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 onboarding-steps" id="divChequeCollectionCenters">	
					<load-template url="pages/retailer/onboarding/cheque_collection_centers"></load-template>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 onboarding-steps" id="divDoorStepServices">	
					<load-template url="pages/retailer/onboarding/door_step_services"></load-template>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 onboarding-steps" id="divFAQ">	
					<load-template url="pages/retailer/onboarding/faq"></load-template>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 onboarding-steps" id="divOthers">	
					<load-template url="pages/retailer/onboarding/other"></load-template>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 onboarding-steps" id="divEmailConfig">	
					<load-template url="pages/retailer/onboarding/email_configuration"></load-template>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 onboarding-steps" id="divOthers">	
					<load-template url="pages/retailer/onboarding/sms_email_template"></load-template>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 onboarding-steps" id="divOthers">	
					<load-template url="pages/retailer/onboarding/sms_email_trigger_config"></load-template>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 onboarding-steps" id="divPackingIntraCity">	
					<load-template url="pages/retailer/onboarding/packing_intra_city"></load-template>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 onboarding-steps" id="divProcessFields">	
					<load-template url="pages/retailer/onboarding/process_fields"></load-template>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 onboarding-steps" id="divPackingSpecifications">	
					<load-template url="pages/retailer/onboarding/packing_specifications"></load-template>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 onboarding-steps" id="divProductPacking">	
					<load-template url="pages/retailer/onboarding/product_packing"></load-template>
				</div>
				<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 onboarding-steps"
					 ng-repeat="step in steps" id="div_{{step.url}}">
					{{url=step.url;""}}
					<div load-template-var ng-template="url" dir="pages/retailer/onboarding/{{url}}" ng-model="retailer" ></div>
				</div>-->
			</div>
		</div>
	
	</div>
</div>
