<div class=" collapse"  id="addNewServiceProviderServices">
    <fieldset class="col-xs-12 col-lg-12 col-md-12">
		<legend>Add new Service Authorized</legend>		
		<form name="servicesForm" id="Form" class="form-horizontal" role="form" method="post"
              ng-submit="saveServicesAuthorized(serviceProvider.serviceAuthorized);" novalidate> 
			<div class="col-sm-6">
				<div class="form-group">
					<label for="location" class="col-sm-12" style="">
					Service Provider Location <span class="required">*</span>
					</label>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <select2 ng-model="serviceProvider.serviceAuthorized.serviceProviderLocationId" id="location"
                                 s2-options="val.id as val.area + ' - ' + val.city + ' (' + val.pincode + ')' for val in serviceProvider.locations"
                                 required="required" name="serviceProviderLocationId"
                                 placeholder="Select Location" class="col-lg-12"></select2>
                    </div>
					<div ng-messages="servicesForm.serviceProviderLocationId.$error" role="alert" ng-messages-multiple
						ng-show="servicesForm.$submitted || servicesForm.serviceProviderLocationId.$touched"
						class="col-sm-12 errors" >
					   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
					</div>
				</div>
                <div class="form-group">
					<label for="categoryId" class="col-sm-12" style="">
					Category <span class="required">*</span>
					</label>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <select name="categoryId" class="form-control" style="" id="category"
								   placeholder="Select Category" ng-model="serviceProvider.serviceAuthorized.categoryId"
                                   ng-change="populateSubCategories(serviceProvider.serviceAuthorized.categoryId);"
								   required="required">
								<option value="">Choose</option>
								<option ng-repeat="c in categories" value="{{c.id}}" >{{c.name}}</option>
							</select>
                    </div>
					<div ng-messages="servicesForm.categoryId.$error" role="alert" ng-messages-multiple
						ng-show="servicesForm.$submitted || servicesForm.categoryId.$touched"
						class="col-sm-12 errors" >
					   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
					</div>
				</div>
                <div class="form-group">
					<label for="subCategoryId" class="col-sm-12" style="">
					Sub Category 
					</label>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <select name="subCategoryId" class="form-control" style="" id="subCategoryId"
								   placeholder="Select Sub Category" ng-model="serviceProvider.serviceAuthorized.subCategoryId"
								   >
								<option value="">Choose</option>
								<option ng-repeat="c in subCategories" value="{{c.id}}" >{{c.name}}</option>
							</select>
                    </div>
					<div ng-messages="servicesForm.subCategoryId.$error" role="alert" ng-messages-multiple
						ng-show="servicesForm.$submitted || servicesForm.subCategoryId.$touched"
						class="col-sm-12 errors" >
					   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
					</div>
				</div>
                <div class="form-group">
					<label for="brandId" class="col-sm-12" style="">
					Brand 
					</label>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <select name="brandId" class="form-control custom-select" style="" id="brandId"
								   placeholder="Select Brand" ng-model="serviceProvider.serviceAuthorized.brandId"
								    >
								<option value="">Choose</option>
								<option ng-repeat="c in brands" value="{{c.id}}" >{{c.name}}</option>
							</select>
                    </div>
					<div ng-messages="servicesForm.brandId.$error" role="alert" ng-messages-multiple
						ng-show="servicesForm.$submitted || servicesForm.brandId.$touched"
						class="col-sm-12 errors" >
					   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
					</div>
				</div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
					<label for="isBizlogAuthorized" class="col-sm-12" style="">
					Is Bizlog Authorized? <span class="required">*</span>
					</label>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 radio">
                        <label><input type="radio" ng-model="serviceProvider.serviceAuthorized.isBizlogAuthorized" required="required" value="yes"
                            ng-checked="serviceProvider.serviceAuthorized.isBizlogAuthorized=='yes'"
							name="isBizlogAuthorized"/> Yes</label> &nbsp;
                        <label><input type="radio" ng-model="serviceProvider.serviceAuthorized.isBizlogAuthorized"
                            ng-checked="serviceProvider.serviceAuthorized.isBizlogAuthorized=='no'" value="no"
							name="isBizlogAuthorized"/> No</label>
                    </div>
					<div ng-messages="servicesForm.serviceAuthorized.$error" role="alert" ng-messages-multiple
						ng-show="servicesForm.$submitted || servicesForm.serviceAuthorized.$touched"
						class="col-sm-12 errors" >
					   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
					</div>
				</div>
                <div class="form-group">
					<label for="isAuthorizedServiceProvider" class="col-sm-12" style="">
					Is Authorized Service Provider? <span class="required">*</span>
					</label>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 radio">
                        <label><input type="radio" ng-model="serviceProvider.serviceAuthorized.isAuthorizedServiceProvider" required value="yes"
                            ng-checked="serviceProvider.serviceAuthorized.isAuthorizedServiceProvider=='yes'"
							name="isAuthorizedServiceProvider"/> Yes</label> &nbsp;
                        <label><input type="radio" ng-model="serviceProvider.serviceAuthorized.isAuthorizedServiceProvider"
                            value="no" ng-checked="serviceProvider.serviceAuthorized.isAuthorizedServiceProvider=='no'"
							name="isAuthorizedServiceProvider"/> No</label>
                    </div>
					<div ng-messages="servicesForm.isBizlogAuthorized.$error" role="alert" ng-messages-multiple
						ng-show="servicesForm.$submitted || servicesForm.isBizlogAuthorized.$touched"
						class="col-sm-12 errors" >
					   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
					</div>
				</div>
                <div class="form-group">
					<label for="kindOfService" class="col-sm-12" style="">
					Kind Of Service <span class="required">*</span>
					</label>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<textarea spellcheck="true"  name="kindOfService" class="form-control" style="" id="kindOfService"
								   placeholder="Enter Of Service" 
								   ng-model="serviceProvider.serviceAuthorized.kindOfService" rows="4" cols="80" maxlength="1024"
								   required="required"></textarea>
						</div>
					<div ng-messages="servicesForm.kindOfService.$error" role="alert" ng-messages-multiple
						ng-show="servicesForm.$submitted || servicesForm.kindOfService.$touched"
						class="col-sm-12 errors" >
					   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
					</div>
				</div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
					<div class="col-sm-5">
					</div>
					<div class="col-sm-7">
						<button type="submit" class="btn btn-primary" name="next" id="saveBtn" check-access-perm="access_perm"
						ng-disabled="servicesForm.$invalid">
							Save
						</button>
                        <button type="button" class="btn btn-primary" data-toggle="collapse in"
                            data-target="#listServiceProviderServices" ng-click="showAddNewService();"> Go To List </button>
					</div>
				</div>
            </div>
        </form>
    </fieldset>
</div>