<div ng-controller="AttachmentController" ng-model="attachment">
	<load-template url="common/breadcrumb"></load-template>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Upload File</h3>
		</div>
		<div class="panel-body">
			<div class="  col-sm-8 col-sm-offset-2">
			<form name="attachmentForm" id="attachment" class="form-horizontal" role="form" method="post"
				  ng-submit="upload(attachment);" novalidate>
				
				<div class="form-group">
					<label for="key1" class="col-sm-3 control-label formlabel">
					Key1
					</label>
					<div class="col-sm-6">
						<input spellcheck="true" type="text" min="1" name="key1" class="form-control" style="" id="key1"
                                   placeholder="Enter Key1"
                                   ng-model="attachment.key1" maxlength="250"
                                   required="required" />
					</div>
					<div ng-messages="attachmentForm.key1.$error" role="alert" ng-messages-multiple
                        ng-show="attachmentForm.$submitted || attachmentForm.key1.$touched"
                        class="col-sm-3 errors" >
                       <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
                    </div>
				</div>
				<div class="form-group">
					<label for="key2" class="col-sm-3 control-label formlabel">
					Key2
					</label>
					<div class="col-sm-6">
						<input spellcheck="true" type="text" min="1" name="key2" class="form-control" style="" id="key2"
                                   placeholder="Enter Key2"
                                   ng-model="attachment.key2" maxlength="250"
                                   required="required" />
					</div>
					<div ng-messages="attachmentForm.key2.$error" role="alert" ng-messages-multiple
                        ng-show="attachmentForm.$submitted || attachmentForm.key2.$touched"
                        class="col-sm-3 errors" >
                       <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
                    </div>
				</div>
				<div class="form-group">
					<label for="key3" class="col-sm-3 control-label formlabel">
					Key3
					</label>
					<div class="col-sm-6">
						<input spellcheck="true" type="text" min="1" name="key3" class="form-control" style="" id="key3"
                                   placeholder="Enter Key3"
                                   ng-model="attachment.key3" maxlength="250"
                                    />
					</div>
					<div ng-messages="attachmentForm.key3.$error" role="alert" ng-messages-multiple
                        ng-show="attachmentForm.$submitted || attachmentForm.key3.$touched"
                        class="col-sm-3 errors" >
                       <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
                    </div>
				</div>
				<!--<div class="form-group" ng-if="attachment.id !== undefined">
					<label for="brandId" class="col-sm-3 control-label formlabel">
					&nbsp;
					</label>
					<div class="col-sm-6">
						<a href="{{URL}}/server/attachment/download/DOA/{{attachment.categoryId}}/{{attachment.brandId}}">Download</a>
					</div>
				</div>-->
				
				<div class="form-group" >
					<label for="csv" class="col-sm-3 control-label formlabel"></label>
					<div class="col-sm-6">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="button" ngf-select ng-model="attachment.file" class="col-sm-3">
								<input style="float:left;" type="button" valid-file class="btn btn-primary" id="file"
                                       name="file"
									   value="Select a File ..." ng-model="attachment.file" required=""/>
							</div>
							<br/>
							<div ng-bind="attachment.selectedFileName" class="col-sm-12"></div>
						</div>
						
					</div>
					<div ng-messages="attachmentForm.file.$error" role="alert" ng-messages-multiple
                        ng-show="attachmentForm.$submitted || attachmentForm.file.$touched"
                        class="col-sm-3 errors" >
                       <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
                    </div>
				</div>
				<div class="form-group">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="progress">
							<div class="progress-bar progress-bar-striped active" role="progressbar"
								 aria-valuenow="uploadPercentage" aria-valuemin="0" aria-valuemax="100"
								 style="width: {{uploadPercentage}}%">
							  <span><span ng-bind="uploadPercentage"></span>% Complete</span>
							</div>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-12 text-center">
						<button type="submit" class="btn btn-primary" ng-disabled="attachmentForm.$invalid"
                                name="save" id="saveBtn" check-access-perm="access_perm">
						Save
					</button>
						<button type="button" class="btn btn-default" name="list" id="listBtn" ng-click="goToPage('rl.attachments');">
							Go To List Page
                        </button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
