<div ng-controller="AdditionalCostingController" ng-model="additionalCosting">
	<load-template url="common/breadcrumb"></load-template>
	<div class="panel panel-default">
		<div class="panel-heading" ng-show="pageActionHeader!=''">
			<h3 class="panel-title" ng-bind="pageActionHeader"></h3>
		</div>
		<div class="panel-body">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<form name="additionalCostingForm" id="Form" class="form-horizontal" role="form" method="post"
					  ng-submit="save(additionalCosting);" novalidate>
					<input type="hidden" name="id" ng-model="additionalCosting.id" />
					<div class="form-group">
						<label for="costingType" class="col-sm-3 control-label" style="">
                        Costing Type <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<input spellcheck="true" type="text" name="costingType" class="form-control"
								   id="costingType" placeholder="Enter Costing Type"
								   ng-model="additionalCosting.costingType" maxlength="250"
								   required="required" />
						</div>
						<div ng-messages="additionalCostingForm.costingType.$error" role="alert" ng-messages-multiple
							 ng-show="additionalCostingForm.$submitted || additionalCostingForm.costingType.$touched"
							 class="col-sm-3 errors" >
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>
					<div class="form-group">
						<label for="amount" class="col-sm-3 control-label" style="">
                        Amount <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<input spellcheck="true" type="number" name="amount" class="form-control"
								   id="amount" placeholder="Enter Amount" min="0"
								   ng-model="additionalCosting.amount" step="0.01" 
								   required="required" />
						</div>
						<div ng-messages="additionalCostingForm.amount.$error" role="alert" ng-messages-multiple
							 ng-show="additionalCostingForm.$submitted || additionalCostingForm.amount.$touched"
							 class="col-sm-3 errors" >
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>
					<div class="form-group">
						<label for="status" class="col-sm-3 control-label" style="">
                        Status <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<div class="row">
								<div class="col-sm-12">
									<div class="radio-inline" style="">
										<label>
											<input type="radio" name="status" id="status1" value="1" ng-checked="additionalCosting.status==1"
												   ng-model="additionalCosting.status" required />
											Active
										</label>
									</div>
									<div class="radio-inline" style="">
										<label>
											<input type="radio" name="status" id="status0" value="0" ng-checked="additionalCosting.status!=1"
												   ng-model="additionalCosting.status" />
											Inactive
										</label>
									</div>
								</div>
							</div>
							
						</div>
						<div ng-messages="additionalCostingForm.status.$error" role="alert" ng-messages-multiple
							 ng-show="additionalCostingForm.$submitted || additionalCostingForm.status.$touched"
							 class="col-sm-3 errors" >
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12 col-sm-offset-5">
							<button type="submit" class="btn btn-primary" name="save" id="saveBtn" check-access-perm="access_perm">
                             Save
						</button>
							<button type="button" class="btn btn-default" name="list" id="listBtn"
									ng-click="goToPage('rl.masters-additional-costing');">
							 Go To List Page
                        </button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>