<div ng-controller="ReportController" ng-model="exotelReport">
    <load-template url="common/breadcrumb"></load-template>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">

        </div>

        <load-template url="pages/report/exotel_report_search"></load-template>
        <load-template url="pages/report/exotel_report_result"></load-template>
    </div>
</div>