<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Search Call Details</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-12">
                    <!-TODO-->


                    <form name="form" id="Form" class="form-horizontal" role="form" method="post"
                          ng-submit="searchlog(exotelReport,0,10);"
                          novalidate>

                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label for="customerNumber" class="col-sm-12" style="">
                                    Consumer Number
                                </label>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <input spellcheck="true" type="text" name="consumerNumber" class="form-control"
                                           style="" id="customerNumber" placeholder="Enter Consumer Number"
                                           ng-model="exotelReport.consumerNumber" maxlength="250"
                                    />
                                </div>
                                <div class="col-sm-12 errors">
                                    <span ng-bind="errors.calllog"></span>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label for="location" class="col-sm-12" style="">
                                    Location
                                </label>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <select name="4" id="location" class="form-control" placeholder="Select Location"
                                            ng-model="exotelReport.city">
                                        <option value="">Choose</option>
                                        <option ng-repeat="r in cities|orderBy:'name':false" value="{{r.name}}"
                                        >{{r.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-12 errors">
                                    <span ng-bind="errors.calllog"></span>
                                </div>
                            </div>
                        </div>

                        <!--todo-->
                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label for="ticketNumber" class="col-sm-12" style="">
                                    Ticket Number
                                </label>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <input spellcheck="true" type="text" name="ticketNumber" class="form-control" style=""
                                           id="ticketNumber" placeholder="Enter Ticket Number"
                                           ng-model="exotelReport.ticketNumber" maxlength="250"
                                    />
                                </div>
                                <div class="col-sm-12 errors">
                                    <span ng-bind="errors.calllog"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label for="status" class="col-sm-12" style="">
                                    Call Status
                                </label>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <select name="4" id="status" class="form-control" placeholder="Select Call Status"
                                            ng-model="exotelReport.callStatus">
                                        <option value="">Choose</option>
                                        <option ng-repeat="r in callstatus|orderBy:'name':false" value="{{r}}"
                                        >{{r}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-12 errors">
                                    <span ng-bind="errors.calllog"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label for="date" class="col-sm-12" style="">
                                    Date
                                </label>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <input date-range-picker class="form-control " type="text"
                                           ng-model="datePicker.date"
                                           placeholder="yyyy-dd-mm - yyyy-dd-mm"
                                           id="date"
                                    />
                                </div>
                                <div class="col-sm-12 errors">
                                    <span ng-bind="errors.date"></span>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-12">
                            <div class="form-group row">
                                <label class="col-sm-12">&nbsp;</label>
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-primary" name="search" id="searchBtn"
                                            ng-disabled="form.$invalid">
                                        Search
                                    </button>
                                    <!--<p class="col-sm-12 text-right" ng-click="generateSearchExcel(task)">
                                        download
                                    </p>-->
                                    <button type="button" class="btn btn-default" name="clear" id="clearBtn"
                                            ng-click="clearSearchFields();"> Clear
                                    </button>
                                    <!--<button type="button" class="btn btn-default" name="next" id="genExcel"
                                            ng-click="generateSearchExcel(task);"> gen
                                        </button>-->

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>