<div class="row" ng-model="callResult" ng-if="callResult.length > 0" ng-model="pagination">

    <div class="col-sm-12">
        <table class="table row-border table-hover table-striped table-responsive">
            <thead>
            <th>#</th>
            <th>Ticket Number</th>
            <th>Customer Number</th>
            <th>Assignee</th>
            <th>Connecting Number</th>
            <th>Date</th>
            <th>City</th>
            <th>Status</th>
            <th>Call Recording</th>
            </thead>
            <tbody>
            <tr dir-paginate="r in callResult|itemsPerPage:pageSize"
                current-page="currentPage"
                total-items="total_count" ng-if="callResult.length > 0 || callResult != undefined">
                <td>{{($index+1)+(pageSize)*(currentPage-1)}}</td>
                <td>
                    <span ng-if="r.ticketNumber == null">Not Available</span>
                    <span ng-if="r.ticketNumber != null" ng-bind="r.ticketNumber"></span>
                </td>
                <td>
                    <span ng-if="r.customerNumber == null">Not Available</span>
                    <span ng-if="r.customerNumber != null" ng-bind="r.customerNumber"></span>
                </td>
                <td ng-bind="r.assignee"></td>
                <td ng-bind="r.exotelNumber"></td>
                <td ng-bind="r.date"></td>
                <td ng-bind="r.city"></td>
                <td ng-bind="r.callStatus"></td>
                <td>
                    <span class="label label-danger" ng-if="r.recordingUrl == null">Not Available</span>
                    <span ng-if="r.recordingUrl != null">
                        <audio controls style="width:300px; height:35px">
                            <source ng-src="{{r.recordingUrl}}" type="audio/mpeg">
                        </audio>
                    </span>
                </td>

            </tr>
            </tbody>
        </table>
        <dir-pagination-controls
                max-size="8"
                direction-links="true"
                boundary-links="true"
                on-page-change="searchlog(exotelReport,newPageNumber,pageSize)" >
        </dir-pagination-controls>
    </div>
</div>