<div class="row" ng-if="reportresult.length>0 && reportresult != undefined" ng-model="pagination">
    <div class="col-sm-12">
        <table class="table table-responsive table-striped row-border">
            <thead>
            <th>#</th>
            <th>Location</th>
            <th>Retailer</th>
            <th>Ticket Created</th>
            <th>Ticket Closed</th>
            <th>Ticket Pending</th>
            <th>Date</th>
            </thead>
            <tbody>
            <tr dir-paginate="r in reportresult|itemsPerPage:pageSize"
                current-page="currentPage"
                total-items="reportcount" ng-if="reportresult.length > 0 || reportresult != undefined">
                <td>{{($index+1)+(pageSize)*(currentPage-1)}}</td>
                <td ng-bind="r.location"></td>
                <td ng-bind="r.retailer"></td>
                <td ng-bind="r.ticketCreated"></td>
                <td ng-bind="r.closedTicket"></td>
                <td ng-bind="r.openedTicket"></td>
                <td ng-bind="r.date"></td>
            </tr>
            </tbody>
        </table>
        <dir-pagination-controls
                max-size="8"
                direction-links="true"
                boundary-links="true"
                on-page-change="getreport(report,newPageNumber,pageSize)" >
        </dir-pagination-controls>
    </div>

</div>