<div class="row">
    <div class="col-sm-12">

        <div class="panel panel-default panel-collapse">
            <div class="panel-heading">
                <h3 class="panel-title">Report</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-12">
                    <!--TODO insert method-->
                    <form name="form" id="form" method="post" class="form-horizontal"
                          ng-submit="getreport(report,1,10)">

                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label for="location" class="col-sm-12">Location</label>
                                <div class="col-sm-12 col-lg-12 col-xs-12">
                                    <select name="4" id="location" class="form-control" placeholder="Location"
                                            ng-model="report.location">
                                        <option value="">--Choose--</option>
                                        <option ng-repeat="r in cities" value="{{r.name}}">{{r.name}}</option>
                                    </select>
                                    <div class="col-sm-12 errors">
                                        <span ng-bind="errors.city"></span>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label class="col-sm-12" for="retailer">Retailer</label>
                                <div class="col-sm-12 col-lg-12 col-xs-12">
                                    <select name="5" id="retailer" class="form-control" placeholder="Retailer"
                                            ng-model="report.retailer">
                                        <option value="">--Choose--</option>
                                        <option ng-repeat="i in retailers" value="{{i.name}}">{{i.name}}</option>
                                    </select>
                                    <div class="col-sm-12 errors">
                                        <span ng-bind="errors.retailer"></span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-4">
                            <div class="form-group row">
                                <label for="date" class="col-sm-12" style="">
                                    Date
                                </label>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <input date-range-picker class="form-control " type="text"
                                           ng-model="datePicker.date"
                                           placeholder="yyyy-dd-mm - yyyy-dd-mm"
                                           id="date"
                                    />
                                </div>
                                <div class="col-sm-12 errors">
                                    <span ng-bind="errors.date"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group row">
                                <label class="col-sm-12" style=""></label>
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-primary" name="search" id="searchBtn"
                                            ng-disabled="form.$invalid">
                                        Search
                                    </button>
                                    <button type="button" class="btn btn-default" name="clear" id="clearBtn"
                                            ng-click="clearSearchFields();"> Clear
                                    </button>
                                </div>
                            </div>


                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>

</div>