<div ng-controller="ReportController" ng-model="exotelReport">
    <div class="row">
        <div class="col-xs-12 col-lg-12 col-md-12">

        </div>

        <div class="col-xs-12 col-sm-12 col-md-12">


            <load-template url="pages/report/report_search"></load-template>
            <load-template url="pages/report/report_result"></load-template>
        </div>
    </div>
</div>