

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-model="serviceProvider.basicInfo">
	<form name="form" id="Form" class="form-horizontal" role="form" method="post" ng-submit="save(serviceProvider.basicInfo);" novalidate>
		<input type="hidden" name="id" ng-model="serviceProvider.basicInfo.id" />
		<div class="form-group">
			<label for="name" class="col-sm-3 control-label" style="">
			Name <span class="required">*</span>
			</label>
			<div class="col-sm-6">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<input spellcheck="true" type="text" name="name" class="form-control" style="" id="name"
						   placeholder="Enter Service Provider Name" value="{{serviceProvider.basicInfo.name}}"
						   ng-model="serviceProvider.basicInfo.name" maxlength="250" ng-required="required"
						   required="required" />
				</div>
			</div>
			<div class="col-sm-3 errors">
				<span ng-bind="errors.name"></span>
			</div>
		</div>
		<div class="form-group">
			<label for="code" class="col-sm-3 control-label" style="">
			Code <span class="required">*</span>
			</label>
			<div class="col-sm-6">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<input spellcheck="true" type="text" name="code" class="form-control" style="" id="name"
						   placeholder="Enter Service Provider Code" value="{{serviceProvider.basicInfo.code}}"
						   ng-model="serviceProvider.basicInfo.code" maxlength="250" ng-required="required"
						   required="required" />
				</div>
			</div>
			<div class="col-sm-3 errors">
				<span ng-bind="errors.code"></span>
			</div>
		</div>
		<div class="form-group">
			<label for="code" class="col-sm-3 control-label" style="">
			Description
			</label>
			<div class="col-sm-6">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-switch="prop.type">
					<textarea name="description" id="description" class="form-control"
							  placeholder="Enter Description" ng-model="serviceProvider.basicInfo.description"
							  ></textarea>
				</div>
			</div>
			<div class="col-sm-3 errors">
				<span ng-bind="errors.description"></span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-12 col-sm-offset-5">
				<button type="submit" class="btn btn-primary" name="save" id="saveBtn" check-access-perm="access_perm">
				Save
			</button>
				<button type="button" class="btn btn-default" name="list" id="listBtn" ng-click="goToPage('rl.service-providers');">
				Go To List Page
			</button>
				<!--<button type="button" class="btn btn-danger" ng-if="serviceProvider.basicInfo.id!=undefined" ng-click="deleteServiceProvider(serviceProvider.basicInfo, $index);">
					<span class="glyphicon glyphicon-remove"></span> Delete</button>-->
				
				
			</div>
		</div>
	</form>
</div>