<div ng-controller="PackagingMaterialController">
	<load-template url="common/breadcrumb"></load-template>
	<div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Search Inventory Item</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <form name="form" id="Form" class="form-horizontal" role="form" method="post"
                              ng-submit="searchBarcode(packagingMaterial);" novalidate ng-model="packagingMaterial">
                            <div class="col-sm-4" ng-if="loginInfo.roleCode!=='hub_manager'">
                                <div class="form-group row">
                                    <label for="locationId" class="col-sm-12" style="">
                                    Location
                                    </label>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                       <select name="locationId" class="form-control" ng-model="packagingMaterial.locationId">
                                            <option value="">Select Location</option>
                                            <option ng-repeat="location in locations" value="{{location.id}}">{{location.name}}</option>
                                       </select>
                                    </div>
                                    <div class="col-sm-12 errors">
                                        <span ng-bind="errors.locationId"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group row">
                                    <label for="type" class="col-sm-12" style="">
                                        Type
                                    </label>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <select name="type" class="form-control" ng-model="packagingMaterial.packagingType">
                                            <option value="">Select Type</option>
                                            <option value="0">Box</option>
                                            <option value="1">Cover</option>
                                            <option value="2">Others</option>
                                       </select>
                                    </div>
                                    <div class="col-sm-12 errors">
                                        <span ng-bind="errors.type"></span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-4">
                                <div class="form-group row">
                                    <label for="type" class="col-sm-12" style="">
                                        Packaging Material Type
                                    </label>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <select name="packagingTypeCode" class="form-control" ng-model="packagingMaterial.packagingTypeCode">
                                            <option value="">Select Packaging Material Type</option>
                                            <option ng-repeat="packagingMaterialType in packagingMaterialTypes"
                                                    value="{{packagingMaterialType.code}}"
                                                    ng-bind="packagingMaterialType.name + ' (' + packagingMaterialType.code + ') '"></option>
                                       </select>
                                    </div>
                                    <div class="col-sm-12 errors">
                                        <span ng-bind="errors.type"></span>
                                    </div>
                                </div>
                            </div>
							
							<div class="col-sm-4">
                                <div class="form-group row">
                                    <label for="barcode" class="col-sm-12" style="">
                                    Barcode
                                    </label>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                       <input type="text" name="barcode" ng-model="packagingMaterial.barcode" class="form-control"
											  placeholder="Enter Barcode"/>											  
                                    </div>
                                    <div class="col-sm-12 errors">
                                        <span ng-bind="errors.barcode"></span>
                                    </div>
                                </div>
                            </div>
							
							<div class="col-sm-4">
                                <div class="form-group row">
                                    <label for="status" class="col-sm-12" style="">
                                    Status
                                    </label>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<select name="type" class="form-control" ng-model="packagingMaterial.status">
                                            <option value="">Select Status</option>
                                            <option value="0">Available</option>
                                            <option value="1">Issued</option>
											<option value="2">Used</option>
											<option value="3">Received</option>
											<option value="4">Damaged</option>
											<option value="5">Scraped</option>
                                       </select>
                                    </div>
                                    <div class="col-sm-12 errors">
                                        <span ng-bind="errors.status"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group row">
                                    <label for="barcode" class="col-sm-12" style="">
                                    Ticket No
                                    </label>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                       <input type="text" name="barcode" ng-model="packagingMaterial.ticketNumber" class="form-control"
											  placeholder="Enter Ticket No"/>											  
                                    </div>
                                    <div class="col-sm-12 errors">
                                        <span ng-bind="errors.barcode"></span>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Newly Created Filter-->
                            <div class="col-sm-4">
                                <div class="form-group row">
                                    <label for="barcode" class="col-sm-12" style="">
                                    IMEI No.
                                    </label>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                       <input type="text" name="imeiNo" ng-model="packagingMaterial.imeiNo" class="form-control"
											  placeholder="Enter IMEI No."/>											  
                                    </div>
                                    <div class="col-sm-12 errors">
                                        <span ng-bind="errors.imeiNo"></span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-12">&nbsp;</label>
                                    <div class="col-sm-4">
                                        <button type="submit" class="btn btn-primary" name="next" id="saveBtn">
                                            Search
                                        </button>
										<button type="button" class="btn btn-default" name="next" id="clearBtn"
											ng-click="clearSearchFields();"> Clear
                                        </button>
										
                                    </div>
									<div class="col-sm-8 text-right">
                                        <button type="button" class="btn btn-primary" check-access-perm="access_perm" url="url_to_check2" ng-click="openReturnItemDialog();">Return Item</button>&nbsp;&nbsp;
										
									</div>
                                </div>
								
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<table class="row-border hover table table-striped table-hover table-condensed"  ng-model="inventoryList">
		<thead>
			<th>#</th>
            <th>Barcode</th>
			<th>Location</th>
			<th>Packaging Type</th>
            <th>Status</th>
            <th>Ticket No.</th>
            <th>Assignee</th>
            <th>Details</th>
            <th>IMEI No.</th>
		</thead>
		<tbody>

			<tr dir-paginate="inventory in inventoryList|orderBy:'status':false|itemsPerPage:pageSize"
				total-items="total_count"
				ng-if="inventoryList.length > 0 || inventoryList != undefined">
				<td ng-bind="($index+1)+(pageSize)*(currentPage-1)" class="col-sm-1"></td>
				<td class="col-sm-1" >
					<span ng-bind="inventory.barcode"></span>
					<!--<br/>
					<io-barcode code="{{inventory.barcode}}" type="CODE128B" options="options"></io-barcode>-->
					
					<!--<a href="#/inventory/packaging-material/item-view/{{inventory.id}}" ></a></td>-->
				<td class="col-sm-1">
					<p  ng-bind="inventory.locationName"></p>
					<!--<p  ng-bind="inventory.city"></p>-->
				</td>
                <td ng-bind="inventory.packagingTypeCode" class="col-sm-1"></td>
                <td  class="col-sm-1">
					<span class="label label-success" ng-if="inventory.status==0">Available</span>
					<span class="label label-info" ng-if="inventory.status==1">Issued</span>
					<span class="label label-primary" ng-if="inventory.status==2">Used</span>
					<span class="label label-default" ng-if="inventory.status==3">Received</span>
					<span class="label label-warning" ng-if="inventory.status==4">Damaged</span>
					<span class="label label-danger" ng-if="inventory.status==5">Scraped</span>
				</td>
                <td ng-bind="inventory.ticketNumber" class="col-sm-2"></td>
                <td class="col-sm-1">
					<p ng-bind="inventory.firstName + ' ' + ((inventory.lastName !== null) ? inventory.lastName : '')" ng-if="inventory.firstName!==null||inventory.lastName!==null" ></p>
					<p ng-bind="inventory.email" ng-if="inventory.email!==null" ></p>
					<p  ng-if="inventory.email===null" > N/A </p>
				</td>
                <td ng-bind="inventory.additionalDetails" class="col-sm-2"></td>
                <td ng-bind="inventory.imeiNo" class="col-sm-2">
					
				</td>
				<td><!--<a href="" ng-click="print('http://localhost/rlogistics/biz_angular/img/barcode.png');">Print</a>--></td>
			</tr>
			<tr ng-if="inventoryList.length <= 0" ><td colspan="8" class="text-center"> No records found!</td> </tr>
		</tbody>
	</table>
	<dir-pagination-controls
		max-size="8"
		direction-links="true"
		boundary-links="true"
		on-page-change="searchBarcode(packagingMaterial,newPageNumber,pageSize)"
		ng-if="inventoryList.length > 0">
	 </dir-pagination-controls>
</div>
