<div ng-controller="PackagingMaterialController">
	<load-template url="common/breadcrumb"></load-template>
	<div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Generate Barcode</h3>
                </div>
                <div class="panel-body">
                    <form name="generateBarcodeForm" id="Form" class="form-horizontal" role="form" method="post"
                              ng-submit="generateBarcodes(barcodeGeneration);" novalidate ng-model="barcodeGeneration">
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="form-group row">
                                <label for="barcode" class="col-sm-12" style="">
                                <span title="Maximum number of barcodes to be generated" tooltip>Max No. Of Barcode</span>
								<span class="required">*</span>
                                </label>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                   <input type="number" name="itemCount" ng-model="barcodeGeneration.itemCount" class="form-control"
										  min="1" required="required"
                                          placeholder="Enter Max No. Of Barcodes"/>											  
                                </div>
                                <div ng-messages="generateBarcodeForm.itemCount.$error" role="alert" ng-messages-multiple
									ng-show="generateBarcodeForm.$submitted || generateBarcodeForm.itemCount.$touched"
									class="col-sm-12 errors" >
								   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
								</div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="form-group row">
                                <label for="locationId" class="col-sm-12" style="">
                                Location <span class="required">*</span>
                                </label>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                   <select name="locationId" class="form-control" ng-model="barcodeGeneration.locationId" required>
                                        <option value="">Select Location</option>
                                        <option ng-repeat="location in locations|orderBy:'name':false" value="{{location.id}}">{{location.name}}</option>
                                   </select>
                                </div>
                                <div ng-messages="generateBarcodeForm.locationId.$error" role="alert" ng-messages-multiple
									ng-show="generateBarcodeForm.$submitted || generateBarcodeForm.locationId.$touched"
									class="col-sm-12 errors" >
								   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
								</div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="form-group row">
                                <label for="type" class="col-sm-12" style="">
                                    Packaging Material Type <span class="required">*</span>
                                </label>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <select name="packagingTypeCode" class="form-control" required
											ng-model="barcodeGeneration.packagingTypeCode">
                                        <option value="">Select Packaging Material Type</option>
                                        <option ng-repeat="packagingMaterialType in packagingMaterialTypes|orderBy:'name':false:'code':false"
                                                value="{{packagingMaterialType.code}}"
                                                ng-bind="packagingMaterialType.name + ' (' + packagingMaterialType.code + ') '"></option>
                                   </select>
                                </div>
                                <div ng-messages="generateBarcodeForm.packagingTypeCode.$error" role="alert" ng-messages-multiple
									ng-show="generateBarcodeForm.$submitted || generateBarcodeForm.packagingTypeCode.$touched"
									class="col-sm-12 errors" >
								   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
								</div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <div class="form-group row">
                                <label for="status" class="col-sm-12" style="">
                                &nbsp;
                                </label>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <button type="submit" class="btn btn-primary" name="next" id="saveBtn">
                                        Generate
                                    </button>
                                </div>
                                <div class="col-sm-12 errors">
                                    <span ng-bind="errors.status"></span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Bulk Print</h3>
                </div>
                <div class="panel-body">
                    <table class="row-border hover table table-striped table-hover table-condensed"  ng-model="inventoryList">
						<thead>
							<th>#</th>
							<th>Date</th>
							<th>Location</th>
							<th>Packaging Type</th>
							<th>Total Barcodes</th>
							<th>&nbsp;</th>
						</thead>
						<tbody>
							<tr dir-paginate="barcode in barcodeList|orderBy:'barcode.generatedDate':true|itemsPerPage:pageSize"
								total-items="total_count"
								pagination-id="bulkPrintPagination"
								ng-if="barcodeList.length > 0 || barcodeList != undefined">
								<td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
								<td ng-bind="barcode.generatedDate"></td>
								<td ng-bind="barcode.locationName"></td>
								<td ng-bind="barcode.packagingTypeName"></td>
								<td ng-bind="barcode.itemCount"></td>
								<td>
									<a class="hand" ng-click="printBarcodes(barcode);">Print</a>
								</td>
							</tr>
						</tbody>
					</table>
					<dir-pagination-controls
						ng-model="pagination"
						max-size="8"
						direction-links="true"
						boundary-links="true"
						pagination-id="bulkPrintPagination"
						on-page-change="search(packagingMaterial,newPageNumber,pageSize)" >
					 </dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>