<div ng-controller="PackagingMaterialController">
	<load-template url="common/breadcrumb"></load-template>
    
    <div class="row">
		<div class="col-xs-12 col-lg-12 col-md-12">
			
		</div>
	</div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Search Packaging Material</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <form name="form" id="Form" class="form-horizontal" role="form" method="post"
                              ng-submit="search(packagingMaterial,1,pageSize);" novalidate ng-model="packagingMaterial">
                            <div class="col-sm-4" ng-if="loginInfo.roleCode!=='hub_manager'">
                                <div class="form-group row">
                                    <label for="locationId" class="col-sm-12" style="">
                                    Location
                                    </label>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                       <select name="locationId" class="form-control" ng-model="packagingMaterial.locationId">
                                            <option value="">Select Location</option>
                                            <option ng-repeat="location in locations" value="{{location.id}}">{{location.name}}</option>
                                       </select>
                                    </div>
                                    <div class="col-sm-12 errors">
                                        <span ng-bind="errors.locationId"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group row">
                                    <label for="type" class="col-sm-12" style="">
                                        Type
                                    </label>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <select name="type" class="form-control" ng-model="packagingMaterial.packagingType">
                                            <option value="">Select Type</option>
                                            <option value="0">Box</option>
                                            <option value="1">Cover</option>
                                       </select>
                                    </div>
                                    <div class="col-sm-12 errors">
                                        <span ng-bind="errors.type"></span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-4">
                                <div class="form-group row">
                                    <label for="type" class="col-sm-12" style="">
                                        Packaging Material Type
                                    </label>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <select name="packagingTypeCode" class="form-control" ng-model="packagingMaterial.packagingTypeCode">
                                            <option value="">Select Packaging Material Type</option>
                                            <option ng-repeat="packagingMaterialType in packagingMaterialTypes"
                                                    value="{{packagingMaterialType.code}}"
                                                    ng-bind="packagingMaterialType.name + ' (' + packagingMaterialType.code + ') '"></option>
                                       </select>
                                    </div>
                                    <div class="col-sm-12 errors">
                                        <span ng-bind="errors.type"></span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-12">&nbsp;</label>
                                    <div class="col-sm-4">
                                        <button type="submit" class="btn btn-primary" name="next" id="saveBtn">
                                             Search
                                        </button>
										<button type="button" class="btn btn-default" name="next" id="clearBtn"
											ng-click="clearSearchFields();"> Clear
                                        </button>
										
                                    </div>
									<div class="col-sm-8 text-right">
										<button type="button" class="btn btn-primary" check-access-perm="access_perm" url="url_to_check2" ng-click="openReturnItemDialog();">Return Item</button>&nbsp;&nbsp;
										
									</div>
                                </div>
								
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<table class="table row-border table-hover table-striped text-center">
		<thead>
			<th>#</th>
			<th>Location</th>
			<th>Type</th>
            <th>Packaging Material</th>
			<th>Available Qty.</th>
            <th>Max. Qty. Allowed</th>
			<th>ROL</th>
			<th>&nbsp;</th>
		</thead>
		<tbody>

			<tr dir-paginate="packagingMaterial in packagingMaterials|orderBy:'locationName':false|itemsPerPage:pageSize"
				 total-items="total_count" pagination-id="inventorySummaryPagination">
				<td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
				
				<td ng-bind="packagingMaterial.locationName"></td>
				<td>
					<span ng-if="packagingMaterial.packagingType=='0'">Box</span>
					<span ng-if="packagingMaterial.packagingType=='1'">Cover</span>
				</td>
				<td ng-bind="packagingMaterial.packagingTypeName"></td>
                <td ng-bind="packagingMaterial.availableQuantity" class="text-center"></td>				
				<td class="col-sm-2 text-center">
					<span  ng-bind="packagingMaterial.maximumQuantityAllowed"  ng-show="showControl==false"></span>
					<span  ng-show="showControl==true">
						<input type="number" min="0" maxlength="10" minlength="1"  class="form-control" ng-model="packagingMaterial.maximumQuantityAllowed" ng-bind="parseInt(packagingMaterial.maximumQuantityAllowed)" />
					</span>
				</td>
				<td class="col-sm-2 text-center">
					<span  ng-bind="packagingMaterial.reorderLevel" ng-show="showControl==false"></span>
					<span  ng-show="showControl==true">
						<input type="number" class="form-control" maxlength="10" minlength="1"  min="0" ng-bind="parseInt(packagingMaterial.reorderLevel)" ng-model="packagingMaterial.reorderLevel"  />
					</span>
				</td>
				<td >
					<label ng-click="showControl=true" ng-show="showControl==false">
						<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
					</label>
					<label class="col-sm-1" ng-show="showControl==true"
						   ng-click="showControl=false;savePackagingMaterial(packagingMaterial);">
						<i class="fa fa-floppy-o" aria-hidden="true"></i>
					</label>
				</td>
			</tr>
		</tbody>
	</table>
	<dir-pagination-controls
		ng-model="pagination"
		max-size="8"
		direction-links="true"
		boundary-links="true"
		pagination-id="inventorySummaryPagination"
		on-page-change="search(packagingMaterial,newPageNumber,pageSize)" >
	 </dir-pagination-controls>
</div>
