<div ng-controller="PackagingMaterialController" ng-model="packagingMaterial">
	<div class="row">
		<ol class="breadcrumb pagebreadcrumb">
			<li><a href="#/inventory/packaging-material">Packaging Material</a></li>
			<li ng-bind="packagingMaterial.id>0?'Update':'Create'"></li>
		</ol>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title" ng-bind="pageActionHeader"></h3>
		</div>
		<div class="panel-body">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<form name="packagingMaterialForm" id="Form" class="form-horizontal" role="form" method="post"
                      ng-submit="create(packagingMaterial);" novalidate>
					<input type="hidden" name="id" ng-model="packagingMaterial.id" />
					<div class="form-group">
						<label for="locationId" class="col-sm-3 control-label" style="">
                        Location <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<select name="locationId" class="form-control" ng-model="packagingMaterial.locationId" required>
                                <option value="">Select Location</option>
                                <option ng-repeat="location in locations" value="{{location.id}}">{{location.name}}</option>
                           </select>
						</div>
						<div ng-messages="packagingMaterialForm.locationId.$error" role="alert" ng-messages-multiple
							 ng-show="packagingMaterialForm.$submitted || packagingMaterialForm.locationId.$touched"
							 class="col-sm-3 errors" >
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>
					<div class="form-group">
						<label for="packagingTypeCode" class="col-sm-3 control-label" style="">
                        Packaging Type <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
                            <select name="packagingTypeCode" class="form-control" ng-model="packagingMaterial.packagingTypeCode" required>
                                <option value="">Select Packaging Type</option>
                                <option ng-repeat="packagingMaterialType in packagingMaterialTypes"
                                        value="{{packagingMaterialType.code}}"
                                        ng-bind="packagingMaterialType.name + ' (' + packagingMaterialType.code + ') '"></option>
                            </select>
						</div>
						<div ng-messages="packagingMaterialForm.packagingTypeCode.$error" role="alert" ng-messages-multiple
							 ng-show="packagingMaterialForm.$submitted || packagingMaterialForm.packagingTypeCode.$touched"
							 class="col-sm-3 errors" >
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>
					<div class="form-group">
						<label for="barcode" class="col-sm-3 control-label" style="">
                        Barcode <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
                            <input spellcheck="true" type="text" min="1" name="barcode" class="form-control" style="" id="barcode"
                                   placeholder="Enter Barcode"
                                   ng-model="packagingMaterial.barcode" maxlength="250"
                                   required="required" />
							
						</div>
						<div ng-messages="packagingMaterialForm.barcode.$error" role="alert" ng-messages-multiple
							 ng-show="packagingMaterialForm.$submitted || packagingMaterialForm.barcode.$touched"
							 class="col-sm-3 errors" >
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12 text-center">
							<button type="submit" class="btn btn-primary" name="save" id="saveBtn"
                                    ng-disabled="packagingMaterialForm.$invalid" check-access-perm="access_perm">
                            Save
						</button>
							<button type="button" class="btn btn-default" name="list" id="listBtn" ng-click="goToPage('rl.inventory-packaging-material');">
							Go To List Page
                        </button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>