<div>
    <div class="row">
        <ol class="breadcrumb pagebreadcrumb">
            <li>Change Password</li>
        </ol>
    </div>
    <div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Change My Password</h3>
		</div>
		<div class="panel-body">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <form name="form" id="Form" class="form-horizontal" role="form" ng-submit="changePassword(User);">                                                 
                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label" style="">Current Password : <span class="required">*</span></label>
                            
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                <input spellcheck="true" type="password" name="password" validate-password class="form-control password" style="" id="password"
                                       ng-model="User.oldPassword" placeholder="Enter Current Password" value="" required="" autofocus="" maxlength="50" />
                            </div>
                            <div ng-messages="form.password.$error" role="alert" ng-messages-multiple
                                ng-show="form.$submitted || form.password.$touched"
                                class="col-sm-5 errors" >
                               <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
                           </div>
                        </div>
                        <div class="form-group">
                            <label for="newPassword" class="col-sm-2 control-label" style="">New Password : <span class="required">*</span></label>
                            
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                <input spellcheck="true" type="password" name="newPassword"  validate-password required class="form-control newPassword"
                                       style="" id="newPassword" ng-model="User.newPassword" placeholder="Enter New Password" value="" maxlength="50" />
                            </div>
                            <div ng-messages="form.newPassword.$error" role="alert" ng-messages-multiple
                                    ng-show="form.$submitted || form.newPassword.$touched"
                                    class="col-sm-5 errors" >
                                   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
                               </div>
                            
                        </div>                                                                                                
                        <div class="form-group">
                            <label for="reTypePassword" class="col-sm-2 control-label" style="">Re-type Password : <span class="required">*</span></label>
                            
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                <input spellcheck="true" type="password" name="confirmPassword" class="form-control" style=""
                                    id="confirmPassword" placeholder="Re-type Password"
                                    ng-model="user.confirmPassword" maxlength="20" minlength="6"
                                    password-match-check="newPassword" required=""
                                    />
                            </div>
                            <div ng-messages="form.confirmPassword.$error" role="alert" ng-messages-multiple
                                    ng-show="form.$submitted || form.confirmPassword.$touched"
                                    class="col-sm-5 errors" >
                                   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
                               </div>
                            
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid" name="save" id="saveBtn">
                                    <span class="glyphicon glyphicon-floppy-disk"></span> Save
                                </button>
                            </div>
                        </div>
                    </form>                    
                </div>
            </div>
        </div>
    </div>
</div>