<div ng-controller="CityController">
	<load-template url="common/breadcrumb"></load-template>
	
	<table class="row-border hover table table-striped table-hover table-condensed" ng-model="cities">
		<thead>
			<th>#</th>
			<th>Name</th>
		    <th>State</th>
		</thead>
		<tbody>

			<tr dir-paginate="city in cities|itemsPerPage:pageSize"
				total-items="total_count"  ng-if="cities.length > 0 || cities != undefined">
				<td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
				<td>
					<a href="#/masters-city/get/{{city.id}}" ng-bind="city.name"></a>
				</td>
				<td>{{city.state}}</td>
			</tr>
		</tbody>
	</table>
	<dir-pagination-controls
		max-size="8"
		direction-links="true"
		boundary-links="true"
		on-page-change="getCityList(newPageNumber,pageSize)"
		ng-if="cities.length > 0">
	 </dir-pagination-controls>
</div>
