<div class="row" ng-model="searchedTasks" ng-if="searchedTasks.length > 0" ng-model="pagination">
	<!--<div class="col-sm-12 text-right"><a href="{{host_base_url}}/server/attachment/download/search/abc/bca"> Download</a></div>-->
        <div class="col-sm-12 text-right"><span ng-click="checkDown()" style="cursor:pointer;color:blue">download</span></div>
		<div class="col-sm-12">
            <table class="table row-border table-hover table-striped">
                <thead>
                    <!--<th>#</th>-->
                    <th>Ticket No.</th>
					<th ng-if="loginInfo.roleCode!=='retailer'">Task</th>
					<th>Consumer</th>
					<th>Phone</th>
                    <th>Product</th>
					<th ng-if = "loginInfo.roleCode!=='retailer'">Retailer</th>
					<th ng-if = "loginInfo.roleCode!=='retailer'">Nature Of Complaint</th>
					<th ng-if = "loginInfo.roleCode==='retailer'">Service Type</th>
					<th ng-if = "loginInfo.roleCode!=='retailer'">Problem Description</th>
					<th>Current Status</th>
					<th>Created At</th>
					<th ng-if = "loginInfo.roleCode==='retailer'" class="text-nowrap">Consumer Request No</th>
					<!--<th ng-if = "loginInfo.roleCode==='retailer'" class="text-nowrap">Auth Letter?</th>
					<th ng-if = "loginInfo.roleCode==='retailer'" class="text-nowrap">Purchase Invoice?</th>-->
										
                    <th>&nbsp;</th>
                </thead>
                <tbody>
        
                     <tr dir-paginate="ticket in searchedTasks|itemsPerPage:pageSize" total-items="total_count" current-page="currentPage"
                            pagination-id="ticketSearchPagination"
							ng-if="(searchedTasks.length > 0 || searchedTasks != undefined)">
						
                        <!--<td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>-->
                        <td ng-bind="ticket.variables.rlTicketNo"></td>
						<td ng-bind="ticket.task.name" ng-if="loginInfo.roleCode!=='retailer'"></td>
                        <td ng-bind="ticket.variables.consumerName"></td>
						<td ng-bind="ticket.variables.telephoneNumber"></td>
						<td ng-bind="ticket.variables.product + ' (' + ticket.variables.productCategory + ')'"></td>
						<td ng-bind="ticket.variables.retailer" ng-if = "loginInfo.roleCode!=='retailer'"></td>
						<td ng-bind="ticket.variables.natureOfComplaint"></td>
						<td ng-bind="ticket.variables.problemDescription" ng-if = "loginInfo.roleCode!=='retailer'"></td>
						<td ng-bind="ticket.variables.rlTicketStatus" ng-if = "loginInfo.roleCode!=='retailer'"></td>
						<td ng-bind="ticket.variables.rlProcessStatus" ng-if = "loginInfo.roleCode==='retailer'"></td>
						<td ng-bind="ticket.task.createTime|date:'medium'" ng-if = "loginInfo.roleCode==='retailer'"></td>
						<td ng-bind="ticket.variables.consumerComplaintNumber" ng-if = "loginInfo.roleCode==='retailer'"></td>
						<!--<td ng-bind="ticket.variables.rlAuthorizationLetterFileName!==undefined && ticket.variables.rlAuthorizationLetterFileName!=='' ?'Yes':'No'" ng-if = "loginInfo.roleCode==='retailer'"></td>
						<td ng-bind="ticket.variables.rlPurchaseInvoiceFileName!==undefined && ticket.variables.rlPurchaseInvoiceFileName!=='' ?'Yes':'No'" ng-if = "loginInfo.roleCode==='retailer'"></td>-->
						
                        <td>
							<a href="#/task/{{ticket.process.processId}}/view">View</a>&nbsp;&nbsp;
							<a class="hand" ng-click="deleteTaskConfirm(ticket);" ng-if="loginInfo.roleCode==='superadmin'"><span class="fa fa-trash"></span></a>
                        </td>
						
                    </tr>
                </tbody>
            </table>
			<dir-pagination-controls
				pagination-id="ticketSearchPagination"
				ng-model="pagination"
				max-size="8"
				direction-links="true"
				boundary-links="true" 
				on-page-change="search(task, newPageNumber,pageSize,2)" >
			 </dir-pagination-controls>
        </div>
    </div>