<div ng-controller="TasksController" ng-model="task">
	<load-template url="common/breadcrumb"></load-template>
	<div class="row">
		<div class="col-xs-12 col-lg-12 col-md-12">
			
		</div>
	</div>
    <load-template url="pages/tasks/accountPayableSearch/search_ticket_form"></load-template>
    <load-template url="pages/tasks/accountPayableSearch/search_ticket_results"></load-template>
</div>
