<div ng-controller="ServiceProviderController">
	<load-template url="common/breadcrumb"></load-template>
	<table class="row-border hover table table-striped table-hover table-condensed"  ng-model="service_provider_locations">
		<thead>
			<th>#</th>
			<th>Service Provider</th>
			<th>Area</th>
            <th>City</th>
            <th>Pincode</th>
            <th>Email</th>
            <th>Contact Person</th>
			<th>Category</th>
			<th>Phone</th>
		</thead>
		<tbody>

			<tr dir-paginate="serviceProvider in service_provider_locations|itemsPerPage:pageSize"
				total-items="total_count"  ng-if="service_provider_locations.length > 0 || service_provider_locations != undefined">
				<td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
				<td>
                    <a href="#/service-provider/get/{{serviceProvider.serviceProviderId}}" ng-bind="serviceProvider.serviceProviderName + ' (' + serviceProvider.serviceProviderCode + ')'">
                </td>
				<td ng-bind="serviceProvider.area"></td>
				<td ng-bind="serviceProvider.city"></td>
				<td ng-bind="serviceProvider.pincode"></td>
                <td ng-bind="serviceProvider.email"></td>
                <td ng-bind="serviceProvider.contactPerson"></td>
				<td ng-bind="serviceProvider.categoryName"></td>
				<td ng-bind="serviceProvider.phone1"  ng-if="serviceProvider.phone1!=null"></td>
                <td ng-bind="serviceProvider.phone2" ng-if="serviceProvider.phone1==null"></td>
			</tr>
		</tbody>
	</table>
	<dir-pagination-controls
		max-size="8"
		direction-links="true"
		boundary-links="true"
		on-page-change="getServiceProviderLocationsList(newPageNumber,pageSize)"
		ng-if="service_provider_locations.length > 0">
	 </dir-pagination-controls>
</div>
