<div ng-controller="ServiceProviderController" ng-model="serviceProvider">
	<load-template url="common/breadcrumb"></load-template>
	
	<div class="page-header" ng-if="serviceProvider.basicInfo.code!=undefined">
		<h2><span ng-bind="serviceProvider.basicInfo.name + ' (' + serviceProvider.basicInfo.code + ') '"></span></h2>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
		<div class="list-group">
			<button type="button" class="list-group-item active" ng-if="$index==0" ng-repeat="step in steps"
					ng-click="showPage($index+1);">{{step}}</button>
			<button type="button" class="list-group-item" ng-if="$index!=0 && serviceProvider.basicInfo.id!=undefined"
					ng-repeat="step in steps" ng-click="showPage($index+1);">{{step}}</button>
			<button type="button" class="list-group-item disabled" ng-if="$index!=0 && serviceProvider.basicInfo.id==undefined"
					ng-repeat="step in steps">{{step}}</button>
		</div>
	</div>
	<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">Service Provide Onboarding : <span ng-bind="currentStepName"></span>
					<span ng-bind="actionName"></span>
					<span class="pull-right">
						<a ng-click="showList()" ng-if="showAddNewbtn==true" class="hand">Add New</a>
						<a ng-click="showServicesList()" ng-if="showAddNewServicebtn==true" class="hand">Add New</a>
					</span>
				</div>
			</div>
			<div class="panel-body">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 onboarding-steps" id="divRegistration">	
					<load-template url="pages/service_provider/pages/save"></load-template>
				</div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 onboarding-steps" id="divLocation">	
					<load-template url="pages/service_provider/pages/location/location"></load-template>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 onboarding-steps" id="divServices">	
					<load-template url="pages/service_provider/pages/services/services"></load-template>
				</div>
            </div>
		</div>
	
	</div>
</div>