<div ng-controller="ProductCategoryController">
	<load-template url="common/breadcrumb"></load-template>
	<table class="row-border hover table table-striped table-hover table-condensed" ng-model="productCategories">
		<thead>
			<th>#</th>
			<th>Name</th>
			<th>Code</th>
			<th>Master Category</th>
		</thead>
		<tbody>

			<tr dir-paginate="category in productCategories|itemsPerPage:pageSize"
				total-items="total_count" ng-if="productCategories.length > 0 || productCategories != undefined">
				<td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
				<td>
					<a href="#/masters/product-category/get/{{category.id}}" ng-bind="category.name"></a></td>
				<td ng-if="category.code!=''" ng-bind="category.code"></td>
				<td ng-if="category.code==''">N/A</td>
				
				<td ng-bind="category.masterCategoryName"></td>
			</tr>
		</tbody>
	</table>
	<dir-pagination-controls
		max-size="8"
		direction-links="true"
		boundary-links="true"
		on-page-change="getProductCategoryList(newPageNumber,pageSize)"
		ng-if="productCategories.length > 0">
	 </dir-pagination-controls>
</div>
