<div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Search Tickets</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <form name="form" id="Form" class="form-horizontal" role="form" method="post"
                              ng-submit="searchBulkPickup(task);" novalidate>
                            
							<div class="col-sm-4">
                                <div class="form-group row">
                                    <label for="retailer" class="col-sm-12" style="">
                                        Retailer<span class="required">*</span>
                                    </label>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <select name="retailer" id="retailer" class="form-control"
											placeholder="Select Retailer" 
											ng-change="populateRetailerReturnOrPickupLocations(task.retailer);"
											ng-model="task.retailer">
											<option value="">Choose</option>
											<option ng-repeat="r in retailers|orderBy:'name':false" value="{{r.id}}" 
													>{{r.name}}</option>
										</select>
                                    </div>
                                    <div class="col-sm-12 errors">
                                        <span ng-bind="errors.retailer"></span>
                                    </div>
                                </div>
								
								<div class="form-group row">
                                    <label for="pickup location" class="col-sm-12" style="">
                                        Branch Location<span class="required">*</span>
                                    </label>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <select name="pickupLocation" id="pickupLocation" class="form-control"
											placeholder="Select Branch Location" 
											ng-model="task.pickupLocationId">
											<option value="">Choose</option>
											<option ng-repeat="p in retailerReturnOrPickupLocations|orderBy:'sellerName':false" value="{{p.id}}" 
													>{{p.sellerName}}</option>
										</select>
                                    </div>
                                   
                                </div>
								
								<div class="form-group row">
                                    <label for="deliver boy" class="col-sm-12" style="">
                                        Delivery Boy<span class="required">*</span>
                                    </label>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <select name="user" id="user" class="form-control"
											placeholder="Select delivery Boy" 
											ng-model="task.deliveryBoyEmail">
											<option value="">Choose</option>
											<option ng-repeat="u in users|orderBy:'firstName':false" value="{{u.email}}" 
													>{{u.firstName}}</option>
										</select>
                                    </div>
                                    
                                </div>
								
                            </div>
							
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-12">&nbsp;</label>
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-primary" name="next" id="saveBtn">
                                            Search
                                        </button>
										<button type="button" class="btn btn-default" name="next" id="clearBtn"
											ng-click="clearSearchFields();"> Clear
                                        </button>
										
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>