<div class="row" ng-model="bulkPickupTasks" ng-if="bulkPickupTasks.length > 0">
        <div class="col-sm-12">
            <table class="table row-border table-hover table-striped">
                <thead>
                    <!--<th>#</th>-->
					<th>Mark/Unmark All <input type="checkbox" value=""
						ng-checked="isMarked === 1"
						ng-click="markUnmarkAll(bulkPickupTasks)"
						name="markCheck"></th>
                    <th>Ticket No.</th>
					<th>Task</th>
					<th>Consumer</th>
					<th>Complaint Number</th>
					<th>Phone</th>
                    <th>Product</th>
					<th>Nature Of Complaint</th>
					<th>Created Date</th>
					<th>Current Status</th>
										
                    <th>&nbsp;</th>
                </thead>
                <tbody>
        
                    <tr ng-repeat="ticket in bulkPickupTasks" 
							ng-if="(bulkPickupTasks.length > 0 || bulkPickupTasks != undefined)">
						
                        <!--<td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>-->
						<td><input type="checkbox" value="{{ticket.processId}}"
						ng-checked="processIds.indexOf(ticket.processId) !== -1"
						ng-click="toggleBulkPickupTicket(ticket.processId)"
						name="processIds[]"></td>
                        <td ng-bind="ticket.rlTicketNo"></td>
						<td ng-bind="ticket.taskName"></td>
                        <td ng-bind="ticket.consumerName"></td>
						<td ng-bind="ticket.consumerComplaintNumber"></td>
						<td ng-bind="ticket.telephoneNumber"></td>
						<td ng-bind="ticket.productName + ' (' + ticket.productCategory + ')'"></td>
						<td ng-bind="ticket.natureOfComplaint"></td>
						<td ng-bind="ticket.taskCreatedDate"></td>
						<td ng-bind="ticket.rlTicketStatus"></td>
						
						<td>
							<a href="#/task/{{ticket.processId}}/view">View</a>&nbsp;&nbsp;
							
                        </td>
						
                    </tr>
                </tbody>
            </table>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="form-group text-center">
			<button type="button" class="btn btn-primary" name="BulkPickup" id="bulkPickupBtn" ng-click="startBulkPickup(processIds)">
				Start Pickup
			</button>
		</div>
		</div>
		<div >
    </div>