<div ng-controller="RoleAccessController" ng-model="roleAccess">
	<load-template url="common/breadcrumb"></load-template>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Role Access Settings</h3>
		</div>
		<div class="panel-body">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<form name="form" id="Form" class="form-horizontal" role="form" method="post" ng-submit="save(saveRoleAccessList);" novalidate>
					<input type="hidden" name="id" ng-model="roleAccess.id" />
					<div class="form-group">
						<label for="roleCode" class="col-sm-3 control-label" style="">
                        Role <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
								<select name="roleCode" id="roleCode" class="form-control"
									placeholder="Select Role" 
									ng-model="roleAccess.roleCode"
                                    ng-change="populateAccess(roleAccess)"
                                    >
									<option value="">Choose</option>
									<option ng-repeat="r in roles" value="{{r.code}}" 
											>{{r.name}}</option>
								</select>
							</div>
						</div>
						<div class="col-sm-3 errors">
							<span ng-bind="errors.roldeCode"></span>
						</div>
					</div>
                    
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered" table="ng">
                                    <tr class="text-center">
                                        <th class="text-center vcenter" rowspan="2">Menu</th>
                                        <th class="text-center vcenter" rowspan="2">Feature</th>
										<th class="text-center vcenter" rowspan="2">Link</th>
                                        <th colspan="3" class="text-center">Access</th>
                                    </tr>
                                    <tr class="text-center">
                                        <th class="text-center">
                                            <label>
                                                <input type="radio" name="selectAll" ng-model="selectAllRead" value="r"
                                                   ng-checked="selectAll=='r'" /> Read
                                            </label>
                                        </th>
                                        <th class="text-center">
                                            <label>
                                                <input type="radio" name="selectAll" ng-model="selectAllWrite" value="rw"
                                                   ng-checked="selectAll=='rw'" /> Read & Write
                                            </label>
                                        </th>
                                        <th class="text-center">
                                            <label>
                                                <input type="radio" name="selectAll" ng-model="selectAllNone" value="n"
                                                   ng-checked="selectAll=='n'" /> None
                                            </label>
                                        </th>
                                    </tr>
                                    <tr ng-repeat="access in roleAccessList">
                                        
                                        <td ng-bind="access.menuName"></td>
                                        <td ng-bind="access.featureName"></td>
										<td ng-bind="access.featureLink"></td>
                                        <td class="text-center">
                                            {{saveRoleAccessList[$index].roleCode=roleAccess.roleCode;""}}
                                            {{saveRoleAccessList[$index].featureId=access.featureId;""}}
                                            <input type="radio" ng-model="saveRoleAccessList[$index].access" value="r"
                                                   ng-checked="saveRoleAccessList[$index].access=='r'"  />
                                        </td>
                                        <td class="text-center">
                                            <input type="radio" ng-model="saveRoleAccessList[$index].access" value="rw"
                                                   ng-checked="saveRoleAccessList[$index].access=='rw'" />
                                        </td>
                                        <td class="text-center">
                                            <input type="radio" ng-model="saveRoleAccessList[$index].access" value="n"
                                                   ng-checked="saveRoleAccessList[$index].access=='n' || saveRoleAccessList[$index].access==null"  />
                                        </td>
                                    </tr>
                            </table>
                        </div>
                    </div>
                    
                    <div class="form-group" ng-if="roleAccessList.length > 0">
						<div class="col-sm-12 col-sm-offset-5">
							<button type="submit" class="btn btn-primary" name="save" id="saveBtn" check-access-perm="access_perm">
                                Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>