<div ng-controller="UserController">
    <load-template url="common/breadcrumb"></load-template>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span ng-bind="user.firstName"></span> Servicable Pincodes </h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <form name="form" id="Form" class="form-horizontal" role="form" method="post" ng-submit="savePincodes(pincode);" novalidate>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                <textarea class="form-control col-sm-12" placeholder="Enter comma separated pincodes of the areas" ng-model="pincode.list"
                                                    rows="4" cols="80" ng-required="required" required="required"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 errors">
                                        <span ng-bind="errors.pincode"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group row">
                                    <label class="col-sm-12">&nbsp;</label>
                                    <div class="col-sm-4">
                                        <button type="submit" class="btn btn-primary" name="next" id="saveBtn">
                                            Save
                                        </button>
                                        <button type="button" class="btn btn-default" name="next" id="clearBtn" ng-click="clearPincodeFields();"> Clear
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="row-border hover table table-striped table-hover table-condensed" ng-model="pincodes" ng-model="pagination">
        <thead>
            <th>#</th>
            <th>Pincode</th>
            <th>&nbsp;</th>
        </thead>
        <tbody>
            <tr dir-paginate="pincode in pincodes|orderBy:'pincode':false|itemsPerPage:pageSize" total-items="total_count">
                <td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
                <td ng-bind="pincode.pincode"></td>
                <td>
                    <a class="hand" ng-click="deletecoordinatorPincode($index,pincode.id);" check-access-perm="access_perm"><span class="fa fa-trash"></span></a>
                </td>
            </tr>
            <tr ng-if="pincodes.length <= 0">
                <td colspan="8" class="text-center"> No records found!</td>
            </tr>
        </tbody>
    </table>
    <dir-pagination-controls max-size="8" direction-links="true" boundary-links="true" on-page-change="getAllPincodes(pincodes[0].coordinatorEmailId,newPageNumber,pageSize)"
        ng-if="pincodes.length > 0">
    </dir-pagination-controls>
</div>