<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Search Coordinator Pincodes</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-12">
                    <form name="form" id="Form" class="form-horizontal" role="form" method="post" ng-submit="searchCOPincode(coordinator, 1, pageSize);"
                        novalidate>

                        <div class="col-sm-3">
                            <div class="form-group row">
                                <label for="pincode" class="col-sm-12" style="">
                                    Pincode
                                    </label>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <input type="text" name="name" ng-model="coordinator.pincode" class="form-control" placeholder="Enter Pincode" />
                                </div>
                                <div class="col-sm-12 errors">
                                    <span ng-bind="errors.pincode"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group row">
                                <label for="location" class="col-sm-12" style="">
                                    Location
                                    </label>
                                <div>
                                    <select name="locationId" id="locationId" ng-model="coordinator.locationId" class="form-control" required>
								<option value="">Choose</option>
								<option ng-repeat="location in locations|orderBy:'name':false" value="{{location.id}}">{{location.name}}</option>
							</select>
                                </div>
                                <div class="col-sm-12 errors">
                                    <span ng-bind="errors.location"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group row">
                                <label for="barcode" class="col-sm-12" style="">
                                    Coordinator Email
                                    </label>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <input type="text" name="coordinatorEmailId" ng-model="coordinator.coordinatorEmailId" class="form-control" placeholder="Enter Coordinator Email" />
                                </div>
                                <div class="col-sm-12 errors">
                                    <span ng-bind="errors.coordinatorEmailId"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group row">
                                <label class="col-sm-12">&nbsp;</label>
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-primary" name="next" id="saveBtn" check-access-perm="access_perm">
                                            Search
                                        </button>
                                    <button type="button" class="btn btn-default" name="next" id="clearBtn" ng-click="clearCoordinatorFields();"> Clear
                                        </button>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>