<div>
	
	<table class="row-border hover table table-striped table-hover table-condensed" ng-model="users" ng-model="pagination">
		<thead>
			<th>#</th>
			<th>Name</th>
			<th>Role</th>
			<th>Email</th>
			<th>Status</th>
		</thead>
		<tbody>

			<tr dir-paginate="user in users|orderBy:'firstName':false:'lastName':false|itemsPerPage:pageSize"
				total-items="total_count"  ng-if="users.length > 0 || users != undefined">
				<td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
				<td>
					<a href="#/user/get/{{user.id}}" ng-bind="user.firstName + ' ' + ((user.lastName===null) ? '' : user.lastName)"></a></td>
				<td ng-bind="user.roleCode"></td>
				<td ng-bind="user.email"></td>
				<td>
					<span ng-if="user.status==1">Active</span>
					<span ng-if="user.status!=1">Inactive</span>
				</td>
			</tr>
		</tbody>
	</table>
	<dir-pagination-controls
		max-size="8"
		direction-links="true"
		boundary-links="true"
		on-page-change="searchUsers(user,newPageNumber,pageSize)"
		ng-if="users.length > 0">
	 </dir-pagination-controls>
</div>
