<div ng-controller="SMSEmialTemplateController" ng-model="smsEmailTemplate">
	<load-template url="common/breadcrumb"></load-template>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title" ng-bind="pageActionHeader"></h3>
		</div>
		<div class="panel-body">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<form name="SmsEmailTemplateForm" id="Form" class="form-horizontal" role="form" method="post"
					  ng-submit="save(smsEmailTemplate);" novalidate>
					<div class="form-group">
						<label for="servicesAvailed" class="col-sm-3 control-label" style="">
						SMS/Email Trigger Code<span class="required">*</span>
						</label>
						<div class="col-sm-6">
							<select ng-model="smsEmailTemplate.smsEmailTriggerCode" name="smsEmailTriggerCode"
									class="form-control" required ng-change="populateSMSEmailTemplate(smsEmailTemplate.smsEmailTriggerCode);">
								<option value="">Select SMS/Email Trigger Code</option>
								<option ng-repeat="Triggercode in smsEmailTriggerCodeList" value="{{Triggercode.code}}" ng-bind="Triggercode.code"></option>
							</select>
						</div>
						<div ng-messages="SmsEmailTemplateForm.smsEmailTriggerCode.$error" role="alert" ng-messages-multiple
							ng-show="SmsEmailTemplateForm.$submitted || SmsEmailTemplateForm.smsEmailTriggerCode.$touched"
							class="col-sm-3 errors" >
						   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
					   </div>
					</div>
					<div class="form-group">
						<label for="params" class="col-sm-3 control-label" style="">
						Parameters
						</label>
						<div class="col-sm-9">
							<textarea ng-model="smsEmailTemplate.params" name="smsTemplate"
									  placeholder="Enter Template Parameters"
								class="form-control" maxlength="1024" rows="3" cols="80"></textarea>
						</div>
						<div ng-messages="SmsEmailTemplateForm.params.$error" role="alert" ng-messages-multiple
							ng-show="SmsEmailTemplateForm.$submitted || SmsEmailTemplateForm.params.$touched"
							class="col-sm-12 errors col-sm-offset-3" >
						   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
					   </div>
					</div>
					<div class="form-group">
						<label for="subject" class="col-sm-3 control-label" style="">
						Subject
						</label>
						<div class="col-sm-9">
							<input spellcheck="true" type="text" name="subject" class="form-control" style=""
								   id="name" placeholder="Enter Subject" ng-model="smsEmailTemplate.subject"
								   maxlength="250"  required="required" />
						</div>
						<div ng-messages="SmsEmailTemplateForm.subject.$error" role="alert" ng-messages-multiple
							ng-show="SmsEmailTemplateForm.$submitted || SmsEmailTemplateForm.subject.$touched"
							class="col-sm-12 errors col-sm-offset-3" >
						   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
					   </div>
					</div>
					<div class="form-group">
						<label for="emailTemplate" class="col-sm-3 control-label" style="">
						Email Template
						</label>
						<div class="col-sm-9">
							<div ckeditor="smsCKEditorOptions" ng-model="smsEmailTemplate.emailTemplate" name="emailTemplate"
								 id="emailTemplate"
								 placeholder="Enter Email Template" class="form-control"
									 ready="onReady()"  maxlength="1024"></div>
						</div>
						<div ng-messages="SmsEmailTemplateForm.emailTemplate.$error" role="alert" ng-messages-multiple
							ng-show="SmsEmailTemplateForm.$submitted || SmsEmailTemplateForm.emailTemplate.$touched"
							class="col-sm-12 errors col-sm-offset-3" >
						   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						   <div ng-message="requiredSMSEmail">Either email or sms template is required!</div>
					   </div>
					</div>
					<div class="form-group">
						<label for="smsTemplate" class="col-sm-3 control-label" style="">
						SMS Template
						</label>
						<div class="col-sm-9">
							<textarea ng-model="smsEmailTemplate.smsTemplate" name="smsTemplate" placeholder="Enter SMS Template"
								class="form-control" maxlength="1024" rows="2" cols="80"></textarea>
						</div>
						<div ng-messages="SmsEmailTemplateForm.smsTemplate.$error" role="alert" ng-messages-multiple
							ng-show="SmsEmailTemplateForm.$submitted || SmsEmailTemplateForm.smsTemplate.$touched"
							class="col-sm-12 errors col-sm-offset-3" >
						   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
					   </div>
					</div>
					<div class="form-group">
						<div class="col-sm-12 text-center">
							<button type="submit" class="btn btn-primary" name="save" id="saveBtn"
									ng-disabled="SmsEmailTemplateForm.$invalid"
									check-access-perm="access_perm">
								Save
							</button>
							<button type="button" class="btn btn-default" name="list" id="listBtn" ng-click="goToPage('rl.masters-sms-email-template');">
								 Go To List Page
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>