<div ng-message="number">Invalid number.</div>
<div ng-message="required">This field is required</div>
<div ng-message="minlength">This field is too short</div>
<div ng-message="maxlength">This field exceeds maximum character limit!</div>
<div ng-message="email">This field must be a valid email address!</div>
<div ng-message="passwordmatch">Passwords don't match.</div>
<div ng-message="password-strength">Password should be between 6-20 characters long and should contain at-least one numeric digit, one uppercase and one lowercase letter!</div>
<div ng-message="min">This field is lesser than minimum acceptable value!</div>
<div ng-message="max">This field is greater than maximum acceptable value!</div>
<div ng-message="url">Invalid url.</div>

<div ng-if="1==2"
    role="alert"
    class="col-sm-offset-2 errors col-sm-10" >
   <ul>
       <li ng-repeat="(key, errors) in additionalCostingForm.$error track by $index"> <strong>{{ key }}</strong> errors
         <ul>
           <li ng-repeat="e in errors">{{ e.$name }} has an error: <strong>{{ key }}</strong>.</li>
         </ul>
       </li>
     </ul>
   --------------------------
   {{packingMaterialForm.$invalid}}
</div>