
<div class="panel panel-warning" ng-model="excelUploadErrors" ng-if="excelUploadErrors !== undefined && excelUploadErrors !== null && excelUploadErrors.errorMessages.length > 0">
    <!-- Default panel contents -->
    <div class="panel-heading" ng-bind="excelUploadErrors.heading"></div>
    <div class="panel-body">
      <p>Following data are not uploaded to the server. Please correct those and try to upload again!</p>
    </div>
  
    <!-- Table -->
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Row No.</th>
                <th>Issue</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="error in excelUploadErrors.errorMessages">
                <td  ng-bind="($index+1)"></td>
                <td ng-bind="error.rowNo"></td>
                <td ng-bind="error.reason"></td>
                <td ng-bind="error.message"></td>
            </tr>
        </tbody>
    </table>
</div>