

<load-template url="common/delete.dialog"></load-template>
<div id="mydiv">
        <div  class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
                <div>blah , blah</div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
        </div>
</div>