<div id="pwdModal" class="" tabindex="-1" role="dialog" aria-hidden="true" ng-controller="ForgotPasswordController">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <h1 class="text-center">What's My Password?</h1>
      </div>
      <div class="modal-body">
          <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                          
                          <p>If you have forgotten your password you can reset it here.</p>
                            <div class="panel-body">
                                <form name="forgotPasswordForm" ng-submit="forgotPassword(email);">
                                    <fieldset>
                                        <div class="form-group">
                                            <input class="form-control input-lg" placeholder="E-mail Address" name="email"
                                                   type="email" ng-model="email" required/>
                                            <div ng-messages="forgotPasswordForm.email.$error" role="alert" ng-messages-multiple
                                                ng-show="forgotPasswordForm.$submitted || forgotPasswordForm.email.$touched"
                                                class="col-sm-12 errors" >
                                               <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
                                           </div>
                                        </div>
                                        <input class="btn btn-lg btn-primary btn-block"  ng-disabled="forgotPasswordForm.$invalid" value="Send My Password" type="submit">
                                    </fieldset>
                                </form>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
      </div>
      <div class="modal-footer">
          <div class="col-md-12">
          <button class="btn" data-dismiss="modal" aria-hidden="true" ng-click="goToPage('login');">Cancel</button>
		  </div>	
      </div>
  </div>
  </div>
</div>