<table class="table row-border table-hover table-striped" ng-model="dataList">
    <thead>
        <th ng-repeat="header in dataList.headers" ng-bind="header.title"></th>
    </thead>
    <tbody>

        <tr  dir-paginate="row in dataList.rows|orderBy:dataList.orderBy:dataList.sortOrder|itemsPerPage:dataList.pageSize"
             total-items="total_count" ng-if="dataList.rows.length > 0 || dataList.rows != undefined">
            <td>{{($index+1)+(pageSize)*(currentPage-1)}}</td>
            <td>{{task.taskId}}</td>
            <td>{{task.name}}</td>
            <td ng-bind="task.createTime|date:'medium'"></td>
            <td>
                <a ng-click="viewTask(task);" style="cursor: pointer;">View</a>
            </td>
        </tr>
    </tbody>
</table>
<dir-pagination-controls
    ng-model="pagination"
    max-size="8"
    direction-links="true"
    boundary-links="true" 
    on-page-change="assigned(newPageNumber,pageSize)" >
 </dir-pagination-controls>