<div class="login-container" ng-controller="loginCntrl" ng-model="Login">

	<div id="login-form">

		<h3>Login</h3>

		<fieldset>

			<form name="loginForm" ng-submit="login(Login);">

				<input type="email" placeholder="Email" id="inputUsername" required="Please enter email" autofocus="" ng-model="Login.id" maxlength="50" />

				<input type="password" placeholder="Password" id="inputPassword" placeholder="Password" required="" ng-model="Login.password" maxlength="50" />

				<input value="Login" class="login-button" id="login" name="login" value="login" type="submit" />

				<footer class="clearfix">

					<p><span class="info">?</span><a href="#/forgot-password">Forgot Password</a></p>

				</footer>

			</form>

		</fieldset>

	</div>
	<!-- end login-form -->

</div>