<div class="form-group">
    <div class="col-sm-12 text-center">
        <button type="submit" class="btn btn-primary" name="save" id="saveBtn" check-access-perm="access_perm">
        Save
    </button>
        <button type="button" class="btn btn-default" name="list" id="listBtn" ng-click="goToPage('rl.masters-brand');">
        Go To List Page
    </button>
        <button type="button"  class="btn btn-danger" ng-click="deleteBrand(brand, $index);" check-access-perm="access_perm">
         Delete</button>
    </div>
</div>