<div class="login-container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <img src="img/page_not_found.jpg" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-12 col-md-12 text-center">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-12 col-md-12 text-center">
            <button type="button" class="btn btn-primary" ng-click="goBack();">Back</button>
        </div>
    </div>
</div>