<div id="pwdModal" class="" tabindex="-1" role="dialog" aria-hidden="true" ng-controller="ResetPasswordController" ng-model="user">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <h1 class="text-center">Reset Account Password</h1>
      </div>
      <div class="modal-body">
          <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                          
                          <p>Please enter a new password for <span ng-bind="user.email"></span></p>
                            <div class="panel-body">
                                <form name="resetPasswordForm" ng-submit="resetPassword(user);">
                                    <fieldset>
                                        <div class="form-group">
										  <input spellcheck="true" type="password" name="newPassword" class="form-control newPassword input-lg"
												 style="" id="newPassword" ng-model="user.password" placeholder="Enter New Password"
												 value="" maxlength="20" minlength="6" required validate-password />
										  <div ng-messages="resetPasswordForm.newPassword.$error" role="alert"
                                                ng-show="resetPasswordForm.$submitted || resetPasswordForm.newPassword.$touched"
                                                class="col-sm-12 errors text-left" >
                                               <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
                                           </div>
										</div>                                                                                                
										<div class="form-group">
										  <input spellcheck="true" type="password" name="reTypePassword" class="form-control reTypePassword input-lg"
												 style="" id="reTypePassword" ng-model="user.confirm_password" 
												 placeholder="Re-type New Password" value="" maxlength="20" minlength="6" required password-match-check="newPassword">
										  <div ng-messages="resetPasswordForm.reTypePassword.$error" role="alert"
                                                ng-show="resetPasswordForm.$submitted || resetPasswordForm.reTypePassword.$touched"
                                                class="col-sm-12 errors text-left" >
                                               <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
                                           </div>	
										</div>
                                        <input class="btn btn-lg btn-primary btn-block"  ng-disabled="resetPasswordForm.$invalid" value="Reset My Password" type="submit">
                                    </fieldset>
                                </form>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
      </div>
      <div class="modal-footer">
          <div class="col-md-12">
          <button class="btn" data-dismiss="modal" aria-hidden="true" ng-click="goToPage('login');">Cancel</button>
		  </div>	
      </div>
  </div>
  </div>
</div>