<div class="pull-right search-template">
    <div id="DataTables_Table_1_filter" class="dataTables_filter">
        <label>Search:<input type="search" class="" placeholder="" aria-controls="DataTables_Table_1" ng-model="searchTable"></label>
    </div>
</div>