<!-- Sidebar -->
{{url_to_check="/tasks/assigned";""}}
{{url_to_check2="/tasks/assigned";""}}
{{url_to_check3="/tasks/my-completed/:first/:limit";""}}
{{url_to_check4="/tasks/manager/unclaimed/:first/:limit";""}}
{{url_to_check5="/tasks/manager/assigned/:first/:limit";""}}
{{url_to_check6="/tasks/manager/completed/:first/:limit";""}}
{{url_to_check14="/tickets";""}}
{{url_to_check15="/tasks/search";""}}

{{url_to_check7="/masters";""}}
{{url_to_check8="/service-providers";""}}
{{url_to_check9="/role-management";""}}
{{url_to_check10="/users";""}}
{{url_to_check11="/doa-forms";""}}

{{url_to_check13="/retailers";""}}

{{url_to_check12="/inventory/packaging-material";""}}
{{url_to_check14="/inventory/packaging-material/create";""}}
{{url_to_check15="/inventory/packaging-material/list";""}}
{{url_to_check16="/inventory/barcode/bulk-print";""}}

<div id="sidebar-wrapper" ng-model="menubar">
    <ul class="sidebar-nav nav-pills nav-stacked" id="menu" ng-model="activeMenu">
        <li class="parent-menu">
            <a><span class="fa-stack pull-left"><i class="fa fa-tasks fa-stack-1x "></i></span> Tickets</a>
               <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                
                <li class="side-menu "  check-access-perm="access_perm" url="url_to_check">
                    <a href="#/tasks/assigned/1/10">
                        My Tickets
                    </a>
                </li>
                
                <li class="side-menu" check-access-perm="access_perm" url="url_to_check2">
                    <a href="#/tasks/involved/1/10">                        
                        Unclaimed Tickets
                    </a>
                </li>
                
                <li class="side-menu"  check-access-perm="access_perm" url="url_to_check3">
                    <a href="#/tasks/my-completed/1/10">                       
                        Completed Tickets
                    </a>
                </li>
                
                <li class="side-menu" check-access-perm="access_perm" url="url_to_check4">
                    <a href="#/tasks/manager/unclaimed/1/10" >                        
                        All Unclaimed Tickets
                    </a>
                </li>
               
                <li class="side-menu" check-access-perm="access_perm" url="url_to_check5">
                    <a href="#/tasks/manager/assigned/1/10">
                        All Assigned Tickets
                    </a>
                </li>
                
                <li class="side-menu"  check-access-perm="access_perm" url="url_to_check6">
                    <a href="#/tasks/manager/completed/1/10">
                         All Completed Tickets
                    </a>
                </li>
                
                <li class="side-menu"  check-access-perm="access_perm" url="url_to_check14">
                    <a href="#/tickets">
                        Create Ticket
                    </a>
                </li>
                
                <li class="side-menu"  check-access-perm="access_perm" url="url_to_check15">
                    <a href="#/tasks/search">
                         Search Tickets
                    </a>
                </li>
            </ul>
        </li>
        
         <li ng-if="loginInfo.admin === true" class="parent-menu">
            <a><span class="fa-stack pull-left"><i class="fa fa-shopping-bag fa-stack-1x "></i></span> Retailer</a>
            <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                
                <li class="side-menu" check-access-perm="access_perm" url="url_to_check13">
                    <a href="#/retailers" >
                        Retailer Info
                    </a>
                </li>
            </ul>
        </li>
         
        <li ng-if="loginInfo.admin === true" class="parent-menu">
            <a><span class="fa-stack pull-left"><i class="fa fa-shopping-cart fa-stack-1x "></i></span> Inventory</a>
            <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                
                <li class="side-menu" check-access-perm="access_perm" url="url_to_check12">
                    <a href="#/inventory/packaging-material" >
                        Inventory Summary
                    </a>
                </li>
                <li class="side-menu" check-access-perm="access_perm" url="url_to_check15">
                    <a href="#/inventory/packaging-material/list" >
                        View Inventory Items
                    </a>
                </li>
                <li class="side-menu" check-access-perm="access_perm" url="url_to_check16">
                    <a href="#/inventory/barcode/bulk-print" >
                        Bulk Print
                    </a>
                </li>
            </ul>
        </li>
         
        
        <li ng-if="loginInfo.admin === true" class="parent-menu">
            <a><span class="fa-stack pull-left"><i class="fa fa-wrench fa-fw fa-stack-1x "></i></span> Admin</a>
               <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                
                <li class="side-menu" check-access-perm="access_perm" url="url_to_check7">
                    <a href="#/masters">
                        Masters
                    </a>
                </li>
                
                <li class="side-menu" check-access-perm="access_perm" url="url_to_check8">
                    <a href="#/service-providers">
                        Service Providers
                    </a>
                </li>
               
                <li class="side-menu"  check-access-perm="access_perm" url="url_to_check9">
                    <a href="#/role-management">
                        Settings
                    </a>
                </li>
                <li class="side-menu" check-access-perm="access_perm" url="url_to_check10">
                    <a href="#/users" >
                        User Management
                    </a>
                </li>
                
                <li class="side-menu" check-access-perm="access_perm" url="url_to_check11">
                    <a href="#/doa-forms">
                        DOA Forms
                    </a>
                </li>
            </ul>
        </li>
        
       
    </ul>
</div><!-- /#sidebar-wrapper -->