<!--For Retailer Only-->
<ul ng-if="loginInfo.roleCode==='retailer'" class="nav navbar-nav navbar-left side-menu">
	<li class="dropdown" class="main-menu" ng-repeat="menu in menubar" ng-if="((menu.menuAccess==='r' || menu.menuAccess==='rw') && (menu.menuCode!=='Inventory'))">
		{{url_to_check=menu.menuLink;""}}
		<a ng-if="menu.hasFeatures===0"
		   href="#{{menu.menuLink}}" check-access-perm="access_perm" url="url_to_check"
		   ng-bind="menu.menuName"></a>
		
		<a class="dropdown-toggle hand" data-toggle="dropdown"
		  ng-if="menu.hasFeatures===1" ng-if="menu.menuCode!=='Inventory'">
			<span ng-bind="menu.menuName"></span> <b class="caret"></b>
		</a>
		
		<ul class="dropdown-menu" ng-if="menu.hasFeatures===1">
			<li ng-repeat="(key,feature) in menu.features|orderObjectBy:'featureOrder':false"
				ng-if="feature.hasSubMenu == '0' && feature.level == '1' && (feature.access === 'r' || feature.access === 'rw')">
				{{url_to_check1=feature.featureLink;""}}
				<a href="#{{feature.featureLink}}"  check-access-perm="access_perm" url="url_to_check1"
				   ng-bind="feature.featureName"></a>
			</li>
			<li ng-repeat="(key,feature) in menu.features|orderObjectBy:'featureOrder':false"
				class="dropdown dropdown-submenu"
				ng-if="feature.hasSubMenu == '1' && feature.level == '1'">
				<a class="dropdown-toggle hand" data-toggle="dropdown"
				   ng-bind="feature.featureName"></a>
				
				<ul class="dropdown-menu" ng-if="feature.hasSubMenu == '1'  && feature.level == '1'">
					<li  ng-repeat="sMenu in feature.subMenus" ng-if="sMenu.level !== null && (sMenu.access==='r' || sMenu.access==='rw')">
						{{url_to_check2=sMenu.featureLink;""}}
						<a href="#{{sMenu.featureLink}}" check-access-perm="access_perm" url="url_to_check2"
						   ng-bind="sMenu.featureName"  ng-if="sMenu.level == '2'">
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</li>
	<!--Only for Retailer Inventory-->
	<li class="dropdown" class="main-menu" ng-repeat="menu in menubar" ng-if="((menu.menuAccess==='r' || menu.menuAccess==='rw') && (menu.menuCode==='Inventory' && menu.retailerId!==null))">
		{{url_to_check=menu.menuLink;""}}
		<a ng-if="menu.hasFeatures===0"
		   href="#{{menu.menuLink}}" check-access-perm="access_perm" url="url_to_check"
		   ng-bind="menu.menuName"></a>
		
		<a class="dropdown-toggle hand" data-toggle="dropdown"
		  ng-if="menu.hasFeatures===1" ng-if="menu.menuCode!=='Inventory'">
			<span ng-bind="menu.menuName"></span> <b class="caret"></b>
		</a>
		
		<ul class="dropdown-menu" ng-if="menu.hasFeatures===1">
			<li ng-repeat="(key,feature) in menu.features|orderObjectBy:'featureOrder':false"
				ng-if="feature.hasSubMenu == '0' && feature.level == '1' && (feature.access === 'r' || feature.access === 'rw')">
				{{url_to_check1=feature.featureLink;""}}
				<a href="#{{feature.featureLink}}"  check-access-perm="access_perm" url="url_to_check1"
				   ng-bind="feature.featureName"></a>
			</li>
			<li ng-repeat="(key,feature) in menu.features|orderObjectBy:'featureOrder':false"
				class="dropdown dropdown-submenu"
				ng-if="feature.hasSubMenu == '1' && feature.level == '1'">
				<a class="dropdown-toggle hand" data-toggle="dropdown"
				   ng-bind="feature.featureName"></a>
				
				<ul class="dropdown-menu" ng-if="feature.hasSubMenu == '1'  && feature.level == '1'">
					<li  ng-repeat="sMenu in feature.subMenus" ng-if="sMenu.level !== null && (sMenu.access==='r' || sMenu.access==='rw')">
						{{url_to_check2=sMenu.featureLink;""}}
						<a href="#{{sMenu.featureLink}}" check-access-perm="access_perm" url="url_to_check2"
						   ng-bind="sMenu.featureName"  ng-if="sMenu.level == '2'">
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</li>
	<!--Retailer Inventory Ends Here-->
	<!-- Menu -->
</ul>
<!--End For Retailer-->
<ul ng-if="loginInfo.roleCode!=='retailer'" class="nav navbar-nav navbar-left side-menu">
	<li class="dropdown" class="main-menu" ng-repeat="menu in menubar" ng-if="menu.menuAccess==='r' || menu.menuAccess==='rw'">
		{{url_to_check=menu.menuLink;""}}
		<a ng-if="menu.hasFeatures===0"
		   href="#{{menu.menuLink}}" check-access-perm="access_perm" url="url_to_check"
		   ng-bind="menu.menuName"></a>
		
		<a class="dropdown-toggle hand" data-toggle="dropdown"
		  ng-if="menu.hasFeatures===1">
			<span ng-bind="menu.menuName"></span> <b class="caret"></b>
		</a>
		<ul class="dropdown-menu" ng-if="menu.hasFeatures===1">
			<li ng-repeat="(key,feature) in menu.features|orderObjectBy:'featureOrder':false"
				ng-if="feature.hasSubMenu == '0' && feature.level == '1' && (feature.access === 'r' || feature.access === 'rw')">
				{{url_to_check1=feature.featureLink;""}}
				<a href="#{{feature.featureLink}}"  check-access-perm="access_perm" url="url_to_check1"
				   ng-bind="feature.featureName"></a>
			</li>
			<li ng-repeat="(key,feature) in menu.features|orderObjectBy:'featureOrder':false"
				class="dropdown dropdown-submenu"
				ng-if="feature.hasSubMenu == '1' && feature.level == '1'">
				<a class="dropdown-toggle hand" data-toggle="dropdown"
				   ng-bind="feature.featureName"></a>
				
				<ul class="dropdown-menu" ng-if="feature.hasSubMenu == '1'  && feature.level == '1'">
					<li  ng-repeat="sMenu in feature.subMenus" ng-if="sMenu.level !== null && (sMenu.access==='r' || sMenu.access==='rw')">
						{{url_to_check2=sMenu.featureLink;""}}
						<a href="#{{sMenu.featureLink}}" check-access-perm="access_perm" url="url_to_check2"
						   ng-bind="sMenu.featureName"  ng-if="sMenu.level == '2'">
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</li>
	<!-- Menu -->
</ul>
<ul class="nav navbar-nav navbar-right">
	<!-- Session User Info -->
	<li ng-if="loginInfo.username" class="main-menu">
		<a class="dropdown-toggle hand" data-toggle="dropdown">
			<i class="fa fa-user-circle-o"></i>
			<span><span ng-bind="loginInfo.username"></span> <b class="caret"></b></span>
		</a>
		<ul class="dropdown-menu">
			<li>
				<a href="#/change-password" class="iconmenu" data-toggle="tooltip" data-placement="top" title="Change Password">
					Change Password
				</a>
			</li>					
			
			<li ng-controller="LogoutController"><a ng-click="logout();" class="hand" data-toggle="tooltip" data-placement="top" title="Logout">
			 Logout</a></li>
		</ul>
	</li>
</ul>