<div ng-controller="RetailerAdvanceReplacementController">
	<form name="form" id="Form" class="form-horizontal" role="form" method="post"
		  ng-submit="saveRetailerAdvanceReplacement(retailer);" novalidate>
		
		<div class="col-sm-12">
			<div class="form-group">
				<label>Choose the products for which Advance Replacement is allowed</label>
			</div>
		</div>
		
		<div class="form-group" total-items="total_count"
			 ng-repeat="advanceReplacement in retailer.list.advanceReplacementProducts.selectedObj">
			<div class="col-sm-12">
				<div class="row">
	
					<div class="col-lg-6 col-md-8 col-sm-12 form-group">
						<div class="row">
							<label for="product" class="col-sm-12" style="">
							Product
							</label>
							<select2 ng-model="retailer.list.advanceReplacementProducts.selectedObj[$index].productId"
									 s2-options="val.id as val.name for val in products"
									 ng-required="required" placeholder="Select Product"
									 class="col-md-12 col-lg-12 col-md-12 "></select2>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-12 form-group">
						
							<label for="product" class="col-lg-12 col-md-12 hidden-xs hidden-sm control-label pull-left" style="">
							&nbsp;
							</label>
							<div class="col-xs-12">
								<button type="button" class="btn btn-default" aria-label="Left Align" ng-if="$last" ng-click="addMoreAdvanceReplacementProducts(advanceReplacement, $index)">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							</button>
								<button type="button" class="btn btn-default" aria-label="Left Align" ng-if="$index > 0" ng-click="deleteAdvanceReplacementProduct($index)">
								<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
							</button>
							</div>
						
					</div>
					<div class="col-sm-3 errors">
						<label for="product" class="col-sm-12 control-label pull-left" style="">
					&nbsp;
					</label>
						<span ng-bind="retailer.list.advanceReplacementProducts.errors[$index].productId"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-6">
			</div>
			<div class="col-sm-6">
				<button type="submit" class="btn btn-primary" name="next" id="saveBtn" check-access-perm="access_perm">
						Save
					</button>
			</div>
		</div>
	</form>
</div>