<form name="form" id="Form" class="form-horizontal" role="form" method="post" ng-controller="RetailerCostPerServiceController"
      ng-submit="saveRetailerCostPerService(retailer);" novalidate>
    <div class="form-group" ng-repeat="costPerService in retailer.list.costPerService.selectedObj">
        <div class="row">
            <div class="col-sm-3">
                <div class="row">
                    <label for="costPerService" class="col-sm-12" style="">
                    Service <span class="required">*</span>
                    </label>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <select name="retailer.list.costPerService.selectedObj[$index].serviceId"
                                id="cpAvailedService" class="form-control"
                                placeholder="Select a service"
                                ng-required="required"
                                ng-model="retailer.list.costPerService.selectedObj[$index].serviceId">
                        <option value="">Choose</option>
                        <option ng-repeat="services in retailer.list.costPerService.availedServices|orderBy:'serviceName':false" value="{{services.serviceId}}" 
                                >{{services.serviceName}}</option>
                    </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <label for="costPerServiceCost" class="col-sm-12" style="">
                    Category <span class="required">*</span>
                    </label>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <select name="retailer.list.costPerService.selectedObj[$index].categoryId"
                                id="cpAvailedCategory" class="form-control"
                                placeholder="Select Category" ng-required="required"
                                ng-model="retailer.list.costPerService.selectedObj[$index].categoryId">
                        <option value="">Choose</option>
                        <option ng-repeat="category in retailer.list.costPerService.categoriesServiced|orderBy:'categoryName':false" value="{{category.categoryId}}" 
                                >{{category.categoryName}}</option>
                    </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <label for="cost" class="col-sm-12" style="">
                    Cost <span class="required">*</span>
                    </label>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <input spellcheck="true" type="number" name="cost[]" class="form-control" style="" id="cost" min="0"
                               placeholder="Enter Cost" value="" ng-model="retailer.list.costPerService.selectedObj[$index].cost"
                               maxlength="10" ng-required="required" required="required" step="0.01"/>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <label for="product" class="col-sm-12" style="">
                    &nbsp;
                    </label>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-default" aria-label="Left Align"
                                ng-if="$index > 0"
                            ng-click="deleteCostPerService($index)">
                            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default" aria-label="Left Align"
                                ng-if="retailer.list.costPerService.selectedObj[$index].id > 0 && $index == 0"
                            ng-click="deleteCostPerService($index)">
                            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default" aria-label="Left Align"  ng-if="$last"
                            ng-click="addMoreCostPerService(retailer.list.costPerService.selectedObj[$index], $index)">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 errors">
            <span ng-bind="retailer.list.costPerService.errors[$index].serviceId"></span>
        </div>
        <div class="col-sm-12 errors">
            <span ng-bind="retailer.list.costPerService.errors[$index].categoryId"></span>
        </div>
        <div class="col-sm-12 errors">
            <span ng-bind="retailer.list.costPerService.errors[$index].cost"></span>
        </div>
    </div
    <div class="form-group">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary" name="next" id="saveBtn" check-access-perm="access_perm">
                Save
            </button>
        </div>
    </div>
</div>