<div ng-controller="RetailerDoorStepServicesController">
    <form name="retailerDoorStepServicesForm" id="retailerDoorStepServicesForm" class="form-horizontal" role="form" method="post"
           ng-model="retailerDoorStepServices"
          ng-submit="saveRetailerDoorStepServices(retailerDoorStepServices);" novalidate>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-3">
                    <div class="row">
                        <label for="brandId" class="col-sm-12" style="">
                        Brand <span class="required">*</span>
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <select name="brandId"
                                    id="brandId" class="form-control"
                                    placeholder="Select a brand"
                                    required
                                    ng-model="retailerDoorStepServices.brandId">
                            <option value="">Choose</option>
                            <option ng-repeat="brand in brands|orderBy:'name':false" value="{{brand.id}}" 
                                    >{{brand.name}}</option>
                        </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 text-center">
                    <div class="row">
                        <label for="isInstallationAvailable" class="col-sm-12" style="">
                        Installation Available? <span class="required">*</span>
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input spellcheck="true" type="checkbox" name="isInstallationAvailable" style=""
                                    ng-true-value="1"
                                    ng-false-value="0"
                                   id="isInstallationAvailable"  value="1" ng-model="retailerDoorStepServices.isInstallationAvailable"
                                   />
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 text-center">
                    <div class="row">
                        <label for="cost" class="col-sm-12" style="">
                        Repair Available? <span class="required">*</span>
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input spellcheck="true" type="checkbox" name="isRepairAvailable" style=""
                                   ng-true-value="1"
                                    ng-false-value="0"
                                   id="isRepairAvailable"  value="1" ng-model="retailerDoorStepServices.isRepairAvailable"
                                   />
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 text-left">
                    <div class="row">
                        <label for="product" class="col-sm-12" style="">
                        &nbsp;
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-primary" name="next" id="saveBtn" check-access-perm="access_perm">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <label for="serviceableLocations" class="col-sm-6 form-label" style="">
        Door step service is available for below mentioned brands.
        </label>
        <table class="table row-border table-hover table-striped " ng-model="doorStepServicesList">
            <thead>
                <th>#</th>
                <th>Brand</th>
                <th class="text-center">Installation Available?</th>
                <th class="text-center">Repair Available?</th>
                <th>&nbsp;</th>
            </thead>
            <tbody>
                <tr  dir-paginate="doorStepService in doorStepServicesList|itemsPerPage:pageSize" ng-if="doorStepServicesList.length > 0"
                 total-items="total_count">
                    <td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
                    <td  ng-bind="doorStepService.brandName"></td>
                    <td class="text-center">
                        <i class="fa fa-check-square-o" aria-hidden="true" ng-if="doorStepService.isInstallationAvailable == 1"></i>
                        <i class="fa fa-times" aria-hidden="true" ng-if="doorStepService.isInstallationAvailable == 0"></i>
                    </td>
                    <td class="text-center">
                        <i class="fa fa-check-square-o" aria-hidden="true" ng-if="doorStepService.isRepairAvailable == 1"></i>
                        <i class="fa fa-times" aria-hidden="true" ng-if="doorStepService.isRepairAvailable == 0"></i>
                    </td>
                    <td>
                        <a class="hand" ng-click="deleteRetailerDoorStepServiceClick($index, doorStepService);" check-access-perm="access_perm">Delete</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="5" ng-if="doorStepServicesList.length <= 0">No Records found!</td>
                </tr>
            </tbody>
        </table>
        <dir-pagination-controls
            ng-model="pagination"
            max-size="8"
            direction-links="true"
            boundary-links="true" 
            on-page-change="populateRetailerDoorStepServicesList(newPageNumber,pageSize)" >
         </dir-pagination-controls>
    </div>
</div>