<div ng-controller="RetailerPackingCostController">
    <form name="form" id="Form" class="form-horizontal" role="form" method="post" 
          ng-submit="saveRetailerPackingCost(retailer);" novalidate>
        <div class="form-group" total-items="total_count"  ng-repeat="packingCost in retailer.list.packingMaterialType.selectedObj">
            <div class="row">
                <div class="col-sm-2">
                    <div class="row">
                        <label for="packingCost" class="col-sm-12" style="">
                        Packing Material
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <select name="retailerPackingMaterial[]" id="retailerPackingMaterial{{$index}}" class="form-control"
                                    placeholder="Select Packing Material" ng-required="required"
                                    ng-model="retailer.list.packingMaterialType.selectedObj[$index].packingMaterialId">
                            <option value="">Choose</option>
                            <option ng-repeat="packingMaterial in packagingMaterialTypes|orderBy:'name':false" value="{{packingMaterial.id}}" 
                                    >{{packingMaterial.name}}</option>
                        </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="row">
                    <label for="materialCost" class="col-sm-12" style="">
                    Material Cost (local)
                    </label>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input spellcheck="true" type="number" name="materialCost[]" class="form-control"
                                   style="" id="materialCost" placeholder="Enter Material Cost" value="" min="0"
                                   ng-model="retailer.list.packingMaterialType.selectedObj[$index].materialCost"
                                   maxlength="10" ng-required="required" required="required" step="0.01" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="row">
                        <label for="packingCost" class="col-sm-12" style="">
                        Packing Cost (local)
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input spellcheck="true" type="number" name="packingCost[]" class="form-control" style="" id="cost"
                                   placeholder="Enter Cost Of Packing" value="" min="0"
                                   ng-model="retailer.list.packingMaterialType.selectedObj[$index].packingCost"
                                   maxlength="10" ng-required="required" required="required" step="0.01" />
                        </div>
                    </div>
                </div>
				<div class="col-sm-2">
                    <div class="row">
                    <label for="materialCostInterCity" class="col-sm-12" style="">
                    Material Cost (outStation)
                    </label>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input spellcheck="true" type="number" name="materialCostInterCity[]" class="form-control"
                                   style="" id="materialCost" placeholder="Enter Material Cost" value="" min="0"
                                   ng-model="retailer.list.packingMaterialType.selectedObj[$index].materialCostInterCity"
                                   maxlength="10" ng-required="required" required="required" step="0.01" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="row">
                        <label for="packingCostInterCity" class="col-sm-12" class="text-nowrap" style="">
                        Packing Cost (outStation)
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input spellcheck="true" type="number" name="packingCostInterCity[]" class="form-control" style="" id="cost"
                                   placeholder="Enter Cost Of Packing" value="" min="0"
                                   ng-model="retailer.list.packingMaterialType.selectedObj[$index].packingCostInterCity"
                                   maxlength="10" ng-required="required" required="required" step="0.01" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="row">
                        <label for="product" class="col-sm-12" style="">
                        &nbsp;
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-default" aria-label="Left Align"
                                    ng-if="$index > 0" check-access-perm="access_perm"
                                ng-click="deletePackingMaterial($index)">
                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default" aria-label="Left Align" check-access-perm="access_perm"
                                    ng-if="retailer.list.packingMaterialType.selectedObj[$index].id > 0 && $index == 0"
                                ng-click="deletePackingMaterial($index)"> 
                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default" aria-label="Left Align"  ng-if="$last" check-access-perm="access_perm"
                                ng-click="addMorePackingMaterial(packingCost, $index)">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 errors">
                <span ng-bind="retailer.list.packingMaterialType.errors[$index].packingMaterialId"></span>
            </div>
            <div class="col-sm-12 errors">
                <span ng-bind="retailer.list.packingMaterialType.errors[$index].materialCost"></span>
            </div>
            <div class="col-sm-12 errors">
                <span ng-bind="retailer.list.packingMaterialType.errors[$index].packingCost"></span>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-5">
            </div>
            <div class="col-sm-6">
                <button type="submit" class="btn btn-primary" name="next" id="saveBtn" check-access-perm="access_perm">
                    Save
                </button>
            </div>
        </div>
    </form>
</div>