<div ng-controller="RetailerPackingCostController">
    <form name="form" id="Form" class="form-horizontal" role="form" method="post" 
          ng-submit="saveRetailerPackingSpecification(retailer);" novalidate>
        <div class="form-group" total-items="total_count"  ng-repeat="packingCost in retailer.list.packingSpecification.selectedObj">
            <div class="row">
                <div class="col-sm-2">
                    <div class="row" ng-if = "$index==0">
                        <label for="serviceType" class="col-sm-12" style="">
                        Service Type
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <select name="retailerServices[]" id="retailerService{{$index}}" class="form-control"
                                    placeholder="Select Service" ng-required="required"
                                    ng-model="retailer.list.packingSpecification.selectedObj[$index].serviceId">
                            <option value="">Choose</option>
                            <option ng-repeat="service in retailer.list.serviceMaster.list|orderBy:'name':false" value="{{service.serviceId}}" ng-if = "service.retailerServiceId !== null"
                                    >{{service.serviceName}}</option>
                        </select>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-2">
                    <div class="row" ng-if = "$index==0">
                        <label for="serviceType" class="col-sm-12" style="">
                        Category
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <select name="retailerCategories[]" id="retailerCategory{{$index}}" class="form-control"
                                    placeholder="Select Service" ng-required="required"
                                    ng-model="retailer.list.packingSpecification.selectedObj[$index].categoryId">
                            <option value="">Choose</option>
                            <option ng-repeat="category in retailer.list.productCategory.list|orderBy:'name':false" value="{{category.categoryId}}" ng-if = "category.retailerCategoryId !== null"
                                    >{{category.categoryName}}</option>
                        </select>
                        </div>
                    </div>
                </div>
				
				<div class="col-sm-2">
                    <div class="row" ng-if = "$index==0">
                        <label for="serviceType" class="col-sm-12" style="">
                        New Prod Pickup (L)
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <select name="retailerCategories[]" id="retailerCategory{{$index}}" class="form-control"
                                    placeholder="Select Service" ng-required="required"
                                    ng-model="retailer.list.packingSpecification.selectedObj[$index].newPickupLocal">
                            <option value="">Choose</option>
                            <option value="local">Local</option>
							<option value="outstation">Out Station</option>
							<option value="none">None</option>
                        </select>
                        </div>
                    </div>
                </div>
				
				<div class="col-sm-2">
                    <div class="row" ng-if = "$index==0">
                        <label for="serviceType" class="col-sm-12" style="">
                        New Prod Pickup (O)
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <select name="retailerCategories[]" id="retailerCategory{{$index}}" class="form-control"
                                    placeholder="Select Service" ng-required="required"
                                    ng-model="retailer.list.packingSpecification.selectedObj[$index].newPickupOutstation">
                            <option value="">Choose</option>
                            <option value="local">Local</option>
							<option value="outstation">Out Station</option>
							<option value="none">None</option>
                        </select>
                        </div>
                    </div>
                </div>
				
				<div class="col-sm-2">
                    <div class="row" ng-if = "$index==0">
                        <label for="serviceType" class="col-sm-12" style="">
                        Old Prod Pickup (L)
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <select name="retailerCategories[]" id="retailerCategory{{$index}}" class="form-control"
                                    placeholder="Select Service" ng-required="required"
                                    ng-model="retailer.list.packingSpecification.selectedObj[$index].oldPickupLocal">
                            <option value="">Choose</option>
                            <option value="local">Local</option>
							<option value="outstation">Out Station</option>
							<option value="none">None</option>
                        </select>
                        </div>
                    </div>
                </div>
				
				<div class="col-sm-2">
                    <div class="row" ng-if = "$index==0">
                        <label for="serviceType" class="col-sm-12" style="">
                        Old Prod Pickup (O)
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <select name="retailerCategories[]" id="retailerCategory{{$index}}" class="form-control"
                                    placeholder="Select Service" ng-required="required"
                                    ng-model="retailer.list.packingSpecification.selectedObj[$index].oldPickupOutstation">
                            <option value="">Choose</option>
                            <option value="local">Local</option>
							<option value="outstation">Out Station</option>
							<option value="none">None</option>
                        </select>
                        </div>
                    </div>
					
					<div class="row">
                        <label for="product" class="col-sm-12" style="">
                        &nbsp;
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-default" aria-label="Left Align"
                                    ng-if="$index > 0" check-access-perm="access_perm"
                                ng-click="deletePackingSpecification($index)">
                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default" aria-label="Left Align" check-access-perm="access_perm"
                                    ng-if="retailer.list.packingSpecification.selectedObj[$index].id > 0 && $index == 0"
                                ng-click="deletePackingSpecification($index)"> 
                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default" aria-label="Left Align"  ng-if="$last" check-access-perm="access_perm"
                                ng-click="addMorePackingSpecification(packingSpecification, $index)">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
          
                <div class="col-sm-2">
                    
                </div>
            </div>
            <div class="col-sm-12 errors">
                <span ng-bind="retailer.list.packingSpecification.errors[$index].categoryId"></span>
            </div>
            <div class="col-sm-12 errors">
                <span ng-bind="retailer.list.packingSpecification.errors[$index].serviceId"></span>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-5">
            </div>
            <div class="col-sm-6">
                <button type="submit" class="btn btn-primary" name="next" id="saveBtn" check-access-perm="access_perm">
                    Save
                </button>
            </div>
        </div>
    </form>
</div>