<div ng-controller="RetailerPackingCostController">
    <form name="form" id="Form" class="form-horizontal" role="form" method="post" ng-submit="saveRetailerProcessField(retailer);"
        novalidate>
        <div class="form-group" total-items="total_count" ng-repeat="processField in retailer.list.processField.selectedObj">
            <div class="row">

                <div class="col-sm-2">
                    <div class="row" ng-if="$index==0">
                        <label for="canonicalField" class="col-sm-12" style="">
                    Default Field
                    </label>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input spellcheck="true" type="text" name="canonicalField[]" class="form-control" style="" id="canonicalField" placeholder="Enter Canonical Field"
                                value="" ng-model="retailer.list.processField.selectedObj[$index].canonicalField" maxlength="100"
                                ng-required="required" ng-disabled="processField.canonicalField!==undefined && processField.canonicalField!==null && processField.retailerField!==undefined && processField.retailerField!==null"
                                required="required" />
                            <!--ng-disabled="processField.canonicalField!==undefined && processField.canonicalField!==null"-->
                        </div>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="row" ng-if="$index==0">
                        <label for="retailerField" class="col-sm-12" style="">
                    Retailer Field
                    </label>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input spellcheck="true" type="text" name="retailerField[]" class="form-control" style="" id="retailerField" placeholder="Enter Retailer Field"
                                value="" ng-model="retailer.list.processField.selectedObj[$index].retailerField" maxlength="100"
                                ng-required="required" ng-disabled="processField.canonicalField==undefined || processField.canonicalField==null"
                                required="required" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-2" style="bottom:5px">
                    <div class="row">
                        <label for="product" class="col-sm-12" style="height: 0px;">
                        &nbsp;
                        </label>
                    </div>
                    <!--For Add New And Delete Existing One UnComment this One-->

                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-default" aria-label="Left Align" ng-if="$index > 0" check-access-perm="access_perm"
                                ng-click="deleteProcessField($index)">
                                <span aria-hidden="true">Delete</span>
                            </button>
                            <button type="button" class="btn btn-default" aria-label="Left Align" check-access-perm="access_perm" ng-if="retailer.list.processField.selectedObj[$index].id > 0 && $index == 0"
                                ng-click="deleteProcessField($index)"> 
                                <span aria-hidden="true">Delete</span>
                            </button>
                            <!--<button type="button" class="btn btn-default" aria-label="Left Align" ng-if="$last" check-access-perm="access_perm" ng-click="addMoreProcessField(processField, $index)">
                                <span aria-hidden="true">Add</span>
                            </button>-->
                        </div>
                    </div>

                </div>


                <div class="col-sm-12 errors">
                    <span ng-bind="retailer.list.processField.errors[$index].canonicalField"></span>
                </div>
                <div class="col-sm-12 errors">
                    <span ng-bind="retailer.list.processField.errors[$index].retailerField"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-5">
            </div>
            <div class="col-sm-6">
                <button type="button" class="btn btn-info" aria-label="Left Align" check-access-perm="access_perm" ng-click="addMoreProcessField(retailer.list.processField.selectedObj, retailer.list.processField.selectedObj.length)">
                    <span aria-hidden="true">Add</span>
                </button>
                <button type="submit" class="btn btn-primary" name="next" id="saveBtn" check-access-perm="access_perm">
                    Save
                </button>
                
            </div>
        </div>
    </form>
</div>