
<div class="row" ng-hide="showServiceProvider!==true">
    <div class="col-sm-12">
        <form name="serviceProviderForm" id="Form" class="form-horizontal" role="form" method="post"
              ng-submit="saveServiceProviderLocation(retailer);" novalidate>
                <div class="form-group">
                    <label for="serviceProvider" class="col-sm-4 control-label" style="">
                        Service Provider <span class="required">*</span>
                    </label>
                    <div class="col-sm-8">
                        <select name="serviceProviderId" id="serviceProviderId" class="form-control"
                                    placeholder="Select Service Provider" required="required"
                                    ng-model="retailer.serviceProvider.serviceProviderId"
                                    ng-change="initOtherDropdwons();"
                                    >
                            <option value="">Choose</option>
                            <option ng-repeat="provider in retailer.serviceProviderList" value="{{provider.id}}" 
                                    >{{provider.name}}</option>
                        </select>
                    </div>
                    <div ng-messages="serviceProviderForm.serviceProviderId.$error" role="alert" ng-messages-multiple
						ng-show="serviceProviderForm.$submitted || serviceProviderForm.serviceProviderId.$touched"
						class="col-sm-12 errors col-sm-offset-4" >
					   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
					</div>
                </div>
                
                <div class="form-group">
                    <label for="city" class="col-sm-4 control-label" style="">
                        City <span class="required">*</span>
                    </label>
                    <div class="col-sm-8">
                        <select name="city" id="city" class="form-control"
                                    placeholder="Select City" required="required"
                                    ng-change="populateServiceProviderLocation(retailer.serviceProvider.serviceProviderId,retailer.serviceProvider.cityId);"
                                    ng-model="retailer.serviceProvider.cityId">
                            <option value="">Choose</option>
                            <option ng-repeat="city in cities" value="{{city.id}}" 
                                    >{{city.name}}</option>
                        </select>
                    </div>
                    <div ng-messages="serviceProviderForm.city.$error" role="alert" ng-messages-multiple
						ng-show="serviceProviderForm.$submitted || serviceProviderForm.city.$touched"
						class="col-sm-12 errors col-sm-offset-4" >
					   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
					</div>
                </div>
                
                <div class="form-group">
                    <label for="serviceProviderLocation" class="col-sm-4 control-label" style="">
                        Service Provider Location <span class="required">*</span>
                    </label>
                    <div class="col-sm-8">
                        <select name="serviceProviderLocationId" id="serviceProviderLocationId" class="form-control"
                                    placeholder="Select Service Provider Location" required="required"
                                    ng-change="populateServiceProviderCategory(retailer.serviceProvider);"
                                    ng-model="retailer.serviceProvider.serviceProviderLocationId">
                            <option value="">Choose</option>
                            <option ng-repeat="location in retailer.serviceProviderLocationList" value="{{location.id}}" 
                                    >{{location.area}} - {{location.city}} ({{location.pincode}})</option>
                        </select>
                    </div>
                    <div ng-messages="serviceProviderForm.serviceProviderLocationId.$error" role="alert" ng-messages-multiple
						ng-show="serviceProviderForm.$submitted || serviceProviderForm.serviceProviderLocationId.$touched"
						class="col-sm-12 errors col-sm-offset-4" >
					   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
					</div>
                </div>
                <div class="form-group">
                    <label for="category" class="col-sm-4 control-label" style="">
                    Category <span class="required">*</span>
                    </label>
                    <div class="col-sm-8">
                        <select name="category" id="category" class="form-control"
                                placeholder="Select Category" required="required"
                                ng-change="populateServiceProviderSubCategory(retailer.serviceProvider);"
                                ng-model="retailer.serviceProvider.categoryId">
                        <option value="">Choose</option>
                        <option ng-repeat="category in retailer.serviceProviderCategoryList" value="{{category.categoryId}}">{{category.categoryName}}</option>
                    </select>
                    </div>
                     <div ng-messages="serviceProviderForm.category.$error" role="alert" ng-messages-multiple
						ng-show="serviceProviderForm.$submitted || serviceProviderForm.category.$touched"
						class="col-sm-12 errors col-sm-offset-4" >
					   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
					</div>
                </div>
                
                <div class="form-group">
                    <label for="subCategory" class="col-sm-4 control-label" style="">
                    Sub Category
                    </label>
                    <div class="col-sm-8">
                        <select name="subCategory" id="subCategory" class="form-control"
                                placeholder="Select Sub Category"
                                ng-model="retailer.serviceProvider.subCategoryId">
                        <option value="">Choose</option>
                        <option ng-repeat="subCategory in retailer.serviceProviderSubCategoryList" value="{{subCategory.subCategoryId}}">{{subCategory.subCategoryName}}</option>
                    </select>
                    </div>
                     <div ng-messages="serviceProviderForm.subCategory.$error" role="alert" ng-messages-multiple
						ng-show="serviceProviderForm.$submitted || serviceProviderForm.subCategory.$touched"
						class="col-sm-12 errors col-sm-offset-4" >
					   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
					</div>
                </div>
                
                <div class="form-group">
                    <label for="brand" class="col-sm-4 control-label" style="">
                    Brand
                    </label>
                    <div class="col-sm-8">
                        <select name="brandId" id="brandId" class="form-control" placeholder="Select Brand"
                                ng-model="retailer.serviceProvider.brandId">
                        <option value="">Choose</option>
                        <option ng-repeat="brand in retailer.serviceProviderBrandList" value="{{brand.brandId}}">{{brand.brandName}}</option>
                    </select>
                    </div>
                    <div ng-messages="serviceProviderForm.brandId.$error" role="alert" ng-messages-multiple
						ng-show="serviceProviderForm.$submitted || serviceProviderForm.brandId.$touched"
						class="col-sm-12 errors col-sm-offset-4" >
					   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
					</div>
                </div>
				<div class="form-group" ng-if="serviceProviderLocationService.isAuthorizedServiceProvider">
                    <label for="brand" class="col-sm-4 control-label" style="">
                    Authorized Service Provider?
                    </label>
                    <div class="col-sm-8">
                        <p ng-bind="serviceProviderLocationService.isAuthorizedServiceProvider"></p>
                    </select>
                    </div>
                    <div 
						class="col-sm-12 errors col-sm-offset-4" >
					</div>
                </div>
				<div class="form-group" ng-if="serviceProviderLocationService.isBizlogAuthorized">
                    <label for="brand" class="col-sm-4 control-label" style="">
                    BizLog Authorized?
                    </label>
                    <div class="col-sm-8">
                        <p ng-bind="serviceProviderLocationService.isBizlogAuthorized"></p>
                    </select>
                    </div>
                    <div 
						class="col-sm-12 errors col-sm-offset-4" >
					</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-5">
                    </div>
                    <div class="col-sm-7" ng-if="loginInfo.roleCode!=='hub_manager'">
                        <button type="submit" class="btn btn-primary" name="next" id="saveBtn"
                                ng-disabled="serviceProviderForm.$invalid" check-access-perm="access_perm">
                            Save
                        </button>
                    </div>

                    <div class="col-sm-7" ng-if="loginInfo.roleCode==='hub_manager'">
                        <button ng-disabled="true" type="submit" class="btn btn-primary" name="next" id="saveBtn"
                                ng-disabled="serviceProviderForm.$invalid" check-access-perm="access_perm">
                            Save
                        </button>
                    </div>

                </div>
        </form>
    </div>
    <div class="col-sm-12" ng-show="retailer.retailerServiceProviderList.length > 0 || retailer.retailerServiceProviderList != undefined">
        <table class="table row-border table-hover table-striped">
            <thead>
                <th>#</th>
                <th>Service Provider</th>
                <th>Location</th>
                <th>Category</th>
                <th>Sub Category</th>
                <th>Brand</th>
                <th>&nbsp;</th>
				<th>&nbsp;</th>
            </thead>
            <tbody>
    
                <tr dir-paginate="serviceProvider in retailer.retailerServiceProviderList|itemsPerPage:pageSize"
					pagination-id="retailerServiceProviders" 
                    total-items="total_count"
                    ng-if="retailer.retailerServiceProviderList.length > 0 || retailer.retailerServiceProviderList != undefined">
                    <td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
                    <td ng-bind="serviceProvider.serviceProviderCode"></td>
                    <td ng-bind="serviceProvider.area + ', ' + serviceProvider.city"></td>
                    <td ng-bind="serviceProvider.categoryName"></td>
                    <td ng-bind="serviceProvider.subCategoryName"></td>
                    <td ng-bind="serviceProvider.brandName"></td>
                    <td ng-if="loginInfo.roleCode!=='hub_manager'" ng-click="getRetailerServiceProvider(serviceProvider)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
					<td ng-if="loginInfo.roleCode!=='hub_manager'"> <a ng-click="openAttachPincodes(serviceProvider)" class="hand">Attach Pincodes</a></td>	
                </tr>
            </tbody>
        </table>
		<dir-pagination-controls
            pagination-id="retailerServiceProviders"
            ng-model="pagination"
            max-size="8"
            direction-links="true"
            boundary-links="true" 
            on-page-change="populateRetailerServiceProviderList(newPageNumber,pageSize)" >
         </dir-pagination-controls>
    </div>
</div>
<div class="row" ng-hide="showServiceProvierPincodes!==true">
    <div class="col-sm-12">
		<div class="form-group">
			<div class="col-sm-12">
			 <label class="col-md-4 text-right">Service Provider</label><div class="col-md-8" ng-bind="retailerServiceProviderPincode.serviceProvider.serviceProviderCode"></div>
			</div>
			<div class="col-sm-12">
                <label class="col-md-4  text-right">Location</label><div class="col-md-8" ng-bind="retailerServiceProviderPincode.serviceProvider.area + ', ' + retailerServiceProviderPincode.serviceProvider.city"></div>
			</div>
			<div class="col-sm-12">	
                <label class="col-md-4  text-right">Category</label><div class="col-md-8" ng-bind="retailerServiceProviderPincode.serviceProvider.categoryName"></div>
			</div>
			<div class="col-sm-12">	
                <label class="col-md-4  text-right">Sub Category</label><div class="col-md-8" ng-bind="retailerServiceProviderPincode.serviceProvider.subCategoryName"></div>
			</div>
			<div class="col-sm-12">	
                <label class="col-md-4  text-right">Brand</label><div class="col-md-8" ng-bind="retailerServiceProviderPincode.serviceProvider.brandName"></div>
			</div>
		</div>
			<div class="form-group">
				<div class="col-sm-12">
					<div class="form-group">
						<label>Add pincodes of the areas where service provider is serviced.</label>
					</div>
				</div>
				<form name="form" id="Form" class="form-horizontal" role="form" method="post"
      ng-submit="saveRetailerServiceProviderPincode(retailerServiceProviderPincode);" novalidate>
				<div class="col-sm-12">
					<div class="form-group">
						<div class="col-sm-12">
							<div class="row">
								<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
									<textarea class="form-control col-sm-12 pincodes-with-comma" placeholder="Enter comma separated pincodes of the areas where service provider is serviced"
											  ng-model="retailerServiceProviderPincode.pincode" rows="4" cols="80"
											  ng-required="required" required="required"></textarea>
									
								</div>
								<button type="submit" class="btn btn-default" aria-label="Left Align" check-access-perm="access_perm" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
								</button>
							</div>
						</div>
					</div>
				</div>
				</form>
				<div class="col-sm-12 errors">
					<span ng-bind="retailerServiceProviderPincode.errors.pincode"></span>
				</div>
				<div class="form-group">
					<div class="col-sm-12 text-center">
						<button type="button" class="btn btn-primary" name="next" id="saveBtn" ng-click="showPage(12, 'Service Provider');">Back
						</button>
					</div>
				</div>
				<div class="col-sm-12" ng-show="retailerServiceProvoderPincodeList.length > 0">
					<div class="row">
						<div class="col-sm-12 pull-left">
							
						</div>
					</div>
					<div class="row">
						<label for="serviceableLocations" class="col-sm-6 form-label" style="">
						BizLog Service Provider Locations
						</label>
						<table class="table row-border table-hover table-striped" ng-model="retailerServiceProvoderPincodeList">
							<thead>
								<th>#</th>
								<th>Pincode</th>
								<!--<th>&nbsp;</th>-->
							</thead>
							<tbody>
							<tr  dir-paginate="pincode in retailerServiceProvoderPincodeList|orderBy:'pincode':false|itemsPerPage:pageSize"
								 pagination-id="retailerServiceProvidersPincodes"
							 total-items="total_count">
								<td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
								<td  ng-bind="pincode.pincode"></td>
								<!--<td>
									<a class="hand" ng-click="deleteRetailerServiceableLocation($index);" check-access-perm="access_perm"><span class="fa fa-trash"></span></a>
								</td>-->
							</tr>
							</tbody>
						</table>
						<dir-pagination-controls
							pagination-id="retailerServiceProvidersPincodes"
							ng-model="pagination"
							max-size="8"
							direction-links="true"
							boundary-links="true" 
							on-page-change="populateServiceProviderPincodeList(newPageNumber,pageSize, retailerServiceProviderPincode.serviceProvider.serviceProviderId)" >
						 </dir-pagination-controls>
					</div>
				</div>
				
			</div>
	</div>
</div>