<form name="form" id="Form" class="form-horizontal" role="form" method="post"
      ng-controller="RetailerServiceableLocationController"
      novalidate>
    <div class="form-group">
        <div class="col-sm-12">
            <div class="form-group">
                <label>Add pincodes of the areas where BizLog Service is required</label>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <textarea class="form-control col-sm-12 pincodes-with-comma"
                                  placeholder="Enter comma separated pincodes of the areas where BizLog Service is required or you want to search"
                                  ng-model="retailer.list.serviceableLocations.pincode" rows="4" cols="80"
                                  ng-required="required" required="required"></textarea>

                        </div>
                        <div class="btn-group-vertical">
                            <div>
                                <button ng-if="loginInfo.roleCode!=='hub_manager'" type="submit" class="btn btn-default"
                                        aria-label="Left Align" check-access-perm="access_perm"
                                        class="col-lg-2 col-md-2 col-sm-2 col-xs-2"
                                        ng-click="saveRetailerServiceableLocations(retailer)">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button>

                                <button ng-if="loginInfo.roleCode==='hub_manager'" ng-disabled="true" type="submit"
                                        class="btn btn-default" aria-label="Left Align" check-access-perm="access_perm"
                                        class="col-lg-2 col-md-2 col-sm-2 col-xs-2"
                                        ng-click="saveRetailerServiceableLocations(retailer)">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button>
                            </div>

                            <div>
                                <button class="btn btn-default" aria-label="Left Align"
                                        check-access-perm="access_perm" class="col-lg-2 col-md-2 col-sm-2 col-xs-2"
                                        ng-click="searchSearvicablePincode(retailer)">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 errors">
            <span ng-bind="retailer.list.serviceableLocations.errors.pincode"></span>
        </div>
        <div class="col-sm-12" ng-show="retailer.list.serviceableLocations.list.length > 0">
            <div class="row">
                <div class="col-sm-12 pull-lefts">

                </div>
            </div>
            <div class="row">
                <label for="serviceableLocations" class="col-sm-6 form-label" style="">
                    BizLog Serviceable Locations
                </label>
                <table class="table row-border table-hover table-striped"
                       ng-model="retailer.list.serviceableLocations.list">
                    <thead>
                    <th>#</th>
                    <th>Pincode</th>
                    <th>&nbsp;</th>
                    </thead>
                    <tbody>
                    <tr dir-paginate="pincode in retailer.list.serviceableLocations.list|orderBy:'pincode':false|itemsPerPage:pageSize"
                        total-items="total_count">
                        <td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
                        <td ng-bind="pincode.pincode"></td>
                        <td ng-if="loginInfo.roleCode!=='hub_manager'">
                            <a class="hand" ng-click="deleteRetailerServiceableLocation($index);"
                               check-access-perm="access_perm"><span class="fa fa-trash"></span></a>
                        </td>
                        <!--<td ng-if="loginInfo.roleCode==='hub_manager'">
                            <a class="hand" ng-click="deleteRetailerServiceableLocation($index);" check-access-perm="access_perm"><span class="fa fa-trash"></span></a>
                        </td>-->
                    </tr>
                    </tbody>
                </table>
                <dir-pagination-controls
                        ng-model="pagination"
                        max-size="8"
                        direction-links="true"
                        boundary-links="true"
                        on-page-change="populateServiceableLocationsList(newPageNumber,pageSize)">
                </dir-pagination-controls>
            </div>
        </div>

    </div>

</form>