<form name="form" id="Form" class="form-horizontal" role="form" method="post"
      ng-submit="saveRetailerServicesAvailed(retailer);" ng-controller="RetailerServicesAvailedController" novalidate>
    <div class="form-group">
        <label for="servicesAvailed" class="col-sm-12" style="">
        Services Availed <span class="required">*</span>
        </label>
        <div class="col-sm-12">
            <div class="checkbox col-sm-12" ng-repeat="service in retailer.list.serviceMaster.list|orderBy:'serviceName':false">
                <label>
                    <input type="checkbox" value="{{service.id}}"
                        ng-checked="isSelectedService(service.serviceId)"
                        name="retailer.list.serviceMaster.selectedIds[]"
                        ng-click="toggleServicesAvailed(service.serviceId)"
                        >{{service.serviceName}}
                </label>
            </div>
        </div>
        <div class="col-sm-12 errors">
            <span ng-bind="retailer.list.serviceMaster.errors.servicesAvailed"></span>
        </div>
    </div>
    <div class="form-group" ng-if="loginInfo.roleCode!=='hub_manager'">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
            <button type="submit" ng-disabled="true" class="btn btn-primary" name="next" id="saveBtn" check-access-perm="access_perm">
                 Save
            </button>
        </div>
    </div>
    <div class="form-group" ng-if="loginInfo.roleCode==='hub_manager'">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
            <button type="submit" ng-disabled="true" class="btn btn-primary" name="next" id="saveBtn" check-access-perm="access_perm">
                 Save
            </button>
        </div>
    </div>
</form>