<table class="table row-border table-hover table-striped" ng-model="smsEmailTemplateList">
    <thead>
        <th>#</th>
        <th>Code</th>
        <th>&nbsp;</th>
    </thead>
    <tbody>

        <tr  pagination-id="smsEmailTemplatePagination" dir-paginate="template in smsEmailTemplateList|orderBy:'smsEmailTriggerCode':false|itemsPerPage:MAX_DROPDOWN_SIZE"  total-items="total_count" pagination-id="returnOrPickupLocations">
            <td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
            
            <td ng-bind="template.smsEmailTriggerCode"></td>
            <td class="text-center hand" >
                <span ng-click="deleteDialogAndConfirm('Are you sure want to delete this record?', deleteRetailerSMSEmailTemplate, template, $index)" tooltip title="Delete this record"><i class="fa fa-trash" aria-hidden="true"></i></span>&nbsp;&nbsp;
            </td>
        </tr>
    </tbody>
</table>
<dir-pagination-controls
    pagination-id="smsEmailTemplatePagination"
    ng-model="pagination"
    max-size="8"
    direction-links="true"
    boundary-links="true" 
    on-page-change="getAllRetailerReturnOrPickupLocation(newPageNumber,pageSize)" >
 </dir-pagination-controls>
