<div  ng-controller="SmsEmailTriggerTemplateController">
    <div class="row">
        <div class="col-sm-12">
            <form name="SmsEmailTemplateForm" id="SmsEmailTemplateForm" class="form-horizontal" role="form" method="post"
                  ng-submit="saveRetailerSmsEmailTemplate(smsEmailTemplate);" novalidate
                  ng-model="smsEmailTemplate">
                <div class="form-group">
                    <label for="servicesAvailed" class="col-sm-3 control-label" style="">
                    SMS/Email Trigger Code<span class="required">*</span>
                    </label>
                    <div class="col-sm-6">
                        <select ng-model="smsEmailTemplate.smsEmailTriggerCode" name="smsEmailTriggerCode"
                                class="form-control" required
                                ng-change="populateRetailerSMSEmailTemplate(smsEmailTemplate.smsEmailTriggerCode);">
                            <option value="">Select SMS/Email Trigger Code</option>
                            <option ng-repeat="Triggercode in smsEmailTriggerCodeList|orderBy:'description':false" value="{{Triggercode.code}}" ng-bind="Triggercode.description"></option>
                        </select>
                    </div>
                    <div ng-messages="SmsEmailTemplateForm.smsEmailTriggerCode.$error" role="alert" ng-messages-multiple
                        ng-show="SmsEmailTemplateForm.$submitted || SmsEmailTemplateForm.smsEmailTriggerCode.$touched"
                        class="col-sm-3 errors" >
                       <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
                   </div>
                </div>
                <div class="form-group" ng-if="description !== '' && description !== undefined && description !== null">
                    <label for="smsTemplate" class="col-sm-3 control-label" style="">
                    Description
                    </label>
                    <div class="col-sm-9">
                        <p ng-bind="masterSMSTemplate.description"></p>
                    </div>
                    <div 
                        class="col-sm-12 errors col-sm-offset-3" >
                   </div>
                </div>
                <div class="form-group" ng-if="paramsList.length > 0">
                    <label for="params" class="col-sm-3 control-label" style="">
                    Parameters <i class="fa fa-question-circle-o" aria-hidden="true" tooltip title="Use these parameters to buid Email/SMS Template"></i>
                    </label>
                    <div class="col-sm-9">
                        <p ng-repeat="param in paramsList">
                            <span ng-bind="param"></span>&nbsp;&nbsp;<i class="fa fa-plus hand" aria-hidden="true" ng-click="addParamToTemplate(param)"></i>
                        </p>
                    </div>
                    <div ng-messages="SmsEmailTemplateForm.params.$error" role="alert" ng-messages-multiple
                        ng-show="SmsEmailTemplateForm.$submitted || SmsEmailTemplateForm.params.$touched"
                        class="col-sm-12 errors col-sm-offset-3" >
                       <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
                   </div>
                </div>
                <div class="form-group">
                    <label for="subject" class="col-sm-3 control-label" style="">
                    Subject
                    </label>
                    <div class="col-sm-9">
                        <input spellcheck="true" type="text" name="subject" class="form-control" style=""
                               id="name" placeholder="Enter Subject" ng-model="smsEmailTemplate.subject"
                               maxlength="250"  required="required" />
                    </div>
                    <div ng-messages="SmsEmailTemplateForm.subject.$error" role="alert" ng-messages-multiple
                        ng-show="SmsEmailTemplateForm.$submitted || SmsEmailTemplateForm.subject.$touched"
                        class="col-sm-12 errors col-sm-offset-3" >
                       <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
                   </div>
                </div>
                <div class="form-group">
                    <label for="emailTemplate" class="col-sm-3 control-label" style="">
                    Email Template
                    </label>
                    <div class="col-sm-9">
                        <div ckeditor="smsCKEditorOptions" ng-model="smsEmailTemplate.emailTemplate" name="emailTemplate"
                             id="emailTemplate"
                             placeholder="Enter Email Template" class="form-control"
                                 ready="onReady()"  maxlength="1024"></div>
                    </div>
                    <div ng-messages="SmsEmailTemplateForm.emailTemplate.$error" role="alert" ng-messages-multiple
                        ng-show="SmsEmailTemplateForm.$submitted || SmsEmailTemplateForm.emailTemplate.$touched"
                        class="col-sm-12 errors col-sm-offset-3" >
                       <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
                       <div ng-message="requiredSMSEmail">Either email or sms template is required!</div>
                   </div>
                </div>
                 <div class="form-group">
                    <label for="smsTemplate" class="col-sm-3 control-label" style="">
                    SMS Template
                    </label>
                    <div class="col-sm-9">
                        <textarea ng-model="smsEmailTemplate.smsTemplate" name="smsTemplate" placeholder="Enter SMS Template"
                            class="form-control" maxlength="1024" rows="3" cols="80"></textarea>
                    </div>
                    <div ng-messages="SmsEmailTemplateForm.smsTemplate.$error" role="alert" ng-messages-multiple
                        ng-show="SmsEmailTemplateForm.$submitted || SmsEmailTemplateForm.smsTemplate.$touched"
                        class="col-sm-12 errors col-sm-offset-3" >
                       <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
                   </div>
                </div>
                
                
                <div class="form-group">
                    <div class="col-sm-12 text-center">
                        <button type="submit" class="btn btn-primary" name="next" id="saveBtn"
                                ng-disabled="SmsEmailTemplateForm.$invalid" check-access-perm="access_perm">
                             Save
                        </button>
                        <button type="button" class="btn btn-default" name="next" id="clearBtn"
                            ng-click="clearFields();"> Clear
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
   
    <div class="row">
        <div class="col-sm-12">
            <load-template url="pages/retailer/onboarding/sms_email_template_list"></load-template>            
        </div>    
    </div>
</div>