<form name="smsEmailTriggerConfigForm" id="smsEmailTriggerConfigForm" class="form-horizontal" role="form" method="post"
      ng-submit="saveRetailerSmsEmailTriggerConfig(SMSEmailConfigList);" novalidate ng-controller="SmsEmailTriggerConfigController"
      ng-model="SMSEmailConfigList">
    <div class="form-group">
        <label for="servicesAvailed" class="col-sm-12" style="">
        SMS/Email Notification Settings<span class="required">*</span>
        </label>
        <div class="col-sm-12">
            <table class="table table-bordered" table="ng">
                <tr class="text-center">
                    <th class="text-center vcenter">Service</th>
                    <th class="text-center vcenter">Trigger Type</th>
                    <th class="text-center vcenter">
                        <label>
                            <span class="col-sm-12">Email Required?</span>
                            <input type="checkbox" name="selectAll" ng-model="selectAllEmailRequired" value="1"
                                   ng-true-value="1" ng-false-value="0"
                                   ng-change="checkAll('selectAllEmailRequired')"
                               ng-checked="selectAllEmailRequired=='1'" class="col-sm-12" />
                        </label>										
                    </th>
                    <th class="text-center vcenter">
                        <label>
                            <span class="col-sm-12">SMS Required?</span>
                            <input type="checkbox" name="selectAll" ng-model="selectAllSMSRequired" value="1"
                                   ng-true-value="1" ng-false-value="0"
                                   ng-change="checkAll('selectAllSMSRequired')"
                               ng-checked="selectAllSMSRequired=='1'" class="col-sm-12" /> 
                        </label>
                    </th>
                </tr>
                <tr ng-repeat="config in SMSEmailConfigList">
                    <td ng-bind="config.serviceName"></td>
                    <td ng-bind="config.smsEmailTriggerDescription">
                    </td>
                    <td class="text-center" ng-switch="config.isEmailRequired">
                        <!--<span ng-bind="config.isEmailRequired"></span>-->
                        <input type="checkbox" name="isEmailRequired[]"
                               ng-model="SMSEmailConfigList[$index].retailerIsEmailRequired"
                               ng-true-value="1" ng-false-value="0"
                               id="isEmailRequired~{{config.serviceId}}~{{config.smsEmailTriggerCode}}"
                               ng-switch-when="1" />
                        <label  tooltip title="This service is not available" ng-switch-when="0">
                            <input type="checkbox" name="isEmailRequired" value="1" disabled
                                   tooltip title="This service is not available"
                                     />
                        </label>
                    </td>
                    <td class="text-center" ng-switch="config.isSmsRequired">
                        <!--<span ng-bind="config.isSmsRequired"></span>-->
                        <input type="checkbox" name="isSmsRequired[]"
                               ng-model="SMSEmailConfigList[$index].retailerIsSmsRequired"
                               ng-true-value="1" ng-false-value="0"
                               id="isSmsRequired~{{config.serviceId}}~{{config.smsEmailTriggerCode}}"
                               ng-switch-when="1" />
                        <label  tooltip title="This service is not available" ng-switch-when="0">
                            <input type="checkbox" name="isSmsRequired" value="1" disabled />
                        </label>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-12 errors">
            
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12 text-center">
            <button type="submit" class="btn btn-primary" name="next" id="saveBtn" check-access-perm="access_perm">
                Save
            </button>
        </div>
    </div>
</form>