    <div ng-controller="LspDetailController">
        <load-template url="common/breadcrumb"></load-template>
            <table class="row-border hover table table-striped table-hover table-condensed" ng-model="lspDetail">
                <thead>
                    <th>S.No</th>
                    <th>Name</th>
                    <th>Code</th>
                    <th>City</th>
                    <th>Address</th>
                    <th>Contact Number</th>
                </thead>
                <tbody>

                    <tr dir-paginate="lspDetail in lspDetails|itemsPerPage:pageSize" total-items="total_count" ng-if="lspDetail.length > 0 || lspDetail != undefined">
                        <td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
                        <!--<td>
                            <a href="#/masters-brand/get/{{brand.id}}" ng-bind="lspDetail.serviceId"></a></td>-->  
                        <td ng-if="lspDetail.name!=''" ng-bind="lspDetail.name"></td>
                        <td ng-if="lspDetail.name==''">N/A</td>
                        <td ng-if="lspDetail.code!=''" ng-bind="lspDetail.code"></td>
                        <td ng-if="lspDetail.code==''">N/A</td>
                        <td ng-if="lspDetail.cityName!=''" ng-bind="lspDetail.cityName"></td>
                        <td ng-if="lspDetail.cityName==''">N/A</td>
                        <td ng-if="lspDetail.address!=''" ng-bind="lspDetail.address"></td>
                        <td ng-if="lspDetail.address==''">N/A</td>
                        <td ng-if="lspDetail.contactNumber!=''" ng-bind="lspDetail.contactNumber"></td>
                        <td ng-if="lspDetail.contactNumber==''">N/A</td>
                        <td><button><a href="#/masters-lspdetail/get/{{lspDetail.id}}">Update</a></button></td>
                    </tr>   

                </tbody>

            </table>
            <dir-pagination-controls max-size="8" direction-links="true" boundary-links="true" on-page-change="getLspDetailList(newPageNumber,pageSize)"
                ng-if="lspDetails.length > 0">
            </dir-pagination-controls>
        </div>

