<div ng-controller="TasksController">
	<load-template url="common/breadcrumb"></load-template>
	<table class="row-border table-hover table table-striped">
		<thead>
			<th>#</th>
			<th>Consumer</th>
			<th>Product</th>
			<th>Retailer</th>
			<th>Nature Of Complaint</th>
			<th>Problem Description</th>
			<th>Current Status</th>
			<th>Phone</th>					
			<th>&nbsp;</th>
		</thead>
		<tbody>

			<tr dir-paginate="ticket in tasks|itemsPerPage:pageSize" total-items="total_count"
					ng-if="(tasks.length > 0 || tasks != undefined)">
				<td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
				<td ng-bind="ticket.variables.consumerName"></td>
				<td ng-bind="ticket.variables.product + ' (' + ticket.variables.productCategory + ')'"></td>
				<td ng-bind="ticket.variables.retailer"></td>
				<td ng-bind="ticket.variables.natureOfComplaint"></td>
				<td ng-bind="ticket.variables.problemDescription"></td>
				<td ng-bind="ticket.variables.rlTicketStatus"></td>
				<td ng-bind="ticket.variables.telephoneNumber"></td>
				<td>
					<a href="#/task/{{ticket.process.processId}}/view">View</a>
				</td>
			</tr>
			<tr ng-if="tasks.length <= 0" ><td colspan="8"> No records found!</td> </tr>
		</tbody>
	</table>
	<dir-pagination-controls
		max-size="8"
		direction-links="true"
		boundary-links="true" 
		on-page-change="retailerCompleted(newPageNumber,pageSize)" >
	 </dir-pagination-controls>
</div>