<div ng-controller="PackagingTypeController">
	<load-template url="common/breadcrumb"></load-template>
	<table class="row-border hover table table-striped table-hover table-condensed" >
		<thead>
			<th>#</th>
			<th>Name</th>
			<th>Code</th>
			<th>Cost</th>
			<th>Packaging Type</th>
			<th>Volumetric Size</th>
		</thead>
		<tbody>

			<tr dir-paginate="packagingType in packagingTypes|itemsPerPage:pageSize"
				total-items="total_count" ng-if="packagingTypes.length > 0 || packagingTypes != undefined">
				<td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
				<td>
					<a href="#/masters-packaging-type/get/{{packagingType.id}}" ng-bind="packagingType.name"></a></td>
				<td ng-bind="packagingType.code"></td>
				<td ng-bind="'&#8377' + packagingType.cost"></td>
				<td  ng-if="packagingType.type==0">Box</td>
				<td  ng-if="packagingType.type==1">Cover</td>
				<td ng-bind="packagingType.volumetricSizeMin + ' cm - ' + packagingType.volumetricSizeMax + ' cm'"></td>
			</tr>
		</tbody>
	</table>
	<dir-pagination-controls
		max-size="8"
		direction-links="true"
		boundary-links="true"
		on-page-change="getPackagingTypeList(newPageNumber,pageSize)"
		ng-if="packagingTypes.length > 0">
	 </dir-pagination-controls>
</div>
