<div ng-controller="PackagingTypeController" ng-model="packagingType">
	<load-template url="common/breadcrumb"></load-template>
	<div class="panel panel-default">
		<div class="panel-heading" ng-show="pageActionHeader!=''">
			<h3 class="panel-title" ng-bind="pageActionHeader"></h3>
		</div>
		<div class="panel-body">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<form name="packagingTypeForm" id="Form" class="form-horizontal" role="form" method="post" ng-submit="save(packagingType, packagingTypeForm);" novalidate>
					<input type="hidden" name="id" ng-model="packagingType.id" />
					<div class="form-group">
						<label for="name" class="col-sm-2 control-label" style="">
                        Name <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<input spellcheck="true" type="text" name="name" class="form-control" style="" id="name"
								   placeholder="Enter Packaging Type Name"  minlength="2"
								   ng-model="packagingType.name" maxlength="250" required="required" />
						</div>
						<div ng-messages="packagingTypeForm.name.$error" role="alert" ng-messages-multiple
							 ng-show="packagingTypeForm.$submitted || packagingTypeForm.name.$touched"
							 class="col-sm-4 errors" >
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>
					<div class="form-group">
						<label for="code" class="col-sm-2 control-label" style="">
                        Code <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<input spellcheck="true" type="number" name="code" class="form-control" style="" id="code"
								   placeholder="Enter Packaging Type Code"
								   ng-model="packagingType.code" maxlength="2"  required="required" />
						</div>
						<div ng-messages="packagingTypeForm.code.$error" role="alert" ng-messages-multiple
							 ng-show="packagingTypeForm.$submitted || packagingTypeForm.code.$touched"
							 class="col-sm-4 errors" >
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>
					<div class="form-group">
						<label for="cost" class="col-sm-2 control-label" style="">
                        Cost <span class="required">*</span>
                        </label>
						<div class="col-sm-6">
							<input spellcheck="true" type="number" min="0" step="0.01" maxlength="10" minlength="1" name="cost" value="0" class="form-control decimal-only"
								    style="" id="name" placeholder="Enter Packing Type Cost" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
								   ng-model="packagingType.cost"  required="required" />
						</div>
						<div ng-messages="packagingTypeForm.cost.$error" role="alert" ng-messages-multiple
							 ng-show="packagingTypeForm.$submitted || packagingTypeForm.cost.$touched"
							 class="col-sm-4 errors" >
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
							<div ng-message="pattern">Cost should contain only two decimal places!</div>
						</div>
					</div>
					<div class="form-group">
						<label for="code" class="col-sm-2 control-label" style="">
                        Description
                        </label>
						<div class="col-sm-6">
							<textarea name="description" id="description" class="form-control" maxlength="1024"
									  placeholder="Enter Description" ng-model="packagingType.description"
									  ></textarea>
						</div>
						<div ng-messages="packagingTypeForm.description.$error" role="alert" ng-messages-multiple
							 ng-show="packagingTypeForm.$submitted || packagingTypeForm.description.$touched"
							 class="col-sm-4 errors" >
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>
					<div class="form-group">
						<label for="categoriesServiced" class="col-sm-2 control-label" style="">
						Packaging type <span class="required">*</span>
						</label>
						<div class="col-sm-6">
							<div class="input-group col-sm-12 row">
								<label class="col-sm-2">
									<input type="radio" name="type" required ng-model="packagingType.type" value="0" ng-checked="packagingType.type==0" /> Box
								</label>
								<label class="col-sm-3">
									<input type="radio" name="type" required ng-model="packagingType.type" ng-checked="packagingType.type==1" value="1" /> Cover
								</label>
								<label class="col-sm-2">
									<input type="radio" name="type" required ng-model="packagingType.type" ng-checked="packagingType.type==2" value="2" /> Other
								</label>
							</div>
						</div>
						<div ng-messages="packagingTypeForm.type.$error" role="alert" ng-messages-multiple
							 ng-show="packagingTypeForm.$submitted || packagingTypeForm.type.$touched"
							 class="col-sm-4 errors" >
							<div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
						</div>
					</div>
					
					<div class="form-group">
						<label for="cost" class="col-sm-2 control-label" style="">
                        <span tooltip title="This is a calculated field, length * breadth * height / 5000">Volumetric Size</span>
						<span class="required" ng-if="packagingType.type==0">*</span>
						
                        </label>
						<div class="col-sm-6 row">
							<div class="col-sm-12 row">
								<div class="col-sm-6">
									<label class=" col-sm-12 form-label">Min : </label>
									<div class="col-sm-12">
										<div class="input-group">
											<input type="number" maxlength="10" min=">0" max="sliderVolumetricSize.maxValue" step="0.01"
										   id="volumetricSizeMin" name="volumetricSizeMin" ng-required="packagingType.type==0"
										   ng-model="packagingType.volumetricSizeMin" class="form-control" min="0"
										   />
											<span class="input-group-addon" id="basic-addon1">cm</span>
										</div>
									</div>
									<div ng-messages="packagingTypeForm.volumetricSizeMin.$error"
										role="alert" ng-messages-multiple
										ng-show="packagingTypeForm.$submitted || packagingTypeForm.volumetricSizeMin.$touched"
										class=" errors col-sm-12" >
									   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
									   <div ng-message="volumetricSizeMinMax">Volumetric Size Min or Max value cannot be zero</div>
								   </div>
								</div>
								<div class="col-sm-6">
									<label class=" col-sm-12 form-label">Max : </label>
									<div class="col-sm-12">
										<div class="input-group">
											<input type="number" maxlength="10" ng-min="packagingType.volumetricSizeMin" max="999999999" step="0.01"
										   id="volumetricSizeMax" name="volumetricSizeMax"  ng-required="packagingType.type==0"
										   ng-model="packagingType.volumetricSizeMax" class="form-control"
										   />
											<span class="input-group-addon" id="basic-addon1">cm</span>
										</div>
									</div>
									<div ng-messages="packagingTypeForm.volumetricSizeMax.$error"
											role="alert" ng-messages-multiple
											ng-show="packagingTypeForm.$submitted || packagingTypeForm.volumetricSizeMax.$touched"
											class="errors col-sm-12" >
										   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
										   <div ng-message="volumetricSizeMinMax">Volumetric Size Min or Max value cannot be zero</div>
									   </div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="clearfix"></div>
					<div class="form-group">
						<label for="cost" class="col-sm-2 control-label" style="">
                        Length
                        </label>
						<div class="col-sm-6 row">
							<div class="col-sm-12 row">
								<div class="col-sm-6">
									<label class=" col-sm-12 form-label">Min : </label>
									<div class="col-sm-12">
										<div class="input-group">									
											<input type="number" maxlength="10" min="0" ng-max="packagingType.lengthMax" step="0.01"
										   id="lengthMin" name="lengthMin" ng-change="calculateVolumetricSize();" min="0"
										   ng-model="packagingType.lengthMin" class="form-control"
										   />
											<span class="input-group-addon" id="basic-addon1">cm</span>
										</div>
									</div>
									<div ng-messages="packagingTypeForm.lengthMin.$error"
										role="alert" ng-messages-multiple
										ng-show="packagingTypeForm.$submitted || packagingTypeForm.lengthMin.$touched"
										class="errors col-sm-12" >
									   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
									   <div ng-message="lengthMinMax">Length Min or Max value cannot be zero</div>
								   </div>
								</div>
								<div class="col-sm-6">
									<label class=" col-sm-12 form-label">Max : </label>
									<div class="col-sm-12">
										<div class="input-group">	
											<input type="number" maxlength="10" ng-min="packagingType.lengthMin" max="999999999" step="0.01"
										   id="lengthMax" name="lengthMax" ng-change="calculateVolumetricSize();" 
										   ng-model="packagingType.lengthMax" class="form-control"
										   />
											<span class="input-group-addon" id="basic-addon1">cm</span>
										</div>
									</div>
									<div ng-messages="packagingTypeForm.lengthMax.$error"
										role="alert" ng-messages-multiple
										ng-show="packagingTypeForm.$submitted || packagingTypeForm.lengthMax.$touched"
										class="errors col-sm-12" >
									   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
									   <div ng-message="lengthMinMax">Length Min or Max value cannot be zero</div>
								   </div>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="form-group">
						<label for="cost" class="col-sm-2 control-label" style="">
                        Breadth
                        </label>
						<div class="col-sm-6 row">
							<div class="col-sm-12 row">
								<div class="col-sm-6">
									<label class=" col-sm-12 form-label">Min : </label>
									<div class="col-sm-12">
										<div class="input-group">	
											<input type="number" maxlength="10" min="0" ng-max="packagingType.breadthMax" step="0.01"
										   id="breadthMin" name="breadthMin" ng-change="calculateVolumetricSize();" min="0"
										   ng-model="packagingType.breadthMin" class="form-control"
										   />
										<span class="input-group-addon" id="basic-addon1">cm</span>
										</div>
									</div>
									<div ng-messages="packagingTypeForm.breadthMin.$error"
										role="alert" ng-messages-multiple
										ng-show="packagingTypeForm.$submitted || packagingTypeForm.breadthMin.$touched"
										class="errors col-sm-12" >
									   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
									   <div ng-message="breadthMinMax">Breadth Min or Max value cannot be zero</div>
								   </div>
								</div>
								<div class="col-sm-6">
									<label class=" col-sm-12 form-label">Max : </label>
									<div class="col-sm-12">
										<div class="input-group">	
											<input type="number" maxlength="10" ng-min="packagingType.breadthMin" max="999999999" step="0.01"
										   id="breadthMax" name="breadthMax" 
										   ng-model="packagingType.breadthMax" class="form-control" ng-change="calculateVolumetricSize();"
										   />
										<span class="input-group-addon" id="basic-addon1">cm</span>
										</div>
									</div>
									<div ng-messages="packagingTypeForm.breadthMax.$error"
										role="alert" ng-messages-multiple
										ng-show="packagingTypeForm.$submitted || packagingTypeForm.breadthMax.$touched"
										class="errors col-sm-12" >
									   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
									   <div ng-message="breadthMinMax">Breadth Min or Max value cannot be zero</div>
								   </div>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="form-group">
						<label for="cost" class="col-sm-2 control-label" style="">
                        Height
                        </label>
						<div class="col-sm-6 row">
							<div class="col-sm-12 row">
								<div class="col-sm-6">
									<label class=" col-sm-12 form-label">Min : </label>
									<div class="col-sm-12">
										<div class="input-group">	
										<input type="number" maxlength="10" min="0" ng-max="packagingType.heightMax" step="0.01"
									   id="heightMin" name="heightMin" min="0"
									   ng-model="packagingType.heightMin" class="form-control"
									   ng-change="calculateVolumetricSize();"
									   />
										<span class="input-group-addon" id="basic-addon1">cm</span>
										</div>
									</div>
									<div ng-messages="packagingTypeForm.heightMin.$error"
										role="alert" ng-messages-multiple
										ng-show="packagingTypeForm.$submitted || packagingTypeForm.heightMin.$touched"
										class=" errors col-sm-12" >
									   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
									   
									   <div ng-message="heightMinMax">Height Min or Max value cannot be zero</div>
								   </div>
								</div>
								<div class="col-sm-6">
									<label class=" col-sm-12 form-label">Max : </label>
									<div class="col-sm-12">
										<div class="input-group">	
										<input type="number" maxlength="10" ng-min="packagingType.heightMin" max="999999999" step="0.01"
									   id="heightMax" name="heightMax"
									   ng-model="packagingType.heightMax" class="form-control" ng-change="calculateVolumetricSize();"
									   />
										<span class="input-group-addon" id="basic-addon1">cm</span>
										</div>
									</div>
									<div ng-messages="packagingTypeForm.heightMax.$error"
										role="alert" ng-messages-multiple
										ng-show="packagingTypeForm.$submitted || packagingTypeForm.heightMax.$touched"
										class=" errors col-sm-12" >
									   <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
									   
									   <div ng-message="heightMinMax">Height Min or Max value cannot be zero</div>
								   </div>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12 col-sm-offset-5">
							<button type="submit" class="btn btn-primary" name="save" id="saveBtn"
									ng-disabled="packagingTypeForm.$invalid"
									check-access-perm="access_perm">
                             Save
						</button>
							<button type="button" class="btn btn-default" name="list" id="listBtn" ng-click="goToPage('rl.masters-packaging-type');">
							Go To List Page
                        </button>
							<!--<button type="button" class="btn btn-danger" ng-click="deletePackagingType(packagingType, $index);" check-access-perm="access_perm">
								<span class="glyphicon glyphicon-remove"></span> Delete</button>-->
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>