<div ng-controller="CityController" ng-model="localPacking">
	<load-template url="common/breadcrumb"></load-template>
	<div class="panel panel-default">
		<div class="panel-heading" ng-show="pageActionHeader!=''">
			<h3 class="panel-title" ng-bind="pageActionHeader"></h3>
		</div>
		<div class="panel-body">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<form name="form" id="Form" class="form-horizontal" role="form" method="post" ng-submit="savelocalPacking(localPacking);" novalidate>
					<input type="hidden" name="id" ng-model="localPacking.id" />
					<div class="form-group">
						<label for="name" class="col-sm-3 control-label" style="">
                        Category <span class="required">*</span>
                        </label>
						<div class="col-sm-2">
                                        <select name="category" id="category" class="form-control"
											placeholder="Select Category" 
											ng-model="localPacking.categoryId">
											<option value="">Choose</option>
											<option ng-repeat="c in categories|orderBy:'name':false" value="{{c.id}}" 
													>{{c.name}}</option>
										</select>
                         </div>
						
					</div>
					
					<div class="form-group">
						<label for="name" class="col-sm-3 control-label" style="">
                        Box <span class="required">*</span>
                        </label>
						<div class="col-sm-2">
                                        <select name="box" id="box" class="form-control"
											placeholder="Select Category" 
											ng-model="localPacking.box">
											<option value="">Choose</option>
											<option value="yes" 
													>Yes</option>
											<option value="no" 
													>No</option>
										</select>
                         </div>
						
					</div>
					
					<div class="form-group">
						<label for="name" class="col-sm-3 control-label" style="">
                        Cover <span class="required">*</span>
                        </label>
						<div class="col-sm-2">
                                        <select name="cover" id="cover" class="form-control"
											placeholder="Select Category" 
											ng-model="localPacking.cover">
											<option value="">Choose</option>
											<option value="yes" 
													>Yes</option>
											<option value="no" 
													>No</option>
										</select>
                         </div>
						
					</div>
					
					<div class="form-group">
						<label for="name" class="col-sm-3 control-label" style="">
                        Other <span class="required">*</span>
                        </label>
						<div class="col-sm-2">
                                        <select name="other" id="other" class="form-control"
											placeholder="Select Category" 
											ng-model="localPacking.other">
											<option value="">Choose</option>
											<option value="yes" 
													>Yes</option>
											<option value="no" 
													>No</option>
										</select>
                         </div>
						
					</div>
					
					<div class="form-group">
						<div class="col-sm-12 col-sm-offset-5">
							<button type="submit" class="btn btn-primary" name="save" id="saveBtn" check-access-perm="access_perm">
                             Save
						</button>
							<button type="button" class="btn btn-default" name="list" id="listBtn" ng-click="goToPage('rl.masters-local-packing');">
							 Go To List Page
                        </button>
							<button ng-if="localPacking.id !== undefined && localPacking.id !== null && localPacking.id !== ''" type="button" class="btn btn-danger" ng-click="deleteLocalPacking(localPacking, $index);" check-access-perm="access_perm">
								Delete</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>