<div ng-controller="MenuController">
	<load-template url="common/breadcrumb"></load-template>
	<table class="row-border hover table table-striped table-hover table-condensed"  ng-model="menus">
		<thead>
			<th>#</th>
			<th>Name</th>
			<th>Code</th>
			<th>Order</th>
			<th>Link</th>
		</thead>
		<tbody>

			<tr dir-paginate="menu in menus|orderBy:'name':false|itemsPerPage:pageSize"
				total-items="total_count"  ng-if="menus.length > 0 || menus != undefined">
				<td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
				<td>
					<a href="#/role-management/menu/get/{{menu.id}}" ng-bind="menu.name"></a></td>
				<td ng-bind="menu.code"></td>
				<td ng-bind="menu.order"></td>
				<td ng-bind="menu.link"></td>
			</tr>
		</tbody>
	</table>
	<dir-pagination-controls
		max-size="8"
		direction-links="true"
		boundary-links="true"
		on-page-change="menuList(newPageNumber,pageSize)"
		ng-if="menus.length > 0">
	 </dir-pagination-controls>
</div>
