<div ng-controller="DOAController">
	<load-template url="common/breadcrumb"></load-template>
	<table class="row-border hover table table-striped table-hover table-condensed" ng-model="doaForms">
		<thead>
			<th>#</th>
			<th>Category</th>
			<th>Brand</th>
			<th>&nbsp;</th>
		</thead>
		<tbody>

			<tr dir-paginate="doa in doaForms|orderBy:'categoryName':false|itemsPerPage:pageSize"
				total-items="total_count" ng-if="doaForms.length > 0 || doaForms != undefined">
				<td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
				<td ng-bind="doa.categoryName"></td>
				<td ng-bind="doa.brandName"></td>
				<td>
					<button type="button" class="btn btn-default" aria-label="Left Align">
						<a href="{{URL}}/server/attachment/download/DOA/{{doa.categoryId}}/{{doa.brandId}}" tooltip title="Download DOA Form">
							<i class="fa fa-download" aria-hidden="true"></i>						
						</a>
					</button>
					<button type="button" class="btn btn-default" aria-label="Left Align">
						<a href="#/doa-form/upload/{{doa.id}}" tooltip title="Edit DOA Form"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>
					</button>
					<button type="button" class="btn btn-default" aria-label="Left Align" tooltip title="Delete DOA Form" ng-click="deleteDOAForm(doa, $index);">
						<i class="fa fa-trash" aria-hidden="true"></i>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
	<dir-pagination-controls
		max-size="8"
		direction-links="true"
		boundary-links="true"
		on-page-change="getDOAList(newPageNumber,pageSize)"
		ng-if="doaForms.length > 0">
	 </dir-pagination-controls>
</div>
