<div ng-controller="DOAController" ng-model="doaForm">
	<load-template url="common/breadcrumb"></load-template>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Upload DOA Form</h3>
		</div>
		<div class="panel-body">
			<div class="  col-sm-8 col-sm-offset-2">
			<form name="doaFormElement" id="doaForm" class="form-horizontal" role="form" method="post"
				  ng-submit="upload(doaForm);" novalidate>
				
				<div class="form-group">
					<label for="categoryId" class="col-sm-3 control-label formlabel">
					Category
					</label>
					<div class="col-sm-6">
						<select name="categoryId" id="categoryId" class="form-control col-sm-6"
								placeholder="Select Category" required="required"
								ng-change="getDoaForm();"
								ng-model="doaForm.categoryId">
						<option value="">---------- Choose --------</option>
						<option ng-repeat="category in categories|orderBy:'name':false" value="{{category.id}}">{{category.name}}</option>
					</select>
					</div>
					<div ng-messages="doaFormElement.categoryId.$error" role="alert" ng-messages-multiple
                        ng-show="doaFormElement.$submitted || doaFormElement.categoryId.$touched"
                        class="col-sm-3 errors" >
                       <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
                    </div>
				</div>
                
                <div class="form-group">
					<label for="brandId" class="col-sm-3 control-label formlabel">
					Brand
					</label>
					<div class="col-sm-6">
						<select name="brandId" id="brandId" class="form-control col-sm-6"
								placeholder="Select Brand" required="required"
								ng-change="getDoaForm();"
								ng-model="doaForm.brandId">
						<option value="">---------- Choose --------</option>
						<option ng-repeat="brand in brands|orderBy:'name':false" value="{{brand.id}}">{{brand.name}}</option>
					</select>
					</div>
					<div ng-messages="doaFormElement.brandId.$error" role="alert" ng-messages-multiple
                        ng-show="doaFormElement.$submitted || doaFormElement.brandId.$touched"
                        class="col-sm-3 errors" >
                       <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
                    </div>
				</div>
				
				<div class="form-group" ng-if="doaForm.id !== undefined">
					<label for="brandId" class="col-sm-3 control-label formlabel">
					&nbsp;
					</label>
					<div class="col-sm-6">
						<a href="{{URL}}/server/attachment/download/DOA/{{doaForm.categoryId}}/{{doaForm.brandId}}">Download</a>
					</div>
				</div>
				
				<div class="form-group" >
					<label for="csv" class="col-sm-3 control-label formlabel"></label>
					<div class="col-sm-6">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="button" ngf-select ng-model="doaForm.file" class="col-sm-3">
								<input style="float:left;" type="button" valid-file class="btn btn-primary" id="file"
                                       name="file"
									   value="Select DOA Form ..." ng-model="doaForm.file" accept=".pdf"  required=""/>
							</div>
							<br/>
							<div ng-bind="doaForm.selectedFileName" class="col-sm-12"></div>
						</div>
						
					</div>
					<div ng-messages="doaFormElement.file.$error" role="alert" ng-messages-multiple
                        ng-show="doaFormElement.$submitted || doaFormElement.file.$touched"
                        class="col-sm-3 errors" >
                       <div ng-messages-include="partials/tpl/common/error_messages.tpl.html"></div>
                    </div>
				</div>
				<div class="form-group">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="progress">
							<div class="progress-bar progress-bar-striped active" role="progressbar"
								 aria-valuenow="uploadPercentage" aria-valuemin="0" aria-valuemax="100"
								 style="width: {{uploadPercentage}}%">
							  <span><span ng-bind="uploadPercentage"></span>% Complete</span>
							</div>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-12 text-center">
						<button type="submit" class="btn btn-primary" ng-disabled="doaFormElement.$invalid"
                                name="save" id="saveBtn" check-access-perm="access_perm">
						Save
					</button>
						<button type="button" class="btn btn-default" name="list" id="listBtn" ng-click="goToPage('rl.doa');">
							Go To List Page
                        </button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
