<div ng-controller="ServiceProviderController">
	<load-template url="common/breadcrumb"></load-template>
	
	<table class="row-border hover table table-striped table-hover table-condensed" ng-model="service_providers">
		<thead>
			<th>#</th>
			<th>Name</th>
			<th>Code</th>
		</thead>
		<tbody>

			<tr dir-paginate="serviceProvider in service_providers|orderBy:'name':false|itemsPerPage:pageSize"
				total-items="total_count" ng-if="service_providers.length > 0 || service_providers != undefined">
				<td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
				
				<td>
					<a href="#/service-provider/get/{{serviceProvider.id}}" ng-bind="serviceProvider.name"></a></td>
				<td ng-if="serviceProvider.code!=''" ng-bind="serviceProvider.code"></td>
				<td ng-if="serviceProvider.code==''">N/A</td>
			</tr>
		</tbody>
	</table>
	<dir-pagination-controls
		max-size="8"
		direction-links="true"
		boundary-links="true"
		on-page-change="serviceProviderList(newPageNumber,pageSize)"
		ng-if="service_providers.length > 0">
	</dir-pagination-controls>
</div>
