<div class="row" ng-model="financeDetails" ng-model="pagination">
    <div class="col-sm-12">
        <table class="table row-border table-hover table-striped">
            <thead>
                <th>#</th>
                <th>Location</th>
                <th>Retailer</th>
                <th>Amount To Pay</th>
                <th>Amount To Collect</th>

                <th>&nbsp;</th>
            </thead>
            <tbody>
                <tr dir-paginate="fin in financeDetails|itemsPerPage:pageSize" total-items="total_count" ng-if="financeDetails.length > 0 || financeDetails != undefined">
                    <td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
                    <td ng-bind="fin.locationId" ng-click="getFinDetails(fin)"></td>
                    <td><span ng-repeat="retailer in retailers" ng-if="fin.retailer===retailer.id">{{retailer.name}}</span></td>
                    <td ng-bind="fin.payTo"></td>
                    <td ng-bind="fin.collectFrom"></td>
                </tr>
            </tbody>
        </table>
        <dir-pagination-controls max-size="8" direction-links="true" boundary-links="true" on-page-change="trackingFe(fetrack,newPageNumber,pageSize)"
            ng-if="financeDetails.length > 0">
        </dir-pagination-controls>
    </div>
</div>