<div ng-controller="SMSEmialTriggerController">
	<load-template url="common/breadcrumb"></load-template>
	<table class="row-border hover table table-striped table-hover table-condensed"  ng-model="smsEmailTriggerList">
		<thead>
			<th>#</th>
			<th>Code</th>
			<th>Description</th>
		</thead>
		<tbody>

			<tr dir-paginate="trigger in smsEmailTriggerList|itemsPerPage:pageSize"
				total-items="total_count" ng-if="smsEmailTriggerList.length > 0 || smsEmailTriggerList != undefined">
				<td ng-bind="($index+1)+(pageSize)*(currentPage-1)"></td>
				<td>
					<a href="#/masters/sms-email-trigger/get/{{trigger.id}}" ng-bind="trigger.code"></a></td>
				<td ng-bind="trigger.description"></td>
			</tr>
		</tbody>
	</table>
	<dir-pagination-controls
		max-size="8"
		direction-links="true"
		boundary-links="true"
		on-page-change="getSMSEmailTriggerList(newPageNumber,pageSize)"
		ng-if="smsEmailTriggerList.length > 0">
	 </dir-pagination-controls>
</div>
